<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.ApibusinessMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Apibusiness" >
    <id column="fsbusinessno" property="fsbusinessno" jdbcType="VARCHAR" />
    <result column="fsname" property="fsname" jdbcType="VARCHAR" />
    <result column="fsdescribe" property="fsdescribe" jdbcType="VARCHAR" />
    <result column="fstoken" property="fstoken" jdbcType="VARCHAR" />
    <result column="fitest" property="fitest" jdbcType="INTEGER" />
    <result column="fshost" property="fshost" jdbcType="VARCHAR" />
    <result column="fsseed" property="fsseed" jdbcType="VARCHAR" />
    <result column="fitimestamp" property="fitimestamp" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsbusinessno, fsname, fsdescribe, fstoken, fitest, fshost, fsseed, fitimestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from apibusiness
    where fsbusinessno = #{fsbusinessno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from apibusiness
    where fsbusinessno = #{fsbusinessno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Apibusiness" >
    insert into apibusiness (fsbusinessno, fsname, fsdescribe, 
      fstoken, fitest, fshost, 
      fsseed, fitimestamp)
    values (#{fsbusinessno,jdbcType=VARCHAR}, #{fsname,jdbcType=VARCHAR}, #{fsdescribe,jdbcType=VARCHAR}, 
      #{fstoken,jdbcType=VARCHAR}, #{fitest,jdbcType=INTEGER}, #{fshost,jdbcType=VARCHAR}, 
      #{fsseed,jdbcType=VARCHAR}, #{fitimestamp,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Apibusiness" >
    insert into apibusiness
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsbusinessno != null" >
        fsbusinessno,
      </if>
      <if test="fsname != null" >
        fsname,
      </if>
      <if test="fsdescribe != null" >
        fsdescribe,
      </if>
      <if test="fstoken != null" >
        fstoken,
      </if>
      <if test="fitest != null" >
        fitest,
      </if>
      <if test="fshost != null" >
        fshost,
      </if>
      <if test="fsseed != null" >
        fsseed,
      </if>
      <if test="fitimestamp != null" >
        fitimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsbusinessno != null" >
        #{fsbusinessno,jdbcType=VARCHAR},
      </if>
      <if test="fsname != null" >
        #{fsname,jdbcType=VARCHAR},
      </if>
      <if test="fsdescribe != null" >
        #{fsdescribe,jdbcType=VARCHAR},
      </if>
      <if test="fstoken != null" >
        #{fstoken,jdbcType=VARCHAR},
      </if>
      <if test="fitest != null" >
        #{fitest,jdbcType=INTEGER},
      </if>
      <if test="fshost != null" >
        #{fshost,jdbcType=VARCHAR},
      </if>
      <if test="fsseed != null" >
        #{fsseed,jdbcType=VARCHAR},
      </if>
      <if test="fitimestamp != null" >
        #{fitimestamp,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Apibusiness" >
    update apibusiness
    <set >
      <if test="fsname != null" >
        fsname = #{fsname,jdbcType=VARCHAR},
      </if>
      <if test="fsdescribe != null" >
        fsdescribe = #{fsdescribe,jdbcType=VARCHAR},
      </if>
      <if test="fstoken != null" >
        fstoken = #{fstoken,jdbcType=VARCHAR},
      </if>
      <if test="fitest != null" >
        fitest = #{fitest,jdbcType=INTEGER},
      </if>
      <if test="fshost != null" >
        fshost = #{fshost,jdbcType=VARCHAR},
      </if>
      <if test="fsseed != null" >
        fsseed = #{fsseed,jdbcType=VARCHAR},
      </if>
      <if test="fitimestamp != null" >
        fitimestamp = #{fitimestamp,jdbcType=INTEGER},
      </if>
    </set>
    where fsbusinessno = #{fsbusinessno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Apibusiness" >
    update apibusiness
    set fsname = #{fsname,jdbcType=VARCHAR},
      fsdescribe = #{fsdescribe,jdbcType=VARCHAR},
      fstoken = #{fstoken,jdbcType=VARCHAR},
      fitest = #{fitest,jdbcType=INTEGER},
      fshost = #{fshost,jdbcType=VARCHAR},
      fsseed = #{fsseed,jdbcType=VARCHAR},
      fitimestamp = #{fitimestamp,jdbcType=INTEGER}
    where fsbusinessno = #{fsbusinessno,jdbcType=VARCHAR}
  </update>
</mapper>