<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.ApiexchangeMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Apiexchange" >
    <id column="fsid" property="fsid" jdbcType="VARCHAR" />
    <result column="fsshopguid" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fscreatetime" property="fscreatetime" jdbcType="VARCHAR" />
    <result column="fsupdatetime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fistate" property="fistate" jdbcType="INTEGER" />
    <result column="fsaction" property="fsaction" jdbcType="VARCHAR" />
    <result column="fserror" property="fserror" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pos.entity.ApiexchangeWithBLOBs" extends="BaseResultMap" >
    <result column="fstdata" property="fstdata" jdbcType="LONGVARCHAR" />
    <result column="fsrdata" property="fsrdata" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsid, fsshopguid, fscreatetime, fsupdatetime, fistate, fsaction, fserror
  </sql>
  <sql id="Blob_Column_List" >
    fstdata, fsrdata
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from apiexchange
    where fsid = #{fsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from apiexchange
    where fsid = #{fsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.ApiexchangeWithBLOBs" >
    insert into apiexchange (fsid, fsshopguid, fscreatetime, 
      fsupdatetime, fistate, fsaction, 
      fserror, fstdata, fsrdata
      )
    values (#{fsid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fscreatetime,jdbcType=VARCHAR}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fistate,jdbcType=INTEGER}, #{fsaction,jdbcType=VARCHAR}, 
      #{fserror,jdbcType=VARCHAR}, #{fstdata,jdbcType=LONGVARCHAR}, #{fsrdata,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.ApiexchangeWithBLOBs" >
    insert into apiexchange
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsid != null" >
        fsid,
      </if>
      <if test="fsshopguid != null" >
        fsshopguid,
      </if>
      <if test="fscreatetime != null" >
        fscreatetime,
      </if>
      <if test="fsupdatetime != null" >
        fsupdatetime,
      </if>
      <if test="fistate != null" >
        fistate,
      </if>
      <if test="fsaction != null" >
        fsaction,
      </if>
      <if test="fserror != null" >
        fserror,
      </if>
      <if test="fstdata != null" >
        fstdata,
      </if>
      <if test="fsrdata != null" >
        fsrdata,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsid != null" >
        #{fsid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fistate != null" >
        #{fistate,jdbcType=INTEGER},
      </if>
      <if test="fsaction != null" >
        #{fsaction,jdbcType=VARCHAR},
      </if>
      <if test="fserror != null" >
        #{fserror,jdbcType=VARCHAR},
      </if>
      <if test="fstdata != null" >
        #{fstdata,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsrdata != null" >
        #{fsrdata,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.ApiexchangeWithBLOBs" >
    update apiexchange
    <set >
      <if test="fsshopguid != null" >
        fsshopguid = #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        fscreatetime = #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsupdatetime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fistate != null" >
        fistate = #{fistate,jdbcType=INTEGER},
      </if>
      <if test="fsaction != null" >
        fsaction = #{fsaction,jdbcType=VARCHAR},
      </if>
      <if test="fserror != null" >
        fserror = #{fserror,jdbcType=VARCHAR},
      </if>
      <if test="fstdata != null" >
        fstdata = #{fstdata,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsrdata != null" >
        fsrdata = #{fsrdata,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fsid = #{fsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pos.entity.ApiexchangeWithBLOBs" >
    update apiexchange
    set fsshopguid = #{fsshopguid,jdbcType=VARCHAR},
      fscreatetime = #{fscreatetime,jdbcType=VARCHAR},
      fsupdatetime = #{fsupdatetime,jdbcType=VARCHAR},
      fistate = #{fistate,jdbcType=INTEGER},
      fsaction = #{fsaction,jdbcType=VARCHAR},
      fserror = #{fserror,jdbcType=VARCHAR},
      fstdata = #{fstdata,jdbcType=LONGVARCHAR},
      fsrdata = #{fsrdata,jdbcType=LONGVARCHAR}
    where fsid = #{fsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Apiexchange" >
    update apiexchange
    set fsshopguid = #{fsshopguid,jdbcType=VARCHAR},
      fscreatetime = #{fscreatetime,jdbcType=VARCHAR},
      fsupdatetime = #{fsupdatetime,jdbcType=VARCHAR},
      fistate = #{fistate,jdbcType=INTEGER},
      fsaction = #{fsaction,jdbcType=VARCHAR},
      fserror = #{fserror,jdbcType=VARCHAR}
    where fsid = #{fsid,jdbcType=VARCHAR}
  </update>
</mapper>