<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.ApiinfoMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Apiinfo" >
    <id column="fsapiurl" property="fsapiurl" jdbcType="VARCHAR" />
    <result column="fsapiid" property="fsapiid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pos.entity.Apiinfo" extends="BaseResultMap" >
    <result column="fsdescribe" property="fsdescribe" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsapiurl, fsapiid
  </sql>
  <sql id="Blob_Column_List" >
    fsdescribe
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from apiinfo
    where fsapiurl = #{fsapiurl,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from apiinfo
    where fsapiurl = #{fsapiurl,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Apiinfo" >
    insert into apiinfo (fsapiurl, fsapiid, fsdescribe
      )
    values (#{fsapiurl,jdbcType=VARCHAR}, #{fsapiid,jdbcType=VARCHAR}, #{fsdescribe,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Apiinfo" >
    insert into apiinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsapiurl != null" >
        fsapiurl,
      </if>
      <if test="fsapiid != null" >
        fsapiid,
      </if>
      <if test="fsdescribe != null" >
        fsdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsapiurl != null" >
        #{fsapiurl,jdbcType=VARCHAR},
      </if>
      <if test="fsapiid != null" >
        #{fsapiid,jdbcType=VARCHAR},
      </if>
      <if test="fsdescribe != null" >
        #{fsdescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Apiinfo" >
    update apiinfo
    <set >
      <if test="fsapiid != null" >
        fsapiid = #{fsapiid,jdbcType=VARCHAR},
      </if>
      <if test="fsdescribe != null" >
        fsdescribe = #{fsdescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fsapiurl = #{fsapiurl,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pos.entity.Apiinfo" >
    update apiinfo
    set fsapiid = #{fsapiid,jdbcType=VARCHAR},
      fsdescribe = #{fsdescribe,jdbcType=LONGVARCHAR}
    where fsapiurl = #{fsapiurl,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Apiinfo" >
    update apiinfo
    set fsapiid = #{fsapiid,jdbcType=VARCHAR}
    where fsapiurl = #{fsapiurl,jdbcType=VARCHAR}
  </update>
</mapper>