<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.authoritydtlMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.authoritydtl" >
    <id column="fsProgDtlId" property="fsprogdtlid" jdbcType="VARCHAR" />
    <id column="fsProgId" property="fsprogid" jdbcType="VARCHAR" />
    <id column="fsProjId" property="fsprojid" jdbcType="VARCHAR" />
    <id column="fsRoleId" property="fsroleid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fiUsable" property="fiusable" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsProgDtlId, fsProgId, fsProjId, fsRoleId, fsShopGUID, fiUsable, fsUpdateTime, fiStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.authoritydtlKey" >
    select 
    <include refid="Base_Column_List" />
    from tbauthoritydtl
    where fsProgDtlId = #{fsprogdtlid,jdbcType=VARCHAR}
      and fsProgId = #{fsprogid,jdbcType=VARCHAR}
      and fsProjId = #{fsprojid,jdbcType=VARCHAR}
      and fsRoleId = #{fsroleid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.authoritydtlKey" >
    delete from tbauthoritydtl
    where fsProgDtlId = #{fsprogdtlid,jdbcType=VARCHAR}
      and fsProgId = #{fsprogid,jdbcType=VARCHAR}
      and fsProjId = #{fsprojid,jdbcType=VARCHAR}
      and fsRoleId = #{fsroleid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.authoritydtl" >
    insert into tbauthoritydtl (fsProgDtlId, fsProgId, fsProjId, 
      fsRoleId, fsShopGUID, fiUsable, 
      fsUpdateTime, fiStatus)
    values (#{fsprogdtlid,jdbcType=VARCHAR}, #{fsprogid,jdbcType=VARCHAR}, #{fsprojid,jdbcType=VARCHAR}, 
      #{fsroleid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fiusable,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.authoritydtl" >
    insert into tbauthoritydtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsprogdtlid != null" >
        fsProgDtlId,
      </if>
      <if test="fsprogid != null" >
        fsProgId,
      </if>
      <if test="fsprojid != null" >
        fsProjId,
      </if>
      <if test="fsroleid != null" >
        fsRoleId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fiusable != null" >
        fiUsable,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsprogdtlid != null" >
        #{fsprogdtlid,jdbcType=VARCHAR},
      </if>
      <if test="fsprogid != null" >
        #{fsprogid,jdbcType=VARCHAR},
      </if>
      <if test="fsprojid != null" >
        #{fsprojid,jdbcType=VARCHAR},
      </if>
      <if test="fsroleid != null" >
        #{fsroleid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fiusable != null" >
        #{fiusable,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.authoritydtl" >
    update tbauthoritydtl
    <set >
      <if test="fiusable != null" >
        fiUsable = #{fiusable,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
    </set>
    where fsProgDtlId = #{fsprogdtlid,jdbcType=VARCHAR}
      and fsProgId = #{fsprogid,jdbcType=VARCHAR}
      and fsProjId = #{fsprojid,jdbcType=VARCHAR}
      and fsRoleId = #{fsroleid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.authoritydtl" >
    update tbauthoritydtl
    set fiUsable = #{fiusable,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER}
    where fsProgDtlId = #{fsprogdtlid,jdbcType=VARCHAR}
      and fsProgId = #{fsprogid,jdbcType=VARCHAR}
      and fsProjId = #{fsprojid,jdbcType=VARCHAR}
      and fsRoleId = #{fsroleid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>