<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.bargainMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.bargain" >
    <id column="fsBargainId" property="fsbargainid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsBargainName" property="fsbargainname" jdbcType="VARCHAR" />
    <result column="fsBeginTime" property="fsbegintime" jdbcType="VARCHAR" />
    <result column="fsEndTime" property="fsendtime" jdbcType="VARCHAR" />
    <result column="fsMSectionIdList" property="fsmsectionidlist" jdbcType="VARCHAR" />
    <result column="fiPlanType" property="fiplantype" jdbcType="INTEGER" />
    <result column="fsPlanTypeValue" property="fsplantypevalue" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiBargainCls" property="fibargaincls" jdbcType="INTEGER" />
    <result column="fsNotusableDate" property="fsnotusabledate" jdbcType="VARCHAR" />
    <result column="fiUpdateType" property="fiupdatetype" jdbcType="INTEGER" />
    <result column="fsCustomStartTime" property="fscustomstarttime" jdbcType="VARCHAR" />
    <result column="fsCustomEndTime" property="fscustomendtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsBargainId, fsShopGUID, fsBargainName, fsBeginTime, fsEndTime, fsMSectionIdList, 
    fiPlanType, fsPlanTypeValue, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fiBargainCls, fsNotusableDate, fiUpdateType, fsCustomStartTime, fsCustomEndTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.bargainKey" >
    select 
    <include refid="Base_Column_List" />
    from tbbargain
    where fsBargainId = #{fsbargainid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.bargainKey" >
    delete from tbbargain
    where fsBargainId = #{fsbargainid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.bargain" >
    insert into tbbargain (fsBargainId, fsShopGUID, fsBargainName, 
      fsBeginTime, fsEndTime, fsMSectionIdList, 
      fiPlanType, fsPlanTypeValue, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fiBargainCls, fsNotusableDate, fiUpdateType, 
      fsCustomStartTime, fsCustomEndTime)
    values (#{fsbargainid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsbargainname,jdbcType=VARCHAR}, 
      #{fsbegintime,jdbcType=VARCHAR}, #{fsendtime,jdbcType=VARCHAR}, #{fsmsectionidlist,jdbcType=VARCHAR}, 
      #{fiplantype,jdbcType=INTEGER}, #{fsplantypevalue,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, 
      #{fibargaincls,jdbcType=INTEGER}, #{fsnotusabledate,jdbcType=VARCHAR}, #{fiupdatetype,jdbcType=INTEGER}, 
      #{fscustomstarttime,jdbcType=VARCHAR}, #{fscustomendtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.bargain" >
    insert into tbbargain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsbargainid != null" >
        fsBargainId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsbargainname != null" >
        fsBargainName,
      </if>
      <if test="fsbegintime != null" >
        fsBeginTime,
      </if>
      <if test="fsendtime != null" >
        fsEndTime,
      </if>
      <if test="fsmsectionidlist != null" >
        fsMSectionIdList,
      </if>
      <if test="fiplantype != null" >
        fiPlanType,
      </if>
      <if test="fsplantypevalue != null" >
        fsPlanTypeValue,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fibargaincls != null" >
        fiBargainCls,
      </if>
      <if test="fsnotusabledate != null" >
        fsNotusableDate,
      </if>
      <if test="fiupdatetype != null" >
        fiUpdateType,
      </if>
      <if test="fscustomstarttime != null" >
        fsCustomStartTime,
      </if>
      <if test="fscustomendtime != null" >
        fsCustomEndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsbargainid != null" >
        #{fsbargainid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsbargainname != null" >
        #{fsbargainname,jdbcType=VARCHAR},
      </if>
      <if test="fsbegintime != null" >
        #{fsbegintime,jdbcType=VARCHAR},
      </if>
      <if test="fsendtime != null" >
        #{fsendtime,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionidlist != null" >
        #{fsmsectionidlist,jdbcType=VARCHAR},
      </if>
      <if test="fiplantype != null" >
        #{fiplantype,jdbcType=INTEGER},
      </if>
      <if test="fsplantypevalue != null" >
        #{fsplantypevalue,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fibargaincls != null" >
        #{fibargaincls,jdbcType=INTEGER},
      </if>
      <if test="fsnotusabledate != null" >
        #{fsnotusabledate,jdbcType=VARCHAR},
      </if>
      <if test="fiupdatetype != null" >
        #{fiupdatetype,jdbcType=INTEGER},
      </if>
      <if test="fscustomstarttime != null" >
        #{fscustomstarttime,jdbcType=VARCHAR},
      </if>
      <if test="fscustomendtime != null" >
        #{fscustomendtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.bargain" >
    update tbbargain
    <set >
      <if test="fsbargainname != null" >
        fsBargainName = #{fsbargainname,jdbcType=VARCHAR},
      </if>
      <if test="fsbegintime != null" >
        fsBeginTime = #{fsbegintime,jdbcType=VARCHAR},
      </if>
      <if test="fsendtime != null" >
        fsEndTime = #{fsendtime,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionidlist != null" >
        fsMSectionIdList = #{fsmsectionidlist,jdbcType=VARCHAR},
      </if>
      <if test="fiplantype != null" >
        fiPlanType = #{fiplantype,jdbcType=INTEGER},
      </if>
      <if test="fsplantypevalue != null" >
        fsPlanTypeValue = #{fsplantypevalue,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fibargaincls != null" >
        fiBargainCls = #{fibargaincls,jdbcType=INTEGER},
      </if>
      <if test="fsnotusabledate != null" >
        fsNotusableDate = #{fsnotusabledate,jdbcType=VARCHAR},
      </if>
      <if test="fiupdatetype != null" >
        fiUpdateType = #{fiupdatetype,jdbcType=INTEGER},
      </if>
      <if test="fscustomstarttime != null" >
        fsCustomStartTime = #{fscustomstarttime,jdbcType=VARCHAR},
      </if>
      <if test="fscustomendtime != null" >
        fsCustomEndTime = #{fscustomendtime,jdbcType=VARCHAR},
      </if>
    </set>
    where fsBargainId = #{fsbargainid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.bargain" >
    update tbbargain
    set fsBargainName = #{fsbargainname,jdbcType=VARCHAR},
      fsBeginTime = #{fsbegintime,jdbcType=VARCHAR},
      fsEndTime = #{fsendtime,jdbcType=VARCHAR},
      fsMSectionIdList = #{fsmsectionidlist,jdbcType=VARCHAR},
      fiPlanType = #{fiplantype,jdbcType=INTEGER},
      fsPlanTypeValue = #{fsplantypevalue,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiBargainCls = #{fibargaincls,jdbcType=INTEGER},
      fsNotusableDate = #{fsnotusabledate,jdbcType=VARCHAR},
      fiUpdateType = #{fiupdatetype,jdbcType=INTEGER},
      fsCustomStartTime = #{fscustomstarttime,jdbcType=VARCHAR},
      fsCustomEndTime = #{fscustomendtime,jdbcType=VARCHAR}
    where fsBargainId = #{fsbargainid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>