<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.BillsourceMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Billsource" >
    <id column="fsBillSourceId" property="fsbillsourceid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsBillSourceName" property="fsbillsourcename" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fiDataKind" property="fidatakind" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiBillSource" property="fibillsource" jdbcType="INTEGER" />
    <result column="fiMessageNotice" property="fimessagenotice" jdbcType="INTEGER" />
    <result column="fiVoiceNotice" property="fivoicenotice" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsBillSourceId, fsShopGUID, fsBillSourceName, fiStatus, fiDataKind, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName, fiBillSource, fiMessageNotice, fiVoiceNotice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.BillsourceKey" >
    select 
    <include refid="Base_Column_List" />
    from tbbillsource
    where fsBillSourceId = #{fsbillsourceid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.BillsourceKey" >
    delete from tbbillsource
    where fsBillSourceId = #{fsbillsourceid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Billsource" >
    insert into tbbillsource (fsBillSourceId, fsShopGUID, fsBillSourceName, 
      fiStatus, fiDataKind, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName, fiBillSource, 
      fiMessageNotice, fiVoiceNotice)
    values (#{fsbillsourceid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsbillsourcename,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fidatakind,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, 
      #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, #{fibillsource,jdbcType=INTEGER}, 
      #{fimessagenotice,jdbcType=INTEGER}, #{fivoicenotice,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Billsource" >
    insert into tbbillsource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsbillsourceid != null" >
        fsBillSourceId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsbillsourcename != null" >
        fsBillSourceName,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fidatakind != null" >
        fiDataKind,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fibillsource != null" >
        fiBillSource,
      </if>
      <if test="fimessagenotice != null" >
        fiMessageNotice,
      </if>
      <if test="fivoicenotice != null" >
        fiVoiceNotice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsbillsourceid != null" >
        #{fsbillsourceid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsbillsourcename != null" >
        #{fsbillsourcename,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fibillsource != null" >
        #{fibillsource,jdbcType=INTEGER},
      </if>
      <if test="fimessagenotice != null" >
        #{fimessagenotice,jdbcType=INTEGER},
      </if>
      <if test="fivoicenotice != null" >
        #{fivoicenotice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Billsource" >
    update tbbillsource
    <set >
      <if test="fsbillsourcename != null" >
        fsBillSourceName = #{fsbillsourcename,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        fiDataKind = #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fibillsource != null" >
        fiBillSource = #{fibillsource,jdbcType=INTEGER},
      </if>
      <if test="fimessagenotice != null" >
        fiMessageNotice = #{fimessagenotice,jdbcType=INTEGER},
      </if>
      <if test="fivoicenotice != null" >
        fiVoiceNotice = #{fivoicenotice,jdbcType=INTEGER},
      </if>
    </set>
    where fsBillSourceId = #{fsbillsourceid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Billsource" >
    update tbbillsource
    set fsBillSourceName = #{fsbillsourcename,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fiDataKind = #{fidatakind,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiBillSource = #{fibillsource,jdbcType=INTEGER},
      fiMessageNotice = #{fimessagenotice,jdbcType=INTEGER},
      fiVoiceNotice = #{fivoicenotice,jdbcType=INTEGER}
    where fsBillSourceId = #{fsbillsourceid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>