<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.CookbookMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Cookbook" >
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <id column="fscookid" property="fscookid" jdbcType="VARCHAR" />
    <result column="fscookname" property="fscookname" jdbcType="VARCHAR" />
    <result column="fdpricerange" property="fdpricerange" jdbcType="DECIMAL" />
    <result column="fidecround" property="fidecround" jdbcType="INTEGER" />
    <result column="fistatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsShopGUID, fscookid, fscookname, fdpricerange, fidecround, fistatus, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.CookbookKey" >
    select 
    <include refid="Base_Column_List" />
    from tbcookbook
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.CookbookKey" >
    delete from tbcookbook
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Cookbook" >
    insert into tbcookbook (fsShopGUID, fscookid, fscookname, 
      fdpricerange, fidecround, fistatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fsshopguid,jdbcType=VARCHAR}, #{fscookid,jdbcType=VARCHAR}, #{fscookname,jdbcType=VARCHAR}, 
      #{fdpricerange,jdbcType=DECIMAL}, #{fidecround,jdbcType=INTEGER}, #{fistatus,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Cookbook" >
    insert into tbcookbook
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fscookid != null" >
        fscookid,
      </if>
      <if test="fscookname != null" >
        fscookname,
      </if>
      <if test="fdpricerange != null" >
        fdpricerange,
      </if>
      <if test="fidecround != null" >
        fidecround,
      </if>
      <if test="fistatus != null" >
        fistatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fscookid != null" >
        #{fscookid,jdbcType=VARCHAR},
      </if>
      <if test="fscookname != null" >
        #{fscookname,jdbcType=VARCHAR},
      </if>
      <if test="fdpricerange != null" >
        #{fdpricerange,jdbcType=DECIMAL},
      </if>
      <if test="fidecround != null" >
        #{fidecround,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Cookbook" >
    update tbcookbook
    <set >
      <if test="fscookname != null" >
        fscookname = #{fscookname,jdbcType=VARCHAR},
      </if>
      <if test="fdpricerange != null" >
        fdpricerange = #{fdpricerange,jdbcType=DECIMAL},
      </if>
      <if test="fidecround != null" >
        fidecround = #{fidecround,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        fistatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Cookbook" >
    update tbcookbook
    set fscookname = #{fscookname,jdbcType=VARCHAR},
      fdpricerange = #{fdpricerange,jdbcType=DECIMAL},
      fidecround = #{fidecround,jdbcType=INTEGER},
      fistatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </update>
</mapper>