<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.custlinkMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.custlinkKey" >
    <id column="fsCustGUID" property="fscustguid" jdbcType="VARCHAR" />
    <id column="fsLinkCustGUID" property="fslinkcustguid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.custlinkKey" >
    delete from tbcustlink
    where fsCustGUID = #{fscustguid,jdbcType=VARCHAR}
      and fsLinkCustGUID = #{fslinkcustguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.custlinkKey" >
    insert into tbcustlink (fsCustGUID, fsLinkCustGUID)
    values (#{fscustguid,jdbcType=VARCHAR}, #{fslinkcustguid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.custlinkKey" >
    insert into tbcustlink
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fscustguid != null" >
        fsCustGUID,
      </if>
      <if test="fslinkcustguid != null" >
        fsLinkCustGUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fscustguid != null" >
        #{fscustguid,jdbcType=VARCHAR},
      </if>
      <if test="fslinkcustguid != null" >
        #{fslinkcustguid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>