<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.custsurMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.custsur" >
    <id column="fsCompanyGUID" property="fscompanyguid" jdbcType="VARCHAR" />
    <id column="fsCustSurId" property="fscustsurid" jdbcType="VARCHAR" />
    <result column="fsCustSurName" property="fscustsurname" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsnote" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsCompanyGUID, fsCustSurId, fsCustSurName, fsNote, fiStatus, fsUpdateTime, fsUpdateUserId, 
    fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.custsurKey" >
    select 
    <include refid="Base_Column_List" />
    from tbcustsur
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSurId = #{fscustsurid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.custsurKey" >
    delete from tbcustsur
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSurId = #{fscustsurid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.custsur" >
    insert into tbcustsur (fsCompanyGUID, fsCustSurId, fsCustSurName, 
      fsNote, fiStatus, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName)
    values (#{fscompanyguid,jdbcType=VARCHAR}, #{fscustsurid,jdbcType=VARCHAR}, #{fscustsurname,jdbcType=VARCHAR}, 
      #{fsnote,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, 
      #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.custsur" >
    insert into tbcustsur
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fscompanyguid != null" >
        fsCompanyGUID,
      </if>
      <if test="fscustsurid != null" >
        fsCustSurId,
      </if>
      <if test="fscustsurname != null" >
        fsCustSurName,
      </if>
      <if test="fsnote != null" >
        fsNote,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fscompanyguid != null" >
        #{fscompanyguid,jdbcType=VARCHAR},
      </if>
      <if test="fscustsurid != null" >
        #{fscustsurid,jdbcType=VARCHAR},
      </if>
      <if test="fscustsurname != null" >
        #{fscustsurname,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.custsur" >
    update tbcustsur
    <set >
      <if test="fscustsurname != null" >
        fsCustSurName = #{fscustsurname,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        fsNote = #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSurId = #{fscustsurid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.custsur" >
    update tbcustsur
    set fsCustSurName = #{fscustsurname,jdbcType=VARCHAR},
      fsNote = #{fsnote,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSurId = #{fscustsurid,jdbcType=VARCHAR}
  </update>
</mapper>