<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.CuststeMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Custste" >
    <id column="fsCompanyGUID" property="fscompanyguid" jdbcType="VARCHAR" />
    <id column="fsCustSteId" property="fscuststeid" jdbcType="VARCHAR" />
    <result column="fsCustSteName" property="fscuststename" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsCompanyGUID, fsCustSteId, fsCustSteName, fiStatus, fsUpdateTime, fsUpdateUserId, 
    fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.CuststeKey" >
    select 
    <include refid="Base_Column_List" />
    from tbcustste
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSteId = #{fscuststeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.CuststeKey" >
    delete from tbcustste
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSteId = #{fscuststeid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Custste" >
    insert into tbcustste (fsCompanyGUID, fsCustSteId, fsCustSteName, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fscompanyguid,jdbcType=VARCHAR}, #{fscuststeid,jdbcType=VARCHAR}, #{fscuststename,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdateusername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Custste" >
    insert into tbcustste
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fscompanyguid != null" >
        fsCompanyGUID,
      </if>
      <if test="fscuststeid != null" >
        fsCustSteId,
      </if>
      <if test="fscuststename != null" >
        fsCustSteName,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fscompanyguid != null" >
        #{fscompanyguid,jdbcType=VARCHAR},
      </if>
      <if test="fscuststeid != null" >
        #{fscuststeid,jdbcType=VARCHAR},
      </if>
      <if test="fscuststename != null" >
        #{fscuststename,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Custste" >
    update tbcustste
    <set >
      <if test="fscuststename != null" >
        fsCustSteName = #{fscuststename,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSteId = #{fscuststeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Custste" >
    update tbcustste
    set fsCustSteName = #{fscuststename,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsCustSteId = #{fscuststeid,jdbcType=VARCHAR}
  </update>
</mapper>