<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Dept" >
    <id column="fsDeptId" property="fsdeptid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsDeptName" property="fsdeptname" jdbcType="VARCHAR" />
    <result column="fiDeptCls" property="fideptcls" jdbcType="INTEGER" />
    <result column="fsPrinterName" property="fsprintername" jdbcType="VARCHAR" />
    <result column="fsPrinterName2" property="fsprintername2" jdbcType="VARCHAR" />
    <result column="fiIsBackBill" property="fiisbackbill" jdbcType="INTEGER" />
    <result column="fiIsHurryBill" property="fiishurrybill" jdbcType="INTEGER" />
    <result column="fiIsChangeBill" property="fiischangebill" jdbcType="INTEGER" />
    <result column="fiIsTaskBill" property="fiistaskbill" jdbcType="INTEGER" />
    <result column="fiIsTurnBill" property="fiisturnbill" jdbcType="INTEGER" />
    <result column="fiIsOneItemCut" property="fiisoneitemcut" jdbcType="INTEGER" />
    <result column="fiPrintCopies" property="fiprintcopies" jdbcType="INTEGER" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsDeptId, fsShopGUID, fsDeptName, fiDeptCls, fsPrinterName, fsPrinterName2, fiIsBackBill, 
    fiIsHurryBill, fiIsChangeBill, fiIsTaskBill, fiIsTurnBill, fiIsOneItemCut, fiPrintCopies, 
    fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.DeptKey" >
    select 
    <include refid="Base_Column_List" />
    from tbdept
    where fsDeptId = #{fsdeptid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.DeptKey" >
    delete from tbdept
    where fsDeptId = #{fsdeptid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Dept" >
    insert into tbdept (fsDeptId, fsShopGUID, fsDeptName, 
      fiDeptCls, fsPrinterName, fsPrinterName2, 
      fiIsBackBill, fiIsHurryBill, fiIsChangeBill, 
      fiIsTaskBill, fiIsTurnBill, fiIsOneItemCut, 
      fiPrintCopies, fiStatus, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName)
    values (#{fsdeptid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsdeptname,jdbcType=VARCHAR}, 
      #{fideptcls,jdbcType=INTEGER}, #{fsprintername,jdbcType=VARCHAR}, #{fsprintername2,jdbcType=VARCHAR}, 
      #{fiisbackbill,jdbcType=INTEGER}, #{fiishurrybill,jdbcType=INTEGER}, #{fiischangebill,jdbcType=INTEGER}, 
      #{fiistaskbill,jdbcType=INTEGER}, #{fiisturnbill,jdbcType=INTEGER}, #{fiisoneitemcut,jdbcType=INTEGER}, 
      #{fiprintcopies,jdbcType=INTEGER}, #{fistatus,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, 
      #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Dept" >
    insert into tbdept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsdeptid != null" >
        fsDeptId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsdeptname != null" >
        fsDeptName,
      </if>
      <if test="fideptcls != null" >
        fiDeptCls,
      </if>
      <if test="fsprintername != null" >
        fsPrinterName,
      </if>
      <if test="fsprintername2 != null" >
        fsPrinterName2,
      </if>
      <if test="fiisbackbill != null" >
        fiIsBackBill,
      </if>
      <if test="fiishurrybill != null" >
        fiIsHurryBill,
      </if>
      <if test="fiischangebill != null" >
        fiIsChangeBill,
      </if>
      <if test="fiistaskbill != null" >
        fiIsTaskBill,
      </if>
      <if test="fiisturnbill != null" >
        fiIsTurnBill,
      </if>
      <if test="fiisoneitemcut != null" >
        fiIsOneItemCut,
      </if>
      <if test="fiprintcopies != null" >
        fiPrintCopies,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsdeptid != null" >
        #{fsdeptid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsdeptname != null" >
        #{fsdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fideptcls != null" >
        #{fideptcls,jdbcType=INTEGER},
      </if>
      <if test="fsprintername != null" >
        #{fsprintername,jdbcType=VARCHAR},
      </if>
      <if test="fsprintername2 != null" >
        #{fsprintername2,jdbcType=VARCHAR},
      </if>
      <if test="fiisbackbill != null" >
        #{fiisbackbill,jdbcType=INTEGER},
      </if>
      <if test="fiishurrybill != null" >
        #{fiishurrybill,jdbcType=INTEGER},
      </if>
      <if test="fiischangebill != null" >
        #{fiischangebill,jdbcType=INTEGER},
      </if>
      <if test="fiistaskbill != null" >
        #{fiistaskbill,jdbcType=INTEGER},
      </if>
      <if test="fiisturnbill != null" >
        #{fiisturnbill,jdbcType=INTEGER},
      </if>
      <if test="fiisoneitemcut != null" >
        #{fiisoneitemcut,jdbcType=INTEGER},
      </if>
      <if test="fiprintcopies != null" >
        #{fiprintcopies,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Dept" >
    update tbdept
    <set >
      <if test="fsdeptname != null" >
        fsDeptName = #{fsdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fideptcls != null" >
        fiDeptCls = #{fideptcls,jdbcType=INTEGER},
      </if>
      <if test="fsprintername != null" >
        fsPrinterName = #{fsprintername,jdbcType=VARCHAR},
      </if>
      <if test="fsprintername2 != null" >
        fsPrinterName2 = #{fsprintername2,jdbcType=VARCHAR},
      </if>
      <if test="fiisbackbill != null" >
        fiIsBackBill = #{fiisbackbill,jdbcType=INTEGER},
      </if>
      <if test="fiishurrybill != null" >
        fiIsHurryBill = #{fiishurrybill,jdbcType=INTEGER},
      </if>
      <if test="fiischangebill != null" >
        fiIsChangeBill = #{fiischangebill,jdbcType=INTEGER},
      </if>
      <if test="fiistaskbill != null" >
        fiIsTaskBill = #{fiistaskbill,jdbcType=INTEGER},
      </if>
      <if test="fiisturnbill != null" >
        fiIsTurnBill = #{fiisturnbill,jdbcType=INTEGER},
      </if>
      <if test="fiisoneitemcut != null" >
        fiIsOneItemCut = #{fiisoneitemcut,jdbcType=INTEGER},
      </if>
      <if test="fiprintcopies != null" >
        fiPrintCopies = #{fiprintcopies,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsDeptId = #{fsdeptid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Dept" >
    update tbdept
    set fsDeptName = #{fsdeptname,jdbcType=VARCHAR},
      fiDeptCls = #{fideptcls,jdbcType=INTEGER},
      fsPrinterName = #{fsprintername,jdbcType=VARCHAR},
      fsPrinterName2 = #{fsprintername2,jdbcType=VARCHAR},
      fiIsBackBill = #{fiisbackbill,jdbcType=INTEGER},
      fiIsHurryBill = #{fiishurrybill,jdbcType=INTEGER},
      fiIsChangeBill = #{fiischangebill,jdbcType=INTEGER},
      fiIsTaskBill = #{fiistaskbill,jdbcType=INTEGER},
      fiIsTurnBill = #{fiisturnbill,jdbcType=INTEGER},
      fiIsOneItemCut = #{fiisoneitemcut,jdbcType=INTEGER},
      fiPrintCopies = #{fiprintcopies,jdbcType=INTEGER},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsDeptId = #{fsdeptid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>