<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.discountitemMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.discountitem" >
    <id column="fiItemCd" property="fiitemcd" jdbcType="INTEGER" />
    <id column="fiOrderUintCd" property="fiorderuintcd" jdbcType="INTEGER" />
    <id column="fsDiscountId" property="fsdiscountid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fiDiscountRate" property="fidiscountrate" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiItemCd, fiOrderUintCd, fsDiscountId, fsShopGUID, fiDiscountRate, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName, fiStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.discountitemKey" >
    select 
    <include refid="Base_Column_List" />
    from tbdiscountitem
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.discountitemKey" >
    delete from tbdiscountitem
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.discountitem" >
    insert into tbdiscountitem (fiItemCd, fiOrderUintCd, fsDiscountId, 
      fsShopGUID, fiDiscountRate, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName, fiStatus
      )
    values (#{fiitemcd,jdbcType=INTEGER}, #{fiorderuintcd,jdbcType=INTEGER}, #{fsdiscountid,jdbcType=VARCHAR}, 
      #{fsshopguid,jdbcType=VARCHAR}, #{fidiscountrate,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, 
      #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.discountitem" >
    insert into tbdiscountitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiitemcd != null" >
        fiItemCd,
      </if>
      <if test="fiorderuintcd != null" >
        fiOrderUintCd,
      </if>
      <if test="fsdiscountid != null" >
        fsDiscountId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fidiscountrate != null" >
        fiDiscountRate,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiitemcd != null" >
        #{fiitemcd,jdbcType=INTEGER},
      </if>
      <if test="fiorderuintcd != null" >
        #{fiorderuintcd,jdbcType=INTEGER},
      </if>
      <if test="fsdiscountid != null" >
        #{fsdiscountid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fidiscountrate != null" >
        #{fidiscountrate,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.discountitem" >
    update tbdiscountitem
    <set >
      <if test="fidiscountrate != null" >
        fiDiscountRate = #{fidiscountrate,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
    </set>
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.discountitem" >
    update tbdiscountitem
    set fiDiscountRate = #{fidiscountrate,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER}
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>