<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.discountMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.discount" >
    <id column="fsDiscountId" property="fsdiscountid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsDiscountName" property="fsdiscountname" jdbcType="VARCHAR" />
    <result column="fiDiscountRate" property="fidiscountrate" jdbcType="INTEGER" />
    <result column="fiIsVIPUse" property="fiisvipuse" jdbcType="INTEGER" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiDataKind" property="fidatakind" jdbcType="INTEGER" />
    <result column="fiVIPId" property="fivipid" jdbcType="INTEGER" />
    <result column="fiCouponId" property="ficouponid" jdbcType="INTEGER" />
    <result column="fdDDV" property="fdddv" jdbcType="DECIMAL" />
    <result column="fiDiscReason" property="fidiscreason" jdbcType="INTEGER" />
    <result column="fiIsEffectiveDate" property="fiiseffectivedate" jdbcType="INTEGER" />
    <result column="fsStarDate" property="fsstardate" jdbcType="VARCHAR" />
    <result column="fsEndDate" property="fsenddate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsDiscountId, fsShopGUID, fsDiscountName, fiDiscountRate, fiIsVIPUse, fiStatus, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName, fiDataKind, fiVIPId, fiCouponId, fdDDV, fiDiscReason, 
    fiIsEffectiveDate, fsStarDate, fsEndDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.discountKey" >
    select 
    <include refid="Base_Column_List" />
    from tbdiscount
    where fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.discountKey" >
    delete from tbdiscount
    where fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.discount" >
    insert into tbdiscount (fsDiscountId, fsShopGUID, fsDiscountName, 
      fiDiscountRate, fiIsVIPUse, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fiDataKind, fiVIPId, fiCouponId, 
      fdDDV, fiDiscReason, fiIsEffectiveDate, 
      fsStarDate, fsEndDate)
    values (#{fsdiscountid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsdiscountname,jdbcType=VARCHAR}, 
      #{fidiscountrate,jdbcType=INTEGER}, #{fiisvipuse,jdbcType=INTEGER}, #{fistatus,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, 
      #{fidatakind,jdbcType=INTEGER}, #{fivipid,jdbcType=INTEGER}, #{ficouponid,jdbcType=INTEGER}, 
      #{fdddv,jdbcType=DECIMAL}, #{fidiscreason,jdbcType=INTEGER}, #{fiiseffectivedate,jdbcType=INTEGER}, 
      #{fsstardate,jdbcType=VARCHAR}, #{fsenddate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.discount" >
    insert into tbdiscount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsdiscountid != null" >
        fsDiscountId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsdiscountname != null" >
        fsDiscountName,
      </if>
      <if test="fidiscountrate != null" >
        fiDiscountRate,
      </if>
      <if test="fiisvipuse != null" >
        fiIsVIPUse,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fidatakind != null" >
        fiDataKind,
      </if>
      <if test="fivipid != null" >
        fiVIPId,
      </if>
      <if test="ficouponid != null" >
        fiCouponId,
      </if>
      <if test="fdddv != null" >
        fdDDV,
      </if>
      <if test="fidiscreason != null" >
        fiDiscReason,
      </if>
      <if test="fiiseffectivedate != null" >
        fiIsEffectiveDate,
      </if>
      <if test="fsstardate != null" >
        fsStarDate,
      </if>
      <if test="fsenddate != null" >
        fsEndDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsdiscountid != null" >
        #{fsdiscountid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountname != null" >
        #{fsdiscountname,jdbcType=VARCHAR},
      </if>
      <if test="fidiscountrate != null" >
        #{fidiscountrate,jdbcType=INTEGER},
      </if>
      <if test="fiisvipuse != null" >
        #{fiisvipuse,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fidatakind != null" >
        #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fivipid != null" >
        #{fivipid,jdbcType=INTEGER},
      </if>
      <if test="ficouponid != null" >
        #{ficouponid,jdbcType=INTEGER},
      </if>
      <if test="fdddv != null" >
        #{fdddv,jdbcType=DECIMAL},
      </if>
      <if test="fidiscreason != null" >
        #{fidiscreason,jdbcType=INTEGER},
      </if>
      <if test="fiiseffectivedate != null" >
        #{fiiseffectivedate,jdbcType=INTEGER},
      </if>
      <if test="fsstardate != null" >
        #{fsstardate,jdbcType=VARCHAR},
      </if>
      <if test="fsenddate != null" >
        #{fsenddate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.discount" >
    update tbdiscount
    <set >
      <if test="fsdiscountname != null" >
        fsDiscountName = #{fsdiscountname,jdbcType=VARCHAR},
      </if>
      <if test="fidiscountrate != null" >
        fiDiscountRate = #{fidiscountrate,jdbcType=INTEGER},
      </if>
      <if test="fiisvipuse != null" >
        fiIsVIPUse = #{fiisvipuse,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fidatakind != null" >
        fiDataKind = #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fivipid != null" >
        fiVIPId = #{fivipid,jdbcType=INTEGER},
      </if>
      <if test="ficouponid != null" >
        fiCouponId = #{ficouponid,jdbcType=INTEGER},
      </if>
      <if test="fdddv != null" >
        fdDDV = #{fdddv,jdbcType=DECIMAL},
      </if>
      <if test="fidiscreason != null" >
        fiDiscReason = #{fidiscreason,jdbcType=INTEGER},
      </if>
      <if test="fiiseffectivedate != null" >
        fiIsEffectiveDate = #{fiiseffectivedate,jdbcType=INTEGER},
      </if>
      <if test="fsstardate != null" >
        fsStarDate = #{fsstardate,jdbcType=VARCHAR},
      </if>
      <if test="fsenddate != null" >
        fsEndDate = #{fsenddate,jdbcType=VARCHAR},
      </if>
    </set>
    where fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.discount" >
    update tbdiscount
    set fsDiscountName = #{fsdiscountname,jdbcType=VARCHAR},
      fiDiscountRate = #{fidiscountrate,jdbcType=INTEGER},
      fiIsVIPUse = #{fiisvipuse,jdbcType=INTEGER},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiDataKind = #{fidatakind,jdbcType=INTEGER},
      fiVIPId = #{fivipid,jdbcType=INTEGER},
      fiCouponId = #{ficouponid,jdbcType=INTEGER},
      fdDDV = #{fdddv,jdbcType=DECIMAL},
      fiDiscReason = #{fidiscreason,jdbcType=INTEGER},
      fiIsEffectiveDate = #{fiiseffectivedate,jdbcType=INTEGER},
      fsStarDate = #{fsstardate,jdbcType=VARCHAR},
      fsEndDate = #{fsenddate,jdbcType=VARCHAR}
    where fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>