<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.expclsMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.expcls" >
    <id column="fsExpClsId" property="fsexpclsid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsExpClsName" property="fsexpclsname" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiDataKind" property="fidatakind" jdbcType="INTEGER" />
    <result column="fiSortOrder" property="fisortorder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsExpClsId, fsShopGUID, fsExpClsName, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fiDataKind, fiSortOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.expclsKey" >
    select 
    <include refid="Base_Column_List" />
    from tbexpcls
    where fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.expclsKey" >
    delete from tbexpcls
    where fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.expcls" >
    insert into tbexpcls (fsExpClsId, fsShopGUID, fsExpClsName, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName, fiDataKind, fiSortOrder
      )
    values (#{fsexpclsid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsexpclsname,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdateusername,jdbcType=VARCHAR}, #{fidatakind,jdbcType=INTEGER}, #{fisortorder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.expcls" >
    insert into tbexpcls
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsexpclsid != null" >
        fsExpClsId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsexpclsname != null" >
        fsExpClsName,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fidatakind != null" >
        fiDataKind,
      </if>
      <if test="fisortorder != null" >
        fiSortOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsexpclsid != null" >
        #{fsexpclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsname != null" >
        #{fsexpclsname,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fidatakind != null" >
        #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fisortorder != null" >
        #{fisortorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.expcls" >
    update tbexpcls
    <set >
      <if test="fsexpclsname != null" >
        fsExpClsName = #{fsexpclsname,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fidatakind != null" >
        fiDataKind = #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fisortorder != null" >
        fiSortOrder = #{fisortorder,jdbcType=INTEGER},
      </if>
    </set>
    where fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.expcls" >
    update tbexpcls
    set fsExpClsName = #{fsexpclsname,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiDataKind = #{fidatakind,jdbcType=INTEGER},
      fiSortOrder = #{fisortorder,jdbcType=INTEGER}
    where fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>