<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Feedback" >
    <id column="fiId" property="fiid" jdbcType="INTEGER" />
    <result column="fsTheme" property="fstheme" jdbcType="VARCHAR" />
    <result column="fiType" property="fitype" jdbcType="INTEGER" />
    <result column="fsContact" property="fscontact" jdbcType="VARCHAR" />
    <result column="fsCellphoneCt" property="fscellphonect" jdbcType="VARCHAR" />
    <result column="fsEmail" property="fsemail" jdbcType="VARCHAR" />
    <result column="fsContent" property="fscontent" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fscreatetime" jdbcType="VARCHAR" />
    <result column="fsCreateUserId" property="fscreateuserid" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fscreateusername" jdbcType="VARCHAR" />
    <result column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiId, fsTheme, fiType, fsContact, fsCellphoneCt, fsEmail, fsContent, fsCreateTime, 
    fsCreateUserId, fsCreateUserName, fsShopGUID, fiStatus, fsUpdateTime, fsUpdateUserId, 
    fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbfeedback
    where fiId = #{fiid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbfeedback
    where fiId = #{fiid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Feedback" >
    insert into tbfeedback (fiId, fsTheme, fiType, 
      fsContact, fsCellphoneCt, fsEmail, 
      fsContent, fsCreateTime, fsCreateUserId, 
      fsCreateUserName, fsShopGUID, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fiid,jdbcType=INTEGER}, #{fstheme,jdbcType=VARCHAR}, #{fitype,jdbcType=INTEGER}, 
      #{fscontact,jdbcType=VARCHAR}, #{fscellphonect,jdbcType=VARCHAR}, #{fsemail,jdbcType=VARCHAR}, 
      #{fscontent,jdbcType=VARCHAR}, #{fscreatetime,jdbcType=VARCHAR}, #{fscreateuserid,jdbcType=VARCHAR}, 
      #{fscreateusername,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fistatus,jdbcType=VARCHAR}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Feedback" >
    insert into tbfeedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiid != null" >
        fiId,
      </if>
      <if test="fstheme != null" >
        fsTheme,
      </if>
      <if test="fitype != null" >
        fiType,
      </if>
      <if test="fscontact != null" >
        fsContact,
      </if>
      <if test="fscellphonect != null" >
        fsCellphoneCt,
      </if>
      <if test="fsemail != null" >
        fsEmail,
      </if>
      <if test="fscontent != null" >
        fsContent,
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime,
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId,
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiid != null" >
        #{fiid,jdbcType=INTEGER},
      </if>
      <if test="fstheme != null" >
        #{fstheme,jdbcType=VARCHAR},
      </if>
      <if test="fitype != null" >
        #{fitype,jdbcType=INTEGER},
      </if>
      <if test="fscontact != null" >
        #{fscontact,jdbcType=VARCHAR},
      </if>
      <if test="fscellphonect != null" >
        #{fscellphonect,jdbcType=VARCHAR},
      </if>
      <if test="fsemail != null" >
        #{fsemail,jdbcType=VARCHAR},
      </if>
      <if test="fscontent != null" >
        #{fscontent,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Feedback" >
    update tbfeedback
    <set >
      <if test="fstheme != null" >
        fsTheme = #{fstheme,jdbcType=VARCHAR},
      </if>
      <if test="fitype != null" >
        fiType = #{fitype,jdbcType=INTEGER},
      </if>
      <if test="fscontact != null" >
        fsContact = #{fscontact,jdbcType=VARCHAR},
      </if>
      <if test="fscellphonect != null" >
        fsCellphoneCt = #{fscellphonect,jdbcType=VARCHAR},
      </if>
      <if test="fsemail != null" >
        fsEmail = #{fsemail,jdbcType=VARCHAR},
      </if>
      <if test="fscontent != null" >
        fsContent = #{fscontent,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID = #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fiId = #{fiid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Feedback" >
    update tbfeedback
    set fsTheme = #{fstheme,jdbcType=VARCHAR},
      fiType = #{fitype,jdbcType=INTEGER},
      fsContact = #{fscontact,jdbcType=VARCHAR},
      fsCellphoneCt = #{fscellphonect,jdbcType=VARCHAR},
      fsEmail = #{fsemail,jdbcType=VARCHAR},
      fsContent = #{fscontent,jdbcType=VARCHAR},
      fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      fsShopGUID = #{fsshopguid,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fiId = #{fiid,jdbcType=INTEGER}
  </update>
</mapper>