<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.FileverMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Filever" >
    <id column="fsFileName" property="fsfilename" jdbcType="VARCHAR" />
    <result column="fsVer" property="fsver" jdbcType="VARCHAR" />
    <result column="fsDir" property="fsdir" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsnote" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsFileName, fsVer, fsDir, fsNote
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbfilever
    where fsFileName = #{fsfilename,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbfilever
    where fsFileName = #{fsfilename,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Filever" >
    insert into tbfilever (fsFileName, fsVer, fsDir, 
      fsNote)
    values (#{fsfilename,jdbcType=VARCHAR}, #{fsver,jdbcType=VARCHAR}, #{fsdir,jdbcType=VARCHAR}, 
      #{fsnote,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Filever" >
    insert into tbfilever
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsfilename != null" >
        fsFileName,
      </if>
      <if test="fsver != null" >
        fsVer,
      </if>
      <if test="fsdir != null" >
        fsDir,
      </if>
      <if test="fsnote != null" >
        fsNote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsfilename != null" >
        #{fsfilename,jdbcType=VARCHAR},
      </if>
      <if test="fsver != null" >
        #{fsver,jdbcType=VARCHAR},
      </if>
      <if test="fsdir != null" >
        #{fsdir,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        #{fsnote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Filever" >
    update tbfilever
    <set >
      <if test="fsver != null" >
        fsVer = #{fsver,jdbcType=VARCHAR},
      </if>
      <if test="fsdir != null" >
        fsDir = #{fsdir,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        fsNote = #{fsnote,jdbcType=VARCHAR},
      </if>
    </set>
    where fsFileName = #{fsfilename,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Filever" >
    update tbfilever
    set fsVer = #{fsver,jdbcType=VARCHAR},
      fsDir = #{fsdir,jdbcType=VARCHAR},
      fsNote = #{fsnote,jdbcType=VARCHAR}
    where fsFileName = #{fsfilename,jdbcType=VARCHAR}
  </update>
</mapper>