<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.hostMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.host" >
    <id column="fsHostId" property="fshostid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsHostDesc" property="fshostdesc" jdbcType="VARCHAR" />
    <result column="fsEncryption" property="fsencryption" jdbcType="VARCHAR" />
    <result column="fsPrinterName" property="fsprintername" jdbcType="VARCHAR" />
    <result column="fiHostCls" property="fihostcls" jdbcType="INTEGER" />
    <result column="fiLanguage" property="filanguage" jdbcType="INTEGER" />
    <result column="fsNote" property="fsnote" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fiDataKind" property="fidatakind" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsHostId, fsShopGUID, fsHostDesc, fsEncryption, fsPrinterName, fiHostCls, fiLanguage, 
    fsNote, fiStatus, fiDataKind, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.hostKey" >
    select 
    <include refid="Base_Column_List" />
    from tbhost
    where fsHostId = #{fshostid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.hostKey" >
    delete from tbhost
    where fsHostId = #{fshostid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.host" >
    insert into tbhost (fsHostId, fsShopGUID, fsHostDesc, 
      fsEncryption, fsPrinterName, fiHostCls, 
      fiLanguage, fsNote, fiStatus, 
      fiDataKind, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fshostid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fshostdesc,jdbcType=VARCHAR}, 
      #{fsencryption,jdbcType=VARCHAR}, #{fsprintername,jdbcType=VARCHAR}, #{fihostcls,jdbcType=INTEGER}, 
      #{filanguage,jdbcType=INTEGER}, #{fsnote,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}, 
      #{fidatakind,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdateusername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.host" >
    insert into tbhost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fshostid != null" >
        fsHostId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fshostdesc != null" >
        fsHostDesc,
      </if>
      <if test="fsencryption != null" >
        fsEncryption,
      </if>
      <if test="fsprintername != null" >
        fsPrinterName,
      </if>
      <if test="fihostcls != null" >
        fiHostCls,
      </if>
      <if test="filanguage != null" >
        fiLanguage,
      </if>
      <if test="fsnote != null" >
        fsNote,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fidatakind != null" >
        fiDataKind,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fshostid != null" >
        #{fshostid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fshostdesc != null" >
        #{fshostdesc,jdbcType=VARCHAR},
      </if>
      <if test="fsencryption != null" >
        #{fsencryption,jdbcType=VARCHAR},
      </if>
      <if test="fsprintername != null" >
        #{fsprintername,jdbcType=VARCHAR},
      </if>
      <if test="fihostcls != null" >
        #{fihostcls,jdbcType=INTEGER},
      </if>
      <if test="filanguage != null" >
        #{filanguage,jdbcType=INTEGER},
      </if>
      <if test="fsnote != null" >
        #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.host" >
    update tbhost
    <set >
      <if test="fshostdesc != null" >
        fsHostDesc = #{fshostdesc,jdbcType=VARCHAR},
      </if>
      <if test="fsencryption != null" >
        fsEncryption = #{fsencryption,jdbcType=VARCHAR},
      </if>
      <if test="fsprintername != null" >
        fsPrinterName = #{fsprintername,jdbcType=VARCHAR},
      </if>
      <if test="fihostcls != null" >
        fiHostCls = #{fihostcls,jdbcType=INTEGER},
      </if>
      <if test="filanguage != null" >
        fiLanguage = #{filanguage,jdbcType=INTEGER},
      </if>
      <if test="fsnote != null" >
        fsNote = #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        fiDataKind = #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsHostId = #{fshostid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.host" >
    update tbhost
    set fsHostDesc = #{fshostdesc,jdbcType=VARCHAR},
      fsEncryption = #{fsencryption,jdbcType=VARCHAR},
      fsPrinterName = #{fsprintername,jdbcType=VARCHAR},
      fiHostCls = #{fihostcls,jdbcType=INTEGER},
      fiLanguage = #{filanguage,jdbcType=INTEGER},
      fsNote = #{fsnote,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fiDataKind = #{fidatakind,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsHostId = #{fshostid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>