<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.itemchangetableMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.itemchangetable" >
    <result column="fsSellNo" property="fssellno" jdbcType="VARCHAR" />
    <result column="fsMTableId" property="fsmtableid" jdbcType="VARCHAR" />
    <result column="fsSeq" property="fsseq" jdbcType="VARCHAR" />
    <result column="fiItemCd" property="fiitemcd" jdbcType="DECIMAL" />
    <result column="fsItemId" property="fsitemid" jdbcType="VARCHAR" />
    <result column="fsItemName" property="fsitemname" jdbcType="VARCHAR" />
    <result column="fdChangeQty" property="fdchangeqty" jdbcType="DECIMAL" />
    <result column="fsChangeReason" property="fschangereason" jdbcType="VARCHAR" />
    <result column="fsSellNo_new" property="fssellnoNew" jdbcType="VARCHAR" />
    <result column="fsMTableId_new" property="fsmtableidNew" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fscreatetime" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fscreateusername" jdbcType="VARCHAR" />
    <result column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.pos.entity.itemchangetable" >
    insert into tbitemchangetable (fsSellNo, fsMTableId, fsSeq, 
      fiItemCd, fsItemId, fsItemName, 
      fdChangeQty, fsChangeReason, fsSellNo_new, 
      fsMTableId_new, fsCreateTime, fsCreateUserName, 
      fsShopGUID)
    values (#{fssellno,jdbcType=VARCHAR}, #{fsmtableid,jdbcType=VARCHAR}, #{fsseq,jdbcType=VARCHAR}, 
      #{fiitemcd,jdbcType=DECIMAL}, #{fsitemid,jdbcType=VARCHAR}, #{fsitemname,jdbcType=VARCHAR}, 
      #{fdchangeqty,jdbcType=DECIMAL}, #{fschangereason,jdbcType=VARCHAR}, #{fssellnoNew,jdbcType=VARCHAR}, 
      #{fsmtableidNew,jdbcType=VARCHAR}, #{fscreatetime,jdbcType=VARCHAR}, #{fscreateusername,jdbcType=VARCHAR}, 
      #{fsshopguid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.itemchangetable" >
    insert into tbitemchangetable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fssellno != null" >
        fsSellNo,
      </if>
      <if test="fsmtableid != null" >
        fsMTableId,
      </if>
      <if test="fsseq != null" >
        fsSeq,
      </if>
      <if test="fiitemcd != null" >
        fiItemCd,
      </if>
      <if test="fsitemid != null" >
        fsItemId,
      </if>
      <if test="fsitemname != null" >
        fsItemName,
      </if>
      <if test="fdchangeqty != null" >
        fdChangeQty,
      </if>
      <if test="fschangereason != null" >
        fsChangeReason,
      </if>
      <if test="fssellnoNew != null" >
        fsSellNo_new,
      </if>
      <if test="fsmtableidNew != null" >
        fsMTableId_new,
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime,
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fssellno != null" >
        #{fssellno,jdbcType=VARCHAR},
      </if>
      <if test="fsmtableid != null" >
        #{fsmtableid,jdbcType=VARCHAR},
      </if>
      <if test="fsseq != null" >
        #{fsseq,jdbcType=VARCHAR},
      </if>
      <if test="fiitemcd != null" >
        #{fiitemcd,jdbcType=DECIMAL},
      </if>
      <if test="fsitemid != null" >
        #{fsitemid,jdbcType=VARCHAR},
      </if>
      <if test="fsitemname != null" >
        #{fsitemname,jdbcType=VARCHAR},
      </if>
      <if test="fdchangeqty != null" >
        #{fdchangeqty,jdbcType=DECIMAL},
      </if>
      <if test="fschangereason != null" >
        #{fschangereason,jdbcType=VARCHAR},
      </if>
      <if test="fssellnoNew != null" >
        #{fssellnoNew,jdbcType=VARCHAR},
      </if>
      <if test="fsmtableidNew != null" >
        #{fsmtableidNew,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>