<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.mareaMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.marea" >
    <id column="fsMAreaId" property="fsmareaid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsMAreaName" property="fsmareaname" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fsPrinterName" property="fsprintername" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fisortorder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsMAreaId, fsShopGUID, fsMAreaName, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fsPrinterName, fiSortOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.mareaKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmarea
    where fsMAreaId = #{fsmareaid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.mareaKey" >
    delete from tbmarea
    where fsMAreaId = #{fsmareaid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.marea" >
    insert into tbmarea (fsMAreaId, fsShopGUID, fsMAreaName, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName, fsPrinterName, fiSortOrder
      )
    values (#{fsmareaid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsmareaname,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdateusername,jdbcType=VARCHAR}, #{fsprintername,jdbcType=VARCHAR}, #{fisortorder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.marea" >
    insert into tbmarea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsmareaid != null" >
        fsMAreaId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsmareaname != null" >
        fsMAreaName,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fsprintername != null" >
        fsPrinterName,
      </if>
      <if test="fisortorder != null" >
        fiSortOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsmareaid != null" >
        #{fsmareaid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsmareaname != null" >
        #{fsmareaname,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsprintername != null" >
        #{fsprintername,jdbcType=VARCHAR},
      </if>
      <if test="fisortorder != null" >
        #{fisortorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.marea" >
    update tbmarea
    <set >
      <if test="fsmareaname != null" >
        fsMAreaName = #{fsmareaname,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsprintername != null" >
        fsPrinterName = #{fsprintername,jdbcType=VARCHAR},
      </if>
      <if test="fisortorder != null" >
        fiSortOrder = #{fisortorder,jdbcType=INTEGER},
      </if>
    </set>
    where fsMAreaId = #{fsmareaid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.marea" >
    update tbmarea
    set fsMAreaName = #{fsmareaname,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fsPrinterName = #{fsprintername,jdbcType=VARCHAR},
      fiSortOrder = #{fisortorder,jdbcType=INTEGER}
    where fsMAreaId = #{fsmareaid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>