<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.MenuitemsetsideMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Menuitemsetside" >
    <id column="fiItemCd_M" property="fiitemcdM" jdbcType="INTEGER" />
    <id column="fiSetFoodCd" property="fisetfoodcd" jdbcType="INTEGER" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsSetFoodName" property="fssetfoodname" jdbcType="VARCHAR" />
    <result column="fsSetFoodName2" property="fssetfoodname2" jdbcType="VARCHAR" />
    <result column="fiSetFoodQty" property="fisetfoodqty" jdbcType="INTEGER" />
    <result column="fiIsRequired" property="fiisrequired" jdbcType="INTEGER" />
    <result column="fiSortOrder" property="fisortorder" jdbcType="INTEGER" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiSetFoodType" property="fisetfoodtype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiItemCd_M, fiSetFoodCd, fsShopGUID, fsSetFoodName, fsSetFoodName2, fiSetFoodQty, 
    fiIsRequired, fiSortOrder, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fiSetFoodType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.MenuitemsetsideKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmenuitemsetside
    where fiItemCd_M = #{fiitemcdM,jdbcType=INTEGER}
      and fiSetFoodCd = #{fisetfoodcd,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.MenuitemsetsideKey" >
    delete from tbmenuitemsetside
    where fiItemCd_M = #{fiitemcdM,jdbcType=INTEGER}
      and fiSetFoodCd = #{fisetfoodcd,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Menuitemsetside" >
    insert into tbmenuitemsetside (fiItemCd_M, fiSetFoodCd, fsShopGUID, 
      fsSetFoodName, fsSetFoodName2, fiSetFoodQty, 
      fiIsRequired, fiSortOrder, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fiSetFoodType)
    values (#{fiitemcdM,jdbcType=INTEGER}, #{fisetfoodcd,jdbcType=INTEGER}, #{fsshopguid,jdbcType=VARCHAR}, 
      #{fssetfoodname,jdbcType=VARCHAR}, #{fssetfoodname2,jdbcType=VARCHAR}, #{fisetfoodqty,jdbcType=INTEGER}, 
      #{fiisrequired,jdbcType=INTEGER}, #{fisortorder,jdbcType=INTEGER}, #{fistatus,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, 
      #{fisetfoodtype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Menuitemsetside" >
    insert into tbmenuitemsetside
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiitemcdM != null" >
        fiItemCd_M,
      </if>
      <if test="fisetfoodcd != null" >
        fiSetFoodCd,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fssetfoodname != null" >
        fsSetFoodName,
      </if>
      <if test="fssetfoodname2 != null" >
        fsSetFoodName2,
      </if>
      <if test="fisetfoodqty != null" >
        fiSetFoodQty,
      </if>
      <if test="fiisrequired != null" >
        fiIsRequired,
      </if>
      <if test="fisortorder != null" >
        fiSortOrder,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fisetfoodtype != null" >
        fiSetFoodType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiitemcdM != null" >
        #{fiitemcdM,jdbcType=INTEGER},
      </if>
      <if test="fisetfoodcd != null" >
        #{fisetfoodcd,jdbcType=INTEGER},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fssetfoodname != null" >
        #{fssetfoodname,jdbcType=VARCHAR},
      </if>
      <if test="fssetfoodname2 != null" >
        #{fssetfoodname2,jdbcType=VARCHAR},
      </if>
      <if test="fisetfoodqty != null" >
        #{fisetfoodqty,jdbcType=INTEGER},
      </if>
      <if test="fiisrequired != null" >
        #{fiisrequired,jdbcType=INTEGER},
      </if>
      <if test="fisortorder != null" >
        #{fisortorder,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fisetfoodtype != null" >
        #{fisetfoodtype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Menuitemsetside" >
    update tbmenuitemsetside
    <set >
      <if test="fssetfoodname != null" >
        fsSetFoodName = #{fssetfoodname,jdbcType=VARCHAR},
      </if>
      <if test="fssetfoodname2 != null" >
        fsSetFoodName2 = #{fssetfoodname2,jdbcType=VARCHAR},
      </if>
      <if test="fisetfoodqty != null" >
        fiSetFoodQty = #{fisetfoodqty,jdbcType=INTEGER},
      </if>
      <if test="fiisrequired != null" >
        fiIsRequired = #{fiisrequired,jdbcType=INTEGER},
      </if>
      <if test="fisortorder != null" >
        fiSortOrder = #{fisortorder,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fisetfoodtype != null" >
        fiSetFoodType = #{fisetfoodtype,jdbcType=INTEGER},
      </if>
    </set>
    where fiItemCd_M = #{fiitemcdM,jdbcType=INTEGER}
      and fiSetFoodCd = #{fisetfoodcd,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Menuitemsetside" >
    update tbmenuitemsetside
    set fsSetFoodName = #{fssetfoodname,jdbcType=VARCHAR},
      fsSetFoodName2 = #{fssetfoodname2,jdbcType=VARCHAR},
      fiSetFoodQty = #{fisetfoodqty,jdbcType=INTEGER},
      fiIsRequired = #{fiisrequired,jdbcType=INTEGER},
      fiSortOrder = #{fisortorder,jdbcType=INTEGER},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiSetFoodType = #{fisetfoodtype,jdbcType=INTEGER}
    where fiItemCd_M = #{fiitemcdM,jdbcType=INTEGER}
      and fiSetFoodCd = #{fisetfoodcd,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>