<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.menuclsMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.menucls" >
    <id column="fsMenuClsId" property="fsmenuclsid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsMenuClsName" property="fsmenuclsname" jdbcType="VARCHAR" />
    <result column="fsMenuClsFullName" property="fsmenuclsfullname" jdbcType="VARCHAR" />
    <result column="fsExpClsId" property="fsexpclsid" jdbcType="VARCHAR" />
    <result column="fsRevenueTypeId" property="fsrevenuetypeid" jdbcType="VARCHAR" />
    <result column="fiMenuClsKind" property="fimenuclskind" jdbcType="INTEGER" />
    <result column="fiSortOrder" property="fisortorder" jdbcType="INTEGER" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fiDataKind" property="fidatakind" jdbcType="INTEGER" />
    <result column="fiLevel" property="filevel" jdbcType="INTEGER" />
    <result column="fiDtlLvl" property="fidtllvl" jdbcType="INTEGER" />
    <result column="fsMenuClsId_P" property="fsmenuclsidP" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsMenuClsId, fsShopGUID, fsMenuClsName, fsMenuClsFullName, fsExpClsId, fsRevenueTypeId, 
    fiMenuClsKind, fiSortOrder, fiStatus, fiDataKind, fiLevel, fiDtlLvl, fsMenuClsId_P, 
    fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.menuclsKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmenucls
    where fsMenuClsId = #{fsmenuclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.menuclsKey" >
    delete from tbmenucls
    where fsMenuClsId = #{fsmenuclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.menucls" >
    insert into tbmenucls (fsMenuClsId, fsShopGUID, fsMenuClsName, 
      fsMenuClsFullName, fsExpClsId, fsRevenueTypeId, 
      fiMenuClsKind, fiSortOrder, fiStatus, 
      fiDataKind, fiLevel, fiDtlLvl, 
      fsMenuClsId_P, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fsmenuclsid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsmenuclsname,jdbcType=VARCHAR}, 
      #{fsmenuclsfullname,jdbcType=VARCHAR}, #{fsexpclsid,jdbcType=VARCHAR}, #{fsrevenuetypeid,jdbcType=VARCHAR}, 
      #{fimenuclskind,jdbcType=INTEGER}, #{fisortorder,jdbcType=INTEGER}, #{fistatus,jdbcType=INTEGER}, 
      #{fidatakind,jdbcType=INTEGER}, #{filevel,jdbcType=INTEGER}, #{fidtllvl,jdbcType=INTEGER}, 
      #{fsmenuclsidP,jdbcType=VARCHAR}, #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdateusername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.menucls" >
    insert into tbmenucls
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsmenuclsid != null" >
        fsMenuClsId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsmenuclsname != null" >
        fsMenuClsName,
      </if>
      <if test="fsmenuclsfullname != null" >
        fsMenuClsFullName,
      </if>
      <if test="fsexpclsid != null" >
        fsExpClsId,
      </if>
      <if test="fsrevenuetypeid != null" >
        fsRevenueTypeId,
      </if>
      <if test="fimenuclskind != null" >
        fiMenuClsKind,
      </if>
      <if test="fisortorder != null" >
        fiSortOrder,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fidatakind != null" >
        fiDataKind,
      </if>
      <if test="filevel != null" >
        fiLevel,
      </if>
      <if test="fidtllvl != null" >
        fiDtlLvl,
      </if>
      <if test="fsmenuclsidP != null" >
        fsMenuClsId_P,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsmenuclsid != null" >
        #{fsmenuclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsmenuclsname != null" >
        #{fsmenuclsname,jdbcType=VARCHAR},
      </if>
      <if test="fsmenuclsfullname != null" >
        #{fsmenuclsfullname,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsid != null" >
        #{fsexpclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypeid != null" >
        #{fsrevenuetypeid,jdbcType=VARCHAR},
      </if>
      <if test="fimenuclskind != null" >
        #{fimenuclskind,jdbcType=INTEGER},
      </if>
      <if test="fisortorder != null" >
        #{fisortorder,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="filevel != null" >
        #{filevel,jdbcType=INTEGER},
      </if>
      <if test="fidtllvl != null" >
        #{fidtllvl,jdbcType=INTEGER},
      </if>
      <if test="fsmenuclsidP != null" >
        #{fsmenuclsidP,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.menucls" >
    update tbmenucls
    <set >
      <if test="fsmenuclsname != null" >
        fsMenuClsName = #{fsmenuclsname,jdbcType=VARCHAR},
      </if>
      <if test="fsmenuclsfullname != null" >
        fsMenuClsFullName = #{fsmenuclsfullname,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsid != null" >
        fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypeid != null" >
        fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR},
      </if>
      <if test="fimenuclskind != null" >
        fiMenuClsKind = #{fimenuclskind,jdbcType=INTEGER},
      </if>
      <if test="fisortorder != null" >
        fiSortOrder = #{fisortorder,jdbcType=INTEGER},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        fiDataKind = #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="filevel != null" >
        fiLevel = #{filevel,jdbcType=INTEGER},
      </if>
      <if test="fidtllvl != null" >
        fiDtlLvl = #{fidtllvl,jdbcType=INTEGER},
      </if>
      <if test="fsmenuclsidP != null" >
        fsMenuClsId_P = #{fsmenuclsidP,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsMenuClsId = #{fsmenuclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.menucls" >
    update tbmenucls
    set fsMenuClsName = #{fsmenuclsname,jdbcType=VARCHAR},
      fsMenuClsFullName = #{fsmenuclsfullname,jdbcType=VARCHAR},
      fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR},
      fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR},
      fiMenuClsKind = #{fimenuclskind,jdbcType=INTEGER},
      fiSortOrder = #{fisortorder,jdbcType=INTEGER},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fiDataKind = #{fidatakind,jdbcType=INTEGER},
      fiLevel = #{filevel,jdbcType=INTEGER},
      fiDtlLvl = #{fidtllvl,jdbcType=INTEGER},
      fsMenuClsId_P = #{fsmenuclsidP,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsMenuClsId = #{fsmenuclsid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>