<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.ParamMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Param" >
    <id column="fsParamId" property="fsparamid" jdbcType="VARCHAR" />
    <result column="fsParamName" property="fsparamname" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsnote" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fiParamCls" property="fiparamcls" jdbcType="INTEGER" />
    <result column="fsFoodTradeList" property="fsfoodtradelist" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsParamId, fsParamName, fsNote, fsUpdateTime, fiParamCls, fsFoodTradeList
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbparam
    where fsParamId = #{fsparamid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbparam
    where fsParamId = #{fsparamid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Param" >
    insert into tbparam (fsParamId, fsParamName, fsNote, 
      fsUpdateTime, fiParamCls, fsFoodTradeList
      )
    values (#{fsparamid,jdbcType=VARCHAR}, #{fsparamname,jdbcType=VARCHAR}, #{fsnote,jdbcType=VARCHAR}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fiparamcls,jdbcType=INTEGER}, #{fsfoodtradelist,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Param" >
    insert into tbparam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsparamid != null" >
        fsParamId,
      </if>
      <if test="fsparamname != null" >
        fsParamName,
      </if>
      <if test="fsnote != null" >
        fsNote,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fiparamcls != null" >
        fiParamCls,
      </if>
      <if test="fsfoodtradelist != null" >
        fsFoodTradeList,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsparamid != null" >
        #{fsparamid,jdbcType=VARCHAR},
      </if>
      <if test="fsparamname != null" >
        #{fsparamname,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fiparamcls != null" >
        #{fiparamcls,jdbcType=INTEGER},
      </if>
      <if test="fsfoodtradelist != null" >
        #{fsfoodtradelist,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Param" >
    update tbparam
    <set >
      <if test="fsparamname != null" >
        fsParamName = #{fsparamname,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        fsNote = #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fiparamcls != null" >
        fiParamCls = #{fiparamcls,jdbcType=INTEGER},
      </if>
      <if test="fsfoodtradelist != null" >
        fsFoodTradeList = #{fsfoodtradelist,jdbcType=VARCHAR},
      </if>
    </set>
    where fsParamId = #{fsparamid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Param" >
    update tbparam
    set fsParamName = #{fsparamname,jdbcType=VARCHAR},
      fsNote = #{fsnote,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fiParamCls = #{fiparamcls,jdbcType=INTEGER},
      fsFoodTradeList = #{fsfoodtradelist,jdbcType=VARCHAR}
    where fsParamId = #{fsparamid,jdbcType=VARCHAR}
  </update>
</mapper>