<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.paymentfullcutMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.paymentfullcut" >
    <id column="fsPaymentId" property="fspaymentid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fdFullmoney" property="fdfullmoney" jdbcType="DECIMAL" />
    <result column="fdCutmoney" property="fdcutmoney" jdbcType="DECIMAL" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsPaymentId, fsShopGUID, fdFullmoney, fdCutmoney, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.paymentfullcutKey" >
    select 
    <include refid="Base_Column_List" />
    from tbpaymentfullcut
    where fsPaymentId = #{fspaymentid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.paymentfullcutKey" >
    delete from tbpaymentfullcut
    where fsPaymentId = #{fspaymentid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.paymentfullcut" >
    insert into tbpaymentfullcut (fsPaymentId, fsShopGUID, fdFullmoney, 
      fdCutmoney, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fspaymentid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fdfullmoney,jdbcType=DECIMAL}, 
      #{fdcutmoney,jdbcType=DECIMAL}, #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdateusername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.paymentfullcut" >
    insert into tbpaymentfullcut
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fspaymentid != null" >
        fsPaymentId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fdfullmoney != null" >
        fdFullmoney,
      </if>
      <if test="fdcutmoney != null" >
        fdCutmoney,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fspaymentid != null" >
        #{fspaymentid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fdfullmoney != null" >
        #{fdfullmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdcutmoney != null" >
        #{fdcutmoney,jdbcType=DECIMAL},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.paymentfullcut" >
    update tbpaymentfullcut
    <set >
      <if test="fdfullmoney != null" >
        fdFullmoney = #{fdfullmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdcutmoney != null" >
        fdCutmoney = #{fdcutmoney,jdbcType=DECIMAL},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsPaymentId = #{fspaymentid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.paymentfullcut" >
    update tbpaymentfullcut
    set fdFullmoney = #{fdfullmoney,jdbcType=DECIMAL},
      fdCutmoney = #{fdcutmoney,jdbcType=DECIMAL},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsPaymentId = #{fspaymentid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>