<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.ReportconfigurationMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Reportconfiguration" >
    <id column="fsConfigurationId" property="fsconfigurationid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsConfigurationName" property="fsconfigurationname" jdbcType="VARCHAR" />
    <result column="fsConfigurationValue" property="fsconfigurationvalue" jdbcType="VARCHAR" />
    <result column="fsFoodTradeId" property="fsfoodtradeid" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsConfigurationId, fsShopGUID, fsConfigurationName, fsConfigurationValue, fsFoodTradeId, 
    fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.ReportconfigurationKey" >
    select 
    <include refid="Base_Column_List" />
    from tbreportconfiguration
    where fsConfigurationId = #{fsconfigurationid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.ReportconfigurationKey" >
    delete from tbreportconfiguration
    where fsConfigurationId = #{fsconfigurationid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Reportconfiguration" >
    insert into tbreportconfiguration (fsConfigurationId, fsShopGUID, fsConfigurationName, 
      fsConfigurationValue, fsFoodTradeId, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fsconfigurationid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsconfigurationname,jdbcType=VARCHAR}, 
      #{fsconfigurationvalue,jdbcType=VARCHAR}, #{fsfoodtradeid,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Reportconfiguration" >
    insert into tbreportconfiguration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsconfigurationid != null" >
        fsConfigurationId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsconfigurationname != null" >
        fsConfigurationName,
      </if>
      <if test="fsconfigurationvalue != null" >
        fsConfigurationValue,
      </if>
      <if test="fsfoodtradeid != null" >
        fsFoodTradeId,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsconfigurationid != null" >
        #{fsconfigurationid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsconfigurationname != null" >
        #{fsconfigurationname,jdbcType=VARCHAR},
      </if>
      <if test="fsconfigurationvalue != null" >
        #{fsconfigurationvalue,jdbcType=VARCHAR},
      </if>
      <if test="fsfoodtradeid != null" >
        #{fsfoodtradeid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Reportconfiguration" >
    update tbreportconfiguration
    <set >
      <if test="fsconfigurationname != null" >
        fsConfigurationName = #{fsconfigurationname,jdbcType=VARCHAR},
      </if>
      <if test="fsconfigurationvalue != null" >
        fsConfigurationValue = #{fsconfigurationvalue,jdbcType=VARCHAR},
      </if>
      <if test="fsfoodtradeid != null" >
        fsFoodTradeId = #{fsfoodtradeid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsConfigurationId = #{fsconfigurationid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Reportconfiguration" >
    update tbreportconfiguration
    set fsConfigurationName = #{fsconfigurationname,jdbcType=VARCHAR},
      fsConfigurationValue = #{fsconfigurationvalue,jdbcType=VARCHAR},
      fsFoodTradeId = #{fsfoodtradeid,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsConfigurationId = #{fsconfigurationid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>