<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.reporttempletMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.reporttemplet" >
    <id column="fsReportId" property="fsreportid" jdbcType="VARCHAR" />
    <id column="fsReportTempletId" property="fsreporttempletid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsReportTempletName" property="fsreporttempletname" jdbcType="VARCHAR" />
    <result column="fsReportTempletDesc" property="fsreporttempletdesc" jdbcType="VARCHAR" />
    <result column="fiPaperSize" property="fipapersize" jdbcType="INTEGER" />
    <result column="fsRptFile" property="fsrptfile" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fsFoodTradeId" property="fsfoodtradeid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsReportId, fsReportTempletId, fsShopGUID, fsReportTempletName, fsReportTempletDesc, 
    fiPaperSize, fsRptFile, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fsFoodTradeId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.reporttempletKey" >
    select 
    <include refid="Base_Column_List" />
    from tbreporttemplet
    where fsReportId = #{fsreportid,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsreporttempletid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.reporttempletKey" >
    delete from tbreporttemplet
    where fsReportId = #{fsreportid,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsreporttempletid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.reporttemplet" >
    insert into tbreporttemplet (fsReportId, fsReportTempletId, fsShopGUID, 
      fsReportTempletName, fsReportTempletDesc, 
      fiPaperSize, fsRptFile, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fsFoodTradeId)
    values (#{fsreportid,jdbcType=VARCHAR}, #{fsreporttempletid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, 
      #{fsreporttempletname,jdbcType=VARCHAR}, #{fsreporttempletdesc,jdbcType=VARCHAR}, 
      #{fipapersize,jdbcType=INTEGER}, #{fsrptfile,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, 
      #{fsfoodtradeid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.reporttemplet" >
    insert into tbreporttemplet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsreportid != null" >
        fsReportId,
      </if>
      <if test="fsreporttempletid != null" >
        fsReportTempletId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsreporttempletname != null" >
        fsReportTempletName,
      </if>
      <if test="fsreporttempletdesc != null" >
        fsReportTempletDesc,
      </if>
      <if test="fipapersize != null" >
        fiPaperSize,
      </if>
      <if test="fsrptfile != null" >
        fsRptFile,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fsfoodtradeid != null" >
        fsFoodTradeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsreportid != null" >
        #{fsreportid,jdbcType=VARCHAR},
      </if>
      <if test="fsreporttempletid != null" >
        #{fsreporttempletid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsreporttempletname != null" >
        #{fsreporttempletname,jdbcType=VARCHAR},
      </if>
      <if test="fsreporttempletdesc != null" >
        #{fsreporttempletdesc,jdbcType=VARCHAR},
      </if>
      <if test="fipapersize != null" >
        #{fipapersize,jdbcType=INTEGER},
      </if>
      <if test="fsrptfile != null" >
        #{fsrptfile,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsfoodtradeid != null" >
        #{fsfoodtradeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.reporttemplet" >
    update tbreporttemplet
    <set >
      <if test="fsreporttempletname != null" >
        fsReportTempletName = #{fsreporttempletname,jdbcType=VARCHAR},
      </if>
      <if test="fsreporttempletdesc != null" >
        fsReportTempletDesc = #{fsreporttempletdesc,jdbcType=VARCHAR},
      </if>
      <if test="fipapersize != null" >
        fiPaperSize = #{fipapersize,jdbcType=INTEGER},
      </if>
      <if test="fsrptfile != null" >
        fsRptFile = #{fsrptfile,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsfoodtradeid != null" >
        fsFoodTradeId = #{fsfoodtradeid,jdbcType=VARCHAR},
      </if>
    </set>
    where fsReportId = #{fsreportid,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsreporttempletid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.reporttemplet" >
    update tbreporttemplet
    set fsReportTempletName = #{fsreporttempletname,jdbcType=VARCHAR},
      fsReportTempletDesc = #{fsreporttempletdesc,jdbcType=VARCHAR},
      fiPaperSize = #{fipapersize,jdbcType=INTEGER},
      fsRptFile = #{fsrptfile,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fsFoodTradeId = #{fsfoodtradeid,jdbcType=VARCHAR}
    where fsReportId = #{fsreportid,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsreporttempletid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>