<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.ReuploadMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Reupload" >
    <id column="fsGuid" property="fsguid" jdbcType="VARCHAR" />
    <result column="fsCreatTime" property="fscreattime" jdbcType="VARCHAR" />
    <result column="fsShopGuid" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fsBeginTime" property="fsbegintime" jdbcType="VARCHAR" />
    <result column="fsEndTime" property="fsendtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsGuid, fsCreatTime, fsShopGuid, fiStatus, fsBeginTime, fsEndTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbreupload
    where fsGuid = #{fsguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbreupload
    where fsGuid = #{fsguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Reupload" >
    insert into tbreupload (fsGuid, fsCreatTime, fsShopGuid, 
      fiStatus, fsBeginTime, fsEndTime
      )
    values (#{fsguid,jdbcType=VARCHAR}, #{fscreattime,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fsbegintime,jdbcType=VARCHAR}, #{fsendtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Reupload" >
    insert into tbreupload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsguid != null" >
        fsGuid,
      </if>
      <if test="fscreattime != null" >
        fsCreatTime,
      </if>
      <if test="fsshopguid != null" >
        fsShopGuid,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fsbegintime != null" >
        fsBeginTime,
      </if>
      <if test="fsendtime != null" >
        fsEndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsguid != null" >
        #{fsguid,jdbcType=VARCHAR},
      </if>
      <if test="fscreattime != null" >
        #{fscreattime,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsbegintime != null" >
        #{fsbegintime,jdbcType=VARCHAR},
      </if>
      <if test="fsendtime != null" >
        #{fsendtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Reupload" >
    update tbreupload
    <set >
      <if test="fscreattime != null" >
        fsCreatTime = #{fscreattime,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        fsShopGuid = #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsbegintime != null" >
        fsBeginTime = #{fsbegintime,jdbcType=VARCHAR},
      </if>
      <if test="fsendtime != null" >
        fsEndTime = #{fsendtime,jdbcType=VARCHAR},
      </if>
    </set>
    where fsGuid = #{fsguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Reupload" >
    update tbreupload
    set fsCreatTime = #{fscreattime,jdbcType=VARCHAR},
      fsShopGuid = #{fsshopguid,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fsBeginTime = #{fsbegintime,jdbcType=VARCHAR},
      fsEndTime = #{fsendtime,jdbcType=VARCHAR}
    where fsGuid = #{fsguid,jdbcType=VARCHAR}
  </update>
</mapper>