<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.RevenuetypeMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Revenuetype" >
    <id column="fsRevenueTypeId" property="fsrevenuetypeid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsRevenueTypeName" property="fsrevenuetypename" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fiDataKind" property="fidatakind" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fisortorder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsRevenueTypeId, fsShopGUID, fsRevenueTypeName, fiStatus, fiDataKind, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName, fiSortOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.RevenuetypeKey" >
    select 
    <include refid="Base_Column_List" />
    from tbrevenuetype
    where fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.RevenuetypeKey" >
    delete from tbrevenuetype
    where fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Revenuetype" >
    insert into tbrevenuetype (fsRevenueTypeId, fsShopGUID, fsRevenueTypeName, 
      fiStatus, fiDataKind, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName, fiSortOrder
      )
    values (#{fsrevenuetypeid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsrevenuetypename,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fidatakind,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, 
      #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, #{fisortorder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Revenuetype" >
    insert into tbrevenuetype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsrevenuetypeid != null" >
        fsRevenueTypeId,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsrevenuetypename != null" >
        fsRevenueTypeName,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fidatakind != null" >
        fiDataKind,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fisortorder != null" >
        fiSortOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsrevenuetypeid != null" >
        #{fsrevenuetypeid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypename != null" >
        #{fsrevenuetypename,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fisortorder != null" >
        #{fisortorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Revenuetype" >
    update tbrevenuetype
    <set >
      <if test="fsrevenuetypename != null" >
        fsRevenueTypeName = #{fsrevenuetypename,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fidatakind != null" >
        fiDataKind = #{fidatakind,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fisortorder != null" >
        fiSortOrder = #{fisortorder,jdbcType=INTEGER},
      </if>
    </set>
    where fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Revenuetype" >
    update tbrevenuetype
    set fsRevenueTypeName = #{fsrevenuetypename,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fiDataKind = #{fidatakind,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiSortOrder = #{fisortorder,jdbcType=INTEGER}
    where fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>