<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.sellorderitemMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.sellorderitem" >
    <id column="fsSeq" property="fsseq" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsSellNo" property="fssellno" jdbcType="VARCHAR" />
    <result column="fiOrderSeq" property="fiorderseq" jdbcType="INTEGER" />
    <result column="fsMSectionId" property="fsmsectionid" jdbcType="VARCHAR" />
    <result column="fiOrderMode" property="fiordermode" jdbcType="INTEGER" />
    <result column="fiItemCd" property="fiitemcd" jdbcType="INTEGER" />
    <result column="fsItemId" property="fsitemid" jdbcType="VARCHAR" />
    <result column="fsItemName" property="fsitemname" jdbcType="VARCHAR" />
    <result column="fsItemName2" property="fsitemname2" jdbcType="VARCHAR" />
    <result column="fsOrderUint" property="fsorderuint" jdbcType="VARCHAR" />
    <result column="fiIsDiscount" property="fiisdiscount" jdbcType="INTEGER" />
    <result column="fiIsServiceFee" property="fiisservicefee" jdbcType="INTEGER" />
    <result column="fiIsEditPrice" property="fiiseditprice" jdbcType="INTEGER" />
    <result column="fiIsEditQty" property="fiiseditqty" jdbcType="INTEGER" />
    <result column="fiIsGift" property="fiisgift" jdbcType="INTEGER" />
    <result column="fiIsPrn" property="fiisprn" jdbcType="INTEGER" />
    <result column="fiIsQtyAssess" property="fiisqtyassess" jdbcType="INTEGER" />
    <result column="fiOrderItemKind" property="fiorderitemkind" jdbcType="INTEGER" />
    <result column="fsMenuClsId" property="fsmenuclsid" jdbcType="VARCHAR" />
    <result column="fsExpClsId" property="fsexpclsid" jdbcType="VARCHAR" />
    <result column="fsRevenueTypeId" property="fsrevenuetypeid" jdbcType="VARCHAR" />
    <result column="fdSalePrice" property="fdsaleprice" jdbcType="DECIMAL" />
    <result column="fdVIPPrice" property="fdvipprice" jdbcType="DECIMAL" />
    <result column="fdBargainPrice" property="fdbargainprice" jdbcType="DECIMAL" />
    <result column="fdAddPrice" property="fdaddprice" jdbcType="DECIMAL" />
    <result column="fdSettlePrice" property="fdsettleprice" jdbcType="DECIMAL" />
    <result column="fdSaleQty" property="fdsaleqty" jdbcType="DECIMAL" />
    <result column="fdSaleAmt" property="fdsaleamt" jdbcType="DECIMAL" />
    <result column="fiDiscountRate" property="fidiscountrate" jdbcType="INTEGER" />
    <result column="fdDiscountAmt" property="fddiscountamt" jdbcType="DECIMAL" />
    <result column="fdDisAfterAmt" property="fddisafteramt" jdbcType="DECIMAL" />
    <result column="fdGiftAmt" property="fdgiftamt" jdbcType="DECIMAL" />
    <result column="fdSubTotal" property="fdsubtotal" jdbcType="DECIMAL" />
    <result column="fdBackQty" property="fdbackqty" jdbcType="DECIMAL" />
    <result column="fdBackAmt" property="fdbackamt" jdbcType="DECIMAL" />
    <result column="fdSubTotal2" property="fdsubtotal2" jdbcType="DECIMAL" />
    <result column="fiServiceRate" property="fiservicerate" jdbcType="INTEGER" />
    <result column="fdServiceAmt" property="fdserviceamt" jdbcType="DECIMAL" />
    <result column="fiItemMakeSte" property="fiitemmakeste" jdbcType="INTEGER" />
    <result column="fsOrderTime" property="fsordertime" jdbcType="VARCHAR" />
    <result column="fiHurryTimes" property="fihurrytimes" jdbcType="INTEGER" />
    <result column="fiEraseNo" property="fieraseno" jdbcType="INTEGER" />
    <result column="fsEraseTime" property="fserasetime" jdbcType="VARCHAR" />
    <result column="fiItemMakeOrder" property="fiitemmakeorder" jdbcType="INTEGER" />
    <result column="fsSeq_M" property="fsseqM" jdbcType="VARCHAR" />
    <result column="fsSourceSellNo" property="fssourcesellno" jdbcType="VARCHAR" />
    <result column="fsSourceSeq" property="fssourceseq" jdbcType="VARCHAR" />
    <result column="fsSourceOrderTime" property="fssourceordertime" jdbcType="VARCHAR" />
    <result column="fsBackUserId" property="fsbackuserid" jdbcType="VARCHAR" />
    <result column="fsBackUserName" property="fsbackusername" jdbcType="VARCHAR" />
    <result column="fsBackReason" property="fsbackreason" jdbcType="VARCHAR" />
    <result column="fsGiftUserId" property="fsgiftuserid" jdbcType="VARCHAR" />
    <result column="fsGiftUserName" property="fsgiftusername" jdbcType="VARCHAR" />
    <result column="fsGiftReason" property="fsgiftreason" jdbcType="VARCHAR" />
    <result column="fsDiscountUserId" property="fsdiscountuserid" jdbcType="VARCHAR" />
    <result column="fsDiscountUserName" property="fsdiscountusername" jdbcType="VARCHAR" />
    <result column="fsDiscountReason" property="fsdiscountreason" jdbcType="VARCHAR" />
    <result column="fsEditPirceUserId" property="fseditpirceuserid" jdbcType="VARCHAR" />
    <result column="fsEditPirceUserName" property="fseditpirceusername" jdbcType="VARCHAR" />
    <result column="fsEditPirceReason" property="fseditpircereason" jdbcType="VARCHAR" />
    <result column="fsHostId" property="fshostid" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fscreatetime" jdbcType="VARCHAR" />
    <result column="fsCreateUserId" property="fscreateuserid" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fscreateusername" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fiSetFoodCd" property="fisetfoodcd" jdbcType="INTEGER" />
    <result column="fiOrderUintCd" property="fiorderuintcd" jdbcType="INTEGER" />
    <result column="fiPriceTag" property="fipricetag" jdbcType="INTEGER" />
    <result column="fiIsSetDtlPrn" property="fiissetdtlprn" jdbcType="INTEGER" />
    <result column="fsDataSrckind" property="fsdatasrckind" jdbcType="VARCHAR" />
    <result column="fsSrcVerno" property="fssrcverno" jdbcType="VARCHAR" />
    <result column="fdGiftqty" property="fdgiftqty" jdbcType="DECIMAL" />
    <result column="fsdeptname" property="fsdeptname" jdbcType="VARCHAR" />
    <result column="fsexpclsname" property="fsexpclsname" jdbcType="VARCHAR" />
    <result column="fsmsectionname" property="fsmsectionname" jdbcType="VARCHAR" />
    <result column="fsrevenuetypename" property="fsrevenuetypename" jdbcType="VARCHAR" />
    <result column="fsGifttime" property="fsgifttime" jdbcType="VARCHAR" />
    <result column="fsBacktime" property="fsbacktime" jdbcType="VARCHAR" />
    <result column="fsBackremark" property="fsbackremark" jdbcType="VARCHAR" />
    <result column="fsmenuclsname" property="fsmenuclsname" jdbcType="VARCHAR" />
    <result column="lver" property="lver" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pos.entity.sellorderitemWithBLOBs" extends="BaseResultMap" >
    <result column="fsDeptId" property="fsdeptid" jdbcType="LONGVARCHAR" />
    <result column="fsNote" property="fsnote" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsSeq, fsShopGUID, fsSellNo, fiOrderSeq, fsMSectionId, fiOrderMode, fiItemCd, fsItemId, 
    fsItemName, fsItemName2, fsOrderUint, fiIsDiscount, fiIsServiceFee, fiIsEditPrice, 
    fiIsEditQty, fiIsGift, fiIsPrn, fiIsQtyAssess, fiOrderItemKind, fsMenuClsId, fsExpClsId, 
    fsRevenueTypeId, fdSalePrice, fdVIPPrice, fdBargainPrice, fdAddPrice, fdSettlePrice, 
    fdSaleQty, fdSaleAmt, fiDiscountRate, fdDiscountAmt, fdDisAfterAmt, fdGiftAmt, fdSubTotal, 
    fdBackQty, fdBackAmt, fdSubTotal2, fiServiceRate, fdServiceAmt, fiItemMakeSte, fsOrderTime, 
    fiHurryTimes, fiEraseNo, fsEraseTime, fiItemMakeOrder, fsSeq_M, fsSourceSellNo, fsSourceSeq, 
    fsSourceOrderTime, fsBackUserId, fsBackUserName, fsBackReason, fsGiftUserId, fsGiftUserName, 
    fsGiftReason, fsDiscountUserId, fsDiscountUserName, fsDiscountReason, fsEditPirceUserId, 
    fsEditPirceUserName, fsEditPirceReason, fsHostId, fsCreateTime, fsCreateUserId, fsCreateUserName, 
    fsUpdateTime, fiSetFoodCd, fiOrderUintCd, fiPriceTag, fiIsSetDtlPrn, fsDataSrckind, 
    fsSrcVerno, fdGiftqty, fsdeptname, fsexpclsname, fsmsectionname, fsrevenuetypename, 
    fsGifttime, fsBacktime, fsBackremark, fsmenuclsname, lver
  </sql>
  <sql id="Blob_Column_List" >
    fsDeptId, fsNote
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.pos.entity.sellorderitemKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbsellorderitem
    where fsSeq = #{fsseq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.sellorderitemKey" >
    delete from tbsellorderitem
    where fsSeq = #{fsseq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.sellorderitemWithBLOBs" >
    insert into tbsellorderitem (fsSeq, fsShopGUID, fsSellNo, 
      fiOrderSeq, fsMSectionId, fiOrderMode, 
      fiItemCd, fsItemId, fsItemName, 
      fsItemName2, fsOrderUint, fiIsDiscount, 
      fiIsServiceFee, fiIsEditPrice, fiIsEditQty, 
      fiIsGift, fiIsPrn, fiIsQtyAssess, 
      fiOrderItemKind, fsMenuClsId, fsExpClsId, 
      fsRevenueTypeId, fdSalePrice, fdVIPPrice, 
      fdBargainPrice, fdAddPrice, fdSettlePrice, 
      fdSaleQty, fdSaleAmt, fiDiscountRate, 
      fdDiscountAmt, fdDisAfterAmt, fdGiftAmt, 
      fdSubTotal, fdBackQty, fdBackAmt, 
      fdSubTotal2, fiServiceRate, fdServiceAmt, 
      fiItemMakeSte, fsOrderTime, fiHurryTimes, 
      fiEraseNo, fsEraseTime, fiItemMakeOrder, 
      fsSeq_M, fsSourceSellNo, fsSourceSeq, 
      fsSourceOrderTime, fsBackUserId, fsBackUserName, 
      fsBackReason, fsGiftUserId, fsGiftUserName, 
      fsGiftReason, fsDiscountUserId, fsDiscountUserName, 
      fsDiscountReason, fsEditPirceUserId, fsEditPirceUserName, 
      fsEditPirceReason, fsHostId, fsCreateTime, 
      fsCreateUserId, fsCreateUserName, fsUpdateTime, 
      fiSetFoodCd, fiOrderUintCd, fiPriceTag, 
      fiIsSetDtlPrn, fsDataSrckind, fsSrcVerno, 
      fdGiftqty, fsdeptname, fsexpclsname, 
      fsmsectionname, fsrevenuetypename, fsGifttime, 
      fsBacktime, fsBackremark, fsmenuclsname, 
      lver, fsDeptId, fsNote
      )
    values (#{fsseq,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fssellno,jdbcType=VARCHAR}, 
      #{fiorderseq,jdbcType=INTEGER}, #{fsmsectionid,jdbcType=VARCHAR}, #{fiordermode,jdbcType=INTEGER}, 
      #{fiitemcd,jdbcType=INTEGER}, #{fsitemid,jdbcType=VARCHAR}, #{fsitemname,jdbcType=VARCHAR}, 
      #{fsitemname2,jdbcType=VARCHAR}, #{fsorderuint,jdbcType=VARCHAR}, #{fiisdiscount,jdbcType=INTEGER}, 
      #{fiisservicefee,jdbcType=INTEGER}, #{fiiseditprice,jdbcType=INTEGER}, #{fiiseditqty,jdbcType=INTEGER}, 
      #{fiisgift,jdbcType=INTEGER}, #{fiisprn,jdbcType=INTEGER}, #{fiisqtyassess,jdbcType=INTEGER}, 
      #{fiorderitemkind,jdbcType=INTEGER}, #{fsmenuclsid,jdbcType=VARCHAR}, #{fsexpclsid,jdbcType=VARCHAR}, 
      #{fsrevenuetypeid,jdbcType=VARCHAR}, #{fdsaleprice,jdbcType=DECIMAL}, #{fdvipprice,jdbcType=DECIMAL}, 
      #{fdbargainprice,jdbcType=DECIMAL}, #{fdaddprice,jdbcType=DECIMAL}, #{fdsettleprice,jdbcType=DECIMAL}, 
      #{fdsaleqty,jdbcType=DECIMAL}, #{fdsaleamt,jdbcType=DECIMAL}, #{fidiscountrate,jdbcType=INTEGER}, 
      #{fddiscountamt,jdbcType=DECIMAL}, #{fddisafteramt,jdbcType=DECIMAL}, #{fdgiftamt,jdbcType=DECIMAL}, 
      #{fdsubtotal,jdbcType=DECIMAL}, #{fdbackqty,jdbcType=DECIMAL}, #{fdbackamt,jdbcType=DECIMAL}, 
      #{fdsubtotal2,jdbcType=DECIMAL}, #{fiservicerate,jdbcType=INTEGER}, #{fdserviceamt,jdbcType=DECIMAL}, 
      #{fiitemmakeste,jdbcType=INTEGER}, #{fsordertime,jdbcType=VARCHAR}, #{fihurrytimes,jdbcType=INTEGER}, 
      #{fieraseno,jdbcType=INTEGER}, #{fserasetime,jdbcType=VARCHAR}, #{fiitemmakeorder,jdbcType=INTEGER}, 
      #{fsseqM,jdbcType=VARCHAR}, #{fssourcesellno,jdbcType=VARCHAR}, #{fssourceseq,jdbcType=VARCHAR}, 
      #{fssourceordertime,jdbcType=VARCHAR}, #{fsbackuserid,jdbcType=VARCHAR}, #{fsbackusername,jdbcType=VARCHAR}, 
      #{fsbackreason,jdbcType=VARCHAR}, #{fsgiftuserid,jdbcType=VARCHAR}, #{fsgiftusername,jdbcType=VARCHAR}, 
      #{fsgiftreason,jdbcType=VARCHAR}, #{fsdiscountuserid,jdbcType=VARCHAR}, #{fsdiscountusername,jdbcType=VARCHAR}, 
      #{fsdiscountreason,jdbcType=VARCHAR}, #{fseditpirceuserid,jdbcType=VARCHAR}, #{fseditpirceusername,jdbcType=VARCHAR}, 
      #{fseditpircereason,jdbcType=VARCHAR}, #{fshostid,jdbcType=VARCHAR}, #{fscreatetime,jdbcType=VARCHAR}, 
      #{fscreateuserid,jdbcType=VARCHAR}, #{fscreateusername,jdbcType=VARCHAR}, #{fsupdatetime,jdbcType=VARCHAR}, 
      #{fisetfoodcd,jdbcType=INTEGER}, #{fiorderuintcd,jdbcType=INTEGER}, #{fipricetag,jdbcType=INTEGER}, 
      #{fiissetdtlprn,jdbcType=INTEGER}, #{fsdatasrckind,jdbcType=VARCHAR}, #{fssrcverno,jdbcType=VARCHAR}, 
      #{fdgiftqty,jdbcType=DECIMAL}, #{fsdeptname,jdbcType=VARCHAR}, #{fsexpclsname,jdbcType=VARCHAR}, 
      #{fsmsectionname,jdbcType=VARCHAR}, #{fsrevenuetypename,jdbcType=VARCHAR}, #{fsgifttime,jdbcType=VARCHAR}, 
      #{fsbacktime,jdbcType=VARCHAR}, #{fsbackremark,jdbcType=VARCHAR}, #{fsmenuclsname,jdbcType=VARCHAR}, 
      #{lver,jdbcType=INTEGER}, #{fsdeptid,jdbcType=LONGVARCHAR}, #{fsnote,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.sellorderitemWithBLOBs" >
    insert into tbsellorderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsseq != null" >
        fsSeq,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fssellno != null" >
        fsSellNo,
      </if>
      <if test="fiorderseq != null" >
        fiOrderSeq,
      </if>
      <if test="fsmsectionid != null" >
        fsMSectionId,
      </if>
      <if test="fiordermode != null" >
        fiOrderMode,
      </if>
      <if test="fiitemcd != null" >
        fiItemCd,
      </if>
      <if test="fsitemid != null" >
        fsItemId,
      </if>
      <if test="fsitemname != null" >
        fsItemName,
      </if>
      <if test="fsitemname2 != null" >
        fsItemName2,
      </if>
      <if test="fsorderuint != null" >
        fsOrderUint,
      </if>
      <if test="fiisdiscount != null" >
        fiIsDiscount,
      </if>
      <if test="fiisservicefee != null" >
        fiIsServiceFee,
      </if>
      <if test="fiiseditprice != null" >
        fiIsEditPrice,
      </if>
      <if test="fiiseditqty != null" >
        fiIsEditQty,
      </if>
      <if test="fiisgift != null" >
        fiIsGift,
      </if>
      <if test="fiisprn != null" >
        fiIsPrn,
      </if>
      <if test="fiisqtyassess != null" >
        fiIsQtyAssess,
      </if>
      <if test="fiorderitemkind != null" >
        fiOrderItemKind,
      </if>
      <if test="fsmenuclsid != null" >
        fsMenuClsId,
      </if>
      <if test="fsexpclsid != null" >
        fsExpClsId,
      </if>
      <if test="fsrevenuetypeid != null" >
        fsRevenueTypeId,
      </if>
      <if test="fdsaleprice != null" >
        fdSalePrice,
      </if>
      <if test="fdvipprice != null" >
        fdVIPPrice,
      </if>
      <if test="fdbargainprice != null" >
        fdBargainPrice,
      </if>
      <if test="fdaddprice != null" >
        fdAddPrice,
      </if>
      <if test="fdsettleprice != null" >
        fdSettlePrice,
      </if>
      <if test="fdsaleqty != null" >
        fdSaleQty,
      </if>
      <if test="fdsaleamt != null" >
        fdSaleAmt,
      </if>
      <if test="fidiscountrate != null" >
        fiDiscountRate,
      </if>
      <if test="fddiscountamt != null" >
        fdDiscountAmt,
      </if>
      <if test="fddisafteramt != null" >
        fdDisAfterAmt,
      </if>
      <if test="fdgiftamt != null" >
        fdGiftAmt,
      </if>
      <if test="fdsubtotal != null" >
        fdSubTotal,
      </if>
      <if test="fdbackqty != null" >
        fdBackQty,
      </if>
      <if test="fdbackamt != null" >
        fdBackAmt,
      </if>
      <if test="fdsubtotal2 != null" >
        fdSubTotal2,
      </if>
      <if test="fiservicerate != null" >
        fiServiceRate,
      </if>
      <if test="fdserviceamt != null" >
        fdServiceAmt,
      </if>
      <if test="fiitemmakeste != null" >
        fiItemMakeSte,
      </if>
      <if test="fsordertime != null" >
        fsOrderTime,
      </if>
      <if test="fihurrytimes != null" >
        fiHurryTimes,
      </if>
      <if test="fieraseno != null" >
        fiEraseNo,
      </if>
      <if test="fserasetime != null" >
        fsEraseTime,
      </if>
      <if test="fiitemmakeorder != null" >
        fiItemMakeOrder,
      </if>
      <if test="fsseqM != null" >
        fsSeq_M,
      </if>
      <if test="fssourcesellno != null" >
        fsSourceSellNo,
      </if>
      <if test="fssourceseq != null" >
        fsSourceSeq,
      </if>
      <if test="fssourceordertime != null" >
        fsSourceOrderTime,
      </if>
      <if test="fsbackuserid != null" >
        fsBackUserId,
      </if>
      <if test="fsbackusername != null" >
        fsBackUserName,
      </if>
      <if test="fsbackreason != null" >
        fsBackReason,
      </if>
      <if test="fsgiftuserid != null" >
        fsGiftUserId,
      </if>
      <if test="fsgiftusername != null" >
        fsGiftUserName,
      </if>
      <if test="fsgiftreason != null" >
        fsGiftReason,
      </if>
      <if test="fsdiscountuserid != null" >
        fsDiscountUserId,
      </if>
      <if test="fsdiscountusername != null" >
        fsDiscountUserName,
      </if>
      <if test="fsdiscountreason != null" >
        fsDiscountReason,
      </if>
      <if test="fseditpirceuserid != null" >
        fsEditPirceUserId,
      </if>
      <if test="fseditpirceusername != null" >
        fsEditPirceUserName,
      </if>
      <if test="fseditpircereason != null" >
        fsEditPirceReason,
      </if>
      <if test="fshostid != null" >
        fsHostId,
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime,
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId,
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fisetfoodcd != null" >
        fiSetFoodCd,
      </if>
      <if test="fiorderuintcd != null" >
        fiOrderUintCd,
      </if>
      <if test="fipricetag != null" >
        fiPriceTag,
      </if>
      <if test="fiissetdtlprn != null" >
        fiIsSetDtlPrn,
      </if>
      <if test="fsdatasrckind != null" >
        fsDataSrckind,
      </if>
      <if test="fssrcverno != null" >
        fsSrcVerno,
      </if>
      <if test="fdgiftqty != null" >
        fdGiftqty,
      </if>
      <if test="fsdeptname != null" >
        fsdeptname,
      </if>
      <if test="fsexpclsname != null" >
        fsexpclsname,
      </if>
      <if test="fsmsectionname != null" >
        fsmsectionname,
      </if>
      <if test="fsrevenuetypename != null" >
        fsrevenuetypename,
      </if>
      <if test="fsgifttime != null" >
        fsGifttime,
      </if>
      <if test="fsbacktime != null" >
        fsBacktime,
      </if>
      <if test="fsbackremark != null" >
        fsBackremark,
      </if>
      <if test="fsmenuclsname != null" >
        fsmenuclsname,
      </if>
      <if test="lver != null" >
        lver,
      </if>
      <if test="fsdeptid != null" >
        fsDeptId,
      </if>
      <if test="fsnote != null" >
        fsNote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsseq != null" >
        #{fsseq,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fssellno != null" >
        #{fssellno,jdbcType=VARCHAR},
      </if>
      <if test="fiorderseq != null" >
        #{fiorderseq,jdbcType=INTEGER},
      </if>
      <if test="fsmsectionid != null" >
        #{fsmsectionid,jdbcType=VARCHAR},
      </if>
      <if test="fiordermode != null" >
        #{fiordermode,jdbcType=INTEGER},
      </if>
      <if test="fiitemcd != null" >
        #{fiitemcd,jdbcType=INTEGER},
      </if>
      <if test="fsitemid != null" >
        #{fsitemid,jdbcType=VARCHAR},
      </if>
      <if test="fsitemname != null" >
        #{fsitemname,jdbcType=VARCHAR},
      </if>
      <if test="fsitemname2 != null" >
        #{fsitemname2,jdbcType=VARCHAR},
      </if>
      <if test="fsorderuint != null" >
        #{fsorderuint,jdbcType=VARCHAR},
      </if>
      <if test="fiisdiscount != null" >
        #{fiisdiscount,jdbcType=INTEGER},
      </if>
      <if test="fiisservicefee != null" >
        #{fiisservicefee,jdbcType=INTEGER},
      </if>
      <if test="fiiseditprice != null" >
        #{fiiseditprice,jdbcType=INTEGER},
      </if>
      <if test="fiiseditqty != null" >
        #{fiiseditqty,jdbcType=INTEGER},
      </if>
      <if test="fiisgift != null" >
        #{fiisgift,jdbcType=INTEGER},
      </if>
      <if test="fiisprn != null" >
        #{fiisprn,jdbcType=INTEGER},
      </if>
      <if test="fiisqtyassess != null" >
        #{fiisqtyassess,jdbcType=INTEGER},
      </if>
      <if test="fiorderitemkind != null" >
        #{fiorderitemkind,jdbcType=INTEGER},
      </if>
      <if test="fsmenuclsid != null" >
        #{fsmenuclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsid != null" >
        #{fsexpclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypeid != null" >
        #{fsrevenuetypeid,jdbcType=VARCHAR},
      </if>
      <if test="fdsaleprice != null" >
        #{fdsaleprice,jdbcType=DECIMAL},
      </if>
      <if test="fdvipprice != null" >
        #{fdvipprice,jdbcType=DECIMAL},
      </if>
      <if test="fdbargainprice != null" >
        #{fdbargainprice,jdbcType=DECIMAL},
      </if>
      <if test="fdaddprice != null" >
        #{fdaddprice,jdbcType=DECIMAL},
      </if>
      <if test="fdsettleprice != null" >
        #{fdsettleprice,jdbcType=DECIMAL},
      </if>
      <if test="fdsaleqty != null" >
        #{fdsaleqty,jdbcType=DECIMAL},
      </if>
      <if test="fdsaleamt != null" >
        #{fdsaleamt,jdbcType=DECIMAL},
      </if>
      <if test="fidiscountrate != null" >
        #{fidiscountrate,jdbcType=INTEGER},
      </if>
      <if test="fddiscountamt != null" >
        #{fddiscountamt,jdbcType=DECIMAL},
      </if>
      <if test="fddisafteramt != null" >
        #{fddisafteramt,jdbcType=DECIMAL},
      </if>
      <if test="fdgiftamt != null" >
        #{fdgiftamt,jdbcType=DECIMAL},
      </if>
      <if test="fdsubtotal != null" >
        #{fdsubtotal,jdbcType=DECIMAL},
      </if>
      <if test="fdbackqty != null" >
        #{fdbackqty,jdbcType=DECIMAL},
      </if>
      <if test="fdbackamt != null" >
        #{fdbackamt,jdbcType=DECIMAL},
      </if>
      <if test="fdsubtotal2 != null" >
        #{fdsubtotal2,jdbcType=DECIMAL},
      </if>
      <if test="fiservicerate != null" >
        #{fiservicerate,jdbcType=INTEGER},
      </if>
      <if test="fdserviceamt != null" >
        #{fdserviceamt,jdbcType=DECIMAL},
      </if>
      <if test="fiitemmakeste != null" >
        #{fiitemmakeste,jdbcType=INTEGER},
      </if>
      <if test="fsordertime != null" >
        #{fsordertime,jdbcType=VARCHAR},
      </if>
      <if test="fihurrytimes != null" >
        #{fihurrytimes,jdbcType=INTEGER},
      </if>
      <if test="fieraseno != null" >
        #{fieraseno,jdbcType=INTEGER},
      </if>
      <if test="fserasetime != null" >
        #{fserasetime,jdbcType=VARCHAR},
      </if>
      <if test="fiitemmakeorder != null" >
        #{fiitemmakeorder,jdbcType=INTEGER},
      </if>
      <if test="fsseqM != null" >
        #{fsseqM,jdbcType=VARCHAR},
      </if>
      <if test="fssourcesellno != null" >
        #{fssourcesellno,jdbcType=VARCHAR},
      </if>
      <if test="fssourceseq != null" >
        #{fssourceseq,jdbcType=VARCHAR},
      </if>
      <if test="fssourceordertime != null" >
        #{fssourceordertime,jdbcType=VARCHAR},
      </if>
      <if test="fsbackuserid != null" >
        #{fsbackuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsbackusername != null" >
        #{fsbackusername,jdbcType=VARCHAR},
      </if>
      <if test="fsbackreason != null" >
        #{fsbackreason,jdbcType=VARCHAR},
      </if>
      <if test="fsgiftuserid != null" >
        #{fsgiftuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsgiftusername != null" >
        #{fsgiftusername,jdbcType=VARCHAR},
      </if>
      <if test="fsgiftreason != null" >
        #{fsgiftreason,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountuserid != null" >
        #{fsdiscountuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountusername != null" >
        #{fsdiscountusername,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountreason != null" >
        #{fsdiscountreason,jdbcType=VARCHAR},
      </if>
      <if test="fseditpirceuserid != null" >
        #{fseditpirceuserid,jdbcType=VARCHAR},
      </if>
      <if test="fseditpirceusername != null" >
        #{fseditpirceusername,jdbcType=VARCHAR},
      </if>
      <if test="fseditpircereason != null" >
        #{fseditpircereason,jdbcType=VARCHAR},
      </if>
      <if test="fshostid != null" >
        #{fshostid,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fisetfoodcd != null" >
        #{fisetfoodcd,jdbcType=INTEGER},
      </if>
      <if test="fiorderuintcd != null" >
        #{fiorderuintcd,jdbcType=INTEGER},
      </if>
      <if test="fipricetag != null" >
        #{fipricetag,jdbcType=INTEGER},
      </if>
      <if test="fiissetdtlprn != null" >
        #{fiissetdtlprn,jdbcType=INTEGER},
      </if>
      <if test="fsdatasrckind != null" >
        #{fsdatasrckind,jdbcType=VARCHAR},
      </if>
      <if test="fssrcverno != null" >
        #{fssrcverno,jdbcType=VARCHAR},
      </if>
      <if test="fdgiftqty != null" >
        #{fdgiftqty,jdbcType=DECIMAL},
      </if>
      <if test="fsdeptname != null" >
        #{fsdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsname != null" >
        #{fsexpclsname,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionname != null" >
        #{fsmsectionname,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypename != null" >
        #{fsrevenuetypename,jdbcType=VARCHAR},
      </if>
      <if test="fsgifttime != null" >
        #{fsgifttime,jdbcType=VARCHAR},
      </if>
      <if test="fsbacktime != null" >
        #{fsbacktime,jdbcType=VARCHAR},
      </if>
      <if test="fsbackremark != null" >
        #{fsbackremark,jdbcType=VARCHAR},
      </if>
      <if test="fsmenuclsname != null" >
        #{fsmenuclsname,jdbcType=VARCHAR},
      </if>
      <if test="lver != null" >
        #{lver,jdbcType=INTEGER},
      </if>
      <if test="fsdeptid != null" >
        #{fsdeptid,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsnote != null" >
        #{fsnote,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.sellorderitemWithBLOBs" >
    update tbsellorderitem
    <set >
      <if test="fssellno != null" >
        fsSellNo = #{fssellno,jdbcType=VARCHAR},
      </if>
      <if test="fiorderseq != null" >
        fiOrderSeq = #{fiorderseq,jdbcType=INTEGER},
      </if>
      <if test="fsmsectionid != null" >
        fsMSectionId = #{fsmsectionid,jdbcType=VARCHAR},
      </if>
      <if test="fiordermode != null" >
        fiOrderMode = #{fiordermode,jdbcType=INTEGER},
      </if>
      <if test="fiitemcd != null" >
        fiItemCd = #{fiitemcd,jdbcType=INTEGER},
      </if>
      <if test="fsitemid != null" >
        fsItemId = #{fsitemid,jdbcType=VARCHAR},
      </if>
      <if test="fsitemname != null" >
        fsItemName = #{fsitemname,jdbcType=VARCHAR},
      </if>
      <if test="fsitemname2 != null" >
        fsItemName2 = #{fsitemname2,jdbcType=VARCHAR},
      </if>
      <if test="fsorderuint != null" >
        fsOrderUint = #{fsorderuint,jdbcType=VARCHAR},
      </if>
      <if test="fiisdiscount != null" >
        fiIsDiscount = #{fiisdiscount,jdbcType=INTEGER},
      </if>
      <if test="fiisservicefee != null" >
        fiIsServiceFee = #{fiisservicefee,jdbcType=INTEGER},
      </if>
      <if test="fiiseditprice != null" >
        fiIsEditPrice = #{fiiseditprice,jdbcType=INTEGER},
      </if>
      <if test="fiiseditqty != null" >
        fiIsEditQty = #{fiiseditqty,jdbcType=INTEGER},
      </if>
      <if test="fiisgift != null" >
        fiIsGift = #{fiisgift,jdbcType=INTEGER},
      </if>
      <if test="fiisprn != null" >
        fiIsPrn = #{fiisprn,jdbcType=INTEGER},
      </if>
      <if test="fiisqtyassess != null" >
        fiIsQtyAssess = #{fiisqtyassess,jdbcType=INTEGER},
      </if>
      <if test="fiorderitemkind != null" >
        fiOrderItemKind = #{fiorderitemkind,jdbcType=INTEGER},
      </if>
      <if test="fsmenuclsid != null" >
        fsMenuClsId = #{fsmenuclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsid != null" >
        fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypeid != null" >
        fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR},
      </if>
      <if test="fdsaleprice != null" >
        fdSalePrice = #{fdsaleprice,jdbcType=DECIMAL},
      </if>
      <if test="fdvipprice != null" >
        fdVIPPrice = #{fdvipprice,jdbcType=DECIMAL},
      </if>
      <if test="fdbargainprice != null" >
        fdBargainPrice = #{fdbargainprice,jdbcType=DECIMAL},
      </if>
      <if test="fdaddprice != null" >
        fdAddPrice = #{fdaddprice,jdbcType=DECIMAL},
      </if>
      <if test="fdsettleprice != null" >
        fdSettlePrice = #{fdsettleprice,jdbcType=DECIMAL},
      </if>
      <if test="fdsaleqty != null" >
        fdSaleQty = #{fdsaleqty,jdbcType=DECIMAL},
      </if>
      <if test="fdsaleamt != null" >
        fdSaleAmt = #{fdsaleamt,jdbcType=DECIMAL},
      </if>
      <if test="fidiscountrate != null" >
        fiDiscountRate = #{fidiscountrate,jdbcType=INTEGER},
      </if>
      <if test="fddiscountamt != null" >
        fdDiscountAmt = #{fddiscountamt,jdbcType=DECIMAL},
      </if>
      <if test="fddisafteramt != null" >
        fdDisAfterAmt = #{fddisafteramt,jdbcType=DECIMAL},
      </if>
      <if test="fdgiftamt != null" >
        fdGiftAmt = #{fdgiftamt,jdbcType=DECIMAL},
      </if>
      <if test="fdsubtotal != null" >
        fdSubTotal = #{fdsubtotal,jdbcType=DECIMAL},
      </if>
      <if test="fdbackqty != null" >
        fdBackQty = #{fdbackqty,jdbcType=DECIMAL},
      </if>
      <if test="fdbackamt != null" >
        fdBackAmt = #{fdbackamt,jdbcType=DECIMAL},
      </if>
      <if test="fdsubtotal2 != null" >
        fdSubTotal2 = #{fdsubtotal2,jdbcType=DECIMAL},
      </if>
      <if test="fiservicerate != null" >
        fiServiceRate = #{fiservicerate,jdbcType=INTEGER},
      </if>
      <if test="fdserviceamt != null" >
        fdServiceAmt = #{fdserviceamt,jdbcType=DECIMAL},
      </if>
      <if test="fiitemmakeste != null" >
        fiItemMakeSte = #{fiitemmakeste,jdbcType=INTEGER},
      </if>
      <if test="fsordertime != null" >
        fsOrderTime = #{fsordertime,jdbcType=VARCHAR},
      </if>
      <if test="fihurrytimes != null" >
        fiHurryTimes = #{fihurrytimes,jdbcType=INTEGER},
      </if>
      <if test="fieraseno != null" >
        fiEraseNo = #{fieraseno,jdbcType=INTEGER},
      </if>
      <if test="fserasetime != null" >
        fsEraseTime = #{fserasetime,jdbcType=VARCHAR},
      </if>
      <if test="fiitemmakeorder != null" >
        fiItemMakeOrder = #{fiitemmakeorder,jdbcType=INTEGER},
      </if>
      <if test="fsseqM != null" >
        fsSeq_M = #{fsseqM,jdbcType=VARCHAR},
      </if>
      <if test="fssourcesellno != null" >
        fsSourceSellNo = #{fssourcesellno,jdbcType=VARCHAR},
      </if>
      <if test="fssourceseq != null" >
        fsSourceSeq = #{fssourceseq,jdbcType=VARCHAR},
      </if>
      <if test="fssourceordertime != null" >
        fsSourceOrderTime = #{fssourceordertime,jdbcType=VARCHAR},
      </if>
      <if test="fsbackuserid != null" >
        fsBackUserId = #{fsbackuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsbackusername != null" >
        fsBackUserName = #{fsbackusername,jdbcType=VARCHAR},
      </if>
      <if test="fsbackreason != null" >
        fsBackReason = #{fsbackreason,jdbcType=VARCHAR},
      </if>
      <if test="fsgiftuserid != null" >
        fsGiftUserId = #{fsgiftuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsgiftusername != null" >
        fsGiftUserName = #{fsgiftusername,jdbcType=VARCHAR},
      </if>
      <if test="fsgiftreason != null" >
        fsGiftReason = #{fsgiftreason,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountuserid != null" >
        fsDiscountUserId = #{fsdiscountuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountusername != null" >
        fsDiscountUserName = #{fsdiscountusername,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountreason != null" >
        fsDiscountReason = #{fsdiscountreason,jdbcType=VARCHAR},
      </if>
      <if test="fseditpirceuserid != null" >
        fsEditPirceUserId = #{fseditpirceuserid,jdbcType=VARCHAR},
      </if>
      <if test="fseditpirceusername != null" >
        fsEditPirceUserName = #{fseditpirceusername,jdbcType=VARCHAR},
      </if>
      <if test="fseditpircereason != null" >
        fsEditPirceReason = #{fseditpircereason,jdbcType=VARCHAR},
      </if>
      <if test="fshostid != null" >
        fsHostId = #{fshostid,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fisetfoodcd != null" >
        fiSetFoodCd = #{fisetfoodcd,jdbcType=INTEGER},
      </if>
      <if test="fiorderuintcd != null" >
        fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER},
      </if>
      <if test="fipricetag != null" >
        fiPriceTag = #{fipricetag,jdbcType=INTEGER},
      </if>
      <if test="fiissetdtlprn != null" >
        fiIsSetDtlPrn = #{fiissetdtlprn,jdbcType=INTEGER},
      </if>
      <if test="fsdatasrckind != null" >
        fsDataSrckind = #{fsdatasrckind,jdbcType=VARCHAR},
      </if>
      <if test="fssrcverno != null" >
        fsSrcVerno = #{fssrcverno,jdbcType=VARCHAR},
      </if>
      <if test="fdgiftqty != null" >
        fdGiftqty = #{fdgiftqty,jdbcType=DECIMAL},
      </if>
      <if test="fsdeptname != null" >
        fsdeptname = #{fsdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsname != null" >
        fsexpclsname = #{fsexpclsname,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionname != null" >
        fsmsectionname = #{fsmsectionname,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypename != null" >
        fsrevenuetypename = #{fsrevenuetypename,jdbcType=VARCHAR},
      </if>
      <if test="fsgifttime != null" >
        fsGifttime = #{fsgifttime,jdbcType=VARCHAR},
      </if>
      <if test="fsbacktime != null" >
        fsBacktime = #{fsbacktime,jdbcType=VARCHAR},
      </if>
      <if test="fsbackremark != null" >
        fsBackremark = #{fsbackremark,jdbcType=VARCHAR},
      </if>
      <if test="fsmenuclsname != null" >
        fsmenuclsname = #{fsmenuclsname,jdbcType=VARCHAR},
      </if>
      <if test="lver != null" >
        lver = #{lver,jdbcType=INTEGER},
      </if>
      <if test="fsdeptid != null" >
        fsDeptId = #{fsdeptid,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsnote != null" >
        fsNote = #{fsnote,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fsSeq = #{fsseq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pos.entity.sellorderitemWithBLOBs" >
    update tbsellorderitem
    set fsSellNo = #{fssellno,jdbcType=VARCHAR},
      fiOrderSeq = #{fiorderseq,jdbcType=INTEGER},
      fsMSectionId = #{fsmsectionid,jdbcType=VARCHAR},
      fiOrderMode = #{fiordermode,jdbcType=INTEGER},
      fiItemCd = #{fiitemcd,jdbcType=INTEGER},
      fsItemId = #{fsitemid,jdbcType=VARCHAR},
      fsItemName = #{fsitemname,jdbcType=VARCHAR},
      fsItemName2 = #{fsitemname2,jdbcType=VARCHAR},
      fsOrderUint = #{fsorderuint,jdbcType=VARCHAR},
      fiIsDiscount = #{fiisdiscount,jdbcType=INTEGER},
      fiIsServiceFee = #{fiisservicefee,jdbcType=INTEGER},
      fiIsEditPrice = #{fiiseditprice,jdbcType=INTEGER},
      fiIsEditQty = #{fiiseditqty,jdbcType=INTEGER},
      fiIsGift = #{fiisgift,jdbcType=INTEGER},
      fiIsPrn = #{fiisprn,jdbcType=INTEGER},
      fiIsQtyAssess = #{fiisqtyassess,jdbcType=INTEGER},
      fiOrderItemKind = #{fiorderitemkind,jdbcType=INTEGER},
      fsMenuClsId = #{fsmenuclsid,jdbcType=VARCHAR},
      fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR},
      fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR},
      fdSalePrice = #{fdsaleprice,jdbcType=DECIMAL},
      fdVIPPrice = #{fdvipprice,jdbcType=DECIMAL},
      fdBargainPrice = #{fdbargainprice,jdbcType=DECIMAL},
      fdAddPrice = #{fdaddprice,jdbcType=DECIMAL},
      fdSettlePrice = #{fdsettleprice,jdbcType=DECIMAL},
      fdSaleQty = #{fdsaleqty,jdbcType=DECIMAL},
      fdSaleAmt = #{fdsaleamt,jdbcType=DECIMAL},
      fiDiscountRate = #{fidiscountrate,jdbcType=INTEGER},
      fdDiscountAmt = #{fddiscountamt,jdbcType=DECIMAL},
      fdDisAfterAmt = #{fddisafteramt,jdbcType=DECIMAL},
      fdGiftAmt = #{fdgiftamt,jdbcType=DECIMAL},
      fdSubTotal = #{fdsubtotal,jdbcType=DECIMAL},
      fdBackQty = #{fdbackqty,jdbcType=DECIMAL},
      fdBackAmt = #{fdbackamt,jdbcType=DECIMAL},
      fdSubTotal2 = #{fdsubtotal2,jdbcType=DECIMAL},
      fiServiceRate = #{fiservicerate,jdbcType=INTEGER},
      fdServiceAmt = #{fdserviceamt,jdbcType=DECIMAL},
      fiItemMakeSte = #{fiitemmakeste,jdbcType=INTEGER},
      fsOrderTime = #{fsordertime,jdbcType=VARCHAR},
      fiHurryTimes = #{fihurrytimes,jdbcType=INTEGER},
      fiEraseNo = #{fieraseno,jdbcType=INTEGER},
      fsEraseTime = #{fserasetime,jdbcType=VARCHAR},
      fiItemMakeOrder = #{fiitemmakeorder,jdbcType=INTEGER},
      fsSeq_M = #{fsseqM,jdbcType=VARCHAR},
      fsSourceSellNo = #{fssourcesellno,jdbcType=VARCHAR},
      fsSourceSeq = #{fssourceseq,jdbcType=VARCHAR},
      fsSourceOrderTime = #{fssourceordertime,jdbcType=VARCHAR},
      fsBackUserId = #{fsbackuserid,jdbcType=VARCHAR},
      fsBackUserName = #{fsbackusername,jdbcType=VARCHAR},
      fsBackReason = #{fsbackreason,jdbcType=VARCHAR},
      fsGiftUserId = #{fsgiftuserid,jdbcType=VARCHAR},
      fsGiftUserName = #{fsgiftusername,jdbcType=VARCHAR},
      fsGiftReason = #{fsgiftreason,jdbcType=VARCHAR},
      fsDiscountUserId = #{fsdiscountuserid,jdbcType=VARCHAR},
      fsDiscountUserName = #{fsdiscountusername,jdbcType=VARCHAR},
      fsDiscountReason = #{fsdiscountreason,jdbcType=VARCHAR},
      fsEditPirceUserId = #{fseditpirceuserid,jdbcType=VARCHAR},
      fsEditPirceUserName = #{fseditpirceusername,jdbcType=VARCHAR},
      fsEditPirceReason = #{fseditpircereason,jdbcType=VARCHAR},
      fsHostId = #{fshostid,jdbcType=VARCHAR},
      fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fiSetFoodCd = #{fisetfoodcd,jdbcType=INTEGER},
      fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER},
      fiPriceTag = #{fipricetag,jdbcType=INTEGER},
      fiIsSetDtlPrn = #{fiissetdtlprn,jdbcType=INTEGER},
      fsDataSrckind = #{fsdatasrckind,jdbcType=VARCHAR},
      fsSrcVerno = #{fssrcverno,jdbcType=VARCHAR},
      fdGiftqty = #{fdgiftqty,jdbcType=DECIMAL},
      fsdeptname = #{fsdeptname,jdbcType=VARCHAR},
      fsexpclsname = #{fsexpclsname,jdbcType=VARCHAR},
      fsmsectionname = #{fsmsectionname,jdbcType=VARCHAR},
      fsrevenuetypename = #{fsrevenuetypename,jdbcType=VARCHAR},
      fsGifttime = #{fsgifttime,jdbcType=VARCHAR},
      fsBacktime = #{fsbacktime,jdbcType=VARCHAR},
      fsBackremark = #{fsbackremark,jdbcType=VARCHAR},
      fsmenuclsname = #{fsmenuclsname,jdbcType=VARCHAR},
      lver = #{lver,jdbcType=INTEGER},
      fsDeptId = #{fsdeptid,jdbcType=LONGVARCHAR},
      fsNote = #{fsnote,jdbcType=LONGVARCHAR}
    where fsSeq = #{fsseq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.sellorderitem" >
    update tbsellorderitem
    set fsSellNo = #{fssellno,jdbcType=VARCHAR},
      fiOrderSeq = #{fiorderseq,jdbcType=INTEGER},
      fsMSectionId = #{fsmsectionid,jdbcType=VARCHAR},
      fiOrderMode = #{fiordermode,jdbcType=INTEGER},
      fiItemCd = #{fiitemcd,jdbcType=INTEGER},
      fsItemId = #{fsitemid,jdbcType=VARCHAR},
      fsItemName = #{fsitemname,jdbcType=VARCHAR},
      fsItemName2 = #{fsitemname2,jdbcType=VARCHAR},
      fsOrderUint = #{fsorderuint,jdbcType=VARCHAR},
      fiIsDiscount = #{fiisdiscount,jdbcType=INTEGER},
      fiIsServiceFee = #{fiisservicefee,jdbcType=INTEGER},
      fiIsEditPrice = #{fiiseditprice,jdbcType=INTEGER},
      fiIsEditQty = #{fiiseditqty,jdbcType=INTEGER},
      fiIsGift = #{fiisgift,jdbcType=INTEGER},
      fiIsPrn = #{fiisprn,jdbcType=INTEGER},
      fiIsQtyAssess = #{fiisqtyassess,jdbcType=INTEGER},
      fiOrderItemKind = #{fiorderitemkind,jdbcType=INTEGER},
      fsMenuClsId = #{fsmenuclsid,jdbcType=VARCHAR},
      fsExpClsId = #{fsexpclsid,jdbcType=VARCHAR},
      fsRevenueTypeId = #{fsrevenuetypeid,jdbcType=VARCHAR},
      fdSalePrice = #{fdsaleprice,jdbcType=DECIMAL},
      fdVIPPrice = #{fdvipprice,jdbcType=DECIMAL},
      fdBargainPrice = #{fdbargainprice,jdbcType=DECIMAL},
      fdAddPrice = #{fdaddprice,jdbcType=DECIMAL},
      fdSettlePrice = #{fdsettleprice,jdbcType=DECIMAL},
      fdSaleQty = #{fdsaleqty,jdbcType=DECIMAL},
      fdSaleAmt = #{fdsaleamt,jdbcType=DECIMAL},
      fiDiscountRate = #{fidiscountrate,jdbcType=INTEGER},
      fdDiscountAmt = #{fddiscountamt,jdbcType=DECIMAL},
      fdDisAfterAmt = #{fddisafteramt,jdbcType=DECIMAL},
      fdGiftAmt = #{fdgiftamt,jdbcType=DECIMAL},
      fdSubTotal = #{fdsubtotal,jdbcType=DECIMAL},
      fdBackQty = #{fdbackqty,jdbcType=DECIMAL},
      fdBackAmt = #{fdbackamt,jdbcType=DECIMAL},
      fdSubTotal2 = #{fdsubtotal2,jdbcType=DECIMAL},
      fiServiceRate = #{fiservicerate,jdbcType=INTEGER},
      fdServiceAmt = #{fdserviceamt,jdbcType=DECIMAL},
      fiItemMakeSte = #{fiitemmakeste,jdbcType=INTEGER},
      fsOrderTime = #{fsordertime,jdbcType=VARCHAR},
      fiHurryTimes = #{fihurrytimes,jdbcType=INTEGER},
      fiEraseNo = #{fieraseno,jdbcType=INTEGER},
      fsEraseTime = #{fserasetime,jdbcType=VARCHAR},
      fiItemMakeOrder = #{fiitemmakeorder,jdbcType=INTEGER},
      fsSeq_M = #{fsseqM,jdbcType=VARCHAR},
      fsSourceSellNo = #{fssourcesellno,jdbcType=VARCHAR},
      fsSourceSeq = #{fssourceseq,jdbcType=VARCHAR},
      fsSourceOrderTime = #{fssourceordertime,jdbcType=VARCHAR},
      fsBackUserId = #{fsbackuserid,jdbcType=VARCHAR},
      fsBackUserName = #{fsbackusername,jdbcType=VARCHAR},
      fsBackReason = #{fsbackreason,jdbcType=VARCHAR},
      fsGiftUserId = #{fsgiftuserid,jdbcType=VARCHAR},
      fsGiftUserName = #{fsgiftusername,jdbcType=VARCHAR},
      fsGiftReason = #{fsgiftreason,jdbcType=VARCHAR},
      fsDiscountUserId = #{fsdiscountuserid,jdbcType=VARCHAR},
      fsDiscountUserName = #{fsdiscountusername,jdbcType=VARCHAR},
      fsDiscountReason = #{fsdiscountreason,jdbcType=VARCHAR},
      fsEditPirceUserId = #{fseditpirceuserid,jdbcType=VARCHAR},
      fsEditPirceUserName = #{fseditpirceusername,jdbcType=VARCHAR},
      fsEditPirceReason = #{fseditpircereason,jdbcType=VARCHAR},
      fsHostId = #{fshostid,jdbcType=VARCHAR},
      fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fiSetFoodCd = #{fisetfoodcd,jdbcType=INTEGER},
      fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER},
      fiPriceTag = #{fipricetag,jdbcType=INTEGER},
      fiIsSetDtlPrn = #{fiissetdtlprn,jdbcType=INTEGER},
      fsDataSrckind = #{fsdatasrckind,jdbcType=VARCHAR},
      fsSrcVerno = #{fssrcverno,jdbcType=VARCHAR},
      fdGiftqty = #{fdgiftqty,jdbcType=DECIMAL},
      fsdeptname = #{fsdeptname,jdbcType=VARCHAR},
      fsexpclsname = #{fsexpclsname,jdbcType=VARCHAR},
      fsmsectionname = #{fsmsectionname,jdbcType=VARCHAR},
      fsrevenuetypename = #{fsrevenuetypename,jdbcType=VARCHAR},
      fsGifttime = #{fsgifttime,jdbcType=VARCHAR},
      fsBacktime = #{fsbacktime,jdbcType=VARCHAR},
      fsBackremark = #{fsbackremark,jdbcType=VARCHAR},
      fsmenuclsname = #{fsmenuclsname,jdbcType=VARCHAR},
      lver = #{lver,jdbcType=INTEGER}
    where fsSeq = #{fsseq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>