<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.sellhurryitemMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.sellhurryitem" >
    <id column="fiHurrySeq" property="fihurryseq" jdbcType="INTEGER" />
    <id column="fsSellNo" property="fssellno" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <id column="fsSourceSeq" property="fssourceseq" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fscreatetime" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fscreateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiHurrySeq, fsSellNo, fsShopGUID, fsSourceSeq, fsCreateTime, fsCreateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.sellhurryitemKey" >
    select 
    <include refid="Base_Column_List" />
    from tbsellhurryitem
    where fiHurrySeq = #{fihurryseq,jdbcType=INTEGER}
      and fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsSourceSeq = #{fssourceseq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.sellhurryitemKey" >
    delete from tbsellhurryitem
    where fiHurrySeq = #{fihurryseq,jdbcType=INTEGER}
      and fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsSourceSeq = #{fssourceseq,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.sellhurryitem" >
    insert into tbsellhurryitem (fiHurrySeq, fsSellNo, fsShopGUID, 
      fsSourceSeq, fsCreateTime, fsCreateUserName
      )
    values (#{fihurryseq,jdbcType=INTEGER}, #{fssellno,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, 
      #{fssourceseq,jdbcType=VARCHAR}, #{fscreatetime,jdbcType=VARCHAR}, #{fscreateusername,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.sellhurryitem" >
    insert into tbsellhurryitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fihurryseq != null" >
        fiHurrySeq,
      </if>
      <if test="fssellno != null" >
        fsSellNo,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fssourceseq != null" >
        fsSourceSeq,
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime,
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fihurryseq != null" >
        #{fihurryseq,jdbcType=INTEGER},
      </if>
      <if test="fssellno != null" >
        #{fssellno,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fssourceseq != null" >
        #{fssourceseq,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        #{fscreateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.sellhurryitem" >
    update tbsellhurryitem
    <set >
      <if test="fscreatetime != null" >
        fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fiHurrySeq = #{fihurryseq,jdbcType=INTEGER}
      and fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsSourceSeq = #{fssourceseq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.sellhurryitem" >
    update tbsellhurryitem
    set fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR}
    where fiHurrySeq = #{fihurryseq,jdbcType=INTEGER}
      and fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsSourceSeq = #{fssourceseq,jdbcType=VARCHAR}
  </update>
</mapper>