<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.SellMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Sell" >
    <id column="fsSellNo" property="fssellno" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsSellDate" property="fsselldate" jdbcType="VARCHAR" />
    <result column="fsSellTime" property="fsselltime" jdbcType="VARCHAR" />
    <result column="fsMSectionId" property="fsmsectionid" jdbcType="VARCHAR" />
    <result column="fsMAreaId" property="fsmareaid" jdbcType="VARCHAR" />
    <result column="fsMTableId" property="fsmtableid" jdbcType="VARCHAR" />
    <result column="fsMTableName" property="fsmtablename" jdbcType="VARCHAR" />
    <result column="fsMealNumber" property="fsmealnumber" jdbcType="VARCHAR" />
    <result column="fiCustSum" property="ficustsum" jdbcType="INTEGER" />
    <result column="fsCustGUID" property="fscustguid" jdbcType="VARCHAR" />
    <result column="fsCustId" property="fscustid" jdbcType="VARCHAR" />
    <result column="fsCustName" property="fscustname" jdbcType="VARCHAR" />
    <result column="fsCustMobile" property="fscustmobile" jdbcType="VARCHAR" />
    <result column="fsCardNo" property="fscardno" jdbcType="VARCHAR" />
    <result column="fsVIPSource" property="fsvipsource" jdbcType="VARCHAR" />
    <result column="fiIsVIP" property="fiisvip" jdbcType="INTEGER" />
    <result column="fsSendAddr" property="fssendaddr" jdbcType="VARCHAR" />
    <result column="fsSendOnTime" property="fssendontime" jdbcType="VARCHAR" />
    <result column="fsSendUserId" property="fssenduserid" jdbcType="VARCHAR" />
    <result column="fsSendUserName" property="fssendusername" jdbcType="VARCHAR" />
    <result column="fsPutUpTime" property="fsputuptime" jdbcType="VARCHAR" />
    <result column="fsAssignTime" property="fsassigntime" jdbcType="VARCHAR" />
    <result column="fsStaffId" property="fsstaffid" jdbcType="VARCHAR" />
    <result column="fsStaffName" property="fsstaffname" jdbcType="VARCHAR" />
    <result column="fiBillStatus" property="fibillstatus" jdbcType="INTEGER" />
    <result column="fiBillKind" property="fibillkind" jdbcType="INTEGER" />
    <result column="fiBillSource" property="fibillsource" jdbcType="INTEGER" />
    <result column="fdSaleAmt" property="fdsaleamt" jdbcType="DECIMAL" />
    <result column="fdDiscountAmt" property="fddiscountamt" jdbcType="DECIMAL" />
    <result column="fdServiceAmt" property="fdserviceamt" jdbcType="DECIMAL" />
    <result column="fdExpAmt" property="fdexpamt" jdbcType="DECIMAL" />
    <result column="fdPayAmt" property="fdpayamt" jdbcType="DECIMAL" />
    <result column="fdDiffAmt" property="fddiffamt" jdbcType="DECIMAL" />
    <result column="fdRealAmt" property="fdrealamt" jdbcType="DECIMAL" />
    <result column="fdGiftAmt" property="fdgiftamt" jdbcType="DECIMAL" />
    <result column="fdBackAmt" property="fdbackamt" jdbcType="DECIMAL" />
    <result column="fsDiscountId" property="fsdiscountid" jdbcType="VARCHAR" />
    <result column="fsDiscountName" property="fsdiscountname" jdbcType="VARCHAR" />
    <result column="fsCreditAccountId" property="fscreditaccountid" jdbcType="VARCHAR" />
    <result column="fsCreditAccountName" property="fscreditaccountname" jdbcType="VARCHAR" />
    <result column="fdDebtAmt" property="fddebtamt" jdbcType="DECIMAL" />
    <result column="fsMasterSellNo" property="fsmastersellno" jdbcType="VARCHAR" />
    <result column="fsRelationMTable" property="fsrelationmtable" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsnote" jdbcType="VARCHAR" />
    <result column="fsPrintExpTime" property="fsprintexptime" jdbcType="VARCHAR" />
    <result column="fsCheckEndTime" property="fscheckendtime" jdbcType="VARCHAR" />
    <result column="fiIsInvoice" property="fiisinvoice" jdbcType="INTEGER" />
    <result column="fsInvoiceCls" property="fsinvoicecls" jdbcType="VARCHAR" />
    <result column="fsInvoiceTitle" property="fsinvoicetitle" jdbcType="VARCHAR" />
    <result column="fdInvoiceAmt" property="fdinvoiceamt" jdbcType="DECIMAL" />
    <result column="fiPrintTimes_Op" property="fiprinttimesOp" jdbcType="INTEGER" />
    <result column="fiPrintTimes_Exp" property="fiprinttimesExp" jdbcType="INTEGER" />
    <result column="fiIsVerify" property="fiisverify" jdbcType="INTEGER" />
    <result column="fsVerifyUserName" property="fsverifyusername" jdbcType="VARCHAR" />
    <result column="fsVerifyTime" property="fsverifytime" jdbcType="VARCHAR" />
    <result column="fiModifyTag" property="fimodifytag" jdbcType="INTEGER" />
    <result column="fiReCheckTag" property="firechecktag" jdbcType="INTEGER" />
    <result column="fsHostId" property="fshostid" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fscreatetime" jdbcType="VARCHAR" />
    <result column="fsCreateUserId" property="fscreateuserid" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fscreateusername" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsBillSourceId" property="fsbillsourceid" jdbcType="VARCHAR" />
    <result column="fsBillSourceName" property="fsbillsourcename" jdbcType="VARCHAR" />
    <result column="fsBillSourceNo" property="fsbillsourceno" jdbcType="VARCHAR" />
    <result column="fdDisExpAmt" property="fddisexpamt" jdbcType="DECIMAL" />
    <result column="fdRoundAmt" property="fdroundamt" jdbcType="DECIMAL" />
    <result column="fdFreeSveAmt" property="fdfreesveamt" jdbcType="DECIMAL" />
    <result column="fsFreeSveAmtUserId" property="fsfreesveamtuserid" jdbcType="VARCHAR" />
    <result column="fsFreeSveAmtUserName" property="fsfreesveamtusername" jdbcType="VARCHAR" />
    <result column="fsReCheckUserId" property="fsrecheckuserid" jdbcType="VARCHAR" />
    <result column="fsReCheckUserName" property="fsrecheckusername" jdbcType="VARCHAR" />
    <result column="fsReCheckReason" property="fsrecheckreason" jdbcType="VARCHAR" />
    <result column="fsDataSrckind" property="fsdatasrckind" jdbcType="VARCHAR" />
    <result column="fsSrcVerno" property="fssrcverno" jdbcType="VARCHAR" />
    <result column="fdGiftRoundAmt" property="fdgiftroundamt" jdbcType="DECIMAL" />
    <result column="fdDiscountRoundAmt" property="fddiscountroundamt" jdbcType="DECIMAL" />
    <result column="fdBackRoundAmt" property="fdbackroundamt" jdbcType="DECIMAL" />
    <result column="fdServiceRoundAmt" property="fdserviceroundamt" jdbcType="DECIMAL" />
    <result column="fdSaleRoundAmt" property="fdsaleroundamt" jdbcType="DECIMAL" />
    <result column="fdGiftQty" property="fdgiftqty" jdbcType="DECIMAL" />
    <result column="fdBackQty" property="fdbackqty" jdbcType="DECIMAL" />
    <result column="lver" property="lver" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsSellNo, fsShopGUID, fsSellDate, fsSellTime, fsMSectionId, fsMAreaId, fsMTableId, 
    fsMTableName, fsMealNumber, fiCustSum, fsCustGUID, fsCustId, fsCustName, fsCustMobile, 
    fsCardNo, fsVIPSource, fiIsVIP, fsSendAddr, fsSendOnTime, fsSendUserId, fsSendUserName, 
    fsPutUpTime, fsAssignTime, fsStaffId, fsStaffName, fiBillStatus, fiBillKind, fiBillSource, 
    fdSaleAmt, fdDiscountAmt, fdServiceAmt, fdExpAmt, fdPayAmt, fdDiffAmt, fdRealAmt, 
    fdGiftAmt, fdBackAmt, fsDiscountId, fsDiscountName, fsCreditAccountId, fsCreditAccountName, 
    fdDebtAmt, fsMasterSellNo, fsRelationMTable, fsNote, fsPrintExpTime, fsCheckEndTime, 
    fiIsInvoice, fsInvoiceCls, fsInvoiceTitle, fdInvoiceAmt, fiPrintTimes_Op, fiPrintTimes_Exp, 
    fiIsVerify, fsVerifyUserName, fsVerifyTime, fiModifyTag, fiReCheckTag, fsHostId, 
    fsCreateTime, fsCreateUserId, fsCreateUserName, fsUpdateTime, fsBillSourceId, fsBillSourceName, 
    fsBillSourceNo, fdDisExpAmt, fdRoundAmt, fdFreeSveAmt, fsFreeSveAmtUserId, fsFreeSveAmtUserName, 
    fsReCheckUserId, fsReCheckUserName, fsReCheckReason, fsDataSrckind, fsSrcVerno, fdGiftRoundAmt, 
    fdDiscountRoundAmt, fdBackRoundAmt, fdServiceRoundAmt, fdSaleRoundAmt, fdGiftQty, 
    fdBackQty, lver
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.SellKey" >
    select 
    <include refid="Base_Column_List" />
    from tbsell
    where fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.SellKey" >
    delete from tbsell
    where fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Sell" >
    insert into tbsell (fsSellNo, fsShopGUID, fsSellDate, 
      fsSellTime, fsMSectionId, fsMAreaId, 
      fsMTableId, fsMTableName, fsMealNumber, 
      fiCustSum, fsCustGUID, fsCustId, 
      fsCustName, fsCustMobile, fsCardNo, 
      fsVIPSource, fiIsVIP, fsSendAddr, 
      fsSendOnTime, fsSendUserId, fsSendUserName, 
      fsPutUpTime, fsAssignTime, fsStaffId, 
      fsStaffName, fiBillStatus, fiBillKind, 
      fiBillSource, fdSaleAmt, fdDiscountAmt, 
      fdServiceAmt, fdExpAmt, fdPayAmt, 
      fdDiffAmt, fdRealAmt, fdGiftAmt, 
      fdBackAmt, fsDiscountId, fsDiscountName, 
      fsCreditAccountId, fsCreditAccountName, 
      fdDebtAmt, fsMasterSellNo, fsRelationMTable, 
      fsNote, fsPrintExpTime, fsCheckEndTime, 
      fiIsInvoice, fsInvoiceCls, fsInvoiceTitle, 
      fdInvoiceAmt, fiPrintTimes_Op, fiPrintTimes_Exp, 
      fiIsVerify, fsVerifyUserName, fsVerifyTime, 
      fiModifyTag, fiReCheckTag, fsHostId, 
      fsCreateTime, fsCreateUserId, fsCreateUserName, 
      fsUpdateTime, fsBillSourceId, fsBillSourceName, 
      fsBillSourceNo, fdDisExpAmt, fdRoundAmt, 
      fdFreeSveAmt, fsFreeSveAmtUserId, fsFreeSveAmtUserName, 
      fsReCheckUserId, fsReCheckUserName, fsReCheckReason, 
      fsDataSrckind, fsSrcVerno, fdGiftRoundAmt, 
      fdDiscountRoundAmt, fdBackRoundAmt, fdServiceRoundAmt, 
      fdSaleRoundAmt, fdGiftQty, fdBackQty, 
      lver)
    values (#{fssellno,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsselldate,jdbcType=VARCHAR}, 
      #{fsselltime,jdbcType=VARCHAR}, #{fsmsectionid,jdbcType=VARCHAR}, #{fsmareaid,jdbcType=VARCHAR}, 
      #{fsmtableid,jdbcType=VARCHAR}, #{fsmtablename,jdbcType=VARCHAR}, #{fsmealnumber,jdbcType=VARCHAR}, 
      #{ficustsum,jdbcType=INTEGER}, #{fscustguid,jdbcType=VARCHAR}, #{fscustid,jdbcType=VARCHAR}, 
      #{fscustname,jdbcType=VARCHAR}, #{fscustmobile,jdbcType=VARCHAR}, #{fscardno,jdbcType=VARCHAR}, 
      #{fsvipsource,jdbcType=VARCHAR}, #{fiisvip,jdbcType=INTEGER}, #{fssendaddr,jdbcType=VARCHAR}, 
      #{fssendontime,jdbcType=VARCHAR}, #{fssenduserid,jdbcType=VARCHAR}, #{fssendusername,jdbcType=VARCHAR}, 
      #{fsputuptime,jdbcType=VARCHAR}, #{fsassigntime,jdbcType=VARCHAR}, #{fsstaffid,jdbcType=VARCHAR}, 
      #{fsstaffname,jdbcType=VARCHAR}, #{fibillstatus,jdbcType=INTEGER}, #{fibillkind,jdbcType=INTEGER}, 
      #{fibillsource,jdbcType=INTEGER}, #{fdsaleamt,jdbcType=DECIMAL}, #{fddiscountamt,jdbcType=DECIMAL}, 
      #{fdserviceamt,jdbcType=DECIMAL}, #{fdexpamt,jdbcType=DECIMAL}, #{fdpayamt,jdbcType=DECIMAL}, 
      #{fddiffamt,jdbcType=DECIMAL}, #{fdrealamt,jdbcType=DECIMAL}, #{fdgiftamt,jdbcType=DECIMAL}, 
      #{fdbackamt,jdbcType=DECIMAL}, #{fsdiscountid,jdbcType=VARCHAR}, #{fsdiscountname,jdbcType=VARCHAR}, 
      #{fscreditaccountid,jdbcType=VARCHAR}, #{fscreditaccountname,jdbcType=VARCHAR}, 
      #{fddebtamt,jdbcType=DECIMAL}, #{fsmastersellno,jdbcType=VARCHAR}, #{fsrelationmtable,jdbcType=VARCHAR}, 
      #{fsnote,jdbcType=VARCHAR}, #{fsprintexptime,jdbcType=VARCHAR}, #{fscheckendtime,jdbcType=VARCHAR}, 
      #{fiisinvoice,jdbcType=INTEGER}, #{fsinvoicecls,jdbcType=VARCHAR}, #{fsinvoicetitle,jdbcType=VARCHAR}, 
      #{fdinvoiceamt,jdbcType=DECIMAL}, #{fiprinttimesOp,jdbcType=INTEGER}, #{fiprinttimesExp,jdbcType=INTEGER}, 
      #{fiisverify,jdbcType=INTEGER}, #{fsverifyusername,jdbcType=VARCHAR}, #{fsverifytime,jdbcType=VARCHAR}, 
      #{fimodifytag,jdbcType=INTEGER}, #{firechecktag,jdbcType=INTEGER}, #{fshostid,jdbcType=VARCHAR}, 
      #{fscreatetime,jdbcType=VARCHAR}, #{fscreateuserid,jdbcType=VARCHAR}, #{fscreateusername,jdbcType=VARCHAR}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsbillsourceid,jdbcType=VARCHAR}, #{fsbillsourcename,jdbcType=VARCHAR}, 
      #{fsbillsourceno,jdbcType=VARCHAR}, #{fddisexpamt,jdbcType=DECIMAL}, #{fdroundamt,jdbcType=DECIMAL}, 
      #{fdfreesveamt,jdbcType=DECIMAL}, #{fsfreesveamtuserid,jdbcType=VARCHAR}, #{fsfreesveamtusername,jdbcType=VARCHAR}, 
      #{fsrecheckuserid,jdbcType=VARCHAR}, #{fsrecheckusername,jdbcType=VARCHAR}, #{fsrecheckreason,jdbcType=VARCHAR}, 
      #{fsdatasrckind,jdbcType=VARCHAR}, #{fssrcverno,jdbcType=VARCHAR}, #{fdgiftroundamt,jdbcType=DECIMAL}, 
      #{fddiscountroundamt,jdbcType=DECIMAL}, #{fdbackroundamt,jdbcType=DECIMAL}, #{fdserviceroundamt,jdbcType=DECIMAL}, 
      #{fdsaleroundamt,jdbcType=DECIMAL}, #{fdgiftqty,jdbcType=DECIMAL}, #{fdbackqty,jdbcType=DECIMAL}, 
      #{lver,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Sell" >
    insert into tbsell
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fssellno != null" >
        fsSellNo,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsselldate != null" >
        fsSellDate,
      </if>
      <if test="fsselltime != null" >
        fsSellTime,
      </if>
      <if test="fsmsectionid != null" >
        fsMSectionId,
      </if>
      <if test="fsmareaid != null" >
        fsMAreaId,
      </if>
      <if test="fsmtableid != null" >
        fsMTableId,
      </if>
      <if test="fsmtablename != null" >
        fsMTableName,
      </if>
      <if test="fsmealnumber != null" >
        fsMealNumber,
      </if>
      <if test="ficustsum != null" >
        fiCustSum,
      </if>
      <if test="fscustguid != null" >
        fsCustGUID,
      </if>
      <if test="fscustid != null" >
        fsCustId,
      </if>
      <if test="fscustname != null" >
        fsCustName,
      </if>
      <if test="fscustmobile != null" >
        fsCustMobile,
      </if>
      <if test="fscardno != null" >
        fsCardNo,
      </if>
      <if test="fsvipsource != null" >
        fsVIPSource,
      </if>
      <if test="fiisvip != null" >
        fiIsVIP,
      </if>
      <if test="fssendaddr != null" >
        fsSendAddr,
      </if>
      <if test="fssendontime != null" >
        fsSendOnTime,
      </if>
      <if test="fssenduserid != null" >
        fsSendUserId,
      </if>
      <if test="fssendusername != null" >
        fsSendUserName,
      </if>
      <if test="fsputuptime != null" >
        fsPutUpTime,
      </if>
      <if test="fsassigntime != null" >
        fsAssignTime,
      </if>
      <if test="fsstaffid != null" >
        fsStaffId,
      </if>
      <if test="fsstaffname != null" >
        fsStaffName,
      </if>
      <if test="fibillstatus != null" >
        fiBillStatus,
      </if>
      <if test="fibillkind != null" >
        fiBillKind,
      </if>
      <if test="fibillsource != null" >
        fiBillSource,
      </if>
      <if test="fdsaleamt != null" >
        fdSaleAmt,
      </if>
      <if test="fddiscountamt != null" >
        fdDiscountAmt,
      </if>
      <if test="fdserviceamt != null" >
        fdServiceAmt,
      </if>
      <if test="fdexpamt != null" >
        fdExpAmt,
      </if>
      <if test="fdpayamt != null" >
        fdPayAmt,
      </if>
      <if test="fddiffamt != null" >
        fdDiffAmt,
      </if>
      <if test="fdrealamt != null" >
        fdRealAmt,
      </if>
      <if test="fdgiftamt != null" >
        fdGiftAmt,
      </if>
      <if test="fdbackamt != null" >
        fdBackAmt,
      </if>
      <if test="fsdiscountid != null" >
        fsDiscountId,
      </if>
      <if test="fsdiscountname != null" >
        fsDiscountName,
      </if>
      <if test="fscreditaccountid != null" >
        fsCreditAccountId,
      </if>
      <if test="fscreditaccountname != null" >
        fsCreditAccountName,
      </if>
      <if test="fddebtamt != null" >
        fdDebtAmt,
      </if>
      <if test="fsmastersellno != null" >
        fsMasterSellNo,
      </if>
      <if test="fsrelationmtable != null" >
        fsRelationMTable,
      </if>
      <if test="fsnote != null" >
        fsNote,
      </if>
      <if test="fsprintexptime != null" >
        fsPrintExpTime,
      </if>
      <if test="fscheckendtime != null" >
        fsCheckEndTime,
      </if>
      <if test="fiisinvoice != null" >
        fiIsInvoice,
      </if>
      <if test="fsinvoicecls != null" >
        fsInvoiceCls,
      </if>
      <if test="fsinvoicetitle != null" >
        fsInvoiceTitle,
      </if>
      <if test="fdinvoiceamt != null" >
        fdInvoiceAmt,
      </if>
      <if test="fiprinttimesOp != null" >
        fiPrintTimes_Op,
      </if>
      <if test="fiprinttimesExp != null" >
        fiPrintTimes_Exp,
      </if>
      <if test="fiisverify != null" >
        fiIsVerify,
      </if>
      <if test="fsverifyusername != null" >
        fsVerifyUserName,
      </if>
      <if test="fsverifytime != null" >
        fsVerifyTime,
      </if>
      <if test="fimodifytag != null" >
        fiModifyTag,
      </if>
      <if test="firechecktag != null" >
        fiReCheckTag,
      </if>
      <if test="fshostid != null" >
        fsHostId,
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime,
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId,
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsbillsourceid != null" >
        fsBillSourceId,
      </if>
      <if test="fsbillsourcename != null" >
        fsBillSourceName,
      </if>
      <if test="fsbillsourceno != null" >
        fsBillSourceNo,
      </if>
      <if test="fddisexpamt != null" >
        fdDisExpAmt,
      </if>
      <if test="fdroundamt != null" >
        fdRoundAmt,
      </if>
      <if test="fdfreesveamt != null" >
        fdFreeSveAmt,
      </if>
      <if test="fsfreesveamtuserid != null" >
        fsFreeSveAmtUserId,
      </if>
      <if test="fsfreesveamtusername != null" >
        fsFreeSveAmtUserName,
      </if>
      <if test="fsrecheckuserid != null" >
        fsReCheckUserId,
      </if>
      <if test="fsrecheckusername != null" >
        fsReCheckUserName,
      </if>
      <if test="fsrecheckreason != null" >
        fsReCheckReason,
      </if>
      <if test="fsdatasrckind != null" >
        fsDataSrckind,
      </if>
      <if test="fssrcverno != null" >
        fsSrcVerno,
      </if>
      <if test="fdgiftroundamt != null" >
        fdGiftRoundAmt,
      </if>
      <if test="fddiscountroundamt != null" >
        fdDiscountRoundAmt,
      </if>
      <if test="fdbackroundamt != null" >
        fdBackRoundAmt,
      </if>
      <if test="fdserviceroundamt != null" >
        fdServiceRoundAmt,
      </if>
      <if test="fdsaleroundamt != null" >
        fdSaleRoundAmt,
      </if>
      <if test="fdgiftqty != null" >
        fdGiftQty,
      </if>
      <if test="fdbackqty != null" >
        fdBackQty,
      </if>
      <if test="lver != null" >
        lver,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fssellno != null" >
        #{fssellno,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsselldate != null" >
        #{fsselldate,jdbcType=VARCHAR},
      </if>
      <if test="fsselltime != null" >
        #{fsselltime,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionid != null" >
        #{fsmsectionid,jdbcType=VARCHAR},
      </if>
      <if test="fsmareaid != null" >
        #{fsmareaid,jdbcType=VARCHAR},
      </if>
      <if test="fsmtableid != null" >
        #{fsmtableid,jdbcType=VARCHAR},
      </if>
      <if test="fsmtablename != null" >
        #{fsmtablename,jdbcType=VARCHAR},
      </if>
      <if test="fsmealnumber != null" >
        #{fsmealnumber,jdbcType=VARCHAR},
      </if>
      <if test="ficustsum != null" >
        #{ficustsum,jdbcType=INTEGER},
      </if>
      <if test="fscustguid != null" >
        #{fscustguid,jdbcType=VARCHAR},
      </if>
      <if test="fscustid != null" >
        #{fscustid,jdbcType=VARCHAR},
      </if>
      <if test="fscustname != null" >
        #{fscustname,jdbcType=VARCHAR},
      </if>
      <if test="fscustmobile != null" >
        #{fscustmobile,jdbcType=VARCHAR},
      </if>
      <if test="fscardno != null" >
        #{fscardno,jdbcType=VARCHAR},
      </if>
      <if test="fsvipsource != null" >
        #{fsvipsource,jdbcType=VARCHAR},
      </if>
      <if test="fiisvip != null" >
        #{fiisvip,jdbcType=INTEGER},
      </if>
      <if test="fssendaddr != null" >
        #{fssendaddr,jdbcType=VARCHAR},
      </if>
      <if test="fssendontime != null" >
        #{fssendontime,jdbcType=VARCHAR},
      </if>
      <if test="fssenduserid != null" >
        #{fssenduserid,jdbcType=VARCHAR},
      </if>
      <if test="fssendusername != null" >
        #{fssendusername,jdbcType=VARCHAR},
      </if>
      <if test="fsputuptime != null" >
        #{fsputuptime,jdbcType=VARCHAR},
      </if>
      <if test="fsassigntime != null" >
        #{fsassigntime,jdbcType=VARCHAR},
      </if>
      <if test="fsstaffid != null" >
        #{fsstaffid,jdbcType=VARCHAR},
      </if>
      <if test="fsstaffname != null" >
        #{fsstaffname,jdbcType=VARCHAR},
      </if>
      <if test="fibillstatus != null" >
        #{fibillstatus,jdbcType=INTEGER},
      </if>
      <if test="fibillkind != null" >
        #{fibillkind,jdbcType=INTEGER},
      </if>
      <if test="fibillsource != null" >
        #{fibillsource,jdbcType=INTEGER},
      </if>
      <if test="fdsaleamt != null" >
        #{fdsaleamt,jdbcType=DECIMAL},
      </if>
      <if test="fddiscountamt != null" >
        #{fddiscountamt,jdbcType=DECIMAL},
      </if>
      <if test="fdserviceamt != null" >
        #{fdserviceamt,jdbcType=DECIMAL},
      </if>
      <if test="fdexpamt != null" >
        #{fdexpamt,jdbcType=DECIMAL},
      </if>
      <if test="fdpayamt != null" >
        #{fdpayamt,jdbcType=DECIMAL},
      </if>
      <if test="fddiffamt != null" >
        #{fddiffamt,jdbcType=DECIMAL},
      </if>
      <if test="fdrealamt != null" >
        #{fdrealamt,jdbcType=DECIMAL},
      </if>
      <if test="fdgiftamt != null" >
        #{fdgiftamt,jdbcType=DECIMAL},
      </if>
      <if test="fdbackamt != null" >
        #{fdbackamt,jdbcType=DECIMAL},
      </if>
      <if test="fsdiscountid != null" >
        #{fsdiscountid,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountname != null" >
        #{fsdiscountname,jdbcType=VARCHAR},
      </if>
      <if test="fscreditaccountid != null" >
        #{fscreditaccountid,jdbcType=VARCHAR},
      </if>
      <if test="fscreditaccountname != null" >
        #{fscreditaccountname,jdbcType=VARCHAR},
      </if>
      <if test="fddebtamt != null" >
        #{fddebtamt,jdbcType=DECIMAL},
      </if>
      <if test="fsmastersellno != null" >
        #{fsmastersellno,jdbcType=VARCHAR},
      </if>
      <if test="fsrelationmtable != null" >
        #{fsrelationmtable,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fsprintexptime != null" >
        #{fsprintexptime,jdbcType=VARCHAR},
      </if>
      <if test="fscheckendtime != null" >
        #{fscheckendtime,jdbcType=VARCHAR},
      </if>
      <if test="fiisinvoice != null" >
        #{fiisinvoice,jdbcType=INTEGER},
      </if>
      <if test="fsinvoicecls != null" >
        #{fsinvoicecls,jdbcType=VARCHAR},
      </if>
      <if test="fsinvoicetitle != null" >
        #{fsinvoicetitle,jdbcType=VARCHAR},
      </if>
      <if test="fdinvoiceamt != null" >
        #{fdinvoiceamt,jdbcType=DECIMAL},
      </if>
      <if test="fiprinttimesOp != null" >
        #{fiprinttimesOp,jdbcType=INTEGER},
      </if>
      <if test="fiprinttimesExp != null" >
        #{fiprinttimesExp,jdbcType=INTEGER},
      </if>
      <if test="fiisverify != null" >
        #{fiisverify,jdbcType=INTEGER},
      </if>
      <if test="fsverifyusername != null" >
        #{fsverifyusername,jdbcType=VARCHAR},
      </if>
      <if test="fsverifytime != null" >
        #{fsverifytime,jdbcType=VARCHAR},
      </if>
      <if test="fimodifytag != null" >
        #{fimodifytag,jdbcType=INTEGER},
      </if>
      <if test="firechecktag != null" >
        #{firechecktag,jdbcType=INTEGER},
      </if>
      <if test="fshostid != null" >
        #{fshostid,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsbillsourceid != null" >
        #{fsbillsourceid,jdbcType=VARCHAR},
      </if>
      <if test="fsbillsourcename != null" >
        #{fsbillsourcename,jdbcType=VARCHAR},
      </if>
      <if test="fsbillsourceno != null" >
        #{fsbillsourceno,jdbcType=VARCHAR},
      </if>
      <if test="fddisexpamt != null" >
        #{fddisexpamt,jdbcType=DECIMAL},
      </if>
      <if test="fdroundamt != null" >
        #{fdroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdfreesveamt != null" >
        #{fdfreesveamt,jdbcType=DECIMAL},
      </if>
      <if test="fsfreesveamtuserid != null" >
        #{fsfreesveamtuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsfreesveamtusername != null" >
        #{fsfreesveamtusername,jdbcType=VARCHAR},
      </if>
      <if test="fsrecheckuserid != null" >
        #{fsrecheckuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsrecheckusername != null" >
        #{fsrecheckusername,jdbcType=VARCHAR},
      </if>
      <if test="fsrecheckreason != null" >
        #{fsrecheckreason,jdbcType=VARCHAR},
      </if>
      <if test="fsdatasrckind != null" >
        #{fsdatasrckind,jdbcType=VARCHAR},
      </if>
      <if test="fssrcverno != null" >
        #{fssrcverno,jdbcType=VARCHAR},
      </if>
      <if test="fdgiftroundamt != null" >
        #{fdgiftroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fddiscountroundamt != null" >
        #{fddiscountroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdbackroundamt != null" >
        #{fdbackroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdserviceroundamt != null" >
        #{fdserviceroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdsaleroundamt != null" >
        #{fdsaleroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdgiftqty != null" >
        #{fdgiftqty,jdbcType=DECIMAL},
      </if>
      <if test="fdbackqty != null" >
        #{fdbackqty,jdbcType=DECIMAL},
      </if>
      <if test="lver != null" >
        #{lver,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Sell" >
    update tbsell
    <set >
      <if test="fsselldate != null" >
        fsSellDate = #{fsselldate,jdbcType=VARCHAR},
      </if>
      <if test="fsselltime != null" >
        fsSellTime = #{fsselltime,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionid != null" >
        fsMSectionId = #{fsmsectionid,jdbcType=VARCHAR},
      </if>
      <if test="fsmareaid != null" >
        fsMAreaId = #{fsmareaid,jdbcType=VARCHAR},
      </if>
      <if test="fsmtableid != null" >
        fsMTableId = #{fsmtableid,jdbcType=VARCHAR},
      </if>
      <if test="fsmtablename != null" >
        fsMTableName = #{fsmtablename,jdbcType=VARCHAR},
      </if>
      <if test="fsmealnumber != null" >
        fsMealNumber = #{fsmealnumber,jdbcType=VARCHAR},
      </if>
      <if test="ficustsum != null" >
        fiCustSum = #{ficustsum,jdbcType=INTEGER},
      </if>
      <if test="fscustguid != null" >
        fsCustGUID = #{fscustguid,jdbcType=VARCHAR},
      </if>
      <if test="fscustid != null" >
        fsCustId = #{fscustid,jdbcType=VARCHAR},
      </if>
      <if test="fscustname != null" >
        fsCustName = #{fscustname,jdbcType=VARCHAR},
      </if>
      <if test="fscustmobile != null" >
        fsCustMobile = #{fscustmobile,jdbcType=VARCHAR},
      </if>
      <if test="fscardno != null" >
        fsCardNo = #{fscardno,jdbcType=VARCHAR},
      </if>
      <if test="fsvipsource != null" >
        fsVIPSource = #{fsvipsource,jdbcType=VARCHAR},
      </if>
      <if test="fiisvip != null" >
        fiIsVIP = #{fiisvip,jdbcType=INTEGER},
      </if>
      <if test="fssendaddr != null" >
        fsSendAddr = #{fssendaddr,jdbcType=VARCHAR},
      </if>
      <if test="fssendontime != null" >
        fsSendOnTime = #{fssendontime,jdbcType=VARCHAR},
      </if>
      <if test="fssenduserid != null" >
        fsSendUserId = #{fssenduserid,jdbcType=VARCHAR},
      </if>
      <if test="fssendusername != null" >
        fsSendUserName = #{fssendusername,jdbcType=VARCHAR},
      </if>
      <if test="fsputuptime != null" >
        fsPutUpTime = #{fsputuptime,jdbcType=VARCHAR},
      </if>
      <if test="fsassigntime != null" >
        fsAssignTime = #{fsassigntime,jdbcType=VARCHAR},
      </if>
      <if test="fsstaffid != null" >
        fsStaffId = #{fsstaffid,jdbcType=VARCHAR},
      </if>
      <if test="fsstaffname != null" >
        fsStaffName = #{fsstaffname,jdbcType=VARCHAR},
      </if>
      <if test="fibillstatus != null" >
        fiBillStatus = #{fibillstatus,jdbcType=INTEGER},
      </if>
      <if test="fibillkind != null" >
        fiBillKind = #{fibillkind,jdbcType=INTEGER},
      </if>
      <if test="fibillsource != null" >
        fiBillSource = #{fibillsource,jdbcType=INTEGER},
      </if>
      <if test="fdsaleamt != null" >
        fdSaleAmt = #{fdsaleamt,jdbcType=DECIMAL},
      </if>
      <if test="fddiscountamt != null" >
        fdDiscountAmt = #{fddiscountamt,jdbcType=DECIMAL},
      </if>
      <if test="fdserviceamt != null" >
        fdServiceAmt = #{fdserviceamt,jdbcType=DECIMAL},
      </if>
      <if test="fdexpamt != null" >
        fdExpAmt = #{fdexpamt,jdbcType=DECIMAL},
      </if>
      <if test="fdpayamt != null" >
        fdPayAmt = #{fdpayamt,jdbcType=DECIMAL},
      </if>
      <if test="fddiffamt != null" >
        fdDiffAmt = #{fddiffamt,jdbcType=DECIMAL},
      </if>
      <if test="fdrealamt != null" >
        fdRealAmt = #{fdrealamt,jdbcType=DECIMAL},
      </if>
      <if test="fdgiftamt != null" >
        fdGiftAmt = #{fdgiftamt,jdbcType=DECIMAL},
      </if>
      <if test="fdbackamt != null" >
        fdBackAmt = #{fdbackamt,jdbcType=DECIMAL},
      </if>
      <if test="fsdiscountid != null" >
        fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR},
      </if>
      <if test="fsdiscountname != null" >
        fsDiscountName = #{fsdiscountname,jdbcType=VARCHAR},
      </if>
      <if test="fscreditaccountid != null" >
        fsCreditAccountId = #{fscreditaccountid,jdbcType=VARCHAR},
      </if>
      <if test="fscreditaccountname != null" >
        fsCreditAccountName = #{fscreditaccountname,jdbcType=VARCHAR},
      </if>
      <if test="fddebtamt != null" >
        fdDebtAmt = #{fddebtamt,jdbcType=DECIMAL},
      </if>
      <if test="fsmastersellno != null" >
        fsMasterSellNo = #{fsmastersellno,jdbcType=VARCHAR},
      </if>
      <if test="fsrelationmtable != null" >
        fsRelationMTable = #{fsrelationmtable,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        fsNote = #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fsprintexptime != null" >
        fsPrintExpTime = #{fsprintexptime,jdbcType=VARCHAR},
      </if>
      <if test="fscheckendtime != null" >
        fsCheckEndTime = #{fscheckendtime,jdbcType=VARCHAR},
      </if>
      <if test="fiisinvoice != null" >
        fiIsInvoice = #{fiisinvoice,jdbcType=INTEGER},
      </if>
      <if test="fsinvoicecls != null" >
        fsInvoiceCls = #{fsinvoicecls,jdbcType=VARCHAR},
      </if>
      <if test="fsinvoicetitle != null" >
        fsInvoiceTitle = #{fsinvoicetitle,jdbcType=VARCHAR},
      </if>
      <if test="fdinvoiceamt != null" >
        fdInvoiceAmt = #{fdinvoiceamt,jdbcType=DECIMAL},
      </if>
      <if test="fiprinttimesOp != null" >
        fiPrintTimes_Op = #{fiprinttimesOp,jdbcType=INTEGER},
      </if>
      <if test="fiprinttimesExp != null" >
        fiPrintTimes_Exp = #{fiprinttimesExp,jdbcType=INTEGER},
      </if>
      <if test="fiisverify != null" >
        fiIsVerify = #{fiisverify,jdbcType=INTEGER},
      </if>
      <if test="fsverifyusername != null" >
        fsVerifyUserName = #{fsverifyusername,jdbcType=VARCHAR},
      </if>
      <if test="fsverifytime != null" >
        fsVerifyTime = #{fsverifytime,jdbcType=VARCHAR},
      </if>
      <if test="fimodifytag != null" >
        fiModifyTag = #{fimodifytag,jdbcType=INTEGER},
      </if>
      <if test="firechecktag != null" >
        fiReCheckTag = #{firechecktag,jdbcType=INTEGER},
      </if>
      <if test="fshostid != null" >
        fsHostId = #{fshostid,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsbillsourceid != null" >
        fsBillSourceId = #{fsbillsourceid,jdbcType=VARCHAR},
      </if>
      <if test="fsbillsourcename != null" >
        fsBillSourceName = #{fsbillsourcename,jdbcType=VARCHAR},
      </if>
      <if test="fsbillsourceno != null" >
        fsBillSourceNo = #{fsbillsourceno,jdbcType=VARCHAR},
      </if>
      <if test="fddisexpamt != null" >
        fdDisExpAmt = #{fddisexpamt,jdbcType=DECIMAL},
      </if>
      <if test="fdroundamt != null" >
        fdRoundAmt = #{fdroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdfreesveamt != null" >
        fdFreeSveAmt = #{fdfreesveamt,jdbcType=DECIMAL},
      </if>
      <if test="fsfreesveamtuserid != null" >
        fsFreeSveAmtUserId = #{fsfreesveamtuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsfreesveamtusername != null" >
        fsFreeSveAmtUserName = #{fsfreesveamtusername,jdbcType=VARCHAR},
      </if>
      <if test="fsrecheckuserid != null" >
        fsReCheckUserId = #{fsrecheckuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsrecheckusername != null" >
        fsReCheckUserName = #{fsrecheckusername,jdbcType=VARCHAR},
      </if>
      <if test="fsrecheckreason != null" >
        fsReCheckReason = #{fsrecheckreason,jdbcType=VARCHAR},
      </if>
      <if test="fsdatasrckind != null" >
        fsDataSrckind = #{fsdatasrckind,jdbcType=VARCHAR},
      </if>
      <if test="fssrcverno != null" >
        fsSrcVerno = #{fssrcverno,jdbcType=VARCHAR},
      </if>
      <if test="fdgiftroundamt != null" >
        fdGiftRoundAmt = #{fdgiftroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fddiscountroundamt != null" >
        fdDiscountRoundAmt = #{fddiscountroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdbackroundamt != null" >
        fdBackRoundAmt = #{fdbackroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdserviceroundamt != null" >
        fdServiceRoundAmt = #{fdserviceroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdsaleroundamt != null" >
        fdSaleRoundAmt = #{fdsaleroundamt,jdbcType=DECIMAL},
      </if>
      <if test="fdgiftqty != null" >
        fdGiftQty = #{fdgiftqty,jdbcType=DECIMAL},
      </if>
      <if test="fdbackqty != null" >
        fdBackQty = #{fdbackqty,jdbcType=DECIMAL},
      </if>
      <if test="lver != null" >
        lver = #{lver,jdbcType=INTEGER},
      </if>
    </set>
    where fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Sell" >
    update tbsell
    set fsSellDate = #{fsselldate,jdbcType=VARCHAR},
      fsSellTime = #{fsselltime,jdbcType=VARCHAR},
      fsMSectionId = #{fsmsectionid,jdbcType=VARCHAR},
      fsMAreaId = #{fsmareaid,jdbcType=VARCHAR},
      fsMTableId = #{fsmtableid,jdbcType=VARCHAR},
      fsMTableName = #{fsmtablename,jdbcType=VARCHAR},
      fsMealNumber = #{fsmealnumber,jdbcType=VARCHAR},
      fiCustSum = #{ficustsum,jdbcType=INTEGER},
      fsCustGUID = #{fscustguid,jdbcType=VARCHAR},
      fsCustId = #{fscustid,jdbcType=VARCHAR},
      fsCustName = #{fscustname,jdbcType=VARCHAR},
      fsCustMobile = #{fscustmobile,jdbcType=VARCHAR},
      fsCardNo = #{fscardno,jdbcType=VARCHAR},
      fsVIPSource = #{fsvipsource,jdbcType=VARCHAR},
      fiIsVIP = #{fiisvip,jdbcType=INTEGER},
      fsSendAddr = #{fssendaddr,jdbcType=VARCHAR},
      fsSendOnTime = #{fssendontime,jdbcType=VARCHAR},
      fsSendUserId = #{fssenduserid,jdbcType=VARCHAR},
      fsSendUserName = #{fssendusername,jdbcType=VARCHAR},
      fsPutUpTime = #{fsputuptime,jdbcType=VARCHAR},
      fsAssignTime = #{fsassigntime,jdbcType=VARCHAR},
      fsStaffId = #{fsstaffid,jdbcType=VARCHAR},
      fsStaffName = #{fsstaffname,jdbcType=VARCHAR},
      fiBillStatus = #{fibillstatus,jdbcType=INTEGER},
      fiBillKind = #{fibillkind,jdbcType=INTEGER},
      fiBillSource = #{fibillsource,jdbcType=INTEGER},
      fdSaleAmt = #{fdsaleamt,jdbcType=DECIMAL},
      fdDiscountAmt = #{fddiscountamt,jdbcType=DECIMAL},
      fdServiceAmt = #{fdserviceamt,jdbcType=DECIMAL},
      fdExpAmt = #{fdexpamt,jdbcType=DECIMAL},
      fdPayAmt = #{fdpayamt,jdbcType=DECIMAL},
      fdDiffAmt = #{fddiffamt,jdbcType=DECIMAL},
      fdRealAmt = #{fdrealamt,jdbcType=DECIMAL},
      fdGiftAmt = #{fdgiftamt,jdbcType=DECIMAL},
      fdBackAmt = #{fdbackamt,jdbcType=DECIMAL},
      fsDiscountId = #{fsdiscountid,jdbcType=VARCHAR},
      fsDiscountName = #{fsdiscountname,jdbcType=VARCHAR},
      fsCreditAccountId = #{fscreditaccountid,jdbcType=VARCHAR},
      fsCreditAccountName = #{fscreditaccountname,jdbcType=VARCHAR},
      fdDebtAmt = #{fddebtamt,jdbcType=DECIMAL},
      fsMasterSellNo = #{fsmastersellno,jdbcType=VARCHAR},
      fsRelationMTable = #{fsrelationmtable,jdbcType=VARCHAR},
      fsNote = #{fsnote,jdbcType=VARCHAR},
      fsPrintExpTime = #{fsprintexptime,jdbcType=VARCHAR},
      fsCheckEndTime = #{fscheckendtime,jdbcType=VARCHAR},
      fiIsInvoice = #{fiisinvoice,jdbcType=INTEGER},
      fsInvoiceCls = #{fsinvoicecls,jdbcType=VARCHAR},
      fsInvoiceTitle = #{fsinvoicetitle,jdbcType=VARCHAR},
      fdInvoiceAmt = #{fdinvoiceamt,jdbcType=DECIMAL},
      fiPrintTimes_Op = #{fiprinttimesOp,jdbcType=INTEGER},
      fiPrintTimes_Exp = #{fiprinttimesExp,jdbcType=INTEGER},
      fiIsVerify = #{fiisverify,jdbcType=INTEGER},
      fsVerifyUserName = #{fsverifyusername,jdbcType=VARCHAR},
      fsVerifyTime = #{fsverifytime,jdbcType=VARCHAR},
      fiModifyTag = #{fimodifytag,jdbcType=INTEGER},
      fiReCheckTag = #{firechecktag,jdbcType=INTEGER},
      fsHostId = #{fshostid,jdbcType=VARCHAR},
      fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsBillSourceId = #{fsbillsourceid,jdbcType=VARCHAR},
      fsBillSourceName = #{fsbillsourcename,jdbcType=VARCHAR},
      fsBillSourceNo = #{fsbillsourceno,jdbcType=VARCHAR},
      fdDisExpAmt = #{fddisexpamt,jdbcType=DECIMAL},
      fdRoundAmt = #{fdroundamt,jdbcType=DECIMAL},
      fdFreeSveAmt = #{fdfreesveamt,jdbcType=DECIMAL},
      fsFreeSveAmtUserId = #{fsfreesveamtuserid,jdbcType=VARCHAR},
      fsFreeSveAmtUserName = #{fsfreesveamtusername,jdbcType=VARCHAR},
      fsReCheckUserId = #{fsrecheckuserid,jdbcType=VARCHAR},
      fsReCheckUserName = #{fsrecheckusername,jdbcType=VARCHAR},
      fsReCheckReason = #{fsrecheckreason,jdbcType=VARCHAR},
      fsDataSrckind = #{fsdatasrckind,jdbcType=VARCHAR},
      fsSrcVerno = #{fssrcverno,jdbcType=VARCHAR},
      fdGiftRoundAmt = #{fdgiftroundamt,jdbcType=DECIMAL},
      fdDiscountRoundAmt = #{fddiscountroundamt,jdbcType=DECIMAL},
      fdBackRoundAmt = #{fdbackroundamt,jdbcType=DECIMAL},
      fdServiceRoundAmt = #{fdserviceroundamt,jdbcType=DECIMAL},
      fdSaleRoundAmt = #{fdsaleroundamt,jdbcType=DECIMAL},
      fdGiftQty = #{fdgiftqty,jdbcType=DECIMAL},
      fdBackQty = #{fdbackqty,jdbcType=DECIMAL},
      lver = #{lver,jdbcType=INTEGER}
    where fsSellNo = #{fssellno,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>