<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.SeqnoMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Seqno" >
    <id column="fsCls" property="fscls" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fiSeqNo" property="fiseqno" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="lver" property="lver" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsCls, fsShopGUID, fiSeqNo, fsUpdateTime, lver
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.SeqnoKey" >
    select 
    <include refid="Base_Column_List" />
    from tbseqno
    where fsCls = #{fscls,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.SeqnoKey" >
    delete from tbseqno
    where fsCls = #{fscls,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Seqno" >
    insert into tbseqno (fsCls, fsShopGUID, fiSeqNo, 
      fsUpdateTime, lver)
    values (#{fscls,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fiseqno,jdbcType=INTEGER}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{lver,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Seqno" >
    insert into tbseqno
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fscls != null" >
        fsCls,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fiseqno != null" >
        fiSeqNo,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="lver != null" >
        lver,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fscls != null" >
        #{fscls,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fiseqno != null" >
        #{fiseqno,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="lver != null" >
        #{lver,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Seqno" >
    update tbseqno
    <set >
      <if test="fiseqno != null" >
        fiSeqNo = #{fiseqno,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="lver != null" >
        lver = #{lver,jdbcType=INTEGER},
      </if>
    </set>
    where fsCls = #{fscls,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Seqno" >
    update tbseqno
    set fiSeqNo = #{fiseqno,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      lver = #{lver,jdbcType=INTEGER}
    where fsCls = #{fscls,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>