<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.SetingsMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Setings" >
    <id column="fskey" property="fskey" jdbcType="VARCHAR" />
    <result column="fsvalue" property="fsvalue" jdbcType="VARCHAR" />
    <result column="fsreamark" property="fsreamark" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fskey, fsvalue, fsreamark, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, fsShopGUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbsetings
    where fskey = #{fskey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbsetings
    where fskey = #{fskey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Setings" >
    insert into tbsetings (fskey, fsvalue, fsreamark, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fsShopGUID)
    values (#{fskey,jdbcType=VARCHAR}, #{fsvalue,jdbcType=VARCHAR}, #{fsreamark,jdbcType=VARCHAR}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, 
      #{fsshopguid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Setings" >
    insert into tbsetings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fskey != null" >
        fskey,
      </if>
      <if test="fsvalue != null" >
        fsvalue,
      </if>
      <if test="fsreamark != null" >
        fsreamark,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fskey != null" >
        #{fskey,jdbcType=VARCHAR},
      </if>
      <if test="fsvalue != null" >
        #{fsvalue,jdbcType=VARCHAR},
      </if>
      <if test="fsreamark != null" >
        #{fsreamark,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Setings" >
    update tbsetings
    <set >
      <if test="fsvalue != null" >
        fsvalue = #{fsvalue,jdbcType=VARCHAR},
      </if>
      <if test="fsreamark != null" >
        fsreamark = #{fsreamark,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID = #{fsshopguid,jdbcType=VARCHAR},
      </if>
    </set>
    where fskey = #{fskey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Setings" >
    update tbsetings
    set fsvalue = #{fsvalue,jdbcType=VARCHAR},
      fsreamark = #{fsreamark,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
    where fskey = #{fskey,jdbcType=VARCHAR}
  </update>
</mapper>