<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.shopMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.shop" >
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <result column="fsShopId" property="fsshopid" jdbcType="VARCHAR" />
    <result column="fsShopName" property="fsshopname" jdbcType="VARCHAR" />
    <result column="fsShopAlias" property="fsshopalias" jdbcType="VARCHAR" />
    <result column="fsEmail" property="fsemail" jdbcType="VARCHAR" />
    <result column="fsTel" property="fstel" jdbcType="VARCHAR" />
    <result column="fsFax" property="fsfax" jdbcType="VARCHAR" />
    <result column="fsAddr" property="fsaddr" jdbcType="VARCHAR" />
    <result column="fsPostal" property="fspostal" jdbcType="VARCHAR" />
    <result column="fsContact" property="fscontact" jdbcType="VARCHAR" />
    <result column="fsCellphoneCt" property="fscellphonect" jdbcType="VARCHAR" />
    <result column="fsShopDesc" property="fsshopdesc" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
    <result column="fiShopKind" property="fishopkind" jdbcType="INTEGER" />
    <result column="fsFoodTradeId" property="fsfoodtradeid" jdbcType="VARCHAR" />
    <result column="fsNotMaintain" property="fsnotmaintain" jdbcType="VARCHAR" />
    <result column="fsLicenceCode" property="fslicencecode" jdbcType="VARCHAR" />
    <result column="fsEncryption" property="fsencryption" jdbcType="VARCHAR" />
    <result column="fsCompanyGUID" property="fscompanyguid" jdbcType="VARCHAR" />
    <result column="fsMallShopGUID" property="fsmallshopguid" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsnote" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fsCreateShopGUID" property="fscreateshopguid" jdbcType="VARCHAR" />
    <result column="fsProvinceId" property="fsprovinceid" jdbcType="VARCHAR" />
    <result column="fsCityId" property="fscityid" jdbcType="VARCHAR" />
    <result column="fsDistrictId" property="fsdistrictid" jdbcType="VARCHAR" />
    <result column="fsLogoURL" property="fslogourl" jdbcType="VARCHAR" />
    <result column="fsSoftVersion" property="fssoftversion" jdbcType="VARCHAR" />
    <result column="fiClientType" property="ficlienttype" jdbcType="INTEGER" />
    <result column="fiPattern" property="fipattern" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsShopGUID, fsShopId, fsShopName, fsShopAlias, fsEmail, fsTel, fsFax, fsAddr, fsPostal, 
    fsContact, fsCellphoneCt, fsShopDesc, fiStatus, fiShopKind, fsFoodTradeId, fsNotMaintain, 
    fsLicenceCode, fsEncryption, fsCompanyGUID, fsMallShopGUID, fsNote, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName, fsCreateShopGUID, fsProvinceId, fsCityId, fsDistrictId, 
    fsLogoURL, fsSoftVersion, fiClientType, fiPattern
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbshop
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbshop
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.shop" >
    insert into tbshop (fsShopGUID, fsShopId, fsShopName, 
      fsShopAlias, fsEmail, fsTel, 
      fsFax, fsAddr, fsPostal, 
      fsContact, fsCellphoneCt, fsShopDesc, 
      fiStatus, fiShopKind, fsFoodTradeId, 
      fsNotMaintain, fsLicenceCode, fsEncryption, 
      fsCompanyGUID, fsMallShopGUID, fsNote, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fsCreateShopGUID, fsProvinceId, fsCityId, 
      fsDistrictId, fsLogoURL, fsSoftVersion, 
      fiClientType, fiPattern)
    values (#{fsshopguid,jdbcType=VARCHAR}, #{fsshopid,jdbcType=VARCHAR}, #{fsshopname,jdbcType=VARCHAR}, 
      #{fsshopalias,jdbcType=VARCHAR}, #{fsemail,jdbcType=VARCHAR}, #{fstel,jdbcType=VARCHAR}, 
      #{fsfax,jdbcType=VARCHAR}, #{fsaddr,jdbcType=VARCHAR}, #{fspostal,jdbcType=VARCHAR}, 
      #{fscontact,jdbcType=VARCHAR}, #{fscellphonect,jdbcType=VARCHAR}, #{fsshopdesc,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fishopkind,jdbcType=INTEGER}, #{fsfoodtradeid,jdbcType=VARCHAR}, 
      #{fsnotmaintain,jdbcType=VARCHAR}, #{fslicencecode,jdbcType=VARCHAR}, #{fsencryption,jdbcType=VARCHAR}, 
      #{fscompanyguid,jdbcType=VARCHAR}, #{fsmallshopguid,jdbcType=VARCHAR}, #{fsnote,jdbcType=VARCHAR}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, 
      #{fscreateshopguid,jdbcType=VARCHAR}, #{fsprovinceid,jdbcType=VARCHAR}, #{fscityid,jdbcType=VARCHAR}, 
      #{fsdistrictid,jdbcType=VARCHAR}, #{fslogourl,jdbcType=VARCHAR}, #{fssoftversion,jdbcType=VARCHAR}, 
      #{ficlienttype,jdbcType=INTEGER}, #{fipattern,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.shop" >
    insert into tbshop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsshopid != null" >
        fsShopId,
      </if>
      <if test="fsshopname != null" >
        fsShopName,
      </if>
      <if test="fsshopalias != null" >
        fsShopAlias,
      </if>
      <if test="fsemail != null" >
        fsEmail,
      </if>
      <if test="fstel != null" >
        fsTel,
      </if>
      <if test="fsfax != null" >
        fsFax,
      </if>
      <if test="fsaddr != null" >
        fsAddr,
      </if>
      <if test="fspostal != null" >
        fsPostal,
      </if>
      <if test="fscontact != null" >
        fsContact,
      </if>
      <if test="fscellphonect != null" >
        fsCellphoneCt,
      </if>
      <if test="fsshopdesc != null" >
        fsShopDesc,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
      <if test="fishopkind != null" >
        fiShopKind,
      </if>
      <if test="fsfoodtradeid != null" >
        fsFoodTradeId,
      </if>
      <if test="fsnotmaintain != null" >
        fsNotMaintain,
      </if>
      <if test="fslicencecode != null" >
        fsLicenceCode,
      </if>
      <if test="fsencryption != null" >
        fsEncryption,
      </if>
      <if test="fscompanyguid != null" >
        fsCompanyGUID,
      </if>
      <if test="fsmallshopguid != null" >
        fsMallShopGUID,
      </if>
      <if test="fsnote != null" >
        fsNote,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fscreateshopguid != null" >
        fsCreateShopGUID,
      </if>
      <if test="fsprovinceid != null" >
        fsProvinceId,
      </if>
      <if test="fscityid != null" >
        fsCityId,
      </if>
      <if test="fsdistrictid != null" >
        fsDistrictId,
      </if>
      <if test="fslogourl != null" >
        fsLogoURL,
      </if>
      <if test="fssoftversion != null" >
        fsSoftVersion,
      </if>
      <if test="ficlienttype != null" >
        fiClientType,
      </if>
      <if test="fipattern != null" >
        fiPattern,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopid != null" >
        #{fsshopid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopname != null" >
        #{fsshopname,jdbcType=VARCHAR},
      </if>
      <if test="fsshopalias != null" >
        #{fsshopalias,jdbcType=VARCHAR},
      </if>
      <if test="fsemail != null" >
        #{fsemail,jdbcType=VARCHAR},
      </if>
      <if test="fstel != null" >
        #{fstel,jdbcType=VARCHAR},
      </if>
      <if test="fsfax != null" >
        #{fsfax,jdbcType=VARCHAR},
      </if>
      <if test="fsaddr != null" >
        #{fsaddr,jdbcType=VARCHAR},
      </if>
      <if test="fspostal != null" >
        #{fspostal,jdbcType=VARCHAR},
      </if>
      <if test="fscontact != null" >
        #{fscontact,jdbcType=VARCHAR},
      </if>
      <if test="fscellphonect != null" >
        #{fscellphonect,jdbcType=VARCHAR},
      </if>
      <if test="fsshopdesc != null" >
        #{fsshopdesc,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fishopkind != null" >
        #{fishopkind,jdbcType=INTEGER},
      </if>
      <if test="fsfoodtradeid != null" >
        #{fsfoodtradeid,jdbcType=VARCHAR},
      </if>
      <if test="fsnotmaintain != null" >
        #{fsnotmaintain,jdbcType=VARCHAR},
      </if>
      <if test="fslicencecode != null" >
        #{fslicencecode,jdbcType=VARCHAR},
      </if>
      <if test="fsencryption != null" >
        #{fsencryption,jdbcType=VARCHAR},
      </if>
      <if test="fscompanyguid != null" >
        #{fscompanyguid,jdbcType=VARCHAR},
      </if>
      <if test="fsmallshopguid != null" >
        #{fsmallshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fscreateshopguid != null" >
        #{fscreateshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsprovinceid != null" >
        #{fsprovinceid,jdbcType=VARCHAR},
      </if>
      <if test="fscityid != null" >
        #{fscityid,jdbcType=VARCHAR},
      </if>
      <if test="fsdistrictid != null" >
        #{fsdistrictid,jdbcType=VARCHAR},
      </if>
      <if test="fslogourl != null" >
        #{fslogourl,jdbcType=VARCHAR},
      </if>
      <if test="fssoftversion != null" >
        #{fssoftversion,jdbcType=VARCHAR},
      </if>
      <if test="ficlienttype != null" >
        #{ficlienttype,jdbcType=INTEGER},
      </if>
      <if test="fipattern != null" >
        #{fipattern,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.shop" >
    update tbshop
    <set >
      <if test="fsshopid != null" >
        fsShopId = #{fsshopid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopname != null" >
        fsShopName = #{fsshopname,jdbcType=VARCHAR},
      </if>
      <if test="fsshopalias != null" >
        fsShopAlias = #{fsshopalias,jdbcType=VARCHAR},
      </if>
      <if test="fsemail != null" >
        fsEmail = #{fsemail,jdbcType=VARCHAR},
      </if>
      <if test="fstel != null" >
        fsTel = #{fstel,jdbcType=VARCHAR},
      </if>
      <if test="fsfax != null" >
        fsFax = #{fsfax,jdbcType=VARCHAR},
      </if>
      <if test="fsaddr != null" >
        fsAddr = #{fsaddr,jdbcType=VARCHAR},
      </if>
      <if test="fspostal != null" >
        fsPostal = #{fspostal,jdbcType=VARCHAR},
      </if>
      <if test="fscontact != null" >
        fsContact = #{fscontact,jdbcType=VARCHAR},
      </if>
      <if test="fscellphonect != null" >
        fsCellphoneCt = #{fscellphonect,jdbcType=VARCHAR},
      </if>
      <if test="fsshopdesc != null" >
        fsShopDesc = #{fsshopdesc,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fishopkind != null" >
        fiShopKind = #{fishopkind,jdbcType=INTEGER},
      </if>
      <if test="fsfoodtradeid != null" >
        fsFoodTradeId = #{fsfoodtradeid,jdbcType=VARCHAR},
      </if>
      <if test="fsnotmaintain != null" >
        fsNotMaintain = #{fsnotmaintain,jdbcType=VARCHAR},
      </if>
      <if test="fslicencecode != null" >
        fsLicenceCode = #{fslicencecode,jdbcType=VARCHAR},
      </if>
      <if test="fsencryption != null" >
        fsEncryption = #{fsencryption,jdbcType=VARCHAR},
      </if>
      <if test="fscompanyguid != null" >
        fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR},
      </if>
      <if test="fsmallshopguid != null" >
        fsMallShopGUID = #{fsmallshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsnote != null" >
        fsNote = #{fsnote,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fscreateshopguid != null" >
        fsCreateShopGUID = #{fscreateshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsprovinceid != null" >
        fsProvinceId = #{fsprovinceid,jdbcType=VARCHAR},
      </if>
      <if test="fscityid != null" >
        fsCityId = #{fscityid,jdbcType=VARCHAR},
      </if>
      <if test="fsdistrictid != null" >
        fsDistrictId = #{fsdistrictid,jdbcType=VARCHAR},
      </if>
      <if test="fslogourl != null" >
        fsLogoURL = #{fslogourl,jdbcType=VARCHAR},
      </if>
      <if test="fssoftversion != null" >
        fsSoftVersion = #{fssoftversion,jdbcType=VARCHAR},
      </if>
      <if test="ficlienttype != null" >
        fiClientType = #{ficlienttype,jdbcType=INTEGER},
      </if>
      <if test="fipattern != null" >
        fiPattern = #{fipattern,jdbcType=INTEGER},
      </if>
    </set>
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.shop" >
    update tbshop
    set fsShopId = #{fsshopid,jdbcType=VARCHAR},
      fsShopName = #{fsshopname,jdbcType=VARCHAR},
      fsShopAlias = #{fsshopalias,jdbcType=VARCHAR},
      fsEmail = #{fsemail,jdbcType=VARCHAR},
      fsTel = #{fstel,jdbcType=VARCHAR},
      fsFax = #{fsfax,jdbcType=VARCHAR},
      fsAddr = #{fsaddr,jdbcType=VARCHAR},
      fsPostal = #{fspostal,jdbcType=VARCHAR},
      fsContact = #{fscontact,jdbcType=VARCHAR},
      fsCellphoneCt = #{fscellphonect,jdbcType=VARCHAR},
      fsShopDesc = #{fsshopdesc,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER},
      fiShopKind = #{fishopkind,jdbcType=INTEGER},
      fsFoodTradeId = #{fsfoodtradeid,jdbcType=VARCHAR},
      fsNotMaintain = #{fsnotmaintain,jdbcType=VARCHAR},
      fsLicenceCode = #{fslicencecode,jdbcType=VARCHAR},
      fsEncryption = #{fsencryption,jdbcType=VARCHAR},
      fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR},
      fsMallShopGUID = #{fsmallshopguid,jdbcType=VARCHAR},
      fsNote = #{fsnote,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fsCreateShopGUID = #{fscreateshopguid,jdbcType=VARCHAR},
      fsProvinceId = #{fsprovinceid,jdbcType=VARCHAR},
      fsCityId = #{fscityid,jdbcType=VARCHAR},
      fsDistrictId = #{fsdistrictid,jdbcType=VARCHAR},
      fsLogoURL = #{fslogourl,jdbcType=VARCHAR},
      fsSoftVersion = #{fssoftversion,jdbcType=VARCHAR},
      fiClientType = #{ficlienttype,jdbcType=INTEGER},
      fiPattern = #{fipattern,jdbcType=INTEGER}
    where fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
  </update>
</mapper>