<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbaddrMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbaddr" >
    <id column="fsCityId" property="fsCityId" jdbcType="VARCHAR" />
    <id column="fsDistrictId" property="fsDistrictId" jdbcType="VARCHAR" />
    <id column="fsProvinceId" property="fsProvinceId" jdbcType="VARCHAR" />
    <result column="fsProvinceName" property="fsProvinceName" jdbcType="VARCHAR" />
    <result column="fsCityName" property="fsCityName" jdbcType="VARCHAR" />
    <result column="fsDistrictName" property="fsDistrictName" jdbcType="VARCHAR" />
    <result column="fsPostal" property="fsPostal" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsCityId, fsDistrictId, fsProvinceId, fsProvinceName, fsCityName, fsDistrictName, 
    fsPostal
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbaddrKey" >
    select 
    <include refid="Base_Column_List" />
    from tbaddr
    where fsCityId = #{fsCityId,jdbcType=VARCHAR}
      and fsDistrictId = #{fsDistrictId,jdbcType=VARCHAR}
      and fsProvinceId = #{fsProvinceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbaddrKey" >
    delete from tbaddr
    where fsCityId = #{fsCityId,jdbcType=VARCHAR}
      and fsDistrictId = #{fsDistrictId,jdbcType=VARCHAR}
      and fsProvinceId = #{fsProvinceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbaddr" >
    insert into tbaddr (fsCityId, fsDistrictId, fsProvinceId, 
      fsProvinceName, fsCityName, fsDistrictName, 
      fsPostal)
    values (#{fsCityId,jdbcType=VARCHAR}, #{fsDistrictId,jdbcType=VARCHAR}, #{fsProvinceId,jdbcType=VARCHAR}, 
      #{fsProvinceName,jdbcType=VARCHAR}, #{fsCityName,jdbcType=VARCHAR}, #{fsDistrictName,jdbcType=VARCHAR}, 
      #{fsPostal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbaddr" >
    insert into tbaddr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsCityId != null" >
        fsCityId,
      </if>
      <if test="fsDistrictId != null" >
        fsDistrictId,
      </if>
      <if test="fsProvinceId != null" >
        fsProvinceId,
      </if>
      <if test="fsProvinceName != null" >
        fsProvinceName,
      </if>
      <if test="fsCityName != null" >
        fsCityName,
      </if>
      <if test="fsDistrictName != null" >
        fsDistrictName,
      </if>
      <if test="fsPostal != null" >
        fsPostal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsCityId != null" >
        #{fsCityId,jdbcType=VARCHAR},
      </if>
      <if test="fsDistrictId != null" >
        #{fsDistrictId,jdbcType=VARCHAR},
      </if>
      <if test="fsProvinceId != null" >
        #{fsProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="fsProvinceName != null" >
        #{fsProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="fsCityName != null" >
        #{fsCityName,jdbcType=VARCHAR},
      </if>
      <if test="fsDistrictName != null" >
        #{fsDistrictName,jdbcType=VARCHAR},
      </if>
      <if test="fsPostal != null" >
        #{fsPostal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbaddr" >
    update tbaddr
    <set >
      <if test="fsProvinceName != null" >
        fsProvinceName = #{fsProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="fsCityName != null" >
        fsCityName = #{fsCityName,jdbcType=VARCHAR},
      </if>
      <if test="fsDistrictName != null" >
        fsDistrictName = #{fsDistrictName,jdbcType=VARCHAR},
      </if>
      <if test="fsPostal != null" >
        fsPostal = #{fsPostal,jdbcType=VARCHAR},
      </if>
    </set>
    where fsCityId = #{fsCityId,jdbcType=VARCHAR}
      and fsDistrictId = #{fsDistrictId,jdbcType=VARCHAR}
      and fsProvinceId = #{fsProvinceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbaddr" >
    update tbaddr
    set fsProvinceName = #{fsProvinceName,jdbcType=VARCHAR},
      fsCityName = #{fsCityName,jdbcType=VARCHAR},
      fsDistrictName = #{fsDistrictName,jdbcType=VARCHAR},
      fsPostal = #{fsPostal,jdbcType=VARCHAR}
    where fsCityId = #{fsCityId,jdbcType=VARCHAR}
      and fsDistrictId = #{fsDistrictId,jdbcType=VARCHAR}
      and fsProvinceId = #{fsProvinceId,jdbcType=VARCHAR}
  </update>
</mapper>