<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbbillsourceMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbbillsource" >
    <id column="fsBillSourceId" property="fsBillSourceId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsBillSourceName" property="fsBillSourceName" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fiDataKind" property="fiDataKind" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fiBillSource" property="fiBillSource" jdbcType="INTEGER" />
    <result column="fiMessageNotice" property="fiMessageNotice" jdbcType="INTEGER" />
    <result column="fiVoiceNotice" property="fiVoiceNotice" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsBillSourceId, fsShopGUID, fsBillSourceName, fiStatus, fiDataKind, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName, fiBillSource, fiMessageNotice, fiVoiceNotice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbbillsourceKey" >
    select 
    <include refid="Base_Column_List" />
    from tbbillsource
    where fsBillSourceId = #{fsBillSourceId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbbillsourceKey" >
    delete from tbbillsource
    where fsBillSourceId = #{fsBillSourceId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbbillsource" >
    insert into tbbillsource (fsBillSourceId, fsShopGUID, fsBillSourceName, 
      fiStatus, fiDataKind, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName, fiBillSource, 
      fiMessageNotice, fiVoiceNotice)
    values (#{fsBillSourceId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsBillSourceName,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fiDataKind,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, 
      #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, #{fiBillSource,jdbcType=INTEGER}, 
      #{fiMessageNotice,jdbcType=INTEGER}, #{fiVoiceNotice,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbbillsource" >
    insert into tbbillsource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsBillSourceId != null" >
        fsBillSourceId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsBillSourceName != null" >
        fsBillSourceName,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fiDataKind != null" >
        fiDataKind,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fiBillSource != null" >
        fiBillSource,
      </if>
      <if test="fiMessageNotice != null" >
        fiMessageNotice,
      </if>
      <if test="fiVoiceNotice != null" >
        fiVoiceNotice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsBillSourceId != null" >
        #{fsBillSourceId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsBillSourceName != null" >
        #{fsBillSourceName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiDataKind != null" >
        #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiBillSource != null" >
        #{fiBillSource,jdbcType=INTEGER},
      </if>
      <if test="fiMessageNotice != null" >
        #{fiMessageNotice,jdbcType=INTEGER},
      </if>
      <if test="fiVoiceNotice != null" >
        #{fiVoiceNotice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbbillsource" >
    update tbbillsource
    <set >
      <if test="fsBillSourceName != null" >
        fsBillSourceName = #{fsBillSourceName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiDataKind != null" >
        fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiBillSource != null" >
        fiBillSource = #{fiBillSource,jdbcType=INTEGER},
      </if>
      <if test="fiMessageNotice != null" >
        fiMessageNotice = #{fiMessageNotice,jdbcType=INTEGER},
      </if>
      <if test="fiVoiceNotice != null" >
        fiVoiceNotice = #{fiVoiceNotice,jdbcType=INTEGER},
      </if>
    </set>
    where fsBillSourceId = #{fsBillSourceId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbbillsource" >
    update tbbillsource
    set fsBillSourceName = #{fsBillSourceName,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fiBillSource = #{fiBillSource,jdbcType=INTEGER},
      fiMessageNotice = #{fiMessageNotice,jdbcType=INTEGER},
      fiVoiceNotice = #{fiVoiceNotice,jdbcType=INTEGER}
    where fsBillSourceId = #{fsBillSourceId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>