<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pos.dao.TbcookbookmenuMapper">
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbcookbookmenu">
    <id column="fiOrderUintCd" jdbcType="INTEGER" property="fiOrderUintCd" />
    <id column="fsShopGUID" jdbcType="VARCHAR" property="fsShopGUID" />
    <id column="fscookid" jdbcType="VARCHAR" property="fscookid" />
    <result column="fistatus" jdbcType="INTEGER" property="fistatus" />
    <result column="fsUpdateTime" jdbcType="VARCHAR" property="fsUpdateTime" />
    <result column="fsUpdateUserId" jdbcType="VARCHAR" property="fsUpdateUserId" />
    <result column="fsUpdateUserName" jdbcType="VARCHAR" property="fsUpdateUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    fiOrderUintCd, fsShopGUID, fscookid, fistatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.pos.entity.TbcookbookmenuKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbcookbookmenu
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbcookbookmenuKey">
    delete from tbcookbookmenu
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbcookbookmenu">
    insert into tbcookbookmenu (fiOrderUintCd, fsShopGUID, fscookid, 
      fistatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fiOrderUintCd,jdbcType=INTEGER}, #{fsShopGUID,jdbcType=VARCHAR}, #{fscookid,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbcookbookmenu">
    insert into tbcookbookmenu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fiOrderUintCd != null">
        fiOrderUintCd,
      </if>
      <if test="fsShopGUID != null">
        fsShopGUID,
      </if>
      <if test="fscookid != null">
        fscookid,
      </if>
      <if test="fistatus != null">
        fistatus,
      </if>
      <if test="fsUpdateTime != null">
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null">
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null">
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fiOrderUintCd != null">
        #{fiOrderUintCd,jdbcType=INTEGER},
      </if>
      <if test="fsShopGUID != null">
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fscookid != null">
        #{fscookid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null">
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null">
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null">
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null">
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbcookbookmenu">
    update tbcookbookmenu
    <set>
      <if test="fistatus != null">
        fistatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null">
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null">
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null">
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbcookbookmenu">
    update tbcookbookmenu
    set fistatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbcookbookmenu">
    <id column="fiOrderUintCd" jdbcType="INTEGER" property="fiOrderUintCd" />
    <id column="fsShopGUID" jdbcType="VARCHAR" property="fsShopGUID" />
    <id column="fscookid" jdbcType="VARCHAR" property="fscookid" />
    <result column="fistatus" jdbcType="INTEGER" property="fistatus" />
    <result column="fsUpdateTime" jdbcType="VARCHAR" property="fsUpdateTime" />
    <result column="fsUpdateUserId" jdbcType="VARCHAR" property="fsUpdateUserId" />
    <result column="fsUpdateUserName" jdbcType="VARCHAR" property="fsUpdateUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    fiOrderUintCd, fsShopGUID, fscookid, fistatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.pos.entity.TbcookbookmenuKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbcookbookmenu
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbcookbookmenuKey">
    delete from tbcookbookmenu
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbcookbookmenu">
    insert into tbcookbookmenu (fiOrderUintCd, fsShopGUID, fscookid, 
      fistatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fiOrderUintCd,jdbcType=INTEGER}, #{fsShopGUID,jdbcType=VARCHAR}, #{fscookid,jdbcType=VARCHAR}, 
      #{fistatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbcookbookmenu">
    insert into tbcookbookmenu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fiOrderUintCd != null">
        fiOrderUintCd,
      </if>
      <if test="fsShopGUID != null">
        fsShopGUID,
      </if>
      <if test="fscookid != null">
        fscookid,
      </if>
      <if test="fistatus != null">
        fistatus,
      </if>
      <if test="fsUpdateTime != null">
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null">
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null">
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fiOrderUintCd != null">
        #{fiOrderUintCd,jdbcType=INTEGER},
      </if>
      <if test="fsShopGUID != null">
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fscookid != null">
        #{fscookid,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null">
        #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null">
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null">
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null">
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbcookbookmenu">
    update tbcookbookmenu
    <set>
      <if test="fistatus != null">
        fistatus = #{fistatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null">
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null">
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null">
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbcookbookmenu">
    update tbcookbookmenu
    set fistatus = #{fistatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fscookid = #{fscookid,jdbcType=VARCHAR}
  </update>
</mapper>