<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbcustMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbcust" >
    <id column="fsCustGUID" property="fsCustGUID" jdbcType="VARCHAR" />
    <result column="fsCustCls" property="fsCustCls" jdbcType="VARCHAR" />
    <result column="fsCustId" property="fsCustId" jdbcType="VARCHAR" />
    <result column="fsCustSurId" property="fsCustSurId" jdbcType="VARCHAR" />
    <result column="fsCustSteId" property="fsCustSteId" jdbcType="VARCHAR" />
    <result column="fsCustTypeId" property="fsCustTypeId" jdbcType="VARCHAR" />
    <result column="fsCustName" property="fsCustName" jdbcType="VARCHAR" />
    <result column="fsCustEngName" property="fsCustEngName" jdbcType="VARCHAR" />
    <result column="fsPid" property="fsPid" jdbcType="VARCHAR" />
    <result column="fsBirthDate" property="fsBirthDate" jdbcType="VARCHAR" />
    <result column="fsSex" property="fsSex" jdbcType="VARCHAR" />
    <result column="fsJobTitle" property="fsJobTitle" jdbcType="VARCHAR" />
    <result column="fsCellphonePl" property="fsCellphonePl" jdbcType="VARCHAR" />
    <result column="fsTelPl" property="fsTelPl" jdbcType="VARCHAR" />
    <result column="fsEmailPl" property="fsEmailPl" jdbcType="VARCHAR" />
    <result column="fsProvinceId_Pl" property="fsProvinceId_Pl" jdbcType="VARCHAR" />
    <result column="fsCityId_Pl" property="fsCityId_Pl" jdbcType="VARCHAR" />
    <result column="fsDistrictId_Pl" property="fsDistrictId_Pl" jdbcType="VARCHAR" />
    <result column="fsAddrPl" property="fsAddrPl" jdbcType="VARCHAR" />
    <result column="fsPostal_Pl" property="fsPostal_Pl" jdbcType="VARCHAR" />
    <result column="fsCompName" property="fsCompName" jdbcType="VARCHAR" />
    <result column="fsCompEngName" property="fsCompEngName" jdbcType="VARCHAR" />
    <result column="fsTradeId" property="fsTradeId" jdbcType="VARCHAR" />
    <result column="fsTelCp" property="fsTelCp" jdbcType="VARCHAR" />
    <result column="fsTelCpExt" property="fsTelCpExt" jdbcType="VARCHAR" />
    <result column="fsFaxCp" property="fsFaxCp" jdbcType="VARCHAR" />
    <result column="fsEmailCp" property="fsEmailCp" jdbcType="VARCHAR" />
    <result column="fsProvinceId_Cp" property="fsProvinceId_Cp" jdbcType="VARCHAR" />
    <result column="fsCityId_Cp" property="fsCityId_Cp" jdbcType="VARCHAR" />
    <result column="fsDistrictId_Cp" property="fsDistrictId_Cp" jdbcType="VARCHAR" />
    <result column="fsAddrCp" property="fsAddrCp" jdbcType="VARCHAR" />
    <result column="fsPostal_Cp" property="fsPostal_Cp" jdbcType="VARCHAR" />
    <result column="fsContact" property="fsContact" jdbcType="VARCHAR" />
    <result column="fsJobTitleCt" property="fsJobTitleCt" jdbcType="VARCHAR" />
    <result column="fsTelCt" property="fsTelCt" jdbcType="VARCHAR" />
    <result column="fsCellphoneCt" property="fsCellphoneCt" jdbcType="VARCHAR" />
    <result column="fsEmailCt" property="fsEmailCt" jdbcType="VARCHAR" />
    <result column="fsBusiScope" property="fsBusiScope" jdbcType="VARCHAR" />
    <result column="fsCelebrateDate" property="fsCelebrateDate" jdbcType="VARCHAR" />
    <result column="fsCardNo" property="fsCardNo" jdbcType="VARCHAR" />
    <result column="fiCardSte" property="fiCardSte" jdbcType="INTEGER" />
    <result column="fsCardFreezeDesc" property="fsCardFreezeDesc" jdbcType="VARCHAR" />
    <result column="fiIsVIP" property="fiIsVIP" jdbcType="INTEGER" />
    <result column="fiPoint" property="fiPoint" jdbcType="INTEGER" />
    <result column="fiIsSms" property="fiIsSms" jdbcType="INTEGER" />
    <result column="fsExpArea" property="fsExpArea" jdbcType="VARCHAR" />
    <result column="fsHobby" property="fsHobby" jdbcType="VARCHAR" />
    <result column="fsCareful" property="fsCareful" jdbcType="VARCHAR" />
    <result column="fsExecutive" property="fsExecutive" jdbcType="VARCHAR" />
    <result column="fsExpendDate" property="fsExpendDate" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsCreateTime" property="fsCreateTime" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fsCreateUserName" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsCompanyGUID" property="fsCompanyGUID" jdbcType="VARCHAR" />
    <result column="fsVIPLvlId" property="fsVIPLvlId" jdbcType="VARCHAR" />
    <result column="fiExpTag" property="fiExpTag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsCustGUID, fsCustCls, fsCustId, fsCustSurId, fsCustSteId, fsCustTypeId, fsCustName, 
    fsCustEngName, fsPid, fsBirthDate, fsSex, fsJobTitle, fsCellphonePl, fsTelPl, fsEmailPl, 
    fsProvinceId_Pl, fsCityId_Pl, fsDistrictId_Pl, fsAddrPl, fsPostal_Pl, fsCompName, 
    fsCompEngName, fsTradeId, fsTelCp, fsTelCpExt, fsFaxCp, fsEmailCp, fsProvinceId_Cp, 
    fsCityId_Cp, fsDistrictId_Cp, fsAddrCp, fsPostal_Cp, fsContact, fsJobTitleCt, fsTelCt, 
    fsCellphoneCt, fsEmailCt, fsBusiScope, fsCelebrateDate, fsCardNo, fiCardSte, fsCardFreezeDesc, 
    fiIsVIP, fiPoint, fiIsSms, fsExpArea, fsHobby, fsCareful, fsExecutive, fsExpendDate, 
    fsNote, fiStatus, fsCreateTime, fsCreateUserName, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fsShopGUID, fsCompanyGUID, fsVIPLvlId, fiExpTag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbcust
    where fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbcust
    where fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbcust" >
    insert into tbcust (fsCustGUID, fsCustCls, fsCustId, 
      fsCustSurId, fsCustSteId, fsCustTypeId, 
      fsCustName, fsCustEngName, fsPid, 
      fsBirthDate, fsSex, fsJobTitle, 
      fsCellphonePl, fsTelPl, fsEmailPl, 
      fsProvinceId_Pl, fsCityId_Pl, fsDistrictId_Pl, 
      fsAddrPl, fsPostal_Pl, fsCompName, 
      fsCompEngName, fsTradeId, fsTelCp, 
      fsTelCpExt, fsFaxCp, fsEmailCp, 
      fsProvinceId_Cp, fsCityId_Cp, fsDistrictId_Cp, 
      fsAddrCp, fsPostal_Cp, fsContact, 
      fsJobTitleCt, fsTelCt, fsCellphoneCt, 
      fsEmailCt, fsBusiScope, fsCelebrateDate, 
      fsCardNo, fiCardSte, fsCardFreezeDesc, 
      fiIsVIP, fiPoint, fiIsSms, 
      fsExpArea, fsHobby, fsCareful, 
      fsExecutive, fsExpendDate, fsNote, 
      fiStatus, fsCreateTime, fsCreateUserName, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fsShopGUID, fsCompanyGUID, fsVIPLvlId, 
      fiExpTag)
    values (#{fsCustGUID,jdbcType=VARCHAR}, #{fsCustCls,jdbcType=VARCHAR}, #{fsCustId,jdbcType=VARCHAR}, 
      #{fsCustSurId,jdbcType=VARCHAR}, #{fsCustSteId,jdbcType=VARCHAR}, #{fsCustTypeId,jdbcType=VARCHAR}, 
      #{fsCustName,jdbcType=VARCHAR}, #{fsCustEngName,jdbcType=VARCHAR}, #{fsPid,jdbcType=VARCHAR}, 
      #{fsBirthDate,jdbcType=VARCHAR}, #{fsSex,jdbcType=VARCHAR}, #{fsJobTitle,jdbcType=VARCHAR}, 
      #{fsCellphonePl,jdbcType=VARCHAR}, #{fsTelPl,jdbcType=VARCHAR}, #{fsEmailPl,jdbcType=VARCHAR}, 
      #{fsProvinceId_Pl,jdbcType=VARCHAR}, #{fsCityId_Pl,jdbcType=VARCHAR}, #{fsDistrictId_Pl,jdbcType=VARCHAR}, 
      #{fsAddrPl,jdbcType=VARCHAR}, #{fsPostal_Pl,jdbcType=VARCHAR}, #{fsCompName,jdbcType=VARCHAR}, 
      #{fsCompEngName,jdbcType=VARCHAR}, #{fsTradeId,jdbcType=VARCHAR}, #{fsTelCp,jdbcType=VARCHAR}, 
      #{fsTelCpExt,jdbcType=VARCHAR}, #{fsFaxCp,jdbcType=VARCHAR}, #{fsEmailCp,jdbcType=VARCHAR}, 
      #{fsProvinceId_Cp,jdbcType=VARCHAR}, #{fsCityId_Cp,jdbcType=VARCHAR}, #{fsDistrictId_Cp,jdbcType=VARCHAR}, 
      #{fsAddrCp,jdbcType=VARCHAR}, #{fsPostal_Cp,jdbcType=VARCHAR}, #{fsContact,jdbcType=VARCHAR}, 
      #{fsJobTitleCt,jdbcType=VARCHAR}, #{fsTelCt,jdbcType=VARCHAR}, #{fsCellphoneCt,jdbcType=VARCHAR}, 
      #{fsEmailCt,jdbcType=VARCHAR}, #{fsBusiScope,jdbcType=VARCHAR}, #{fsCelebrateDate,jdbcType=VARCHAR}, 
      #{fsCardNo,jdbcType=VARCHAR}, #{fiCardSte,jdbcType=INTEGER}, #{fsCardFreezeDesc,jdbcType=VARCHAR}, 
      #{fiIsVIP,jdbcType=INTEGER}, #{fiPoint,jdbcType=INTEGER}, #{fiIsSms,jdbcType=INTEGER}, 
      #{fsExpArea,jdbcType=VARCHAR}, #{fsHobby,jdbcType=VARCHAR}, #{fsCareful,jdbcType=VARCHAR}, 
      #{fsExecutive,jdbcType=VARCHAR}, #{fsExpendDate,jdbcType=VARCHAR}, #{fsNote,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fsCreateTime,jdbcType=VARCHAR}, #{fsCreateUserName,jdbcType=VARCHAR}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, 
      #{fsShopGUID,jdbcType=VARCHAR}, #{fsCompanyGUID,jdbcType=VARCHAR}, #{fsVIPLvlId,jdbcType=VARCHAR}, 
      #{fiExpTag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbcust" >
    insert into tbcust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsCustGUID != null" >
        fsCustGUID,
      </if>
      <if test="fsCustCls != null" >
        fsCustCls,
      </if>
      <if test="fsCustId != null" >
        fsCustId,
      </if>
      <if test="fsCustSurId != null" >
        fsCustSurId,
      </if>
      <if test="fsCustSteId != null" >
        fsCustSteId,
      </if>
      <if test="fsCustTypeId != null" >
        fsCustTypeId,
      </if>
      <if test="fsCustName != null" >
        fsCustName,
      </if>
      <if test="fsCustEngName != null" >
        fsCustEngName,
      </if>
      <if test="fsPid != null" >
        fsPid,
      </if>
      <if test="fsBirthDate != null" >
        fsBirthDate,
      </if>
      <if test="fsSex != null" >
        fsSex,
      </if>
      <if test="fsJobTitle != null" >
        fsJobTitle,
      </if>
      <if test="fsCellphonePl != null" >
        fsCellphonePl,
      </if>
      <if test="fsTelPl != null" >
        fsTelPl,
      </if>
      <if test="fsEmailPl != null" >
        fsEmailPl,
      </if>
      <if test="fsProvinceId_Pl != null" >
        fsProvinceId_Pl,
      </if>
      <if test="fsCityId_Pl != null" >
        fsCityId_Pl,
      </if>
      <if test="fsDistrictId_Pl != null" >
        fsDistrictId_Pl,
      </if>
      <if test="fsAddrPl != null" >
        fsAddrPl,
      </if>
      <if test="fsPostal_Pl != null" >
        fsPostal_Pl,
      </if>
      <if test="fsCompName != null" >
        fsCompName,
      </if>
      <if test="fsCompEngName != null" >
        fsCompEngName,
      </if>
      <if test="fsTradeId != null" >
        fsTradeId,
      </if>
      <if test="fsTelCp != null" >
        fsTelCp,
      </if>
      <if test="fsTelCpExt != null" >
        fsTelCpExt,
      </if>
      <if test="fsFaxCp != null" >
        fsFaxCp,
      </if>
      <if test="fsEmailCp != null" >
        fsEmailCp,
      </if>
      <if test="fsProvinceId_Cp != null" >
        fsProvinceId_Cp,
      </if>
      <if test="fsCityId_Cp != null" >
        fsCityId_Cp,
      </if>
      <if test="fsDistrictId_Cp != null" >
        fsDistrictId_Cp,
      </if>
      <if test="fsAddrCp != null" >
        fsAddrCp,
      </if>
      <if test="fsPostal_Cp != null" >
        fsPostal_Cp,
      </if>
      <if test="fsContact != null" >
        fsContact,
      </if>
      <if test="fsJobTitleCt != null" >
        fsJobTitleCt,
      </if>
      <if test="fsTelCt != null" >
        fsTelCt,
      </if>
      <if test="fsCellphoneCt != null" >
        fsCellphoneCt,
      </if>
      <if test="fsEmailCt != null" >
        fsEmailCt,
      </if>
      <if test="fsBusiScope != null" >
        fsBusiScope,
      </if>
      <if test="fsCelebrateDate != null" >
        fsCelebrateDate,
      </if>
      <if test="fsCardNo != null" >
        fsCardNo,
      </if>
      <if test="fiCardSte != null" >
        fiCardSte,
      </if>
      <if test="fsCardFreezeDesc != null" >
        fsCardFreezeDesc,
      </if>
      <if test="fiIsVIP != null" >
        fiIsVIP,
      </if>
      <if test="fiPoint != null" >
        fiPoint,
      </if>
      <if test="fiIsSms != null" >
        fiIsSms,
      </if>
      <if test="fsExpArea != null" >
        fsExpArea,
      </if>
      <if test="fsHobby != null" >
        fsHobby,
      </if>
      <if test="fsCareful != null" >
        fsCareful,
      </if>
      <if test="fsExecutive != null" >
        fsExecutive,
      </if>
      <if test="fsExpendDate != null" >
        fsExpendDate,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime,
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsCompanyGUID != null" >
        fsCompanyGUID,
      </if>
      <if test="fsVIPLvlId != null" >
        fsVIPLvlId,
      </if>
      <if test="fiExpTag != null" >
        fiExpTag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsCustGUID != null" >
        #{fsCustGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCustCls != null" >
        #{fsCustCls,jdbcType=VARCHAR},
      </if>
      <if test="fsCustId != null" >
        #{fsCustId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustSurId != null" >
        #{fsCustSurId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustSteId != null" >
        #{fsCustSteId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustTypeId != null" >
        #{fsCustTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustName != null" >
        #{fsCustName,jdbcType=VARCHAR},
      </if>
      <if test="fsCustEngName != null" >
        #{fsCustEngName,jdbcType=VARCHAR},
      </if>
      <if test="fsPid != null" >
        #{fsPid,jdbcType=VARCHAR},
      </if>
      <if test="fsBirthDate != null" >
        #{fsBirthDate,jdbcType=VARCHAR},
      </if>
      <if test="fsSex != null" >
        #{fsSex,jdbcType=VARCHAR},
      </if>
      <if test="fsJobTitle != null" >
        #{fsJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="fsCellphonePl != null" >
        #{fsCellphonePl,jdbcType=VARCHAR},
      </if>
      <if test="fsTelPl != null" >
        #{fsTelPl,jdbcType=VARCHAR},
      </if>
      <if test="fsEmailPl != null" >
        #{fsEmailPl,jdbcType=VARCHAR},
      </if>
      <if test="fsProvinceId_Pl != null" >
        #{fsProvinceId_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsCityId_Pl != null" >
        #{fsCityId_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsDistrictId_Pl != null" >
        #{fsDistrictId_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsAddrPl != null" >
        #{fsAddrPl,jdbcType=VARCHAR},
      </if>
      <if test="fsPostal_Pl != null" >
        #{fsPostal_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsCompName != null" >
        #{fsCompName,jdbcType=VARCHAR},
      </if>
      <if test="fsCompEngName != null" >
        #{fsCompEngName,jdbcType=VARCHAR},
      </if>
      <if test="fsTradeId != null" >
        #{fsTradeId,jdbcType=VARCHAR},
      </if>
      <if test="fsTelCp != null" >
        #{fsTelCp,jdbcType=VARCHAR},
      </if>
      <if test="fsTelCpExt != null" >
        #{fsTelCpExt,jdbcType=VARCHAR},
      </if>
      <if test="fsFaxCp != null" >
        #{fsFaxCp,jdbcType=VARCHAR},
      </if>
      <if test="fsEmailCp != null" >
        #{fsEmailCp,jdbcType=VARCHAR},
      </if>
      <if test="fsProvinceId_Cp != null" >
        #{fsProvinceId_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsCityId_Cp != null" >
        #{fsCityId_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsDistrictId_Cp != null" >
        #{fsDistrictId_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsAddrCp != null" >
        #{fsAddrCp,jdbcType=VARCHAR},
      </if>
      <if test="fsPostal_Cp != null" >
        #{fsPostal_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsContact != null" >
        #{fsContact,jdbcType=VARCHAR},
      </if>
      <if test="fsJobTitleCt != null" >
        #{fsJobTitleCt,jdbcType=VARCHAR},
      </if>
      <if test="fsTelCt != null" >
        #{fsTelCt,jdbcType=VARCHAR},
      </if>
      <if test="fsCellphoneCt != null" >
        #{fsCellphoneCt,jdbcType=VARCHAR},
      </if>
      <if test="fsEmailCt != null" >
        #{fsEmailCt,jdbcType=VARCHAR},
      </if>
      <if test="fsBusiScope != null" >
        #{fsBusiScope,jdbcType=VARCHAR},
      </if>
      <if test="fsCelebrateDate != null" >
        #{fsCelebrateDate,jdbcType=VARCHAR},
      </if>
      <if test="fsCardNo != null" >
        #{fsCardNo,jdbcType=VARCHAR},
      </if>
      <if test="fiCardSte != null" >
        #{fiCardSte,jdbcType=INTEGER},
      </if>
      <if test="fsCardFreezeDesc != null" >
        #{fsCardFreezeDesc,jdbcType=VARCHAR},
      </if>
      <if test="fiIsVIP != null" >
        #{fiIsVIP,jdbcType=INTEGER},
      </if>
      <if test="fiPoint != null" >
        #{fiPoint,jdbcType=INTEGER},
      </if>
      <if test="fiIsSms != null" >
        #{fiIsSms,jdbcType=INTEGER},
      </if>
      <if test="fsExpArea != null" >
        #{fsExpArea,jdbcType=VARCHAR},
      </if>
      <if test="fsHobby != null" >
        #{fsHobby,jdbcType=VARCHAR},
      </if>
      <if test="fsCareful != null" >
        #{fsCareful,jdbcType=VARCHAR},
      </if>
      <if test="fsExecutive != null" >
        #{fsExecutive,jdbcType=VARCHAR},
      </if>
      <if test="fsExpendDate != null" >
        #{fsExpendDate,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsCreateTime != null" >
        #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCompanyGUID != null" >
        #{fsCompanyGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsVIPLvlId != null" >
        #{fsVIPLvlId,jdbcType=VARCHAR},
      </if>
      <if test="fiExpTag != null" >
        #{fiExpTag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbcust" >
    update tbcust
    <set >
      <if test="fsCustCls != null" >
        fsCustCls = #{fsCustCls,jdbcType=VARCHAR},
      </if>
      <if test="fsCustId != null" >
        fsCustId = #{fsCustId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustSurId != null" >
        fsCustSurId = #{fsCustSurId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustSteId != null" >
        fsCustSteId = #{fsCustSteId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustTypeId != null" >
        fsCustTypeId = #{fsCustTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustName != null" >
        fsCustName = #{fsCustName,jdbcType=VARCHAR},
      </if>
      <if test="fsCustEngName != null" >
        fsCustEngName = #{fsCustEngName,jdbcType=VARCHAR},
      </if>
      <if test="fsPid != null" >
        fsPid = #{fsPid,jdbcType=VARCHAR},
      </if>
      <if test="fsBirthDate != null" >
        fsBirthDate = #{fsBirthDate,jdbcType=VARCHAR},
      </if>
      <if test="fsSex != null" >
        fsSex = #{fsSex,jdbcType=VARCHAR},
      </if>
      <if test="fsJobTitle != null" >
        fsJobTitle = #{fsJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="fsCellphonePl != null" >
        fsCellphonePl = #{fsCellphonePl,jdbcType=VARCHAR},
      </if>
      <if test="fsTelPl != null" >
        fsTelPl = #{fsTelPl,jdbcType=VARCHAR},
      </if>
      <if test="fsEmailPl != null" >
        fsEmailPl = #{fsEmailPl,jdbcType=VARCHAR},
      </if>
      <if test="fsProvinceId_Pl != null" >
        fsProvinceId_Pl = #{fsProvinceId_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsCityId_Pl != null" >
        fsCityId_Pl = #{fsCityId_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsDistrictId_Pl != null" >
        fsDistrictId_Pl = #{fsDistrictId_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsAddrPl != null" >
        fsAddrPl = #{fsAddrPl,jdbcType=VARCHAR},
      </if>
      <if test="fsPostal_Pl != null" >
        fsPostal_Pl = #{fsPostal_Pl,jdbcType=VARCHAR},
      </if>
      <if test="fsCompName != null" >
        fsCompName = #{fsCompName,jdbcType=VARCHAR},
      </if>
      <if test="fsCompEngName != null" >
        fsCompEngName = #{fsCompEngName,jdbcType=VARCHAR},
      </if>
      <if test="fsTradeId != null" >
        fsTradeId = #{fsTradeId,jdbcType=VARCHAR},
      </if>
      <if test="fsTelCp != null" >
        fsTelCp = #{fsTelCp,jdbcType=VARCHAR},
      </if>
      <if test="fsTelCpExt != null" >
        fsTelCpExt = #{fsTelCpExt,jdbcType=VARCHAR},
      </if>
      <if test="fsFaxCp != null" >
        fsFaxCp = #{fsFaxCp,jdbcType=VARCHAR},
      </if>
      <if test="fsEmailCp != null" >
        fsEmailCp = #{fsEmailCp,jdbcType=VARCHAR},
      </if>
      <if test="fsProvinceId_Cp != null" >
        fsProvinceId_Cp = #{fsProvinceId_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsCityId_Cp != null" >
        fsCityId_Cp = #{fsCityId_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsDistrictId_Cp != null" >
        fsDistrictId_Cp = #{fsDistrictId_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsAddrCp != null" >
        fsAddrCp = #{fsAddrCp,jdbcType=VARCHAR},
      </if>
      <if test="fsPostal_Cp != null" >
        fsPostal_Cp = #{fsPostal_Cp,jdbcType=VARCHAR},
      </if>
      <if test="fsContact != null" >
        fsContact = #{fsContact,jdbcType=VARCHAR},
      </if>
      <if test="fsJobTitleCt != null" >
        fsJobTitleCt = #{fsJobTitleCt,jdbcType=VARCHAR},
      </if>
      <if test="fsTelCt != null" >
        fsTelCt = #{fsTelCt,jdbcType=VARCHAR},
      </if>
      <if test="fsCellphoneCt != null" >
        fsCellphoneCt = #{fsCellphoneCt,jdbcType=VARCHAR},
      </if>
      <if test="fsEmailCt != null" >
        fsEmailCt = #{fsEmailCt,jdbcType=VARCHAR},
      </if>
      <if test="fsBusiScope != null" >
        fsBusiScope = #{fsBusiScope,jdbcType=VARCHAR},
      </if>
      <if test="fsCelebrateDate != null" >
        fsCelebrateDate = #{fsCelebrateDate,jdbcType=VARCHAR},
      </if>
      <if test="fsCardNo != null" >
        fsCardNo = #{fsCardNo,jdbcType=VARCHAR},
      </if>
      <if test="fiCardSte != null" >
        fiCardSte = #{fiCardSte,jdbcType=INTEGER},
      </if>
      <if test="fsCardFreezeDesc != null" >
        fsCardFreezeDesc = #{fsCardFreezeDesc,jdbcType=VARCHAR},
      </if>
      <if test="fiIsVIP != null" >
        fiIsVIP = #{fiIsVIP,jdbcType=INTEGER},
      </if>
      <if test="fiPoint != null" >
        fiPoint = #{fiPoint,jdbcType=INTEGER},
      </if>
      <if test="fiIsSms != null" >
        fiIsSms = #{fiIsSms,jdbcType=INTEGER},
      </if>
      <if test="fsExpArea != null" >
        fsExpArea = #{fsExpArea,jdbcType=VARCHAR},
      </if>
      <if test="fsHobby != null" >
        fsHobby = #{fsHobby,jdbcType=VARCHAR},
      </if>
      <if test="fsCareful != null" >
        fsCareful = #{fsCareful,jdbcType=VARCHAR},
      </if>
      <if test="fsExecutive != null" >
        fsExecutive = #{fsExecutive,jdbcType=VARCHAR},
      </if>
      <if test="fsExpendDate != null" >
        fsExpendDate = #{fsExpendDate,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCompanyGUID != null" >
        fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsVIPLvlId != null" >
        fsVIPLvlId = #{fsVIPLvlId,jdbcType=VARCHAR},
      </if>
      <if test="fiExpTag != null" >
        fiExpTag = #{fiExpTag,jdbcType=INTEGER},
      </if>
    </set>
    where fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbcust" >
    update tbcust
    set fsCustCls = #{fsCustCls,jdbcType=VARCHAR},
      fsCustId = #{fsCustId,jdbcType=VARCHAR},
      fsCustSurId = #{fsCustSurId,jdbcType=VARCHAR},
      fsCustSteId = #{fsCustSteId,jdbcType=VARCHAR},
      fsCustTypeId = #{fsCustTypeId,jdbcType=VARCHAR},
      fsCustName = #{fsCustName,jdbcType=VARCHAR},
      fsCustEngName = #{fsCustEngName,jdbcType=VARCHAR},
      fsPid = #{fsPid,jdbcType=VARCHAR},
      fsBirthDate = #{fsBirthDate,jdbcType=VARCHAR},
      fsSex = #{fsSex,jdbcType=VARCHAR},
      fsJobTitle = #{fsJobTitle,jdbcType=VARCHAR},
      fsCellphonePl = #{fsCellphonePl,jdbcType=VARCHAR},
      fsTelPl = #{fsTelPl,jdbcType=VARCHAR},
      fsEmailPl = #{fsEmailPl,jdbcType=VARCHAR},
      fsProvinceId_Pl = #{fsProvinceId_Pl,jdbcType=VARCHAR},
      fsCityId_Pl = #{fsCityId_Pl,jdbcType=VARCHAR},
      fsDistrictId_Pl = #{fsDistrictId_Pl,jdbcType=VARCHAR},
      fsAddrPl = #{fsAddrPl,jdbcType=VARCHAR},
      fsPostal_Pl = #{fsPostal_Pl,jdbcType=VARCHAR},
      fsCompName = #{fsCompName,jdbcType=VARCHAR},
      fsCompEngName = #{fsCompEngName,jdbcType=VARCHAR},
      fsTradeId = #{fsTradeId,jdbcType=VARCHAR},
      fsTelCp = #{fsTelCp,jdbcType=VARCHAR},
      fsTelCpExt = #{fsTelCpExt,jdbcType=VARCHAR},
      fsFaxCp = #{fsFaxCp,jdbcType=VARCHAR},
      fsEmailCp = #{fsEmailCp,jdbcType=VARCHAR},
      fsProvinceId_Cp = #{fsProvinceId_Cp,jdbcType=VARCHAR},
      fsCityId_Cp = #{fsCityId_Cp,jdbcType=VARCHAR},
      fsDistrictId_Cp = #{fsDistrictId_Cp,jdbcType=VARCHAR},
      fsAddrCp = #{fsAddrCp,jdbcType=VARCHAR},
      fsPostal_Cp = #{fsPostal_Cp,jdbcType=VARCHAR},
      fsContact = #{fsContact,jdbcType=VARCHAR},
      fsJobTitleCt = #{fsJobTitleCt,jdbcType=VARCHAR},
      fsTelCt = #{fsTelCt,jdbcType=VARCHAR},
      fsCellphoneCt = #{fsCellphoneCt,jdbcType=VARCHAR},
      fsEmailCt = #{fsEmailCt,jdbcType=VARCHAR},
      fsBusiScope = #{fsBusiScope,jdbcType=VARCHAR},
      fsCelebrateDate = #{fsCelebrateDate,jdbcType=VARCHAR},
      fsCardNo = #{fsCardNo,jdbcType=VARCHAR},
      fiCardSte = #{fiCardSte,jdbcType=INTEGER},
      fsCardFreezeDesc = #{fsCardFreezeDesc,jdbcType=VARCHAR},
      fiIsVIP = #{fiIsVIP,jdbcType=INTEGER},
      fiPoint = #{fiPoint,jdbcType=INTEGER},
      fiIsSms = #{fiIsSms,jdbcType=INTEGER},
      fsExpArea = #{fsExpArea,jdbcType=VARCHAR},
      fsHobby = #{fsHobby,jdbcType=VARCHAR},
      fsCareful = #{fsCareful,jdbcType=VARCHAR},
      fsExecutive = #{fsExecutive,jdbcType=VARCHAR},
      fsExpendDate = #{fsExpendDate,jdbcType=VARCHAR},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR},
      fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR},
      fsVIPLvlId = #{fsVIPLvlId,jdbcType=VARCHAR},
      fiExpTag = #{fiExpTag,jdbcType=INTEGER}
    where fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR}
  </update>
</mapper>