<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbdelivererMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbdeliverer" >
    <id column="fsDelivererId" property="fsDelivererId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsDelivererName" property="fsDelivererName" jdbcType="VARCHAR" />
    <result column="fiDeliverertype" property="fiDeliverertype" jdbcType="INTEGER" />
    <result column="fsDeliverer" property="fsDeliverer" jdbcType="VARCHAR" />
    <result column="fsCellphone" property="fsCellphone" jdbcType="VARCHAR" />
    <result column="fdChange" property="fdChange" jdbcType="DECIMAL" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsDelivererId, fsShopGUID, fsDelivererName, fiDeliverertype, fsDeliverer, fsCellphone, 
    fdChange, fsNote, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbdelivererKey" >
    select 
    <include refid="Base_Column_List" />
    from tbdeliverer
    where fsDelivererId = #{fsDelivererId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbdelivererKey" >
    delete from tbdeliverer
    where fsDelivererId = #{fsDelivererId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbdeliverer" >
    insert into tbdeliverer (fsDelivererId, fsShopGUID, fsDelivererName, 
      fiDeliverertype, fsDeliverer, fsCellphone, 
      fdChange, fsNote, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fsDelivererId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsDelivererName,jdbcType=VARCHAR}, 
      #{fiDeliverertype,jdbcType=INTEGER}, #{fsDeliverer,jdbcType=VARCHAR}, #{fsCellphone,jdbcType=VARCHAR}, 
      #{fdChange,jdbcType=DECIMAL}, #{fsNote,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbdeliverer" >
    insert into tbdeliverer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsDelivererId != null" >
        fsDelivererId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsDelivererName != null" >
        fsDelivererName,
      </if>
      <if test="fiDeliverertype != null" >
        fiDeliverertype,
      </if>
      <if test="fsDeliverer != null" >
        fsDeliverer,
      </if>
      <if test="fsCellphone != null" >
        fsCellphone,
      </if>
      <if test="fdChange != null" >
        fdChange,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsDelivererId != null" >
        #{fsDelivererId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsDelivererName != null" >
        #{fsDelivererName,jdbcType=VARCHAR},
      </if>
      <if test="fiDeliverertype != null" >
        #{fiDeliverertype,jdbcType=INTEGER},
      </if>
      <if test="fsDeliverer != null" >
        #{fsDeliverer,jdbcType=VARCHAR},
      </if>
      <if test="fsCellphone != null" >
        #{fsCellphone,jdbcType=VARCHAR},
      </if>
      <if test="fdChange != null" >
        #{fdChange,jdbcType=DECIMAL},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbdeliverer" >
    update tbdeliverer
    <set >
      <if test="fsDelivererName != null" >
        fsDelivererName = #{fsDelivererName,jdbcType=VARCHAR},
      </if>
      <if test="fiDeliverertype != null" >
        fiDeliverertype = #{fiDeliverertype,jdbcType=INTEGER},
      </if>
      <if test="fsDeliverer != null" >
        fsDeliverer = #{fsDeliverer,jdbcType=VARCHAR},
      </if>
      <if test="fsCellphone != null" >
        fsCellphone = #{fsCellphone,jdbcType=VARCHAR},
      </if>
      <if test="fdChange != null" >
        fdChange = #{fdChange,jdbcType=DECIMAL},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fsDelivererId = #{fsDelivererId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbdeliverer" >
    update tbdeliverer
    set fsDelivererName = #{fsDelivererName,jdbcType=VARCHAR},
      fiDeliverertype = #{fiDeliverertype,jdbcType=INTEGER},
      fsDeliverer = #{fsDeliverer,jdbcType=VARCHAR},
      fsCellphone = #{fsCellphone,jdbcType=VARCHAR},
      fdChange = #{fdChange,jdbcType=DECIMAL},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fsDelivererId = #{fsDelivererId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>