<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbdiscountMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbdiscount" >
    <id column="fsDiscountId" property="fsDiscountId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsDiscountName" property="fsDiscountName" jdbcType="VARCHAR" />
    <result column="fiDiscountRate" property="fiDiscountRate" jdbcType="INTEGER" />
    <result column="fiIsVIPUse" property="fiIsVIPUse" jdbcType="INTEGER" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fiDataKind" property="fiDataKind" jdbcType="INTEGER" />
    <result column="fiVIPId" property="fiVIPId" jdbcType="INTEGER" />
    <result column="fiCouponId" property="fiCouponId" jdbcType="INTEGER" />
    <result column="fdDDV" property="fdDDV" jdbcType="DECIMAL" />
    <result column="fiDiscReason" property="fiDiscReason" jdbcType="INTEGER" />
    <result column="fiIsEffectiveDate" property="fiIsEffectiveDate" jdbcType="INTEGER" />
    <result column="fsStarDate" property="fsStarDate" jdbcType="VARCHAR" />
    <result column="fsEndDate" property="fsEndDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsDiscountId, fsShopGUID, fsDiscountName, fiDiscountRate, fiIsVIPUse, fiStatus, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName, fiDataKind, fiVIPId, fiCouponId, fdDDV, fiDiscReason, 
    fiIsEffectiveDate, fsStarDate, fsEndDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbdiscountKey" >
    select 
    <include refid="Base_Column_List" />
    from tbdiscount
    where fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbdiscountKey" >
    delete from tbdiscount
    where fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbdiscount" >
    insert into tbdiscount (fsDiscountId, fsShopGUID, fsDiscountName, 
      fiDiscountRate, fiIsVIPUse, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fiDataKind, fiVIPId, fiCouponId, 
      fdDDV, fiDiscReason, fiIsEffectiveDate, 
      fsStarDate, fsEndDate)
    values (#{fsDiscountId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsDiscountName,jdbcType=VARCHAR}, 
      #{fiDiscountRate,jdbcType=INTEGER}, #{fiIsVIPUse,jdbcType=INTEGER}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, 
      #{fiDataKind,jdbcType=INTEGER}, #{fiVIPId,jdbcType=INTEGER}, #{fiCouponId,jdbcType=INTEGER}, 
      #{fdDDV,jdbcType=DECIMAL}, #{fiDiscReason,jdbcType=INTEGER}, #{fiIsEffectiveDate,jdbcType=INTEGER}, 
      #{fsStarDate,jdbcType=VARCHAR}, #{fsEndDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbdiscount" >
    insert into tbdiscount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsDiscountId != null" >
        fsDiscountId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsDiscountName != null" >
        fsDiscountName,
      </if>
      <if test="fiDiscountRate != null" >
        fiDiscountRate,
      </if>
      <if test="fiIsVIPUse != null" >
        fiIsVIPUse,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fiDataKind != null" >
        fiDataKind,
      </if>
      <if test="fiVIPId != null" >
        fiVIPId,
      </if>
      <if test="fiCouponId != null" >
        fiCouponId,
      </if>
      <if test="fdDDV != null" >
        fdDDV,
      </if>
      <if test="fiDiscReason != null" >
        fiDiscReason,
      </if>
      <if test="fiIsEffectiveDate != null" >
        fiIsEffectiveDate,
      </if>
      <if test="fsStarDate != null" >
        fsStarDate,
      </if>
      <if test="fsEndDate != null" >
        fsEndDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsDiscountId != null" >
        #{fsDiscountId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountName != null" >
        #{fsDiscountName,jdbcType=VARCHAR},
      </if>
      <if test="fiDiscountRate != null" >
        #{fiDiscountRate,jdbcType=INTEGER},
      </if>
      <if test="fiIsVIPUse != null" >
        #{fiIsVIPUse,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiDataKind != null" >
        #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fiVIPId != null" >
        #{fiVIPId,jdbcType=INTEGER},
      </if>
      <if test="fiCouponId != null" >
        #{fiCouponId,jdbcType=INTEGER},
      </if>
      <if test="fdDDV != null" >
        #{fdDDV,jdbcType=DECIMAL},
      </if>
      <if test="fiDiscReason != null" >
        #{fiDiscReason,jdbcType=INTEGER},
      </if>
      <if test="fiIsEffectiveDate != null" >
        #{fiIsEffectiveDate,jdbcType=INTEGER},
      </if>
      <if test="fsStarDate != null" >
        #{fsStarDate,jdbcType=VARCHAR},
      </if>
      <if test="fsEndDate != null" >
        #{fsEndDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbdiscount" >
    update tbdiscount
    <set >
      <if test="fsDiscountName != null" >
        fsDiscountName = #{fsDiscountName,jdbcType=VARCHAR},
      </if>
      <if test="fiDiscountRate != null" >
        fiDiscountRate = #{fiDiscountRate,jdbcType=INTEGER},
      </if>
      <if test="fiIsVIPUse != null" >
        fiIsVIPUse = #{fiIsVIPUse,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiDataKind != null" >
        fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fiVIPId != null" >
        fiVIPId = #{fiVIPId,jdbcType=INTEGER},
      </if>
      <if test="fiCouponId != null" >
        fiCouponId = #{fiCouponId,jdbcType=INTEGER},
      </if>
      <if test="fdDDV != null" >
        fdDDV = #{fdDDV,jdbcType=DECIMAL},
      </if>
      <if test="fiDiscReason != null" >
        fiDiscReason = #{fiDiscReason,jdbcType=INTEGER},
      </if>
      <if test="fiIsEffectiveDate != null" >
        fiIsEffectiveDate = #{fiIsEffectiveDate,jdbcType=INTEGER},
      </if>
      <if test="fsStarDate != null" >
        fsStarDate = #{fsStarDate,jdbcType=VARCHAR},
      </if>
      <if test="fsEndDate != null" >
        fsEndDate = #{fsEndDate,jdbcType=VARCHAR},
      </if>
    </set>
    where fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbdiscount" >
    update tbdiscount
    set fsDiscountName = #{fsDiscountName,jdbcType=VARCHAR},
      fiDiscountRate = #{fiDiscountRate,jdbcType=INTEGER},
      fiIsVIPUse = #{fiIsVIPUse,jdbcType=INTEGER},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      fiVIPId = #{fiVIPId,jdbcType=INTEGER},
      fiCouponId = #{fiCouponId,jdbcType=INTEGER},
      fdDDV = #{fdDDV,jdbcType=DECIMAL},
      fiDiscReason = #{fiDiscReason,jdbcType=INTEGER},
      fiIsEffectiveDate = #{fiIsEffectiveDate,jdbcType=INTEGER},
      fsStarDate = #{fsStarDate,jdbcType=VARCHAR},
      fsEndDate = #{fsEndDate,jdbcType=VARCHAR}
    where fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>