<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbfileverMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbfilever" >
    <id column="fsFileName" property="fsFileName" jdbcType="VARCHAR" />
    <result column="fsVer" property="fsVer" jdbcType="VARCHAR" />
    <result column="fsDir" property="fsDir" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsFileName, fsVer, fsDir, fsNote
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbfilever
    where fsFileName = #{fsFileName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbfilever
    where fsFileName = #{fsFileName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbfilever" >
    insert into tbfilever (fsFileName, fsVer, fsDir, 
      fsNote)
    values (#{fsFileName,jdbcType=VARCHAR}, #{fsVer,jdbcType=VARCHAR}, #{fsDir,jdbcType=VARCHAR}, 
      #{fsNote,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbfilever" >
    insert into tbfilever
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsFileName != null" >
        fsFileName,
      </if>
      <if test="fsVer != null" >
        fsVer,
      </if>
      <if test="fsDir != null" >
        fsDir,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsFileName != null" >
        #{fsFileName,jdbcType=VARCHAR},
      </if>
      <if test="fsVer != null" >
        #{fsVer,jdbcType=VARCHAR},
      </if>
      <if test="fsDir != null" >
        #{fsDir,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbfilever" >
    update tbfilever
    <set >
      <if test="fsVer != null" >
        fsVer = #{fsVer,jdbcType=VARCHAR},
      </if>
      <if test="fsDir != null" >
        fsDir = #{fsDir,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
    </set>
    where fsFileName = #{fsFileName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbfilever" >
    update tbfilever
    set fsVer = #{fsVer,jdbcType=VARCHAR},
      fsDir = #{fsDir,jdbcType=VARCHAR},
      fsNote = #{fsNote,jdbcType=VARCHAR}
    where fsFileName = #{fsFileName,jdbcType=VARCHAR}
  </update>
</mapper>