<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbhostexternalMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbhostexternal" >
    <id column="fiCls" property="fiCls" jdbcType="INTEGER" />
    <id column="fsHostId" property="fsHostId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsParamValue" property="fsParamValue" jdbcType="VARCHAR" />
    <result column="fsStr1" property="fsStr1" jdbcType="VARCHAR" />
    <result column="fsStr3" property="fsStr3" jdbcType="VARCHAR" />
    <result column="fsStr4" property="fsStr4" jdbcType="VARCHAR" />
    <result column="fsStr5" property="fsStr5" jdbcType="VARCHAR" />
    <result column="fiInt1" property="fiInt1" jdbcType="INTEGER" />
    <result column="fiInt2" property="fiInt2" jdbcType="INTEGER" />
    <result column="fiInt3" property="fiInt3" jdbcType="INTEGER" />
    <result column="fiInt4" property="fiInt4" jdbcType="INTEGER" />
    <result column="fiInt5" property="fiInt5" jdbcType="INTEGER" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pos.entity.Tbhostexternal" extends="BaseResultMap" >
    <result column="fsStr2" property="fsStr2" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiCls, fsHostId, fsShopGUID, fsParamValue, fsStr1, fsStr3, fsStr4, fsStr5, fiInt1, 
    fiInt2, fiInt3, fiInt4, fiInt5, fsNote, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <sql id="Blob_Column_List" >
    fsStr2
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.pos.entity.TbhostexternalKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbhostexternal
    where fiCls = #{fiCls,jdbcType=INTEGER}
      and fsHostId = #{fsHostId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbhostexternalKey" >
    delete from tbhostexternal
    where fiCls = #{fiCls,jdbcType=INTEGER}
      and fsHostId = #{fsHostId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbhostexternal" >
    insert into tbhostexternal (fiCls, fsHostId, fsShopGUID, 
      fsParamValue, fsStr1, fsStr3, 
      fsStr4, fsStr5, fiInt1, 
      fiInt2, fiInt3, fiInt4, 
      fiInt5, fsNote, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fsStr2)
    values (#{fiCls,jdbcType=INTEGER}, #{fsHostId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, 
      #{fsParamValue,jdbcType=VARCHAR}, #{fsStr1,jdbcType=VARCHAR}, #{fsStr3,jdbcType=VARCHAR}, 
      #{fsStr4,jdbcType=VARCHAR}, #{fsStr5,jdbcType=VARCHAR}, #{fiInt1,jdbcType=INTEGER}, 
      #{fiInt2,jdbcType=INTEGER}, #{fiInt3,jdbcType=INTEGER}, #{fiInt4,jdbcType=INTEGER}, 
      #{fiInt5,jdbcType=INTEGER}, #{fsNote,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, 
      #{fsStr2,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbhostexternal" >
    insert into tbhostexternal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiCls != null" >
        fiCls,
      </if>
      <if test="fsHostId != null" >
        fsHostId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsParamValue != null" >
        fsParamValue,
      </if>
      <if test="fsStr1 != null" >
        fsStr1,
      </if>
      <if test="fsStr3 != null" >
        fsStr3,
      </if>
      <if test="fsStr4 != null" >
        fsStr4,
      </if>
      <if test="fsStr5 != null" >
        fsStr5,
      </if>
      <if test="fiInt1 != null" >
        fiInt1,
      </if>
      <if test="fiInt2 != null" >
        fiInt2,
      </if>
      <if test="fiInt3 != null" >
        fiInt3,
      </if>
      <if test="fiInt4 != null" >
        fiInt4,
      </if>
      <if test="fiInt5 != null" >
        fiInt5,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fsStr2 != null" >
        fsStr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiCls != null" >
        #{fiCls,jdbcType=INTEGER},
      </if>
      <if test="fsHostId != null" >
        #{fsHostId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsParamValue != null" >
        #{fsParamValue,jdbcType=VARCHAR},
      </if>
      <if test="fsStr1 != null" >
        #{fsStr1,jdbcType=VARCHAR},
      </if>
      <if test="fsStr3 != null" >
        #{fsStr3,jdbcType=VARCHAR},
      </if>
      <if test="fsStr4 != null" >
        #{fsStr4,jdbcType=VARCHAR},
      </if>
      <if test="fsStr5 != null" >
        #{fsStr5,jdbcType=VARCHAR},
      </if>
      <if test="fiInt1 != null" >
        #{fiInt1,jdbcType=INTEGER},
      </if>
      <if test="fiInt2 != null" >
        #{fiInt2,jdbcType=INTEGER},
      </if>
      <if test="fiInt3 != null" >
        #{fiInt3,jdbcType=INTEGER},
      </if>
      <if test="fiInt4 != null" >
        #{fiInt4,jdbcType=INTEGER},
      </if>
      <if test="fiInt5 != null" >
        #{fiInt5,jdbcType=INTEGER},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsStr2 != null" >
        #{fsStr2,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbhostexternal" >
    update tbhostexternal
    <set >
      <if test="fsParamValue != null" >
        fsParamValue = #{fsParamValue,jdbcType=VARCHAR},
      </if>
      <if test="fsStr1 != null" >
        fsStr1 = #{fsStr1,jdbcType=VARCHAR},
      </if>
      <if test="fsStr3 != null" >
        fsStr3 = #{fsStr3,jdbcType=VARCHAR},
      </if>
      <if test="fsStr4 != null" >
        fsStr4 = #{fsStr4,jdbcType=VARCHAR},
      </if>
      <if test="fsStr5 != null" >
        fsStr5 = #{fsStr5,jdbcType=VARCHAR},
      </if>
      <if test="fiInt1 != null" >
        fiInt1 = #{fiInt1,jdbcType=INTEGER},
      </if>
      <if test="fiInt2 != null" >
        fiInt2 = #{fiInt2,jdbcType=INTEGER},
      </if>
      <if test="fiInt3 != null" >
        fiInt3 = #{fiInt3,jdbcType=INTEGER},
      </if>
      <if test="fiInt4 != null" >
        fiInt4 = #{fiInt4,jdbcType=INTEGER},
      </if>
      <if test="fiInt5 != null" >
        fiInt5 = #{fiInt5,jdbcType=INTEGER},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsStr2 != null" >
        fsStr2 = #{fsStr2,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fiCls = #{fiCls,jdbcType=INTEGER}
      and fsHostId = #{fsHostId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pos.entity.Tbhostexternal" >
    update tbhostexternal
    set fsParamValue = #{fsParamValue,jdbcType=VARCHAR},
      fsStr1 = #{fsStr1,jdbcType=VARCHAR},
      fsStr3 = #{fsStr3,jdbcType=VARCHAR},
      fsStr4 = #{fsStr4,jdbcType=VARCHAR},
      fsStr5 = #{fsStr5,jdbcType=VARCHAR},
      fiInt1 = #{fiInt1,jdbcType=INTEGER},
      fiInt2 = #{fiInt2,jdbcType=INTEGER},
      fiInt3 = #{fiInt3,jdbcType=INTEGER},
      fiInt4 = #{fiInt4,jdbcType=INTEGER},
      fiInt5 = #{fiInt5,jdbcType=INTEGER},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fsStr2 = #{fsStr2,jdbcType=LONGVARCHAR}
    where fiCls = #{fiCls,jdbcType=INTEGER}
      and fsHostId = #{fsHostId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbhostexternal" >
    update tbhostexternal
    set fsParamValue = #{fsParamValue,jdbcType=VARCHAR},
      fsStr1 = #{fsStr1,jdbcType=VARCHAR},
      fsStr3 = #{fsStr3,jdbcType=VARCHAR},
      fsStr4 = #{fsStr4,jdbcType=VARCHAR},
      fsStr5 = #{fsStr5,jdbcType=VARCHAR},
      fiInt1 = #{fiInt1,jdbcType=INTEGER},
      fiInt2 = #{fiInt2,jdbcType=INTEGER},
      fiInt3 = #{fiInt3,jdbcType=INTEGER},
      fiInt4 = #{fiInt4,jdbcType=INTEGER},
      fiInt5 = #{fiInt5,jdbcType=INTEGER},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fiCls = #{fiCls,jdbcType=INTEGER}
      and fsHostId = #{fsHostId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>