<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbinterfacemanageMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbinterfacemanage" >
    <id column="fiId" property="fiId" jdbcType="INTEGER" />
    <result column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsAPIName" property="fsAPIName" jdbcType="VARCHAR" />
    <result column="fiAPIType" property="fiAPIType" jdbcType="INTEGER" />
    <result column="fiAPILanguage" property="fiAPILanguage" jdbcType="INTEGER" />
    <result column="fiEncryption" property="fiEncryption" jdbcType="INTEGER" />
    <result column="fsSecretKey" property="fsSecretKey" jdbcType="VARCHAR" />
    <result column="fsAppID" property="fsAppID" jdbcType="VARCHAR" />
    <result column="fsAppIDkey" property="fsAppIDkey" jdbcType="VARCHAR" />
    <result column="fsExpiryDate" property="fsExpiryDate" jdbcType="VARCHAR" />
    <result column="fsServerAddress" property="fsServerAddress" jdbcType="VARCHAR" />
    <result column="fiAccessMode" property="fiAccessMode" jdbcType="INTEGER" />
    <result column="fsServerPort" property="fsServerPort" jdbcType="VARCHAR" />
    <result column="fsExecutionMode" property="fsExecutionMode" jdbcType="VARCHAR" />
    <result column="fsStr1" property="fsStr1" jdbcType="VARCHAR" />
    <result column="fsStr2" property="fsStr2" jdbcType="VARCHAR" />
    <result column="fsStr3" property="fsStr3" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiId, fsShopGUID, fsAPIName, fiAPIType, fiAPILanguage, fiEncryption, fsSecretKey, 
    fsAppID, fsAppIDkey, fsExpiryDate, fsServerAddress, fiAccessMode, fsServerPort, fsExecutionMode, 
    fsStr1, fsStr2, fsStr3, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbinterfacemanage
    where fiId = #{fiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbinterfacemanage
    where fiId = #{fiId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbinterfacemanage" >
    insert into tbinterfacemanage (fiId, fsShopGUID, fsAPIName, 
      fiAPIType, fiAPILanguage, fiEncryption, 
      fsSecretKey, fsAppID, fsAppIDkey, 
      fsExpiryDate, fsServerAddress, fiAccessMode, 
      fsServerPort, fsExecutionMode, fsStr1, 
      fsStr2, fsStr3, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fiId,jdbcType=INTEGER}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsAPIName,jdbcType=VARCHAR}, 
      #{fiAPIType,jdbcType=INTEGER}, #{fiAPILanguage,jdbcType=INTEGER}, #{fiEncryption,jdbcType=INTEGER}, 
      #{fsSecretKey,jdbcType=VARCHAR}, #{fsAppID,jdbcType=VARCHAR}, #{fsAppIDkey,jdbcType=VARCHAR}, 
      #{fsExpiryDate,jdbcType=VARCHAR}, #{fsServerAddress,jdbcType=VARCHAR}, #{fiAccessMode,jdbcType=INTEGER}, 
      #{fsServerPort,jdbcType=VARCHAR}, #{fsExecutionMode,jdbcType=VARCHAR}, #{fsStr1,jdbcType=VARCHAR}, 
      #{fsStr2,jdbcType=VARCHAR}, #{fsStr3,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbinterfacemanage" >
    insert into tbinterfacemanage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        fiId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsAPIName != null" >
        fsAPIName,
      </if>
      <if test="fiAPIType != null" >
        fiAPIType,
      </if>
      <if test="fiAPILanguage != null" >
        fiAPILanguage,
      </if>
      <if test="fiEncryption != null" >
        fiEncryption,
      </if>
      <if test="fsSecretKey != null" >
        fsSecretKey,
      </if>
      <if test="fsAppID != null" >
        fsAppID,
      </if>
      <if test="fsAppIDkey != null" >
        fsAppIDkey,
      </if>
      <if test="fsExpiryDate != null" >
        fsExpiryDate,
      </if>
      <if test="fsServerAddress != null" >
        fsServerAddress,
      </if>
      <if test="fiAccessMode != null" >
        fiAccessMode,
      </if>
      <if test="fsServerPort != null" >
        fsServerPort,
      </if>
      <if test="fsExecutionMode != null" >
        fsExecutionMode,
      </if>
      <if test="fsStr1 != null" >
        fsStr1,
      </if>
      <if test="fsStr2 != null" >
        fsStr2,
      </if>
      <if test="fsStr3 != null" >
        fsStr3,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        #{fiId,jdbcType=INTEGER},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsAPIName != null" >
        #{fsAPIName,jdbcType=VARCHAR},
      </if>
      <if test="fiAPIType != null" >
        #{fiAPIType,jdbcType=INTEGER},
      </if>
      <if test="fiAPILanguage != null" >
        #{fiAPILanguage,jdbcType=INTEGER},
      </if>
      <if test="fiEncryption != null" >
        #{fiEncryption,jdbcType=INTEGER},
      </if>
      <if test="fsSecretKey != null" >
        #{fsSecretKey,jdbcType=VARCHAR},
      </if>
      <if test="fsAppID != null" >
        #{fsAppID,jdbcType=VARCHAR},
      </if>
      <if test="fsAppIDkey != null" >
        #{fsAppIDkey,jdbcType=VARCHAR},
      </if>
      <if test="fsExpiryDate != null" >
        #{fsExpiryDate,jdbcType=VARCHAR},
      </if>
      <if test="fsServerAddress != null" >
        #{fsServerAddress,jdbcType=VARCHAR},
      </if>
      <if test="fiAccessMode != null" >
        #{fiAccessMode,jdbcType=INTEGER},
      </if>
      <if test="fsServerPort != null" >
        #{fsServerPort,jdbcType=VARCHAR},
      </if>
      <if test="fsExecutionMode != null" >
        #{fsExecutionMode,jdbcType=VARCHAR},
      </if>
      <if test="fsStr1 != null" >
        #{fsStr1,jdbcType=VARCHAR},
      </if>
      <if test="fsStr2 != null" >
        #{fsStr2,jdbcType=VARCHAR},
      </if>
      <if test="fsStr3 != null" >
        #{fsStr3,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbinterfacemanage" >
    update tbinterfacemanage
    <set >
      <if test="fsShopGUID != null" >
        fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsAPIName != null" >
        fsAPIName = #{fsAPIName,jdbcType=VARCHAR},
      </if>
      <if test="fiAPIType != null" >
        fiAPIType = #{fiAPIType,jdbcType=INTEGER},
      </if>
      <if test="fiAPILanguage != null" >
        fiAPILanguage = #{fiAPILanguage,jdbcType=INTEGER},
      </if>
      <if test="fiEncryption != null" >
        fiEncryption = #{fiEncryption,jdbcType=INTEGER},
      </if>
      <if test="fsSecretKey != null" >
        fsSecretKey = #{fsSecretKey,jdbcType=VARCHAR},
      </if>
      <if test="fsAppID != null" >
        fsAppID = #{fsAppID,jdbcType=VARCHAR},
      </if>
      <if test="fsAppIDkey != null" >
        fsAppIDkey = #{fsAppIDkey,jdbcType=VARCHAR},
      </if>
      <if test="fsExpiryDate != null" >
        fsExpiryDate = #{fsExpiryDate,jdbcType=VARCHAR},
      </if>
      <if test="fsServerAddress != null" >
        fsServerAddress = #{fsServerAddress,jdbcType=VARCHAR},
      </if>
      <if test="fiAccessMode != null" >
        fiAccessMode = #{fiAccessMode,jdbcType=INTEGER},
      </if>
      <if test="fsServerPort != null" >
        fsServerPort = #{fsServerPort,jdbcType=VARCHAR},
      </if>
      <if test="fsExecutionMode != null" >
        fsExecutionMode = #{fsExecutionMode,jdbcType=VARCHAR},
      </if>
      <if test="fsStr1 != null" >
        fsStr1 = #{fsStr1,jdbcType=VARCHAR},
      </if>
      <if test="fsStr2 != null" >
        fsStr2 = #{fsStr2,jdbcType=VARCHAR},
      </if>
      <if test="fsStr3 != null" >
        fsStr3 = #{fsStr3,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fiId = #{fiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbinterfacemanage" >
    update tbinterfacemanage
    set fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR},
      fsAPIName = #{fsAPIName,jdbcType=VARCHAR},
      fiAPIType = #{fiAPIType,jdbcType=INTEGER},
      fiAPILanguage = #{fiAPILanguage,jdbcType=INTEGER},
      fiEncryption = #{fiEncryption,jdbcType=INTEGER},
      fsSecretKey = #{fsSecretKey,jdbcType=VARCHAR},
      fsAppID = #{fsAppID,jdbcType=VARCHAR},
      fsAppIDkey = #{fsAppIDkey,jdbcType=VARCHAR},
      fsExpiryDate = #{fsExpiryDate,jdbcType=VARCHAR},
      fsServerAddress = #{fsServerAddress,jdbcType=VARCHAR},
      fiAccessMode = #{fiAccessMode,jdbcType=INTEGER},
      fsServerPort = #{fsServerPort,jdbcType=VARCHAR},
      fsExecutionMode = #{fsExecutionMode,jdbcType=VARCHAR},
      fsStr1 = #{fsStr1,jdbcType=VARCHAR},
      fsStr2 = #{fsStr2,jdbcType=VARCHAR},
      fsStr3 = #{fsStr3,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fiId = #{fiId,jdbcType=INTEGER}
  </update>
</mapper>