<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbmareaMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbmarea" >
    <id column="fsMAreaId" property="fsMAreaId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsMAreaName" property="fsMAreaName" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fsPrinterName" property="fsPrinterName" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fiSortOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsMAreaId, fsShopGUID, fsMAreaName, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fsPrinterName, fiSortOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbmareaKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmarea
    where fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbmareaKey" >
    delete from tbmarea
    where fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbmarea" >
    insert into tbmarea (fsMAreaId, fsShopGUID, fsMAreaName, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName, fsPrinterName, fiSortOrder
      )
    values (#{fsMAreaId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsMAreaName,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR}, #{fsPrinterName,jdbcType=VARCHAR}, #{fiSortOrder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbmarea" >
    insert into tbmarea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsMAreaId != null" >
        fsMAreaId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsMAreaName != null" >
        fsMAreaName,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fsPrinterName != null" >
        fsPrinterName,
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsMAreaId != null" >
        #{fsMAreaId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsMAreaName != null" >
        #{fsMAreaName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsPrinterName != null" >
        #{fsPrinterName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        #{fiSortOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbmarea" >
    update tbmarea
    <set >
      <if test="fsMAreaName != null" >
        fsMAreaName = #{fsMAreaName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsPrinterName != null" >
        fsPrinterName = #{fsPrinterName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      </if>
    </set>
    where fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbmarea" >
    update tbmarea
    set fsMAreaName = #{fsMAreaName,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fsPrinterName = #{fsPrinterName,jdbcType=VARCHAR},
      fiSortOrder = #{fiSortOrder,jdbcType=INTEGER}
    where fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>