<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbmenuitemmuldeptMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbmenuitemmuldept" >
    <id column="fiMulDeptCd" property="fiMulDeptCd" jdbcType="INTEGER" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fiItemCd" property="fiItemCd" jdbcType="INTEGER" />
    <result column="fsDeptId" property="fsDeptId" jdbcType="VARCHAR" />
    <result column="fsMAreaId" property="fsMAreaId" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiMulDeptCd, fsShopGUID, fiItemCd, fsDeptId, fsMAreaId, fiStatus, fsUpdateTime, fsUpdateUserId, 
    fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbmenuitemmuldeptKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmenuitemmuldept
    where fiMulDeptCd = #{fiMulDeptCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbmenuitemmuldeptKey" >
    delete from tbmenuitemmuldept
    where fiMulDeptCd = #{fiMulDeptCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbmenuitemmuldept" >
    insert into tbmenuitemmuldept (fiMulDeptCd, fsShopGUID, fiItemCd, 
      fsDeptId, fsMAreaId, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fiMulDeptCd,jdbcType=INTEGER}, #{fsShopGUID,jdbcType=VARCHAR}, #{fiItemCd,jdbcType=INTEGER}, 
      #{fsDeptId,jdbcType=VARCHAR}, #{fsMAreaId,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbmenuitemmuldept" >
    insert into tbmenuitemmuldept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiMulDeptCd != null" >
        fiMulDeptCd,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fiItemCd != null" >
        fiItemCd,
      </if>
      <if test="fsDeptId != null" >
        fsDeptId,
      </if>
      <if test="fsMAreaId != null" >
        fsMAreaId,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiMulDeptCd != null" >
        #{fiMulDeptCd,jdbcType=INTEGER},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fiItemCd != null" >
        #{fiItemCd,jdbcType=INTEGER},
      </if>
      <if test="fsDeptId != null" >
        #{fsDeptId,jdbcType=VARCHAR},
      </if>
      <if test="fsMAreaId != null" >
        #{fsMAreaId,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbmenuitemmuldept" >
    update tbmenuitemmuldept
    <set >
      <if test="fiItemCd != null" >
        fiItemCd = #{fiItemCd,jdbcType=INTEGER},
      </if>
      <if test="fsDeptId != null" >
        fsDeptId = #{fsDeptId,jdbcType=VARCHAR},
      </if>
      <if test="fsMAreaId != null" >
        fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fiMulDeptCd = #{fiMulDeptCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbmenuitemmuldept" >
    update tbmenuitemmuldept
    set fiItemCd = #{fiItemCd,jdbcType=INTEGER},
      fsDeptId = #{fsDeptId,jdbcType=VARCHAR},
      fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fiMulDeptCd = #{fiMulDeptCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>