<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbmenuingredientgpMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbmenuingredientgp" >
    <id column="fiItemGroupId" property="fiItemGroupId" jdbcType="INTEGER" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsGroupName" property="fsGroupName" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiItemGroupId, fsShopGUID, fsGroupName, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbmenuingredientgpKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmenuingredientgp
    where fiItemGroupId = #{fiItemGroupId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbmenuingredientgpKey" >
    delete from tbmenuingredientgp
    where fiItemGroupId = #{fiItemGroupId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbmenuingredientgp" >
    insert into tbmenuingredientgp (fiItemGroupId, fsShopGUID, fsGroupName, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fiItemGroupId,jdbcType=INTEGER}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsGroupName,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbmenuingredientgp" >
    insert into tbmenuingredientgp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiItemGroupId != null" >
        fiItemGroupId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsGroupName != null" >
        fsGroupName,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiItemGroupId != null" >
        #{fiItemGroupId,jdbcType=INTEGER},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsGroupName != null" >
        #{fsGroupName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbmenuingredientgp" >
    update tbmenuingredientgp
    <set >
      <if test="fsGroupName != null" >
        fsGroupName = #{fsGroupName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fiItemGroupId = #{fiItemGroupId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbmenuingredientgp" >
    update tbmenuingredientgp
    set fsGroupName = #{fsGroupName,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fiItemGroupId = #{fiItemGroupId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>