<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbmenuitemsetsidedtlMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbmenuitemsetsidedtl" >
    <id column="fiItemCd" property="fiItemCd" jdbcType="INTEGER" />
    <id column="fiItemCd_M" property="fiItemCd_M" jdbcType="INTEGER" />
    <id column="fiOrderUintCd" property="fiOrderUintCd" jdbcType="INTEGER" />
    <id column="fiSetFoodCd" property="fiSetFoodCd" jdbcType="INTEGER" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fdBargainPrice" property="fdBargainPrice" jdbcType="DECIMAL" />
    <result column="fdSaleQty" property="fdSaleQty" jdbcType="DECIMAL" />
    <result column="fiDefault" property="fiDefault" jdbcType="INTEGER" />
    <result column="fiSortOrder" property="fiSortOrder" jdbcType="INTEGER" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fdIncrease" property="fdIncrease" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiItemCd, fiItemCd_M, fiOrderUintCd, fiSetFoodCd, fsShopGUID, fdBargainPrice, fdSaleQty, 
    fiDefault, fiSortOrder, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fdIncrease
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbmenuitemsetsidedtlKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmenuitemsetsidedtl
    where fiItemCd = #{fiItemCd,jdbcType=INTEGER}
      and fiItemCd_M = #{fiItemCd_M,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fiSetFoodCd = #{fiSetFoodCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbmenuitemsetsidedtlKey" >
    delete from tbmenuitemsetsidedtl
    where fiItemCd = #{fiItemCd,jdbcType=INTEGER}
      and fiItemCd_M = #{fiItemCd_M,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fiSetFoodCd = #{fiSetFoodCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbmenuitemsetsidedtl" >
    insert into tbmenuitemsetsidedtl (fiItemCd, fiItemCd_M, fiOrderUintCd, 
      fiSetFoodCd, fsShopGUID, fdBargainPrice, 
      fdSaleQty, fiDefault, fiSortOrder, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName, fdIncrease)
    values (#{fiItemCd,jdbcType=INTEGER}, #{fiItemCd_M,jdbcType=INTEGER}, #{fiOrderUintCd,jdbcType=INTEGER}, 
      #{fiSetFoodCd,jdbcType=INTEGER}, #{fsShopGUID,jdbcType=VARCHAR}, #{fdBargainPrice,jdbcType=DECIMAL}, 
      #{fdSaleQty,jdbcType=DECIMAL}, #{fiDefault,jdbcType=INTEGER}, #{fiSortOrder,jdbcType=INTEGER}, 
      #{fiStatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR}, #{fdIncrease,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbmenuitemsetsidedtl" >
    insert into tbmenuitemsetsidedtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiItemCd != null" >
        fiItemCd,
      </if>
      <if test="fiItemCd_M != null" >
        fiItemCd_M,
      </if>
      <if test="fiOrderUintCd != null" >
        fiOrderUintCd,
      </if>
      <if test="fiSetFoodCd != null" >
        fiSetFoodCd,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fdBargainPrice != null" >
        fdBargainPrice,
      </if>
      <if test="fdSaleQty != null" >
        fdSaleQty,
      </if>
      <if test="fiDefault != null" >
        fiDefault,
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fdIncrease != null" >
        fdIncrease,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiItemCd != null" >
        #{fiItemCd,jdbcType=INTEGER},
      </if>
      <if test="fiItemCd_M != null" >
        #{fiItemCd_M,jdbcType=INTEGER},
      </if>
      <if test="fiOrderUintCd != null" >
        #{fiOrderUintCd,jdbcType=INTEGER},
      </if>
      <if test="fiSetFoodCd != null" >
        #{fiSetFoodCd,jdbcType=INTEGER},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fdBargainPrice != null" >
        #{fdBargainPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleQty != null" >
        #{fdSaleQty,jdbcType=DECIMAL},
      </if>
      <if test="fiDefault != null" >
        #{fiDefault,jdbcType=INTEGER},
      </if>
      <if test="fiSortOrder != null" >
        #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fdIncrease != null" >
        #{fdIncrease,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbmenuitemsetsidedtl" >
    update tbmenuitemsetsidedtl
    <set >
      <if test="fdBargainPrice != null" >
        fdBargainPrice = #{fdBargainPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleQty != null" >
        fdSaleQty = #{fdSaleQty,jdbcType=DECIMAL},
      </if>
      <if test="fiDefault != null" >
        fiDefault = #{fiDefault,jdbcType=INTEGER},
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fdIncrease != null" >
        fdIncrease = #{fdIncrease,jdbcType=DECIMAL},
      </if>
    </set>
    where fiItemCd = #{fiItemCd,jdbcType=INTEGER}
      and fiItemCd_M = #{fiItemCd_M,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fiSetFoodCd = #{fiSetFoodCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbmenuitemsetsidedtl" >
    update tbmenuitemsetsidedtl
    set fdBargainPrice = #{fdBargainPrice,jdbcType=DECIMAL},
      fdSaleQty = #{fdSaleQty,jdbcType=DECIMAL},
      fiDefault = #{fiDefault,jdbcType=INTEGER},
      fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fdIncrease = #{fdIncrease,jdbcType=DECIMAL}
    where fiItemCd = #{fiItemCd,jdbcType=INTEGER}
      and fiItemCd_M = #{fiItemCd_M,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER}
      and fiSetFoodCd = #{fiSetFoodCd,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>