<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbmenuingredientMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbmenuingredient" >
    <id column="fiId" property="fiId" jdbcType="INTEGER" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsItemName" property="fsItemName" jdbcType="VARCHAR" />
    <result column="fsItemName2" property="fsItemName2" jdbcType="VARCHAR" />
    <result column="fiItemGroupId" property="fiItemGroupId" jdbcType="INTEGER" />
    <result column="fsItemUnitId" property="fsItemUnitId" jdbcType="VARCHAR" />
    <result column="fdItemPrice" property="fdItemPrice" jdbcType="DECIMAL" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiId, fsShopGUID, fsItemName, fsItemName2, fiItemGroupId, fsItemUnitId, fdItemPrice, 
    fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbmenuingredientKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmenuingredient
    where fiId = #{fiId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbmenuingredientKey" >
    delete from tbmenuingredient
    where fiId = #{fiId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbmenuingredient" >
    insert into tbmenuingredient (fiId, fsShopGUID, fsItemName, 
      fsItemName2, fiItemGroupId, fsItemUnitId, 
      fdItemPrice, fiStatus, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName)
    values (#{fiId,jdbcType=INTEGER}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsItemName,jdbcType=VARCHAR}, 
      #{fsItemName2,jdbcType=VARCHAR}, #{fiItemGroupId,jdbcType=INTEGER}, #{fsItemUnitId,jdbcType=VARCHAR}, 
      #{fdItemPrice,jdbcType=DECIMAL}, #{fiStatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, 
      #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbmenuingredient" >
    insert into tbmenuingredient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        fiId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsItemName != null" >
        fsItemName,
      </if>
      <if test="fsItemName2 != null" >
        fsItemName2,
      </if>
      <if test="fiItemGroupId != null" >
        fiItemGroupId,
      </if>
      <if test="fsItemUnitId != null" >
        fsItemUnitId,
      </if>
      <if test="fdItemPrice != null" >
        fdItemPrice,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        #{fiId,jdbcType=INTEGER},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsItemName != null" >
        #{fsItemName,jdbcType=VARCHAR},
      </if>
      <if test="fsItemName2 != null" >
        #{fsItemName2,jdbcType=VARCHAR},
      </if>
      <if test="fiItemGroupId != null" >
        #{fiItemGroupId,jdbcType=INTEGER},
      </if>
      <if test="fsItemUnitId != null" >
        #{fsItemUnitId,jdbcType=VARCHAR},
      </if>
      <if test="fdItemPrice != null" >
        #{fdItemPrice,jdbcType=DECIMAL},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbmenuingredient" >
    update tbmenuingredient
    <set >
      <if test="fsItemName != null" >
        fsItemName = #{fsItemName,jdbcType=VARCHAR},
      </if>
      <if test="fsItemName2 != null" >
        fsItemName2 = #{fsItemName2,jdbcType=VARCHAR},
      </if>
      <if test="fiItemGroupId != null" >
        fiItemGroupId = #{fiItemGroupId,jdbcType=INTEGER},
      </if>
      <if test="fsItemUnitId != null" >
        fsItemUnitId = #{fsItemUnitId,jdbcType=VARCHAR},
      </if>
      <if test="fdItemPrice != null" >
        fdItemPrice = #{fdItemPrice,jdbcType=DECIMAL},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fiId = #{fiId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbmenuingredient" >
    update tbmenuingredient
    set fsItemName = #{fsItemName,jdbcType=VARCHAR},
      fsItemName2 = #{fsItemName2,jdbcType=VARCHAR},
      fiItemGroupId = #{fiItemGroupId,jdbcType=INTEGER},
      fsItemUnitId = #{fsItemUnitId,jdbcType=VARCHAR},
      fdItemPrice = #{fdItemPrice,jdbcType=DECIMAL},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fiId = #{fiId,jdbcType=INTEGER}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>