<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbmsgMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbmsg" >
    <id column="fiMsgNo" property="fiMsgNo" jdbcType="INTEGER" />
    <result column="fiMsgKind" property="fiMsgKind" jdbcType="INTEGER" />
    <result column="fsMsg" property="fsMsg" jdbcType="VARCHAR" />
    <result column="fsSender" property="fsSender" jdbcType="VARCHAR" />
    <result column="fsMTableId" property="fsMTableId" jdbcType="VARCHAR" />
    <result column="fsMTableName" property="fsMTableName" jdbcType="VARCHAR" />
    <result column="fsSellNo" property="fsSellNo" jdbcType="VARCHAR" />
    <result column="fsReceiver" property="fsReceiver" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsReadTime" property="fsReadTime" jdbcType="VARCHAR" />
    <result column="fsReadUserName" property="fsReadUserName" jdbcType="VARCHAR" />
    <result column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fsCreateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiMsgNo, fiMsgKind, fsMsg, fsSender, fsMTableId, fsMTableName, fsSellNo, fsReceiver, 
    fiStatus, fsReadTime, fsReadUserName, fsShopGUID, fsCreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbmsg
    where fiMsgNo = #{fiMsgNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbmsg
    where fiMsgNo = #{fiMsgNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbmsg" >
    insert into tbmsg (fiMsgNo, fiMsgKind, fsMsg, 
      fsSender, fsMTableId, fsMTableName, 
      fsSellNo, fsReceiver, fiStatus, 
      fsReadTime, fsReadUserName, fsShopGUID, 
      fsCreateTime)
    values (#{fiMsgNo,jdbcType=INTEGER}, #{fiMsgKind,jdbcType=INTEGER}, #{fsMsg,jdbcType=VARCHAR}, 
      #{fsSender,jdbcType=VARCHAR}, #{fsMTableId,jdbcType=VARCHAR}, #{fsMTableName,jdbcType=VARCHAR}, 
      #{fsSellNo,jdbcType=VARCHAR}, #{fsReceiver,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsReadTime,jdbcType=VARCHAR}, #{fsReadUserName,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, 
      #{fsCreateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbmsg" >
    insert into tbmsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiMsgNo != null" >
        fiMsgNo,
      </if>
      <if test="fiMsgKind != null" >
        fiMsgKind,
      </if>
      <if test="fsMsg != null" >
        fsMsg,
      </if>
      <if test="fsSender != null" >
        fsSender,
      </if>
      <if test="fsMTableId != null" >
        fsMTableId,
      </if>
      <if test="fsMTableName != null" >
        fsMTableName,
      </if>
      <if test="fsSellNo != null" >
        fsSellNo,
      </if>
      <if test="fsReceiver != null" >
        fsReceiver,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsReadTime != null" >
        fsReadTime,
      </if>
      <if test="fsReadUserName != null" >
        fsReadUserName,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiMsgNo != null" >
        #{fiMsgNo,jdbcType=INTEGER},
      </if>
      <if test="fiMsgKind != null" >
        #{fiMsgKind,jdbcType=INTEGER},
      </if>
      <if test="fsMsg != null" >
        #{fsMsg,jdbcType=VARCHAR},
      </if>
      <if test="fsSender != null" >
        #{fsSender,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableId != null" >
        #{fsMTableId,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableName != null" >
        #{fsMTableName,jdbcType=VARCHAR},
      </if>
      <if test="fsSellNo != null" >
        #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsReceiver != null" >
        #{fsReceiver,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsReadTime != null" >
        #{fsReadTime,jdbcType=VARCHAR},
      </if>
      <if test="fsReadUserName != null" >
        #{fsReadUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        #{fsCreateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbmsg" >
    update tbmsg
    <set >
      <if test="fiMsgKind != null" >
        fiMsgKind = #{fiMsgKind,jdbcType=INTEGER},
      </if>
      <if test="fsMsg != null" >
        fsMsg = #{fsMsg,jdbcType=VARCHAR},
      </if>
      <if test="fsSender != null" >
        fsSender = #{fsSender,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableId != null" >
        fsMTableId = #{fsMTableId,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableName != null" >
        fsMTableName = #{fsMTableName,jdbcType=VARCHAR},
      </if>
      <if test="fsSellNo != null" >
        fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsReceiver != null" >
        fsReceiver = #{fsReceiver,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsReadTime != null" >
        fsReadTime = #{fsReadTime,jdbcType=VARCHAR},
      </if>
      <if test="fsReadUserName != null" >
        fsReadUserName = #{fsReadUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where fiMsgNo = #{fiMsgNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbmsg" >
    update tbmsg
    set fiMsgKind = #{fiMsgKind,jdbcType=INTEGER},
      fsMsg = #{fsMsg,jdbcType=VARCHAR},
      fsSender = #{fsSender,jdbcType=VARCHAR},
      fsMTableId = #{fsMTableId,jdbcType=VARCHAR},
      fsMTableName = #{fsMTableName,jdbcType=VARCHAR},
      fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      fsReceiver = #{fsReceiver,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsReadTime = #{fsReadTime,jdbcType=VARCHAR},
      fsReadUserName = #{fsReadUserName,jdbcType=VARCHAR},
      fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR},
      fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR}
    where fiMsgNo = #{fiMsgNo,jdbcType=INTEGER}
  </update>
</mapper>