<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbmtableMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbmtable" >
    <id column="fsMTableId" property="fsMTableId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsMTableName" property="fsMTableName" jdbcType="VARCHAR" />
    <result column="fsMTableClsId" property="fsMTableClsId" jdbcType="VARCHAR" />
    <result column="fdMTablePrice" property="fdMTablePrice" jdbcType="DECIMAL" />
    <result column="fsMAreaId" property="fsMAreaId" jdbcType="VARCHAR" />
    <result column="fiSeats" property="fiSeats" jdbcType="INTEGER" />
    <result column="fsSellNo" property="fsSellNo" jdbcType="VARCHAR" />
    <result column="fsMTableSteId" property="fsMTableSteId" jdbcType="VARCHAR" />
    <result column="fiOccupyFlag" property="fiOccupyFlag" jdbcType="INTEGER" />
    <result column="fiWxMsgFlag" property="fiWxMsgFlag" jdbcType="INTEGER" />
    <result column="fsQRCode" property="fsQRCode" jdbcType="VARCHAR" />
    <result column="fsHint" property="fsHint" jdbcType="VARCHAR" />
    <result column="fiShareBills" property="fiShareBills" jdbcType="INTEGER" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsCustGUID" property="fsCustGUID" jdbcType="VARCHAR" />
    <result column="fsCustName" property="fsCustName" jdbcType="VARCHAR" />
    <result column="fsCustMobile" property="fsCustMobile" jdbcType="VARCHAR" />
    <result column="fsBookingTime" property="fsBookingTime" jdbcType="VARCHAR" />
    <result column="fiOpenJob" property="fiOpenJob" jdbcType="INTEGER" />
    <result column="fsOpenUserName" property="fsOpenUserName" jdbcType="VARCHAR" />
    <result column="fsOpenHsTime" property="fsOpenHsTime" jdbcType="VARCHAR" />
    <result column="fsOrderJob" property="fsOrderJob" jdbcType="INTEGER" />
    <result column="fsOrderUserName" property="fsOrderUserName" jdbcType="VARCHAR" />
    <result column="fsOrderHsTime" property="fsOrderHsTime" jdbcType="VARCHAR" />
    <result column="fiCheckJob" property="fiCheckJob" jdbcType="INTEGER" />
    <result column="fsCheckUserName" property="fsCheckUserName" jdbcType="VARCHAR" />
    <result column="fsCheckHsTime" property="fsCheckHsTime" jdbcType="VARCHAR" />
    <result column="fiChangeJob" property="fiChangeJob" jdbcType="INTEGER" />
    <result column="fsChangeUserName" property="fsChangeUserName" jdbcType="VARCHAR" />
    <result column="fsChangeHsTime" property="fsChangeHsTime" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fiSortOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsMTableId, fsShopGUID, fsMTableName, fsMTableClsId, fdMTablePrice, fsMAreaId, fiSeats, 
    fsSellNo, fsMTableSteId, fiOccupyFlag, fiWxMsgFlag, fsQRCode, fsHint, fiShareBills, 
    fiStatus, fsCustGUID, fsCustName, fsCustMobile, fsBookingTime, fiOpenJob, fsOpenUserName, 
    fsOpenHsTime, fsOrderJob, fsOrderUserName, fsOrderHsTime, fiCheckJob, fsCheckUserName, 
    fsCheckHsTime, fiChangeJob, fsChangeUserName, fsChangeHsTime, fsUpdateTime, fsUpdateUserId, 
    fsUpdateUserName, fiSortOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbmtableKey" >
    select 
    <include refid="Base_Column_List" />
    from tbmtable
    where fsMTableId = #{fsMTableId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbmtableKey" >
    delete from tbmtable
    where fsMTableId = #{fsMTableId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbmtable" >
    insert into tbmtable (fsMTableId, fsShopGUID, fsMTableName, 
      fsMTableClsId, fdMTablePrice, fsMAreaId, 
      fiSeats, fsSellNo, fsMTableSteId, 
      fiOccupyFlag, fiWxMsgFlag, fsQRCode, 
      fsHint, fiShareBills, fiStatus, 
      fsCustGUID, fsCustName, fsCustMobile, 
      fsBookingTime, fiOpenJob, fsOpenUserName, 
      fsOpenHsTime, fsOrderJob, fsOrderUserName, 
      fsOrderHsTime, fiCheckJob, fsCheckUserName, 
      fsCheckHsTime, fiChangeJob, fsChangeUserName, 
      fsChangeHsTime, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName, fiSortOrder)
    values (#{fsMTableId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsMTableName,jdbcType=VARCHAR}, 
      #{fsMTableClsId,jdbcType=VARCHAR}, #{fdMTablePrice,jdbcType=DECIMAL}, #{fsMAreaId,jdbcType=VARCHAR}, 
      #{fiSeats,jdbcType=INTEGER}, #{fsSellNo,jdbcType=VARCHAR}, #{fsMTableSteId,jdbcType=VARCHAR}, 
      #{fiOccupyFlag,jdbcType=INTEGER}, #{fiWxMsgFlag,jdbcType=INTEGER}, #{fsQRCode,jdbcType=VARCHAR}, 
      #{fsHint,jdbcType=VARCHAR}, #{fiShareBills,jdbcType=INTEGER}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsCustGUID,jdbcType=VARCHAR}, #{fsCustName,jdbcType=VARCHAR}, #{fsCustMobile,jdbcType=VARCHAR}, 
      #{fsBookingTime,jdbcType=VARCHAR}, #{fiOpenJob,jdbcType=INTEGER}, #{fsOpenUserName,jdbcType=VARCHAR}, 
      #{fsOpenHsTime,jdbcType=VARCHAR}, #{fsOrderJob,jdbcType=INTEGER}, #{fsOrderUserName,jdbcType=VARCHAR}, 
      #{fsOrderHsTime,jdbcType=VARCHAR}, #{fiCheckJob,jdbcType=INTEGER}, #{fsCheckUserName,jdbcType=VARCHAR}, 
      #{fsCheckHsTime,jdbcType=VARCHAR}, #{fiChangeJob,jdbcType=INTEGER}, #{fsChangeUserName,jdbcType=VARCHAR}, 
      #{fsChangeHsTime,jdbcType=VARCHAR}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR}, #{fiSortOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbmtable" >
    insert into tbmtable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsMTableId != null" >
        fsMTableId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsMTableName != null" >
        fsMTableName,
      </if>
      <if test="fsMTableClsId != null" >
        fsMTableClsId,
      </if>
      <if test="fdMTablePrice != null" >
        fdMTablePrice,
      </if>
      <if test="fsMAreaId != null" >
        fsMAreaId,
      </if>
      <if test="fiSeats != null" >
        fiSeats,
      </if>
      <if test="fsSellNo != null" >
        fsSellNo,
      </if>
      <if test="fsMTableSteId != null" >
        fsMTableSteId,
      </if>
      <if test="fiOccupyFlag != null" >
        fiOccupyFlag,
      </if>
      <if test="fiWxMsgFlag != null" >
        fiWxMsgFlag,
      </if>
      <if test="fsQRCode != null" >
        fsQRCode,
      </if>
      <if test="fsHint != null" >
        fsHint,
      </if>
      <if test="fiShareBills != null" >
        fiShareBills,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsCustGUID != null" >
        fsCustGUID,
      </if>
      <if test="fsCustName != null" >
        fsCustName,
      </if>
      <if test="fsCustMobile != null" >
        fsCustMobile,
      </if>
      <if test="fsBookingTime != null" >
        fsBookingTime,
      </if>
      <if test="fiOpenJob != null" >
        fiOpenJob,
      </if>
      <if test="fsOpenUserName != null" >
        fsOpenUserName,
      </if>
      <if test="fsOpenHsTime != null" >
        fsOpenHsTime,
      </if>
      <if test="fsOrderJob != null" >
        fsOrderJob,
      </if>
      <if test="fsOrderUserName != null" >
        fsOrderUserName,
      </if>
      <if test="fsOrderHsTime != null" >
        fsOrderHsTime,
      </if>
      <if test="fiCheckJob != null" >
        fiCheckJob,
      </if>
      <if test="fsCheckUserName != null" >
        fsCheckUserName,
      </if>
      <if test="fsCheckHsTime != null" >
        fsCheckHsTime,
      </if>
      <if test="fiChangeJob != null" >
        fiChangeJob,
      </if>
      <if test="fsChangeUserName != null" >
        fsChangeUserName,
      </if>
      <if test="fsChangeHsTime != null" >
        fsChangeHsTime,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsMTableId != null" >
        #{fsMTableId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableName != null" >
        #{fsMTableName,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableClsId != null" >
        #{fsMTableClsId,jdbcType=VARCHAR},
      </if>
      <if test="fdMTablePrice != null" >
        #{fdMTablePrice,jdbcType=DECIMAL},
      </if>
      <if test="fsMAreaId != null" >
        #{fsMAreaId,jdbcType=VARCHAR},
      </if>
      <if test="fiSeats != null" >
        #{fiSeats,jdbcType=INTEGER},
      </if>
      <if test="fsSellNo != null" >
        #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableSteId != null" >
        #{fsMTableSteId,jdbcType=VARCHAR},
      </if>
      <if test="fiOccupyFlag != null" >
        #{fiOccupyFlag,jdbcType=INTEGER},
      </if>
      <if test="fiWxMsgFlag != null" >
        #{fiWxMsgFlag,jdbcType=INTEGER},
      </if>
      <if test="fsQRCode != null" >
        #{fsQRCode,jdbcType=VARCHAR},
      </if>
      <if test="fsHint != null" >
        #{fsHint,jdbcType=VARCHAR},
      </if>
      <if test="fiShareBills != null" >
        #{fiShareBills,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsCustGUID != null" >
        #{fsCustGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCustName != null" >
        #{fsCustName,jdbcType=VARCHAR},
      </if>
      <if test="fsCustMobile != null" >
        #{fsCustMobile,jdbcType=VARCHAR},
      </if>
      <if test="fsBookingTime != null" >
        #{fsBookingTime,jdbcType=VARCHAR},
      </if>
      <if test="fiOpenJob != null" >
        #{fiOpenJob,jdbcType=INTEGER},
      </if>
      <if test="fsOpenUserName != null" >
        #{fsOpenUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsOpenHsTime != null" >
        #{fsOpenHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fsOrderJob != null" >
        #{fsOrderJob,jdbcType=INTEGER},
      </if>
      <if test="fsOrderUserName != null" >
        #{fsOrderUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsOrderHsTime != null" >
        #{fsOrderHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fiCheckJob != null" >
        #{fiCheckJob,jdbcType=INTEGER},
      </if>
      <if test="fsCheckUserName != null" >
        #{fsCheckUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsCheckHsTime != null" >
        #{fsCheckHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fiChangeJob != null" >
        #{fiChangeJob,jdbcType=INTEGER},
      </if>
      <if test="fsChangeUserName != null" >
        #{fsChangeUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsChangeHsTime != null" >
        #{fsChangeHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        #{fiSortOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbmtable" >
    update tbmtable
    <set >
      <if test="fsMTableName != null" >
        fsMTableName = #{fsMTableName,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableClsId != null" >
        fsMTableClsId = #{fsMTableClsId,jdbcType=VARCHAR},
      </if>
      <if test="fdMTablePrice != null" >
        fdMTablePrice = #{fdMTablePrice,jdbcType=DECIMAL},
      </if>
      <if test="fsMAreaId != null" >
        fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR},
      </if>
      <if test="fiSeats != null" >
        fiSeats = #{fiSeats,jdbcType=INTEGER},
      </if>
      <if test="fsSellNo != null" >
        fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableSteId != null" >
        fsMTableSteId = #{fsMTableSteId,jdbcType=VARCHAR},
      </if>
      <if test="fiOccupyFlag != null" >
        fiOccupyFlag = #{fiOccupyFlag,jdbcType=INTEGER},
      </if>
      <if test="fiWxMsgFlag != null" >
        fiWxMsgFlag = #{fiWxMsgFlag,jdbcType=INTEGER},
      </if>
      <if test="fsQRCode != null" >
        fsQRCode = #{fsQRCode,jdbcType=VARCHAR},
      </if>
      <if test="fsHint != null" >
        fsHint = #{fsHint,jdbcType=VARCHAR},
      </if>
      <if test="fiShareBills != null" >
        fiShareBills = #{fiShareBills,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsCustGUID != null" >
        fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCustName != null" >
        fsCustName = #{fsCustName,jdbcType=VARCHAR},
      </if>
      <if test="fsCustMobile != null" >
        fsCustMobile = #{fsCustMobile,jdbcType=VARCHAR},
      </if>
      <if test="fsBookingTime != null" >
        fsBookingTime = #{fsBookingTime,jdbcType=VARCHAR},
      </if>
      <if test="fiOpenJob != null" >
        fiOpenJob = #{fiOpenJob,jdbcType=INTEGER},
      </if>
      <if test="fsOpenUserName != null" >
        fsOpenUserName = #{fsOpenUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsOpenHsTime != null" >
        fsOpenHsTime = #{fsOpenHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fsOrderJob != null" >
        fsOrderJob = #{fsOrderJob,jdbcType=INTEGER},
      </if>
      <if test="fsOrderUserName != null" >
        fsOrderUserName = #{fsOrderUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsOrderHsTime != null" >
        fsOrderHsTime = #{fsOrderHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fiCheckJob != null" >
        fiCheckJob = #{fiCheckJob,jdbcType=INTEGER},
      </if>
      <if test="fsCheckUserName != null" >
        fsCheckUserName = #{fsCheckUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsCheckHsTime != null" >
        fsCheckHsTime = #{fsCheckHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fiChangeJob != null" >
        fiChangeJob = #{fiChangeJob,jdbcType=INTEGER},
      </if>
      <if test="fsChangeUserName != null" >
        fsChangeUserName = #{fsChangeUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsChangeHsTime != null" >
        fsChangeHsTime = #{fsChangeHsTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      </if>
    </set>
    where fsMTableId = #{fsMTableId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbmtable" >
    update tbmtable
    set fsMTableName = #{fsMTableName,jdbcType=VARCHAR},
      fsMTableClsId = #{fsMTableClsId,jdbcType=VARCHAR},
      fdMTablePrice = #{fdMTablePrice,jdbcType=DECIMAL},
      fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR},
      fiSeats = #{fiSeats,jdbcType=INTEGER},
      fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      fsMTableSteId = #{fsMTableSteId,jdbcType=VARCHAR},
      fiOccupyFlag = #{fiOccupyFlag,jdbcType=INTEGER},
      fiWxMsgFlag = #{fiWxMsgFlag,jdbcType=INTEGER},
      fsQRCode = #{fsQRCode,jdbcType=VARCHAR},
      fsHint = #{fsHint,jdbcType=VARCHAR},
      fiShareBills = #{fiShareBills,jdbcType=INTEGER},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR},
      fsCustName = #{fsCustName,jdbcType=VARCHAR},
      fsCustMobile = #{fsCustMobile,jdbcType=VARCHAR},
      fsBookingTime = #{fsBookingTime,jdbcType=VARCHAR},
      fiOpenJob = #{fiOpenJob,jdbcType=INTEGER},
      fsOpenUserName = #{fsOpenUserName,jdbcType=VARCHAR},
      fsOpenHsTime = #{fsOpenHsTime,jdbcType=VARCHAR},
      fsOrderJob = #{fsOrderJob,jdbcType=INTEGER},
      fsOrderUserName = #{fsOrderUserName,jdbcType=VARCHAR},
      fsOrderHsTime = #{fsOrderHsTime,jdbcType=VARCHAR},
      fiCheckJob = #{fiCheckJob,jdbcType=INTEGER},
      fsCheckUserName = #{fsCheckUserName,jdbcType=VARCHAR},
      fsCheckHsTime = #{fsCheckHsTime,jdbcType=VARCHAR},
      fiChangeJob = #{fiChangeJob,jdbcType=INTEGER},
      fsChangeUserName = #{fsChangeUserName,jdbcType=VARCHAR},
      fsChangeHsTime = #{fsChangeHsTime,jdbcType=VARCHAR},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fiSortOrder = #{fiSortOrder,jdbcType=INTEGER}
    where fsMTableId = #{fsMTableId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>