<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbpaymentfullcutMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbpaymentfullcut" >
    <id column="fsPaymentId" property="fsPaymentId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fdFullmoney" property="fdFullmoney" jdbcType="DECIMAL" />
    <result column="fdCutmoney" property="fdCutmoney" jdbcType="DECIMAL" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsPaymentId, fsShopGUID, fdFullmoney, fdCutmoney, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbpaymentfullcutKey" >
    select 
    <include refid="Base_Column_List" />
    from tbpaymentfullcut
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbpaymentfullcutKey" >
    delete from tbpaymentfullcut
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbpaymentfullcut" >
    insert into tbpaymentfullcut (fsPaymentId, fsShopGUID, fdFullmoney, 
      fdCutmoney, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fsPaymentId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fdFullmoney,jdbcType=DECIMAL}, 
      #{fdCutmoney,jdbcType=DECIMAL}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbpaymentfullcut" >
    insert into tbpaymentfullcut
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsPaymentId != null" >
        fsPaymentId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fdFullmoney != null" >
        fdFullmoney,
      </if>
      <if test="fdCutmoney != null" >
        fdCutmoney,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsPaymentId != null" >
        #{fsPaymentId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fdFullmoney != null" >
        #{fdFullmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdCutmoney != null" >
        #{fdCutmoney,jdbcType=DECIMAL},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbpaymentfullcut" >
    update tbpaymentfullcut
    <set >
      <if test="fdFullmoney != null" >
        fdFullmoney = #{fdFullmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdCutmoney != null" >
        fdCutmoney = #{fdCutmoney,jdbcType=DECIMAL},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbpaymentfullcut" >
    update tbpaymentfullcut
    set fdFullmoney = #{fdFullmoney,jdbcType=DECIMAL},
      fdCutmoney = #{fdCutmoney,jdbcType=DECIMAL},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>