<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbpaymenttypeMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbpaymenttype" >
    <id column="fsPaymentTypeId" property="fsPaymentTypeId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsPaymentTypeName" property="fsPaymentTypeName" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fiDataKind" property="fiDataKind" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsPaymentTypeId, fsShopGUID, fsPaymentTypeName, fsNote, fiStatus, fiDataKind, fsUpdateTime, 
    fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbpaymenttypeKey" >
    select 
    <include refid="Base_Column_List" />
    from tbpaymenttype
    where fsPaymentTypeId = #{fsPaymentTypeId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbpaymenttypeKey" >
    delete from tbpaymenttype
    where fsPaymentTypeId = #{fsPaymentTypeId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbpaymenttype" >
    insert into tbpaymenttype (fsPaymentTypeId, fsShopGUID, fsPaymentTypeName, 
      fsNote, fiStatus, fiDataKind, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fsPaymentTypeId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsPaymentTypeName,jdbcType=VARCHAR}, 
      #{fsNote,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, #{fiDataKind,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbpaymenttype" >
    insert into tbpaymenttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsPaymentTypeId != null" >
        fsPaymentTypeId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsPaymentTypeName != null" >
        fsPaymentTypeName,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fiDataKind != null" >
        fiDataKind,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsPaymentTypeId != null" >
        #{fsPaymentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsPaymentTypeName != null" >
        #{fsPaymentTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiDataKind != null" >
        #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbpaymenttype" >
    update tbpaymenttype
    <set >
      <if test="fsPaymentTypeName != null" >
        fsPaymentTypeName = #{fsPaymentTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiDataKind != null" >
        fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fsPaymentTypeId = #{fsPaymentTypeId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbpaymenttype" >
    update tbpaymenttype
    set fsPaymentTypeName = #{fsPaymentTypeName,jdbcType=VARCHAR},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fsPaymentTypeId = #{fsPaymentTypeId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>