<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbpaymentMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbpayment" >
    <id column="fsPaymentId" property="fsPaymentId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsPaymentTypeId" property="fsPaymentTypeId" jdbcType="VARCHAR" />
    <result column="fsPaymentName" property="fsPaymentName" jdbcType="VARCHAR" />
    <result column="fdDefaultPrice" property="fdDefaultPrice" jdbcType="DECIMAL" />
    <result column="fiIsForeign" property="fiIsForeign" jdbcType="INTEGER" />
    <result column="fdExchangeRate" property="fdExchangeRate" jdbcType="DECIMAL" />
    <result column="fiIsCalcPaid" property="fiIsCalcPaid" jdbcType="INTEGER" />
    <result column="fiIsCalcInvoice" property="fiIsCalcInvoice" jdbcType="INTEGER" />
    <result column="fiIsPremium" property="fiIsPremium" jdbcType="INTEGER" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fiSortOrder" jdbcType="INTEGER" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fiDataKind" property="fiDataKind" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fdDiscountRate" property="fdDiscountRate" jdbcType="DECIMAL" />
    <result column="fsColor" property="fsColor" jdbcType="VARCHAR" />
    <result column="fsShortcutKey" property="fsShortcutKey" jdbcType="VARCHAR" />
    <result column="fsHelpCode" property="fsHelpCode" jdbcType="VARCHAR" />
    <result column="fsDiscountPaymentId" property="fsDiscountPaymentId" jdbcType="VARCHAR" />
    <result column="fiIsPartAmtDiscount" property="fiIsPartAmtDiscount" jdbcType="INTEGER" />
    <result column="fiIsEffectiveDate" property="fiIsEffectiveDate" jdbcType="INTEGER" />
    <result column="fsStarDate" property="fsStarDate" jdbcType="VARCHAR" />
    <result column="fsEndDate" property="fsEndDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsPaymentId, fsShopGUID, fsPaymentTypeId, fsPaymentName, fdDefaultPrice, fiIsForeign, 
    fdExchangeRate, fiIsCalcPaid, fiIsCalcInvoice, fiIsPremium, fsNote, fiSortOrder, 
    fiStatus, fiDataKind, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, fdDiscountRate, 
    fsColor, fsShortcutKey, fsHelpCode, fsDiscountPaymentId, fiIsPartAmtDiscount, fiIsEffectiveDate, 
    fsStarDate, fsEndDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbpaymentKey" >
    select 
    <include refid="Base_Column_List" />
    from tbpayment
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbpaymentKey" >
    delete from tbpayment
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbpayment" >
    insert into tbpayment (fsPaymentId, fsShopGUID, fsPaymentTypeId, 
      fsPaymentName, fdDefaultPrice, fiIsForeign, 
      fdExchangeRate, fiIsCalcPaid, fiIsCalcInvoice, 
      fiIsPremium, fsNote, fiSortOrder, 
      fiStatus, fiDataKind, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName, fdDiscountRate, 
      fsColor, fsShortcutKey, fsHelpCode, 
      fsDiscountPaymentId, fiIsPartAmtDiscount, 
      fiIsEffectiveDate, fsStarDate, fsEndDate
      )
    values (#{fsPaymentId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsPaymentTypeId,jdbcType=VARCHAR}, 
      #{fsPaymentName,jdbcType=VARCHAR}, #{fdDefaultPrice,jdbcType=DECIMAL}, #{fiIsForeign,jdbcType=INTEGER}, 
      #{fdExchangeRate,jdbcType=DECIMAL}, #{fiIsCalcPaid,jdbcType=INTEGER}, #{fiIsCalcInvoice,jdbcType=INTEGER}, 
      #{fiIsPremium,jdbcType=INTEGER}, #{fsNote,jdbcType=VARCHAR}, #{fiSortOrder,jdbcType=INTEGER}, 
      #{fiStatus,jdbcType=INTEGER}, #{fiDataKind,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, 
      #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, #{fdDiscountRate,jdbcType=DECIMAL}, 
      #{fsColor,jdbcType=VARCHAR}, #{fsShortcutKey,jdbcType=VARCHAR}, #{fsHelpCode,jdbcType=VARCHAR}, 
      #{fsDiscountPaymentId,jdbcType=VARCHAR}, #{fiIsPartAmtDiscount,jdbcType=INTEGER}, 
      #{fiIsEffectiveDate,jdbcType=INTEGER}, #{fsStarDate,jdbcType=VARCHAR}, #{fsEndDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbpayment" >
    insert into tbpayment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsPaymentId != null" >
        fsPaymentId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsPaymentTypeId != null" >
        fsPaymentTypeId,
      </if>
      <if test="fsPaymentName != null" >
        fsPaymentName,
      </if>
      <if test="fdDefaultPrice != null" >
        fdDefaultPrice,
      </if>
      <if test="fiIsForeign != null" >
        fiIsForeign,
      </if>
      <if test="fdExchangeRate != null" >
        fdExchangeRate,
      </if>
      <if test="fiIsCalcPaid != null" >
        fiIsCalcPaid,
      </if>
      <if test="fiIsCalcInvoice != null" >
        fiIsCalcInvoice,
      </if>
      <if test="fiIsPremium != null" >
        fiIsPremium,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fiDataKind != null" >
        fiDataKind,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fdDiscountRate != null" >
        fdDiscountRate,
      </if>
      <if test="fsColor != null" >
        fsColor,
      </if>
      <if test="fsShortcutKey != null" >
        fsShortcutKey,
      </if>
      <if test="fsHelpCode != null" >
        fsHelpCode,
      </if>
      <if test="fsDiscountPaymentId != null" >
        fsDiscountPaymentId,
      </if>
      <if test="fiIsPartAmtDiscount != null" >
        fiIsPartAmtDiscount,
      </if>
      <if test="fiIsEffectiveDate != null" >
        fiIsEffectiveDate,
      </if>
      <if test="fsStarDate != null" >
        fsStarDate,
      </if>
      <if test="fsEndDate != null" >
        fsEndDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsPaymentId != null" >
        #{fsPaymentId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsPaymentTypeId != null" >
        #{fsPaymentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fsPaymentName != null" >
        #{fsPaymentName,jdbcType=VARCHAR},
      </if>
      <if test="fdDefaultPrice != null" >
        #{fdDefaultPrice,jdbcType=DECIMAL},
      </if>
      <if test="fiIsForeign != null" >
        #{fiIsForeign,jdbcType=INTEGER},
      </if>
      <if test="fdExchangeRate != null" >
        #{fdExchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="fiIsCalcPaid != null" >
        #{fiIsCalcPaid,jdbcType=INTEGER},
      </if>
      <if test="fiIsCalcInvoice != null" >
        #{fiIsCalcInvoice,jdbcType=INTEGER},
      </if>
      <if test="fiIsPremium != null" >
        #{fiIsPremium,jdbcType=INTEGER},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiDataKind != null" >
        #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fdDiscountRate != null" >
        #{fdDiscountRate,jdbcType=DECIMAL},
      </if>
      <if test="fsColor != null" >
        #{fsColor,jdbcType=VARCHAR},
      </if>
      <if test="fsShortcutKey != null" >
        #{fsShortcutKey,jdbcType=VARCHAR},
      </if>
      <if test="fsHelpCode != null" >
        #{fsHelpCode,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountPaymentId != null" >
        #{fsDiscountPaymentId,jdbcType=VARCHAR},
      </if>
      <if test="fiIsPartAmtDiscount != null" >
        #{fiIsPartAmtDiscount,jdbcType=INTEGER},
      </if>
      <if test="fiIsEffectiveDate != null" >
        #{fiIsEffectiveDate,jdbcType=INTEGER},
      </if>
      <if test="fsStarDate != null" >
        #{fsStarDate,jdbcType=VARCHAR},
      </if>
      <if test="fsEndDate != null" >
        #{fsEndDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbpayment" >
    update tbpayment
    <set >
      <if test="fsPaymentTypeId != null" >
        fsPaymentTypeId = #{fsPaymentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fsPaymentName != null" >
        fsPaymentName = #{fsPaymentName,jdbcType=VARCHAR},
      </if>
      <if test="fdDefaultPrice != null" >
        fdDefaultPrice = #{fdDefaultPrice,jdbcType=DECIMAL},
      </if>
      <if test="fiIsForeign != null" >
        fiIsForeign = #{fiIsForeign,jdbcType=INTEGER},
      </if>
      <if test="fdExchangeRate != null" >
        fdExchangeRate = #{fdExchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="fiIsCalcPaid != null" >
        fiIsCalcPaid = #{fiIsCalcPaid,jdbcType=INTEGER},
      </if>
      <if test="fiIsCalcInvoice != null" >
        fiIsCalcInvoice = #{fiIsCalcInvoice,jdbcType=INTEGER},
      </if>
      <if test="fiIsPremium != null" >
        fiIsPremium = #{fiIsPremium,jdbcType=INTEGER},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiDataKind != null" >
        fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fdDiscountRate != null" >
        fdDiscountRate = #{fdDiscountRate,jdbcType=DECIMAL},
      </if>
      <if test="fsColor != null" >
        fsColor = #{fsColor,jdbcType=VARCHAR},
      </if>
      <if test="fsShortcutKey != null" >
        fsShortcutKey = #{fsShortcutKey,jdbcType=VARCHAR},
      </if>
      <if test="fsHelpCode != null" >
        fsHelpCode = #{fsHelpCode,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountPaymentId != null" >
        fsDiscountPaymentId = #{fsDiscountPaymentId,jdbcType=VARCHAR},
      </if>
      <if test="fiIsPartAmtDiscount != null" >
        fiIsPartAmtDiscount = #{fiIsPartAmtDiscount,jdbcType=INTEGER},
      </if>
      <if test="fiIsEffectiveDate != null" >
        fiIsEffectiveDate = #{fiIsEffectiveDate,jdbcType=INTEGER},
      </if>
      <if test="fsStarDate != null" >
        fsStarDate = #{fsStarDate,jdbcType=VARCHAR},
      </if>
      <if test="fsEndDate != null" >
        fsEndDate = #{fsEndDate,jdbcType=VARCHAR},
      </if>
    </set>
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbpayment" >
    update tbpayment
    set fsPaymentTypeId = #{fsPaymentTypeId,jdbcType=VARCHAR},
      fsPaymentName = #{fsPaymentName,jdbcType=VARCHAR},
      fdDefaultPrice = #{fdDefaultPrice,jdbcType=DECIMAL},
      fiIsForeign = #{fiIsForeign,jdbcType=INTEGER},
      fdExchangeRate = #{fdExchangeRate,jdbcType=DECIMAL},
      fiIsCalcPaid = #{fiIsCalcPaid,jdbcType=INTEGER},
      fiIsCalcInvoice = #{fiIsCalcInvoice,jdbcType=INTEGER},
      fiIsPremium = #{fiIsPremium,jdbcType=INTEGER},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fiDataKind = #{fiDataKind,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fdDiscountRate = #{fdDiscountRate,jdbcType=DECIMAL},
      fsColor = #{fsColor,jdbcType=VARCHAR},
      fsShortcutKey = #{fsShortcutKey,jdbcType=VARCHAR},
      fsHelpCode = #{fsHelpCode,jdbcType=VARCHAR},
      fsDiscountPaymentId = #{fsDiscountPaymentId,jdbcType=VARCHAR},
      fiIsPartAmtDiscount = #{fiIsPartAmtDiscount,jdbcType=INTEGER},
      fiIsEffectiveDate = #{fiIsEffectiveDate,jdbcType=INTEGER},
      fsStarDate = #{fsStarDate,jdbcType=VARCHAR},
      fsEndDate = #{fsEndDate,jdbcType=VARCHAR}
    where fsPaymentId = #{fsPaymentId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>