<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbprogMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbprog" >
    <id column="fsProgId" property="fsProgId" jdbcType="VARCHAR" />
    <result column="fsProgName" property="fsProgName" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fiSortOrder" jdbcType="INTEGER" />
    <result column="fsProgDesc" property="fsProgDesc" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fsProgLvl" property="fsProgLvl" jdbcType="VARCHAR" />
    <result column="fsFoodTradeList" property="fsFoodTradeList" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsProgId, fsProgName, fiSortOrder, fsProgDesc, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fsProgLvl, fsFoodTradeList
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbprog
    where fsProgId = #{fsProgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbprog
    where fsProgId = #{fsProgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbprog" >
    insert into tbprog (fsProgId, fsProgName, fiSortOrder, 
      fsProgDesc, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName, fsProgLvl, fsFoodTradeList
      )
    values (#{fsProgId,jdbcType=VARCHAR}, #{fsProgName,jdbcType=VARCHAR}, #{fiSortOrder,jdbcType=INTEGER}, 
      #{fsProgDesc,jdbcType=VARCHAR}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR}, #{fsProgLvl,jdbcType=VARCHAR}, #{fsFoodTradeList,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbprog" >
    insert into tbprog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsProgId != null" >
        fsProgId,
      </if>
      <if test="fsProgName != null" >
        fsProgName,
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder,
      </if>
      <if test="fsProgDesc != null" >
        fsProgDesc,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fsProgLvl != null" >
        fsProgLvl,
      </if>
      <if test="fsFoodTradeList != null" >
        fsFoodTradeList,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsProgId != null" >
        #{fsProgId,jdbcType=VARCHAR},
      </if>
      <if test="fsProgName != null" >
        #{fsProgName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fsProgDesc != null" >
        #{fsProgDesc,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsProgLvl != null" >
        #{fsProgLvl,jdbcType=VARCHAR},
      </if>
      <if test="fsFoodTradeList != null" >
        #{fsFoodTradeList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbprog" >
    update tbprog
    <set >
      <if test="fsProgName != null" >
        fsProgName = #{fsProgName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fsProgDesc != null" >
        fsProgDesc = #{fsProgDesc,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsProgLvl != null" >
        fsProgLvl = #{fsProgLvl,jdbcType=VARCHAR},
      </if>
      <if test="fsFoodTradeList != null" >
        fsFoodTradeList = #{fsFoodTradeList,jdbcType=VARCHAR},
      </if>
    </set>
    where fsProgId = #{fsProgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbprog" >
    update tbprog
    set fsProgName = #{fsProgName,jdbcType=VARCHAR},
      fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      fsProgDesc = #{fsProgDesc,jdbcType=VARCHAR},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fsProgLvl = #{fsProgLvl,jdbcType=VARCHAR},
      fsFoodTradeList = #{fsFoodTradeList,jdbcType=VARCHAR}
    where fsProgId = #{fsProgId,jdbcType=VARCHAR}
  </update>
</mapper>