<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbprinttaskMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbprinttask" >
    <id column="fiPrintNo" property="fiPrintNo" jdbcType="INTEGER" />
    <result column="fsCreateTime" property="fsCreateTime" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fsCreateUserName" jdbcType="VARCHAR" />
    <result column="fsHostId" property="fsHostId" jdbcType="VARCHAR" />
    <result column="fsDeptId" property="fsDeptId" jdbcType="VARCHAR" />
    <result column="fsDeptName" property="fsDeptName" jdbcType="VARCHAR" />
    <result column="fiDeptCls" property="fiDeptCls" jdbcType="INTEGER" />
    <result column="fsPrinterName" property="fsPrinterName" jdbcType="VARCHAR" />
    <result column="fsReportId" property="fsReportId" jdbcType="VARCHAR" />
    <result column="fsReportName" property="fsReportName" jdbcType="VARCHAR" />
    <result column="fsSellNo" property="fsSellNo" jdbcType="VARCHAR" />
    <result column="fsRemark" property="fsRemark" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fiErrCount" property="fiErrCount" jdbcType="INTEGER" />
    <result column="fsFinishTime" property="fsFinishTime" jdbcType="VARCHAR" />
    <result column="fsPrnOkAction" property="fsPrnOkAction" jdbcType="VARCHAR" />
    <result column="fsDate" property="fsDate" jdbcType="VARCHAR" />
    <result column="fsOtherNo" property="fsOtherNo" jdbcType="VARCHAR" />
    <result column="fsSeq" property="fsSeq" jdbcType="VARCHAR" />
    <result column="fiRunTime" property="fiRunTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pos.entity.TbprinttaskWithBLOBs" extends="BaseResultMap" >
    <result column="fsPrnData" property="fsPrnData" jdbcType="LONGVARCHAR" />
    <result column="fsPrnData2" property="fsPrnData2" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiPrintNo, fsCreateTime, fsCreateUserName, fsHostId, fsDeptId, fsDeptName, fiDeptCls, 
    fsPrinterName, fsReportId, fsReportName, fsSellNo, fsRemark, fiStatus, fiErrCount, 
    fsFinishTime, fsPrnOkAction, fsDate, fsOtherNo, fsSeq, fiRunTime
  </sql>
  <sql id="Blob_Column_List" >
    fsPrnData, fsPrnData2
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbprinttask
    where fiPrintNo = #{fiPrintNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbprinttask
    where fiPrintNo = #{fiPrintNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.TbprinttaskWithBLOBs" >
    insert into tbprinttask (fiPrintNo, fsCreateTime, fsCreateUserName, 
      fsHostId, fsDeptId, fsDeptName, 
      fiDeptCls, fsPrinterName, fsReportId, 
      fsReportName, fsSellNo, fsRemark, 
      fiStatus, fiErrCount, fsFinishTime, 
      fsPrnOkAction, fsDate, fsOtherNo, 
      fsSeq, fiRunTime, fsPrnData, 
      fsPrnData2)
    values (#{fiPrintNo,jdbcType=INTEGER}, #{fsCreateTime,jdbcType=VARCHAR}, #{fsCreateUserName,jdbcType=VARCHAR}, 
      #{fsHostId,jdbcType=VARCHAR}, #{fsDeptId,jdbcType=VARCHAR}, #{fsDeptName,jdbcType=VARCHAR}, 
      #{fiDeptCls,jdbcType=INTEGER}, #{fsPrinterName,jdbcType=VARCHAR}, #{fsReportId,jdbcType=VARCHAR}, 
      #{fsReportName,jdbcType=VARCHAR}, #{fsSellNo,jdbcType=VARCHAR}, #{fsRemark,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fiErrCount,jdbcType=INTEGER}, #{fsFinishTime,jdbcType=VARCHAR}, 
      #{fsPrnOkAction,jdbcType=VARCHAR}, #{fsDate,jdbcType=VARCHAR}, #{fsOtherNo,jdbcType=VARCHAR}, 
      #{fsSeq,jdbcType=VARCHAR}, #{fiRunTime,jdbcType=INTEGER}, #{fsPrnData,jdbcType=LONGVARCHAR}, 
      #{fsPrnData2,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.TbprinttaskWithBLOBs" >
    insert into tbprinttask
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiPrintNo != null" >
        fiPrintNo,
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime,
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName,
      </if>
      <if test="fsHostId != null" >
        fsHostId,
      </if>
      <if test="fsDeptId != null" >
        fsDeptId,
      </if>
      <if test="fsDeptName != null" >
        fsDeptName,
      </if>
      <if test="fiDeptCls != null" >
        fiDeptCls,
      </if>
      <if test="fsPrinterName != null" >
        fsPrinterName,
      </if>
      <if test="fsReportId != null" >
        fsReportId,
      </if>
      <if test="fsReportName != null" >
        fsReportName,
      </if>
      <if test="fsSellNo != null" >
        fsSellNo,
      </if>
      <if test="fsRemark != null" >
        fsRemark,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fiErrCount != null" >
        fiErrCount,
      </if>
      <if test="fsFinishTime != null" >
        fsFinishTime,
      </if>
      <if test="fsPrnOkAction != null" >
        fsPrnOkAction,
      </if>
      <if test="fsDate != null" >
        fsDate,
      </if>
      <if test="fsOtherNo != null" >
        fsOtherNo,
      </if>
      <if test="fsSeq != null" >
        fsSeq,
      </if>
      <if test="fiRunTime != null" >
        fiRunTime,
      </if>
      <if test="fsPrnData != null" >
        fsPrnData,
      </if>
      <if test="fsPrnData2 != null" >
        fsPrnData2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiPrintNo != null" >
        #{fiPrintNo,jdbcType=INTEGER},
      </if>
      <if test="fsCreateTime != null" >
        #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsHostId != null" >
        #{fsHostId,jdbcType=VARCHAR},
      </if>
      <if test="fsDeptId != null" >
        #{fsDeptId,jdbcType=VARCHAR},
      </if>
      <if test="fsDeptName != null" >
        #{fsDeptName,jdbcType=VARCHAR},
      </if>
      <if test="fiDeptCls != null" >
        #{fiDeptCls,jdbcType=INTEGER},
      </if>
      <if test="fsPrinterName != null" >
        #{fsPrinterName,jdbcType=VARCHAR},
      </if>
      <if test="fsReportId != null" >
        #{fsReportId,jdbcType=VARCHAR},
      </if>
      <if test="fsReportName != null" >
        #{fsReportName,jdbcType=VARCHAR},
      </if>
      <if test="fsSellNo != null" >
        #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsRemark != null" >
        #{fsRemark,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiErrCount != null" >
        #{fiErrCount,jdbcType=INTEGER},
      </if>
      <if test="fsFinishTime != null" >
        #{fsFinishTime,jdbcType=VARCHAR},
      </if>
      <if test="fsPrnOkAction != null" >
        #{fsPrnOkAction,jdbcType=VARCHAR},
      </if>
      <if test="fsDate != null" >
        #{fsDate,jdbcType=VARCHAR},
      </if>
      <if test="fsOtherNo != null" >
        #{fsOtherNo,jdbcType=VARCHAR},
      </if>
      <if test="fsSeq != null" >
        #{fsSeq,jdbcType=VARCHAR},
      </if>
      <if test="fiRunTime != null" >
        #{fiRunTime,jdbcType=INTEGER},
      </if>
      <if test="fsPrnData != null" >
        #{fsPrnData,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsPrnData2 != null" >
        #{fsPrnData2,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.TbprinttaskWithBLOBs" >
    update tbprinttask
    <set >
      <if test="fsCreateTime != null" >
        fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsHostId != null" >
        fsHostId = #{fsHostId,jdbcType=VARCHAR},
      </if>
      <if test="fsDeptId != null" >
        fsDeptId = #{fsDeptId,jdbcType=VARCHAR},
      </if>
      <if test="fsDeptName != null" >
        fsDeptName = #{fsDeptName,jdbcType=VARCHAR},
      </if>
      <if test="fiDeptCls != null" >
        fiDeptCls = #{fiDeptCls,jdbcType=INTEGER},
      </if>
      <if test="fsPrinterName != null" >
        fsPrinterName = #{fsPrinterName,jdbcType=VARCHAR},
      </if>
      <if test="fsReportId != null" >
        fsReportId = #{fsReportId,jdbcType=VARCHAR},
      </if>
      <if test="fsReportName != null" >
        fsReportName = #{fsReportName,jdbcType=VARCHAR},
      </if>
      <if test="fsSellNo != null" >
        fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsRemark != null" >
        fsRemark = #{fsRemark,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fiErrCount != null" >
        fiErrCount = #{fiErrCount,jdbcType=INTEGER},
      </if>
      <if test="fsFinishTime != null" >
        fsFinishTime = #{fsFinishTime,jdbcType=VARCHAR},
      </if>
      <if test="fsPrnOkAction != null" >
        fsPrnOkAction = #{fsPrnOkAction,jdbcType=VARCHAR},
      </if>
      <if test="fsDate != null" >
        fsDate = #{fsDate,jdbcType=VARCHAR},
      </if>
      <if test="fsOtherNo != null" >
        fsOtherNo = #{fsOtherNo,jdbcType=VARCHAR},
      </if>
      <if test="fsSeq != null" >
        fsSeq = #{fsSeq,jdbcType=VARCHAR},
      </if>
      <if test="fiRunTime != null" >
        fiRunTime = #{fiRunTime,jdbcType=INTEGER},
      </if>
      <if test="fsPrnData != null" >
        fsPrnData = #{fsPrnData,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsPrnData2 != null" >
        fsPrnData2 = #{fsPrnData2,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fiPrintNo = #{fiPrintNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pos.entity.TbprinttaskWithBLOBs" >
    update tbprinttask
    set fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      fsHostId = #{fsHostId,jdbcType=VARCHAR},
      fsDeptId = #{fsDeptId,jdbcType=VARCHAR},
      fsDeptName = #{fsDeptName,jdbcType=VARCHAR},
      fiDeptCls = #{fiDeptCls,jdbcType=INTEGER},
      fsPrinterName = #{fsPrinterName,jdbcType=VARCHAR},
      fsReportId = #{fsReportId,jdbcType=VARCHAR},
      fsReportName = #{fsReportName,jdbcType=VARCHAR},
      fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      fsRemark = #{fsRemark,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fiErrCount = #{fiErrCount,jdbcType=INTEGER},
      fsFinishTime = #{fsFinishTime,jdbcType=VARCHAR},
      fsPrnOkAction = #{fsPrnOkAction,jdbcType=VARCHAR},
      fsDate = #{fsDate,jdbcType=VARCHAR},
      fsOtherNo = #{fsOtherNo,jdbcType=VARCHAR},
      fsSeq = #{fsSeq,jdbcType=VARCHAR},
      fiRunTime = #{fiRunTime,jdbcType=INTEGER},
      fsPrnData = #{fsPrnData,jdbcType=LONGVARCHAR},
      fsPrnData2 = #{fsPrnData2,jdbcType=LONGVARCHAR}
    where fiPrintNo = #{fiPrintNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbprinttask" >
    update tbprinttask
    set fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      fsHostId = #{fsHostId,jdbcType=VARCHAR},
      fsDeptId = #{fsDeptId,jdbcType=VARCHAR},
      fsDeptName = #{fsDeptName,jdbcType=VARCHAR},
      fiDeptCls = #{fiDeptCls,jdbcType=INTEGER},
      fsPrinterName = #{fsPrinterName,jdbcType=VARCHAR},
      fsReportId = #{fsReportId,jdbcType=VARCHAR},
      fsReportName = #{fsReportName,jdbcType=VARCHAR},
      fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      fsRemark = #{fsRemark,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fiErrCount = #{fiErrCount,jdbcType=INTEGER},
      fsFinishTime = #{fsFinishTime,jdbcType=VARCHAR},
      fsPrnOkAction = #{fsPrnOkAction,jdbcType=VARCHAR},
      fsDate = #{fsDate,jdbcType=VARCHAR},
      fsOtherNo = #{fsOtherNo,jdbcType=VARCHAR},
      fsSeq = #{fsSeq,jdbcType=VARCHAR},
      fiRunTime = #{fiRunTime,jdbcType=INTEGER}
    where fiPrintNo = #{fiPrintNo,jdbcType=INTEGER}
  </update>
</mapper>