<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbpublishMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbpublish" >
    <id column="fiId" property="fiId" jdbcType="BIGINT" />
    <id column="fiSoftId" property="fiSoftId" jdbcType="BIGINT" />
    <id column="fsVersion" property="fsVersion" jdbcType="VARCHAR" />
    <result column="fsUpContent" property="fsUpContent" jdbcType="VARCHAR" />
    <result column="fiPublishChannel" property="fiPublishChannel" jdbcType="INTEGER" />
    <result column="fsFileName" property="fsFileName" jdbcType="VARCHAR" />
    <result column="fsFileUrl" property="fsFileUrl" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsCheckCode" property="fsCheckCode" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
    <result column="fiPublishType" property="fiPublishType" jdbcType="INTEGER" />
    <result column="fsShopJosn" property="fsShopJosn" jdbcType="VARCHAR" />
    <result column="fsCreateUserId" property="fsCreateUserId" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fsCreateUserName" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fsCreateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fiUpdateType" property="fiUpdateType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiId, fiSoftId, fsVersion, fsUpContent, fiPublishChannel, fsFileName, fsFileUrl, 
    fiStatus, fsCheckCode, fsNote, fiPublishType, fsShopJosn, fsCreateUserId, fsCreateUserName, 
    fsCreateTime, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, fiUpdateType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbpublishKey" >
    select 
    <include refid="Base_Column_List" />
    from tbpublish
    where fiId = #{fiId,jdbcType=BIGINT}
      and fiSoftId = #{fiSoftId,jdbcType=BIGINT}
      and fsVersion = #{fsVersion,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbpublishKey" >
    delete from tbpublish
    where fiId = #{fiId,jdbcType=BIGINT}
      and fiSoftId = #{fiSoftId,jdbcType=BIGINT}
      and fsVersion = #{fsVersion,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbpublish" >
    insert into tbpublish (fiId, fiSoftId, fsVersion, 
      fsUpContent, fiPublishChannel, fsFileName, 
      fsFileUrl, fiStatus, fsCheckCode, 
      fsNote, fiPublishType, fsShopJosn, 
      fsCreateUserId, fsCreateUserName, fsCreateTime, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fiUpdateType)
    values (#{fiId,jdbcType=BIGINT}, #{fiSoftId,jdbcType=BIGINT}, #{fsVersion,jdbcType=VARCHAR}, 
      #{fsUpContent,jdbcType=VARCHAR}, #{fiPublishChannel,jdbcType=INTEGER}, #{fsFileName,jdbcType=VARCHAR}, 
      #{fsFileUrl,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, #{fsCheckCode,jdbcType=VARCHAR}, 
      #{fsNote,jdbcType=VARCHAR}, #{fiPublishType,jdbcType=INTEGER}, #{fsShopJosn,jdbcType=VARCHAR}, 
      #{fsCreateUserId,jdbcType=VARCHAR}, #{fsCreateUserName,jdbcType=VARCHAR}, #{fsCreateTime,jdbcType=VARCHAR}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, 
      #{fiUpdateType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbpublish" >
    insert into tbpublish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        fiId,
      </if>
      <if test="fiSoftId != null" >
        fiSoftId,
      </if>
      <if test="fsVersion != null" >
        fsVersion,
      </if>
      <if test="fsUpContent != null" >
        fsUpContent,
      </if>
      <if test="fiPublishChannel != null" >
        fiPublishChannel,
      </if>
      <if test="fsFileName != null" >
        fsFileName,
      </if>
      <if test="fsFileUrl != null" >
        fsFileUrl,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsCheckCode != null" >
        fsCheckCode,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fiPublishType != null" >
        fiPublishType,
      </if>
      <if test="fsShopJosn != null" >
        fsShopJosn,
      </if>
      <if test="fsCreateUserId != null" >
        fsCreateUserId,
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName,
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fiUpdateType != null" >
        fiUpdateType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        #{fiId,jdbcType=BIGINT},
      </if>
      <if test="fiSoftId != null" >
        #{fiSoftId,jdbcType=BIGINT},
      </if>
      <if test="fsVersion != null" >
        #{fsVersion,jdbcType=VARCHAR},
      </if>
      <if test="fsUpContent != null" >
        #{fsUpContent,jdbcType=VARCHAR},
      </if>
      <if test="fiPublishChannel != null" >
        #{fiPublishChannel,jdbcType=INTEGER},
      </if>
      <if test="fsFileName != null" >
        #{fsFileName,jdbcType=VARCHAR},
      </if>
      <if test="fsFileUrl != null" >
        #{fsFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsCheckCode != null" >
        #{fsCheckCode,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiPublishType != null" >
        #{fiPublishType,jdbcType=INTEGER},
      </if>
      <if test="fsShopJosn != null" >
        #{fsShopJosn,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserId != null" >
        #{fsCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiUpdateType != null" >
        #{fiUpdateType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbpublish" >
    update tbpublish
    <set >
      <if test="fsUpContent != null" >
        fsUpContent = #{fsUpContent,jdbcType=VARCHAR},
      </if>
      <if test="fiPublishChannel != null" >
        fiPublishChannel = #{fiPublishChannel,jdbcType=INTEGER},
      </if>
      <if test="fsFileName != null" >
        fsFileName = #{fsFileName,jdbcType=VARCHAR},
      </if>
      <if test="fsFileUrl != null" >
        fsFileUrl = #{fsFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsCheckCode != null" >
        fsCheckCode = #{fsCheckCode,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fiPublishType != null" >
        fiPublishType = #{fiPublishType,jdbcType=INTEGER},
      </if>
      <if test="fsShopJosn != null" >
        fsShopJosn = #{fsShopJosn,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserId != null" >
        fsCreateUserId = #{fsCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiUpdateType != null" >
        fiUpdateType = #{fiUpdateType,jdbcType=INTEGER},
      </if>
    </set>
    where fiId = #{fiId,jdbcType=BIGINT}
      and fiSoftId = #{fiSoftId,jdbcType=BIGINT}
      and fsVersion = #{fsVersion,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbpublish" >
    update tbpublish
    set fsUpContent = #{fsUpContent,jdbcType=VARCHAR},
      fiPublishChannel = #{fiPublishChannel,jdbcType=INTEGER},
      fsFileName = #{fsFileName,jdbcType=VARCHAR},
      fsFileUrl = #{fsFileUrl,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsCheckCode = #{fsCheckCode,jdbcType=VARCHAR},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fiPublishType = #{fiPublishType,jdbcType=INTEGER},
      fsShopJosn = #{fsShopJosn,jdbcType=VARCHAR},
      fsCreateUserId = #{fsCreateUserId,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fiUpdateType = #{fiUpdateType,jdbcType=INTEGER}
    where fiId = #{fiId,jdbcType=BIGINT}
      and fiSoftId = #{fiSoftId,jdbcType=BIGINT}
      and fsVersion = #{fsVersion,jdbcType=VARCHAR}
  </update>
</mapper>