<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbreporttempletMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbreporttemplet" >
    <id column="fsReportId" property="fsReportId" jdbcType="VARCHAR" />
    <id column="fsReportTempletId" property="fsReportTempletId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsReportTempletName" property="fsReportTempletName" jdbcType="VARCHAR" />
    <result column="fsReportTempletDesc" property="fsReportTempletDesc" jdbcType="VARCHAR" />
    <result column="fiPaperSize" property="fiPaperSize" jdbcType="INTEGER" />
    <result column="fsRptFile" property="fsRptFile" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fsFoodTradeId" property="fsFoodTradeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsReportId, fsReportTempletId, fsShopGUID, fsReportTempletName, fsReportTempletDesc, 
    fiPaperSize, fsRptFile, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fsFoodTradeId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbreporttempletKey" >
    select 
    <include refid="Base_Column_List" />
    from tbreporttemplet
    where fsReportId = #{fsReportId,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsReportTempletId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbreporttempletKey" >
    delete from tbreporttemplet
    where fsReportId = #{fsReportId,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsReportTempletId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbreporttemplet" >
    insert into tbreporttemplet (fsReportId, fsReportTempletId, fsShopGUID, 
      fsReportTempletName, fsReportTempletDesc, 
      fiPaperSize, fsRptFile, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fsFoodTradeId)
    values (#{fsReportId,jdbcType=VARCHAR}, #{fsReportTempletId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, 
      #{fsReportTempletName,jdbcType=VARCHAR}, #{fsReportTempletDesc,jdbcType=VARCHAR}, 
      #{fiPaperSize,jdbcType=INTEGER}, #{fsRptFile,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, 
      #{fsFoodTradeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbreporttemplet" >
    insert into tbreporttemplet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsReportId != null" >
        fsReportId,
      </if>
      <if test="fsReportTempletId != null" >
        fsReportTempletId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsReportTempletName != null" >
        fsReportTempletName,
      </if>
      <if test="fsReportTempletDesc != null" >
        fsReportTempletDesc,
      </if>
      <if test="fiPaperSize != null" >
        fiPaperSize,
      </if>
      <if test="fsRptFile != null" >
        fsRptFile,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fsFoodTradeId != null" >
        fsFoodTradeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsReportId != null" >
        #{fsReportId,jdbcType=VARCHAR},
      </if>
      <if test="fsReportTempletId != null" >
        #{fsReportTempletId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsReportTempletName != null" >
        #{fsReportTempletName,jdbcType=VARCHAR},
      </if>
      <if test="fsReportTempletDesc != null" >
        #{fsReportTempletDesc,jdbcType=VARCHAR},
      </if>
      <if test="fiPaperSize != null" >
        #{fiPaperSize,jdbcType=INTEGER},
      </if>
      <if test="fsRptFile != null" >
        #{fsRptFile,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsFoodTradeId != null" >
        #{fsFoodTradeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbreporttemplet" >
    update tbreporttemplet
    <set >
      <if test="fsReportTempletName != null" >
        fsReportTempletName = #{fsReportTempletName,jdbcType=VARCHAR},
      </if>
      <if test="fsReportTempletDesc != null" >
        fsReportTempletDesc = #{fsReportTempletDesc,jdbcType=VARCHAR},
      </if>
      <if test="fiPaperSize != null" >
        fiPaperSize = #{fiPaperSize,jdbcType=INTEGER},
      </if>
      <if test="fsRptFile != null" >
        fsRptFile = #{fsRptFile,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsFoodTradeId != null" >
        fsFoodTradeId = #{fsFoodTradeId,jdbcType=VARCHAR},
      </if>
    </set>
    where fsReportId = #{fsReportId,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsReportTempletId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbreporttemplet" >
    update tbreporttemplet
    set fsReportTempletName = #{fsReportTempletName,jdbcType=VARCHAR},
      fsReportTempletDesc = #{fsReportTempletDesc,jdbcType=VARCHAR},
      fiPaperSize = #{fiPaperSize,jdbcType=INTEGER},
      fsRptFile = #{fsRptFile,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fsFoodTradeId = #{fsFoodTradeId,jdbcType=VARCHAR}
    where fsReportId = #{fsReportId,jdbcType=VARCHAR}
      and fsReportTempletId = #{fsReportTempletId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>