<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbreportconfigurationMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbreportconfiguration" >
    <id column="fsConfigurationId" property="fsConfigurationId" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsConfigurationName" property="fsConfigurationName" jdbcType="VARCHAR" />
    <result column="fsConfigurationValue" property="fsConfigurationValue" jdbcType="VARCHAR" />
    <result column="fsFoodTradeId" property="fsFoodTradeId" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsConfigurationId, fsShopGUID, fsConfigurationName, fsConfigurationValue, fsFoodTradeId, 
    fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbreportconfigurationKey" >
    select 
    <include refid="Base_Column_List" />
    from tbreportconfiguration
    where fsConfigurationId = #{fsConfigurationId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbreportconfigurationKey" >
    delete from tbreportconfiguration
    where fsConfigurationId = #{fsConfigurationId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbreportconfiguration" >
    insert into tbreportconfiguration (fsConfigurationId, fsShopGUID, fsConfigurationName, 
      fsConfigurationValue, fsFoodTradeId, fiStatus, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName
      )
    values (#{fsConfigurationId,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsConfigurationName,jdbcType=VARCHAR}, 
      #{fsConfigurationValue,jdbcType=VARCHAR}, #{fsFoodTradeId,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbreportconfiguration" >
    insert into tbreportconfiguration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsConfigurationId != null" >
        fsConfigurationId,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsConfigurationName != null" >
        fsConfigurationName,
      </if>
      <if test="fsConfigurationValue != null" >
        fsConfigurationValue,
      </if>
      <if test="fsFoodTradeId != null" >
        fsFoodTradeId,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsConfigurationId != null" >
        #{fsConfigurationId,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsConfigurationName != null" >
        #{fsConfigurationName,jdbcType=VARCHAR},
      </if>
      <if test="fsConfigurationValue != null" >
        #{fsConfigurationValue,jdbcType=VARCHAR},
      </if>
      <if test="fsFoodTradeId != null" >
        #{fsFoodTradeId,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbreportconfiguration" >
    update tbreportconfiguration
    <set >
      <if test="fsConfigurationName != null" >
        fsConfigurationName = #{fsConfigurationName,jdbcType=VARCHAR},
      </if>
      <if test="fsConfigurationValue != null" >
        fsConfigurationValue = #{fsConfigurationValue,jdbcType=VARCHAR},
      </if>
      <if test="fsFoodTradeId != null" >
        fsFoodTradeId = #{fsFoodTradeId,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fsConfigurationId = #{fsConfigurationId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbreportconfiguration" >
    update tbreportconfiguration
    set fsConfigurationName = #{fsConfigurationName,jdbcType=VARCHAR},
      fsConfigurationValue = #{fsConfigurationValue,jdbcType=VARCHAR},
      fsFoodTradeId = #{fsFoodTradeId,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fsConfigurationId = #{fsConfigurationId,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>