<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbreuploadMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbreupload" >
    <id column="fsGuid" property="fsGuid" jdbcType="VARCHAR" />
    <result column="fsCreatTime" property="fsCreatTime" jdbcType="VARCHAR" />
    <result column="fsShopGuid" property="fsShopGuid" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsBeginTime" property="fsBeginTime" jdbcType="VARCHAR" />
    <result column="fsEndTime" property="fsEndTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsGuid, fsCreatTime, fsShopGuid, fiStatus, fsBeginTime, fsEndTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbreupload
    where fsGuid = #{fsGuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbreupload
    where fsGuid = #{fsGuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbreupload" >
    insert into tbreupload (fsGuid, fsCreatTime, fsShopGuid, 
      fiStatus, fsBeginTime, fsEndTime
      )
    values (#{fsGuid,jdbcType=VARCHAR}, #{fsCreatTime,jdbcType=VARCHAR}, #{fsShopGuid,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fsBeginTime,jdbcType=VARCHAR}, #{fsEndTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbreupload" >
    insert into tbreupload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsGuid != null" >
        fsGuid,
      </if>
      <if test="fsCreatTime != null" >
        fsCreatTime,
      </if>
      <if test="fsShopGuid != null" >
        fsShopGuid,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsBeginTime != null" >
        fsBeginTime,
      </if>
      <if test="fsEndTime != null" >
        fsEndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsGuid != null" >
        #{fsGuid,jdbcType=VARCHAR},
      </if>
      <if test="fsCreatTime != null" >
        #{fsCreatTime,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGuid != null" >
        #{fsShopGuid,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsBeginTime != null" >
        #{fsBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="fsEndTime != null" >
        #{fsEndTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbreupload" >
    update tbreupload
    <set >
      <if test="fsCreatTime != null" >
        fsCreatTime = #{fsCreatTime,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGuid != null" >
        fsShopGuid = #{fsShopGuid,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsBeginTime != null" >
        fsBeginTime = #{fsBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="fsEndTime != null" >
        fsEndTime = #{fsEndTime,jdbcType=VARCHAR},
      </if>
    </set>
    where fsGuid = #{fsGuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbreupload" >
    update tbreupload
    set fsCreatTime = #{fsCreatTime,jdbcType=VARCHAR},
      fsShopGuid = #{fsShopGuid,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsBeginTime = #{fsBeginTime,jdbcType=VARCHAR},
      fsEndTime = #{fsEndTime,jdbcType=VARCHAR}
    where fsGuid = #{fsGuid,jdbcType=VARCHAR}
  </update>
</mapper>