<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbsellhurryMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbsellhurry" >
    <id column="fiHurrySeq" property="fiHurrySeq" jdbcType="INTEGER" />
    <id column="fsSellNo" property="fsSellNo" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fsCreateTime" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fsCreateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiHurrySeq, fsSellNo, fsShopGUID, fsCreateTime, fsCreateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbsellhurryKey" >
    select 
    <include refid="Base_Column_List" />
    from tbsellhurry
    where fiHurrySeq = #{fiHurrySeq,jdbcType=INTEGER}
      and fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbsellhurryKey" >
    delete from tbsellhurry
    where fiHurrySeq = #{fiHurrySeq,jdbcType=INTEGER}
      and fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbsellhurry" >
    insert into tbsellhurry (fiHurrySeq, fsSellNo, fsShopGUID, 
      fsCreateTime, fsCreateUserName)
    values (#{fiHurrySeq,jdbcType=INTEGER}, #{fsSellNo,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, 
      #{fsCreateTime,jdbcType=VARCHAR}, #{fsCreateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbsellhurry" >
    insert into tbsellhurry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiHurrySeq != null" >
        fiHurrySeq,
      </if>
      <if test="fsSellNo != null" >
        fsSellNo,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime,
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiHurrySeq != null" >
        #{fiHurrySeq,jdbcType=INTEGER},
      </if>
      <if test="fsSellNo != null" >
        #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbsellhurry" >
    update tbsellhurry
    <set >
      <if test="fsCreateTime != null" >
        fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fiHurrySeq = #{fiHurrySeq,jdbcType=INTEGER}
      and fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbsellhurry" >
    update tbsellhurry
    set fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR}
    where fiHurrySeq = #{fiHurrySeq,jdbcType=INTEGER}
      and fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>