<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbsellorderitemMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbsellorderitem" >
    <id column="fsSeq" property="fsSeq" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsSellNo" property="fsSellNo" jdbcType="VARCHAR" />
    <result column="fiOrderSeq" property="fiOrderSeq" jdbcType="INTEGER" />
    <result column="fsMSectionId" property="fsMSectionId" jdbcType="VARCHAR" />
    <result column="fiOrderMode" property="fiOrderMode" jdbcType="INTEGER" />
    <result column="fiItemCd" property="fiItemCd" jdbcType="INTEGER" />
    <result column="fsItemId" property="fsItemId" jdbcType="VARCHAR" />
    <result column="fsItemName" property="fsItemName" jdbcType="VARCHAR" />
    <result column="fsItemName2" property="fsItemName2" jdbcType="VARCHAR" />
    <result column="fsOrderUint" property="fsOrderUint" jdbcType="VARCHAR" />
    <result column="fiIsDiscount" property="fiIsDiscount" jdbcType="INTEGER" />
    <result column="fiIsServiceFee" property="fiIsServiceFee" jdbcType="INTEGER" />
    <result column="fiIsEditPrice" property="fiIsEditPrice" jdbcType="INTEGER" />
    <result column="fiIsEditQty" property="fiIsEditQty" jdbcType="INTEGER" />
    <result column="fiIsGift" property="fiIsGift" jdbcType="INTEGER" />
    <result column="fiIsPrn" property="fiIsPrn" jdbcType="INTEGER" />
    <result column="fiIsQtyAssess" property="fiIsQtyAssess" jdbcType="INTEGER" />
    <result column="fiOrderItemKind" property="fiOrderItemKind" jdbcType="INTEGER" />
    <result column="fsMenuClsId" property="fsMenuClsId" jdbcType="VARCHAR" />
    <result column="fsExpClsId" property="fsExpClsId" jdbcType="VARCHAR" />
    <result column="fsRevenueTypeId" property="fsRevenueTypeId" jdbcType="VARCHAR" />
    <result column="fdSalePrice" property="fdSalePrice" jdbcType="DECIMAL" />
    <result column="fdVIPPrice" property="fdVIPPrice" jdbcType="DECIMAL" />
    <result column="fdBargainPrice" property="fdBargainPrice" jdbcType="DECIMAL" />
    <result column="fdAddPrice" property="fdAddPrice" jdbcType="DECIMAL" />
    <result column="fdSettlePrice" property="fdSettlePrice" jdbcType="DECIMAL" />
    <result column="fdSaleQty" property="fdSaleQty" jdbcType="DECIMAL" />
    <result column="fdSaleAmt" property="fdSaleAmt" jdbcType="DECIMAL" />
    <result column="fiDiscountRate" property="fiDiscountRate" jdbcType="INTEGER" />
    <result column="fdDiscountAmt" property="fdDiscountAmt" jdbcType="DECIMAL" />
    <result column="fdDisAfterAmt" property="fdDisAfterAmt" jdbcType="DECIMAL" />
    <result column="fdGiftAmt" property="fdGiftAmt" jdbcType="DECIMAL" />
    <result column="fdSubTotal" property="fdSubTotal" jdbcType="DECIMAL" />
    <result column="fdBackQty" property="fdBackQty" jdbcType="DECIMAL" />
    <result column="fdBackAmt" property="fdBackAmt" jdbcType="DECIMAL" />
    <result column="fdSubTotal2" property="fdSubTotal2" jdbcType="DECIMAL" />
    <result column="fiServiceRate" property="fiServiceRate" jdbcType="INTEGER" />
    <result column="fdServiceAmt" property="fdServiceAmt" jdbcType="DECIMAL" />
    <result column="fiItemMakeSte" property="fiItemMakeSte" jdbcType="INTEGER" />
    <result column="fsOrderTime" property="fsOrderTime" jdbcType="VARCHAR" />
    <result column="fiHurryTimes" property="fiHurryTimes" jdbcType="INTEGER" />
    <result column="fiEraseNo" property="fiEraseNo" jdbcType="INTEGER" />
    <result column="fsEraseTime" property="fsEraseTime" jdbcType="VARCHAR" />
    <result column="fiItemMakeOrder" property="fiItemMakeOrder" jdbcType="INTEGER" />
    <result column="fsSeq_M" property="fsSeq_M" jdbcType="VARCHAR" />
    <result column="fsSourceSellNo" property="fsSourceSellNo" jdbcType="VARCHAR" />
    <result column="fsSourceSeq" property="fsSourceSeq" jdbcType="VARCHAR" />
    <result column="fsSourceOrderTime" property="fsSourceOrderTime" jdbcType="VARCHAR" />
    <result column="fsBackUserId" property="fsBackUserId" jdbcType="VARCHAR" />
    <result column="fsBackUserName" property="fsBackUserName" jdbcType="VARCHAR" />
    <result column="fsBackReason" property="fsBackReason" jdbcType="VARCHAR" />
    <result column="fsGiftUserId" property="fsGiftUserId" jdbcType="VARCHAR" />
    <result column="fsGiftUserName" property="fsGiftUserName" jdbcType="VARCHAR" />
    <result column="fsGiftReason" property="fsGiftReason" jdbcType="VARCHAR" />
    <result column="fsDiscountUserId" property="fsDiscountUserId" jdbcType="VARCHAR" />
    <result column="fsDiscountUserName" property="fsDiscountUserName" jdbcType="VARCHAR" />
    <result column="fsDiscountReason" property="fsDiscountReason" jdbcType="VARCHAR" />
    <result column="fsEditPirceUserId" property="fsEditPirceUserId" jdbcType="VARCHAR" />
    <result column="fsEditPirceUserName" property="fsEditPirceUserName" jdbcType="VARCHAR" />
    <result column="fsEditPirceReason" property="fsEditPirceReason" jdbcType="VARCHAR" />
    <result column="fsHostId" property="fsHostId" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fsCreateTime" jdbcType="VARCHAR" />
    <result column="fsCreateUserId" property="fsCreateUserId" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fsCreateUserName" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fiSetFoodCd" property="fiSetFoodCd" jdbcType="INTEGER" />
    <result column="fiOrderUintCd" property="fiOrderUintCd" jdbcType="INTEGER" />
    <result column="fiPriceTag" property="fiPriceTag" jdbcType="INTEGER" />
    <result column="fiIsSetDtlPrn" property="fiIsSetDtlPrn" jdbcType="INTEGER" />
    <result column="fsDataSrckind" property="fsDataSrckind" jdbcType="VARCHAR" />
    <result column="fsSrcVerno" property="fsSrcVerno" jdbcType="VARCHAR" />
    <result column="fdGiftqty" property="fdGiftqty" jdbcType="DECIMAL" />
    <result column="fsdeptname" property="fsdeptname" jdbcType="VARCHAR" />
    <result column="fsexpclsname" property="fsexpclsname" jdbcType="VARCHAR" />
    <result column="fsmsectionname" property="fsmsectionname" jdbcType="VARCHAR" />
    <result column="fsrevenuetypename" property="fsrevenuetypename" jdbcType="VARCHAR" />
    <result column="fsGifttime" property="fsGifttime" jdbcType="VARCHAR" />
    <result column="fsBacktime" property="fsBacktime" jdbcType="VARCHAR" />
    <result column="fsBackremark" property="fsBackremark" jdbcType="VARCHAR" />
    <result column="fsmenuclsname" property="fsmenuclsname" jdbcType="VARCHAR" />
    <result column="lver" property="lver" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pos.entity.TbsellorderitemWithBLOBs" extends="BaseResultMap" >
    <result column="fsDeptId" property="fsDeptId" jdbcType="LONGVARCHAR" />
    <result column="fsNote" property="fsNote" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsSeq, fsShopGUID, fsSellNo, fiOrderSeq, fsMSectionId, fiOrderMode, fiItemCd, fsItemId, 
    fsItemName, fsItemName2, fsOrderUint, fiIsDiscount, fiIsServiceFee, fiIsEditPrice, 
    fiIsEditQty, fiIsGift, fiIsPrn, fiIsQtyAssess, fiOrderItemKind, fsMenuClsId, fsExpClsId, 
    fsRevenueTypeId, fdSalePrice, fdVIPPrice, fdBargainPrice, fdAddPrice, fdSettlePrice, 
    fdSaleQty, fdSaleAmt, fiDiscountRate, fdDiscountAmt, fdDisAfterAmt, fdGiftAmt, fdSubTotal, 
    fdBackQty, fdBackAmt, fdSubTotal2, fiServiceRate, fdServiceAmt, fiItemMakeSte, fsOrderTime, 
    fiHurryTimes, fiEraseNo, fsEraseTime, fiItemMakeOrder, fsSeq_M, fsSourceSellNo, fsSourceSeq, 
    fsSourceOrderTime, fsBackUserId, fsBackUserName, fsBackReason, fsGiftUserId, fsGiftUserName, 
    fsGiftReason, fsDiscountUserId, fsDiscountUserName, fsDiscountReason, fsEditPirceUserId, 
    fsEditPirceUserName, fsEditPirceReason, fsHostId, fsCreateTime, fsCreateUserId, fsCreateUserName, 
    fsUpdateTime, fiSetFoodCd, fiOrderUintCd, fiPriceTag, fiIsSetDtlPrn, fsDataSrckind, 
    fsSrcVerno, fdGiftqty, fsdeptname, fsexpclsname, fsmsectionname, fsrevenuetypename, 
    fsGifttime, fsBacktime, fsBackremark, fsmenuclsname, lver
  </sql>
  <sql id="Blob_Column_List" >
    fsDeptId, fsNote
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.pos.entity.TbsellorderitemKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbsellorderitem
    where fsSeq = #{fsSeq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbsellorderitemKey" >
    delete from tbsellorderitem
    where fsSeq = #{fsSeq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.TbsellorderitemWithBLOBs" >
    insert into tbsellorderitem (fsSeq, fsShopGUID, fsSellNo, 
      fiOrderSeq, fsMSectionId, fiOrderMode, 
      fiItemCd, fsItemId, fsItemName, 
      fsItemName2, fsOrderUint, fiIsDiscount, 
      fiIsServiceFee, fiIsEditPrice, fiIsEditQty, 
      fiIsGift, fiIsPrn, fiIsQtyAssess, 
      fiOrderItemKind, fsMenuClsId, fsExpClsId, 
      fsRevenueTypeId, fdSalePrice, fdVIPPrice, 
      fdBargainPrice, fdAddPrice, fdSettlePrice, 
      fdSaleQty, fdSaleAmt, fiDiscountRate, 
      fdDiscountAmt, fdDisAfterAmt, fdGiftAmt, 
      fdSubTotal, fdBackQty, fdBackAmt, 
      fdSubTotal2, fiServiceRate, fdServiceAmt, 
      fiItemMakeSte, fsOrderTime, fiHurryTimes, 
      fiEraseNo, fsEraseTime, fiItemMakeOrder, 
      fsSeq_M, fsSourceSellNo, fsSourceSeq, 
      fsSourceOrderTime, fsBackUserId, fsBackUserName, 
      fsBackReason, fsGiftUserId, fsGiftUserName, 
      fsGiftReason, fsDiscountUserId, fsDiscountUserName, 
      fsDiscountReason, fsEditPirceUserId, fsEditPirceUserName, 
      fsEditPirceReason, fsHostId, fsCreateTime, 
      fsCreateUserId, fsCreateUserName, fsUpdateTime, 
      fiSetFoodCd, fiOrderUintCd, fiPriceTag, 
      fiIsSetDtlPrn, fsDataSrckind, fsSrcVerno, 
      fdGiftqty, fsdeptname, fsexpclsname, 
      fsmsectionname, fsrevenuetypename, fsGifttime, 
      fsBacktime, fsBackremark, fsmenuclsname, 
      lver, fsDeptId, fsNote
      )
    values (#{fsSeq,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsSellNo,jdbcType=VARCHAR}, 
      #{fiOrderSeq,jdbcType=INTEGER}, #{fsMSectionId,jdbcType=VARCHAR}, #{fiOrderMode,jdbcType=INTEGER}, 
      #{fiItemCd,jdbcType=INTEGER}, #{fsItemId,jdbcType=VARCHAR}, #{fsItemName,jdbcType=VARCHAR}, 
      #{fsItemName2,jdbcType=VARCHAR}, #{fsOrderUint,jdbcType=VARCHAR}, #{fiIsDiscount,jdbcType=INTEGER}, 
      #{fiIsServiceFee,jdbcType=INTEGER}, #{fiIsEditPrice,jdbcType=INTEGER}, #{fiIsEditQty,jdbcType=INTEGER}, 
      #{fiIsGift,jdbcType=INTEGER}, #{fiIsPrn,jdbcType=INTEGER}, #{fiIsQtyAssess,jdbcType=INTEGER}, 
      #{fiOrderItemKind,jdbcType=INTEGER}, #{fsMenuClsId,jdbcType=VARCHAR}, #{fsExpClsId,jdbcType=VARCHAR}, 
      #{fsRevenueTypeId,jdbcType=VARCHAR}, #{fdSalePrice,jdbcType=DECIMAL}, #{fdVIPPrice,jdbcType=DECIMAL}, 
      #{fdBargainPrice,jdbcType=DECIMAL}, #{fdAddPrice,jdbcType=DECIMAL}, #{fdSettlePrice,jdbcType=DECIMAL}, 
      #{fdSaleQty,jdbcType=DECIMAL}, #{fdSaleAmt,jdbcType=DECIMAL}, #{fiDiscountRate,jdbcType=INTEGER}, 
      #{fdDiscountAmt,jdbcType=DECIMAL}, #{fdDisAfterAmt,jdbcType=DECIMAL}, #{fdGiftAmt,jdbcType=DECIMAL}, 
      #{fdSubTotal,jdbcType=DECIMAL}, #{fdBackQty,jdbcType=DECIMAL}, #{fdBackAmt,jdbcType=DECIMAL}, 
      #{fdSubTotal2,jdbcType=DECIMAL}, #{fiServiceRate,jdbcType=INTEGER}, #{fdServiceAmt,jdbcType=DECIMAL}, 
      #{fiItemMakeSte,jdbcType=INTEGER}, #{fsOrderTime,jdbcType=VARCHAR}, #{fiHurryTimes,jdbcType=INTEGER}, 
      #{fiEraseNo,jdbcType=INTEGER}, #{fsEraseTime,jdbcType=VARCHAR}, #{fiItemMakeOrder,jdbcType=INTEGER}, 
      #{fsSeq_M,jdbcType=VARCHAR}, #{fsSourceSellNo,jdbcType=VARCHAR}, #{fsSourceSeq,jdbcType=VARCHAR}, 
      #{fsSourceOrderTime,jdbcType=VARCHAR}, #{fsBackUserId,jdbcType=VARCHAR}, #{fsBackUserName,jdbcType=VARCHAR}, 
      #{fsBackReason,jdbcType=VARCHAR}, #{fsGiftUserId,jdbcType=VARCHAR}, #{fsGiftUserName,jdbcType=VARCHAR}, 
      #{fsGiftReason,jdbcType=VARCHAR}, #{fsDiscountUserId,jdbcType=VARCHAR}, #{fsDiscountUserName,jdbcType=VARCHAR}, 
      #{fsDiscountReason,jdbcType=VARCHAR}, #{fsEditPirceUserId,jdbcType=VARCHAR}, #{fsEditPirceUserName,jdbcType=VARCHAR}, 
      #{fsEditPirceReason,jdbcType=VARCHAR}, #{fsHostId,jdbcType=VARCHAR}, #{fsCreateTime,jdbcType=VARCHAR}, 
      #{fsCreateUserId,jdbcType=VARCHAR}, #{fsCreateUserName,jdbcType=VARCHAR}, #{fsUpdateTime,jdbcType=VARCHAR}, 
      #{fiSetFoodCd,jdbcType=INTEGER}, #{fiOrderUintCd,jdbcType=INTEGER}, #{fiPriceTag,jdbcType=INTEGER}, 
      #{fiIsSetDtlPrn,jdbcType=INTEGER}, #{fsDataSrckind,jdbcType=VARCHAR}, #{fsSrcVerno,jdbcType=VARCHAR}, 
      #{fdGiftqty,jdbcType=DECIMAL}, #{fsdeptname,jdbcType=VARCHAR}, #{fsexpclsname,jdbcType=VARCHAR}, 
      #{fsmsectionname,jdbcType=VARCHAR}, #{fsrevenuetypename,jdbcType=VARCHAR}, #{fsGifttime,jdbcType=VARCHAR}, 
      #{fsBacktime,jdbcType=VARCHAR}, #{fsBackremark,jdbcType=VARCHAR}, #{fsmenuclsname,jdbcType=VARCHAR}, 
      #{lver,jdbcType=INTEGER}, #{fsDeptId,jdbcType=LONGVARCHAR}, #{fsNote,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.TbsellorderitemWithBLOBs" >
    insert into tbsellorderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsSeq != null" >
        fsSeq,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsSellNo != null" >
        fsSellNo,
      </if>
      <if test="fiOrderSeq != null" >
        fiOrderSeq,
      </if>
      <if test="fsMSectionId != null" >
        fsMSectionId,
      </if>
      <if test="fiOrderMode != null" >
        fiOrderMode,
      </if>
      <if test="fiItemCd != null" >
        fiItemCd,
      </if>
      <if test="fsItemId != null" >
        fsItemId,
      </if>
      <if test="fsItemName != null" >
        fsItemName,
      </if>
      <if test="fsItemName2 != null" >
        fsItemName2,
      </if>
      <if test="fsOrderUint != null" >
        fsOrderUint,
      </if>
      <if test="fiIsDiscount != null" >
        fiIsDiscount,
      </if>
      <if test="fiIsServiceFee != null" >
        fiIsServiceFee,
      </if>
      <if test="fiIsEditPrice != null" >
        fiIsEditPrice,
      </if>
      <if test="fiIsEditQty != null" >
        fiIsEditQty,
      </if>
      <if test="fiIsGift != null" >
        fiIsGift,
      </if>
      <if test="fiIsPrn != null" >
        fiIsPrn,
      </if>
      <if test="fiIsQtyAssess != null" >
        fiIsQtyAssess,
      </if>
      <if test="fiOrderItemKind != null" >
        fiOrderItemKind,
      </if>
      <if test="fsMenuClsId != null" >
        fsMenuClsId,
      </if>
      <if test="fsExpClsId != null" >
        fsExpClsId,
      </if>
      <if test="fsRevenueTypeId != null" >
        fsRevenueTypeId,
      </if>
      <if test="fdSalePrice != null" >
        fdSalePrice,
      </if>
      <if test="fdVIPPrice != null" >
        fdVIPPrice,
      </if>
      <if test="fdBargainPrice != null" >
        fdBargainPrice,
      </if>
      <if test="fdAddPrice != null" >
        fdAddPrice,
      </if>
      <if test="fdSettlePrice != null" >
        fdSettlePrice,
      </if>
      <if test="fdSaleQty != null" >
        fdSaleQty,
      </if>
      <if test="fdSaleAmt != null" >
        fdSaleAmt,
      </if>
      <if test="fiDiscountRate != null" >
        fiDiscountRate,
      </if>
      <if test="fdDiscountAmt != null" >
        fdDiscountAmt,
      </if>
      <if test="fdDisAfterAmt != null" >
        fdDisAfterAmt,
      </if>
      <if test="fdGiftAmt != null" >
        fdGiftAmt,
      </if>
      <if test="fdSubTotal != null" >
        fdSubTotal,
      </if>
      <if test="fdBackQty != null" >
        fdBackQty,
      </if>
      <if test="fdBackAmt != null" >
        fdBackAmt,
      </if>
      <if test="fdSubTotal2 != null" >
        fdSubTotal2,
      </if>
      <if test="fiServiceRate != null" >
        fiServiceRate,
      </if>
      <if test="fdServiceAmt != null" >
        fdServiceAmt,
      </if>
      <if test="fiItemMakeSte != null" >
        fiItemMakeSte,
      </if>
      <if test="fsOrderTime != null" >
        fsOrderTime,
      </if>
      <if test="fiHurryTimes != null" >
        fiHurryTimes,
      </if>
      <if test="fiEraseNo != null" >
        fiEraseNo,
      </if>
      <if test="fsEraseTime != null" >
        fsEraseTime,
      </if>
      <if test="fiItemMakeOrder != null" >
        fiItemMakeOrder,
      </if>
      <if test="fsSeq_M != null" >
        fsSeq_M,
      </if>
      <if test="fsSourceSellNo != null" >
        fsSourceSellNo,
      </if>
      <if test="fsSourceSeq != null" >
        fsSourceSeq,
      </if>
      <if test="fsSourceOrderTime != null" >
        fsSourceOrderTime,
      </if>
      <if test="fsBackUserId != null" >
        fsBackUserId,
      </if>
      <if test="fsBackUserName != null" >
        fsBackUserName,
      </if>
      <if test="fsBackReason != null" >
        fsBackReason,
      </if>
      <if test="fsGiftUserId != null" >
        fsGiftUserId,
      </if>
      <if test="fsGiftUserName != null" >
        fsGiftUserName,
      </if>
      <if test="fsGiftReason != null" >
        fsGiftReason,
      </if>
      <if test="fsDiscountUserId != null" >
        fsDiscountUserId,
      </if>
      <if test="fsDiscountUserName != null" >
        fsDiscountUserName,
      </if>
      <if test="fsDiscountReason != null" >
        fsDiscountReason,
      </if>
      <if test="fsEditPirceUserId != null" >
        fsEditPirceUserId,
      </if>
      <if test="fsEditPirceUserName != null" >
        fsEditPirceUserName,
      </if>
      <if test="fsEditPirceReason != null" >
        fsEditPirceReason,
      </if>
      <if test="fsHostId != null" >
        fsHostId,
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime,
      </if>
      <if test="fsCreateUserId != null" >
        fsCreateUserId,
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fiSetFoodCd != null" >
        fiSetFoodCd,
      </if>
      <if test="fiOrderUintCd != null" >
        fiOrderUintCd,
      </if>
      <if test="fiPriceTag != null" >
        fiPriceTag,
      </if>
      <if test="fiIsSetDtlPrn != null" >
        fiIsSetDtlPrn,
      </if>
      <if test="fsDataSrckind != null" >
        fsDataSrckind,
      </if>
      <if test="fsSrcVerno != null" >
        fsSrcVerno,
      </if>
      <if test="fdGiftqty != null" >
        fdGiftqty,
      </if>
      <if test="fsdeptname != null" >
        fsdeptname,
      </if>
      <if test="fsexpclsname != null" >
        fsexpclsname,
      </if>
      <if test="fsmsectionname != null" >
        fsmsectionname,
      </if>
      <if test="fsrevenuetypename != null" >
        fsrevenuetypename,
      </if>
      <if test="fsGifttime != null" >
        fsGifttime,
      </if>
      <if test="fsBacktime != null" >
        fsBacktime,
      </if>
      <if test="fsBackremark != null" >
        fsBackremark,
      </if>
      <if test="fsmenuclsname != null" >
        fsmenuclsname,
      </if>
      <if test="lver != null" >
        lver,
      </if>
      <if test="fsDeptId != null" >
        fsDeptId,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsSeq != null" >
        #{fsSeq,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsSellNo != null" >
        #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fiOrderSeq != null" >
        #{fiOrderSeq,jdbcType=INTEGER},
      </if>
      <if test="fsMSectionId != null" >
        #{fsMSectionId,jdbcType=VARCHAR},
      </if>
      <if test="fiOrderMode != null" >
        #{fiOrderMode,jdbcType=INTEGER},
      </if>
      <if test="fiItemCd != null" >
        #{fiItemCd,jdbcType=INTEGER},
      </if>
      <if test="fsItemId != null" >
        #{fsItemId,jdbcType=VARCHAR},
      </if>
      <if test="fsItemName != null" >
        #{fsItemName,jdbcType=VARCHAR},
      </if>
      <if test="fsItemName2 != null" >
        #{fsItemName2,jdbcType=VARCHAR},
      </if>
      <if test="fsOrderUint != null" >
        #{fsOrderUint,jdbcType=VARCHAR},
      </if>
      <if test="fiIsDiscount != null" >
        #{fiIsDiscount,jdbcType=INTEGER},
      </if>
      <if test="fiIsServiceFee != null" >
        #{fiIsServiceFee,jdbcType=INTEGER},
      </if>
      <if test="fiIsEditPrice != null" >
        #{fiIsEditPrice,jdbcType=INTEGER},
      </if>
      <if test="fiIsEditQty != null" >
        #{fiIsEditQty,jdbcType=INTEGER},
      </if>
      <if test="fiIsGift != null" >
        #{fiIsGift,jdbcType=INTEGER},
      </if>
      <if test="fiIsPrn != null" >
        #{fiIsPrn,jdbcType=INTEGER},
      </if>
      <if test="fiIsQtyAssess != null" >
        #{fiIsQtyAssess,jdbcType=INTEGER},
      </if>
      <if test="fiOrderItemKind != null" >
        #{fiOrderItemKind,jdbcType=INTEGER},
      </if>
      <if test="fsMenuClsId != null" >
        #{fsMenuClsId,jdbcType=VARCHAR},
      </if>
      <if test="fsExpClsId != null" >
        #{fsExpClsId,jdbcType=VARCHAR},
      </if>
      <if test="fsRevenueTypeId != null" >
        #{fsRevenueTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fdSalePrice != null" >
        #{fdSalePrice,jdbcType=DECIMAL},
      </if>
      <if test="fdVIPPrice != null" >
        #{fdVIPPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdBargainPrice != null" >
        #{fdBargainPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdAddPrice != null" >
        #{fdAddPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdSettlePrice != null" >
        #{fdSettlePrice,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleQty != null" >
        #{fdSaleQty,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleAmt != null" >
        #{fdSaleAmt,jdbcType=DECIMAL},
      </if>
      <if test="fiDiscountRate != null" >
        #{fiDiscountRate,jdbcType=INTEGER},
      </if>
      <if test="fdDiscountAmt != null" >
        #{fdDiscountAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDisAfterAmt != null" >
        #{fdDisAfterAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdGiftAmt != null" >
        #{fdGiftAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdSubTotal != null" >
        #{fdSubTotal,jdbcType=DECIMAL},
      </if>
      <if test="fdBackQty != null" >
        #{fdBackQty,jdbcType=DECIMAL},
      </if>
      <if test="fdBackAmt != null" >
        #{fdBackAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdSubTotal2 != null" >
        #{fdSubTotal2,jdbcType=DECIMAL},
      </if>
      <if test="fiServiceRate != null" >
        #{fiServiceRate,jdbcType=INTEGER},
      </if>
      <if test="fdServiceAmt != null" >
        #{fdServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="fiItemMakeSte != null" >
        #{fiItemMakeSte,jdbcType=INTEGER},
      </if>
      <if test="fsOrderTime != null" >
        #{fsOrderTime,jdbcType=VARCHAR},
      </if>
      <if test="fiHurryTimes != null" >
        #{fiHurryTimes,jdbcType=INTEGER},
      </if>
      <if test="fiEraseNo != null" >
        #{fiEraseNo,jdbcType=INTEGER},
      </if>
      <if test="fsEraseTime != null" >
        #{fsEraseTime,jdbcType=VARCHAR},
      </if>
      <if test="fiItemMakeOrder != null" >
        #{fiItemMakeOrder,jdbcType=INTEGER},
      </if>
      <if test="fsSeq_M != null" >
        #{fsSeq_M,jdbcType=VARCHAR},
      </if>
      <if test="fsSourceSellNo != null" >
        #{fsSourceSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsSourceSeq != null" >
        #{fsSourceSeq,jdbcType=VARCHAR},
      </if>
      <if test="fsSourceOrderTime != null" >
        #{fsSourceOrderTime,jdbcType=VARCHAR},
      </if>
      <if test="fsBackUserId != null" >
        #{fsBackUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsBackUserName != null" >
        #{fsBackUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsBackReason != null" >
        #{fsBackReason,jdbcType=VARCHAR},
      </if>
      <if test="fsGiftUserId != null" >
        #{fsGiftUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsGiftUserName != null" >
        #{fsGiftUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsGiftReason != null" >
        #{fsGiftReason,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountUserId != null" >
        #{fsDiscountUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountUserName != null" >
        #{fsDiscountUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountReason != null" >
        #{fsDiscountReason,jdbcType=VARCHAR},
      </if>
      <if test="fsEditPirceUserId != null" >
        #{fsEditPirceUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsEditPirceUserName != null" >
        #{fsEditPirceUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsEditPirceReason != null" >
        #{fsEditPirceReason,jdbcType=VARCHAR},
      </if>
      <if test="fsHostId != null" >
        #{fsHostId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserId != null" >
        #{fsCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fiSetFoodCd != null" >
        #{fiSetFoodCd,jdbcType=INTEGER},
      </if>
      <if test="fiOrderUintCd != null" >
        #{fiOrderUintCd,jdbcType=INTEGER},
      </if>
      <if test="fiPriceTag != null" >
        #{fiPriceTag,jdbcType=INTEGER},
      </if>
      <if test="fiIsSetDtlPrn != null" >
        #{fiIsSetDtlPrn,jdbcType=INTEGER},
      </if>
      <if test="fsDataSrckind != null" >
        #{fsDataSrckind,jdbcType=VARCHAR},
      </if>
      <if test="fsSrcVerno != null" >
        #{fsSrcVerno,jdbcType=VARCHAR},
      </if>
      <if test="fdGiftqty != null" >
        #{fdGiftqty,jdbcType=DECIMAL},
      </if>
      <if test="fsdeptname != null" >
        #{fsdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsname != null" >
        #{fsexpclsname,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionname != null" >
        #{fsmsectionname,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypename != null" >
        #{fsrevenuetypename,jdbcType=VARCHAR},
      </if>
      <if test="fsGifttime != null" >
        #{fsGifttime,jdbcType=VARCHAR},
      </if>
      <if test="fsBacktime != null" >
        #{fsBacktime,jdbcType=VARCHAR},
      </if>
      <if test="fsBackremark != null" >
        #{fsBackremark,jdbcType=VARCHAR},
      </if>
      <if test="fsmenuclsname != null" >
        #{fsmenuclsname,jdbcType=VARCHAR},
      </if>
      <if test="lver != null" >
        #{lver,jdbcType=INTEGER},
      </if>
      <if test="fsDeptId != null" >
        #{fsDeptId,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.TbsellorderitemWithBLOBs" >
    update tbsellorderitem
    <set >
      <if test="fsSellNo != null" >
        fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fiOrderSeq != null" >
        fiOrderSeq = #{fiOrderSeq,jdbcType=INTEGER},
      </if>
      <if test="fsMSectionId != null" >
        fsMSectionId = #{fsMSectionId,jdbcType=VARCHAR},
      </if>
      <if test="fiOrderMode != null" >
        fiOrderMode = #{fiOrderMode,jdbcType=INTEGER},
      </if>
      <if test="fiItemCd != null" >
        fiItemCd = #{fiItemCd,jdbcType=INTEGER},
      </if>
      <if test="fsItemId != null" >
        fsItemId = #{fsItemId,jdbcType=VARCHAR},
      </if>
      <if test="fsItemName != null" >
        fsItemName = #{fsItemName,jdbcType=VARCHAR},
      </if>
      <if test="fsItemName2 != null" >
        fsItemName2 = #{fsItemName2,jdbcType=VARCHAR},
      </if>
      <if test="fsOrderUint != null" >
        fsOrderUint = #{fsOrderUint,jdbcType=VARCHAR},
      </if>
      <if test="fiIsDiscount != null" >
        fiIsDiscount = #{fiIsDiscount,jdbcType=INTEGER},
      </if>
      <if test="fiIsServiceFee != null" >
        fiIsServiceFee = #{fiIsServiceFee,jdbcType=INTEGER},
      </if>
      <if test="fiIsEditPrice != null" >
        fiIsEditPrice = #{fiIsEditPrice,jdbcType=INTEGER},
      </if>
      <if test="fiIsEditQty != null" >
        fiIsEditQty = #{fiIsEditQty,jdbcType=INTEGER},
      </if>
      <if test="fiIsGift != null" >
        fiIsGift = #{fiIsGift,jdbcType=INTEGER},
      </if>
      <if test="fiIsPrn != null" >
        fiIsPrn = #{fiIsPrn,jdbcType=INTEGER},
      </if>
      <if test="fiIsQtyAssess != null" >
        fiIsQtyAssess = #{fiIsQtyAssess,jdbcType=INTEGER},
      </if>
      <if test="fiOrderItemKind != null" >
        fiOrderItemKind = #{fiOrderItemKind,jdbcType=INTEGER},
      </if>
      <if test="fsMenuClsId != null" >
        fsMenuClsId = #{fsMenuClsId,jdbcType=VARCHAR},
      </if>
      <if test="fsExpClsId != null" >
        fsExpClsId = #{fsExpClsId,jdbcType=VARCHAR},
      </if>
      <if test="fsRevenueTypeId != null" >
        fsRevenueTypeId = #{fsRevenueTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fdSalePrice != null" >
        fdSalePrice = #{fdSalePrice,jdbcType=DECIMAL},
      </if>
      <if test="fdVIPPrice != null" >
        fdVIPPrice = #{fdVIPPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdBargainPrice != null" >
        fdBargainPrice = #{fdBargainPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdAddPrice != null" >
        fdAddPrice = #{fdAddPrice,jdbcType=DECIMAL},
      </if>
      <if test="fdSettlePrice != null" >
        fdSettlePrice = #{fdSettlePrice,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleQty != null" >
        fdSaleQty = #{fdSaleQty,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleAmt != null" >
        fdSaleAmt = #{fdSaleAmt,jdbcType=DECIMAL},
      </if>
      <if test="fiDiscountRate != null" >
        fiDiscountRate = #{fiDiscountRate,jdbcType=INTEGER},
      </if>
      <if test="fdDiscountAmt != null" >
        fdDiscountAmt = #{fdDiscountAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDisAfterAmt != null" >
        fdDisAfterAmt = #{fdDisAfterAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdGiftAmt != null" >
        fdGiftAmt = #{fdGiftAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdSubTotal != null" >
        fdSubTotal = #{fdSubTotal,jdbcType=DECIMAL},
      </if>
      <if test="fdBackQty != null" >
        fdBackQty = #{fdBackQty,jdbcType=DECIMAL},
      </if>
      <if test="fdBackAmt != null" >
        fdBackAmt = #{fdBackAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdSubTotal2 != null" >
        fdSubTotal2 = #{fdSubTotal2,jdbcType=DECIMAL},
      </if>
      <if test="fiServiceRate != null" >
        fiServiceRate = #{fiServiceRate,jdbcType=INTEGER},
      </if>
      <if test="fdServiceAmt != null" >
        fdServiceAmt = #{fdServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="fiItemMakeSte != null" >
        fiItemMakeSte = #{fiItemMakeSte,jdbcType=INTEGER},
      </if>
      <if test="fsOrderTime != null" >
        fsOrderTime = #{fsOrderTime,jdbcType=VARCHAR},
      </if>
      <if test="fiHurryTimes != null" >
        fiHurryTimes = #{fiHurryTimes,jdbcType=INTEGER},
      </if>
      <if test="fiEraseNo != null" >
        fiEraseNo = #{fiEraseNo,jdbcType=INTEGER},
      </if>
      <if test="fsEraseTime != null" >
        fsEraseTime = #{fsEraseTime,jdbcType=VARCHAR},
      </if>
      <if test="fiItemMakeOrder != null" >
        fiItemMakeOrder = #{fiItemMakeOrder,jdbcType=INTEGER},
      </if>
      <if test="fsSeq_M != null" >
        fsSeq_M = #{fsSeq_M,jdbcType=VARCHAR},
      </if>
      <if test="fsSourceSellNo != null" >
        fsSourceSellNo = #{fsSourceSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsSourceSeq != null" >
        fsSourceSeq = #{fsSourceSeq,jdbcType=VARCHAR},
      </if>
      <if test="fsSourceOrderTime != null" >
        fsSourceOrderTime = #{fsSourceOrderTime,jdbcType=VARCHAR},
      </if>
      <if test="fsBackUserId != null" >
        fsBackUserId = #{fsBackUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsBackUserName != null" >
        fsBackUserName = #{fsBackUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsBackReason != null" >
        fsBackReason = #{fsBackReason,jdbcType=VARCHAR},
      </if>
      <if test="fsGiftUserId != null" >
        fsGiftUserId = #{fsGiftUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsGiftUserName != null" >
        fsGiftUserName = #{fsGiftUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsGiftReason != null" >
        fsGiftReason = #{fsGiftReason,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountUserId != null" >
        fsDiscountUserId = #{fsDiscountUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountUserName != null" >
        fsDiscountUserName = #{fsDiscountUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountReason != null" >
        fsDiscountReason = #{fsDiscountReason,jdbcType=VARCHAR},
      </if>
      <if test="fsEditPirceUserId != null" >
        fsEditPirceUserId = #{fsEditPirceUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsEditPirceUserName != null" >
        fsEditPirceUserName = #{fsEditPirceUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsEditPirceReason != null" >
        fsEditPirceReason = #{fsEditPirceReason,jdbcType=VARCHAR},
      </if>
      <if test="fsHostId != null" >
        fsHostId = #{fsHostId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserId != null" >
        fsCreateUserId = #{fsCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fiSetFoodCd != null" >
        fiSetFoodCd = #{fiSetFoodCd,jdbcType=INTEGER},
      </if>
      <if test="fiOrderUintCd != null" >
        fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER},
      </if>
      <if test="fiPriceTag != null" >
        fiPriceTag = #{fiPriceTag,jdbcType=INTEGER},
      </if>
      <if test="fiIsSetDtlPrn != null" >
        fiIsSetDtlPrn = #{fiIsSetDtlPrn,jdbcType=INTEGER},
      </if>
      <if test="fsDataSrckind != null" >
        fsDataSrckind = #{fsDataSrckind,jdbcType=VARCHAR},
      </if>
      <if test="fsSrcVerno != null" >
        fsSrcVerno = #{fsSrcVerno,jdbcType=VARCHAR},
      </if>
      <if test="fdGiftqty != null" >
        fdGiftqty = #{fdGiftqty,jdbcType=DECIMAL},
      </if>
      <if test="fsdeptname != null" >
        fsdeptname = #{fsdeptname,jdbcType=VARCHAR},
      </if>
      <if test="fsexpclsname != null" >
        fsexpclsname = #{fsexpclsname,jdbcType=VARCHAR},
      </if>
      <if test="fsmsectionname != null" >
        fsmsectionname = #{fsmsectionname,jdbcType=VARCHAR},
      </if>
      <if test="fsrevenuetypename != null" >
        fsrevenuetypename = #{fsrevenuetypename,jdbcType=VARCHAR},
      </if>
      <if test="fsGifttime != null" >
        fsGifttime = #{fsGifttime,jdbcType=VARCHAR},
      </if>
      <if test="fsBacktime != null" >
        fsBacktime = #{fsBacktime,jdbcType=VARCHAR},
      </if>
      <if test="fsBackremark != null" >
        fsBackremark = #{fsBackremark,jdbcType=VARCHAR},
      </if>
      <if test="fsmenuclsname != null" >
        fsmenuclsname = #{fsmenuclsname,jdbcType=VARCHAR},
      </if>
      <if test="lver != null" >
        lver = #{lver,jdbcType=INTEGER},
      </if>
      <if test="fsDeptId != null" >
        fsDeptId = #{fsDeptId,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fsSeq = #{fsSeq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pos.entity.TbsellorderitemWithBLOBs" >
    update tbsellorderitem
    set fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      fiOrderSeq = #{fiOrderSeq,jdbcType=INTEGER},
      fsMSectionId = #{fsMSectionId,jdbcType=VARCHAR},
      fiOrderMode = #{fiOrderMode,jdbcType=INTEGER},
      fiItemCd = #{fiItemCd,jdbcType=INTEGER},
      fsItemId = #{fsItemId,jdbcType=VARCHAR},
      fsItemName = #{fsItemName,jdbcType=VARCHAR},
      fsItemName2 = #{fsItemName2,jdbcType=VARCHAR},
      fsOrderUint = #{fsOrderUint,jdbcType=VARCHAR},
      fiIsDiscount = #{fiIsDiscount,jdbcType=INTEGER},
      fiIsServiceFee = #{fiIsServiceFee,jdbcType=INTEGER},
      fiIsEditPrice = #{fiIsEditPrice,jdbcType=INTEGER},
      fiIsEditQty = #{fiIsEditQty,jdbcType=INTEGER},
      fiIsGift = #{fiIsGift,jdbcType=INTEGER},
      fiIsPrn = #{fiIsPrn,jdbcType=INTEGER},
      fiIsQtyAssess = #{fiIsQtyAssess,jdbcType=INTEGER},
      fiOrderItemKind = #{fiOrderItemKind,jdbcType=INTEGER},
      fsMenuClsId = #{fsMenuClsId,jdbcType=VARCHAR},
      fsExpClsId = #{fsExpClsId,jdbcType=VARCHAR},
      fsRevenueTypeId = #{fsRevenueTypeId,jdbcType=VARCHAR},
      fdSalePrice = #{fdSalePrice,jdbcType=DECIMAL},
      fdVIPPrice = #{fdVIPPrice,jdbcType=DECIMAL},
      fdBargainPrice = #{fdBargainPrice,jdbcType=DECIMAL},
      fdAddPrice = #{fdAddPrice,jdbcType=DECIMAL},
      fdSettlePrice = #{fdSettlePrice,jdbcType=DECIMAL},
      fdSaleQty = #{fdSaleQty,jdbcType=DECIMAL},
      fdSaleAmt = #{fdSaleAmt,jdbcType=DECIMAL},
      fiDiscountRate = #{fiDiscountRate,jdbcType=INTEGER},
      fdDiscountAmt = #{fdDiscountAmt,jdbcType=DECIMAL},
      fdDisAfterAmt = #{fdDisAfterAmt,jdbcType=DECIMAL},
      fdGiftAmt = #{fdGiftAmt,jdbcType=DECIMAL},
      fdSubTotal = #{fdSubTotal,jdbcType=DECIMAL},
      fdBackQty = #{fdBackQty,jdbcType=DECIMAL},
      fdBackAmt = #{fdBackAmt,jdbcType=DECIMAL},
      fdSubTotal2 = #{fdSubTotal2,jdbcType=DECIMAL},
      fiServiceRate = #{fiServiceRate,jdbcType=INTEGER},
      fdServiceAmt = #{fdServiceAmt,jdbcType=DECIMAL},
      fiItemMakeSte = #{fiItemMakeSte,jdbcType=INTEGER},
      fsOrderTime = #{fsOrderTime,jdbcType=VARCHAR},
      fiHurryTimes = #{fiHurryTimes,jdbcType=INTEGER},
      fiEraseNo = #{fiEraseNo,jdbcType=INTEGER},
      fsEraseTime = #{fsEraseTime,jdbcType=VARCHAR},
      fiItemMakeOrder = #{fiItemMakeOrder,jdbcType=INTEGER},
      fsSeq_M = #{fsSeq_M,jdbcType=VARCHAR},
      fsSourceSellNo = #{fsSourceSellNo,jdbcType=VARCHAR},
      fsSourceSeq = #{fsSourceSeq,jdbcType=VARCHAR},
      fsSourceOrderTime = #{fsSourceOrderTime,jdbcType=VARCHAR},
      fsBackUserId = #{fsBackUserId,jdbcType=VARCHAR},
      fsBackUserName = #{fsBackUserName,jdbcType=VARCHAR},
      fsBackReason = #{fsBackReason,jdbcType=VARCHAR},
      fsGiftUserId = #{fsGiftUserId,jdbcType=VARCHAR},
      fsGiftUserName = #{fsGiftUserName,jdbcType=VARCHAR},
      fsGiftReason = #{fsGiftReason,jdbcType=VARCHAR},
      fsDiscountUserId = #{fsDiscountUserId,jdbcType=VARCHAR},
      fsDiscountUserName = #{fsDiscountUserName,jdbcType=VARCHAR},
      fsDiscountReason = #{fsDiscountReason,jdbcType=VARCHAR},
      fsEditPirceUserId = #{fsEditPirceUserId,jdbcType=VARCHAR},
      fsEditPirceUserName = #{fsEditPirceUserName,jdbcType=VARCHAR},
      fsEditPirceReason = #{fsEditPirceReason,jdbcType=VARCHAR},
      fsHostId = #{fsHostId,jdbcType=VARCHAR},
      fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsCreateUserId = #{fsCreateUserId,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fiSetFoodCd = #{fiSetFoodCd,jdbcType=INTEGER},
      fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER},
      fiPriceTag = #{fiPriceTag,jdbcType=INTEGER},
      fiIsSetDtlPrn = #{fiIsSetDtlPrn,jdbcType=INTEGER},
      fsDataSrckind = #{fsDataSrckind,jdbcType=VARCHAR},
      fsSrcVerno = #{fsSrcVerno,jdbcType=VARCHAR},
      fdGiftqty = #{fdGiftqty,jdbcType=DECIMAL},
      fsdeptname = #{fsdeptname,jdbcType=VARCHAR},
      fsexpclsname = #{fsexpclsname,jdbcType=VARCHAR},
      fsmsectionname = #{fsmsectionname,jdbcType=VARCHAR},
      fsrevenuetypename = #{fsrevenuetypename,jdbcType=VARCHAR},
      fsGifttime = #{fsGifttime,jdbcType=VARCHAR},
      fsBacktime = #{fsBacktime,jdbcType=VARCHAR},
      fsBackremark = #{fsBackremark,jdbcType=VARCHAR},
      fsmenuclsname = #{fsmenuclsname,jdbcType=VARCHAR},
      lver = #{lver,jdbcType=INTEGER},
      fsDeptId = #{fsDeptId,jdbcType=LONGVARCHAR},
      fsNote = #{fsNote,jdbcType=LONGVARCHAR}
    where fsSeq = #{fsSeq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbsellorderitem" >
    update tbsellorderitem
    set fsSellNo = #{fsSellNo,jdbcType=VARCHAR},
      fiOrderSeq = #{fiOrderSeq,jdbcType=INTEGER},
      fsMSectionId = #{fsMSectionId,jdbcType=VARCHAR},
      fiOrderMode = #{fiOrderMode,jdbcType=INTEGER},
      fiItemCd = #{fiItemCd,jdbcType=INTEGER},
      fsItemId = #{fsItemId,jdbcType=VARCHAR},
      fsItemName = #{fsItemName,jdbcType=VARCHAR},
      fsItemName2 = #{fsItemName2,jdbcType=VARCHAR},
      fsOrderUint = #{fsOrderUint,jdbcType=VARCHAR},
      fiIsDiscount = #{fiIsDiscount,jdbcType=INTEGER},
      fiIsServiceFee = #{fiIsServiceFee,jdbcType=INTEGER},
      fiIsEditPrice = #{fiIsEditPrice,jdbcType=INTEGER},
      fiIsEditQty = #{fiIsEditQty,jdbcType=INTEGER},
      fiIsGift = #{fiIsGift,jdbcType=INTEGER},
      fiIsPrn = #{fiIsPrn,jdbcType=INTEGER},
      fiIsQtyAssess = #{fiIsQtyAssess,jdbcType=INTEGER},
      fiOrderItemKind = #{fiOrderItemKind,jdbcType=INTEGER},
      fsMenuClsId = #{fsMenuClsId,jdbcType=VARCHAR},
      fsExpClsId = #{fsExpClsId,jdbcType=VARCHAR},
      fsRevenueTypeId = #{fsRevenueTypeId,jdbcType=VARCHAR},
      fdSalePrice = #{fdSalePrice,jdbcType=DECIMAL},
      fdVIPPrice = #{fdVIPPrice,jdbcType=DECIMAL},
      fdBargainPrice = #{fdBargainPrice,jdbcType=DECIMAL},
      fdAddPrice = #{fdAddPrice,jdbcType=DECIMAL},
      fdSettlePrice = #{fdSettlePrice,jdbcType=DECIMAL},
      fdSaleQty = #{fdSaleQty,jdbcType=DECIMAL},
      fdSaleAmt = #{fdSaleAmt,jdbcType=DECIMAL},
      fiDiscountRate = #{fiDiscountRate,jdbcType=INTEGER},
      fdDiscountAmt = #{fdDiscountAmt,jdbcType=DECIMAL},
      fdDisAfterAmt = #{fdDisAfterAmt,jdbcType=DECIMAL},
      fdGiftAmt = #{fdGiftAmt,jdbcType=DECIMAL},
      fdSubTotal = #{fdSubTotal,jdbcType=DECIMAL},
      fdBackQty = #{fdBackQty,jdbcType=DECIMAL},
      fdBackAmt = #{fdBackAmt,jdbcType=DECIMAL},
      fdSubTotal2 = #{fdSubTotal2,jdbcType=DECIMAL},
      fiServiceRate = #{fiServiceRate,jdbcType=INTEGER},
      fdServiceAmt = #{fdServiceAmt,jdbcType=DECIMAL},
      fiItemMakeSte = #{fiItemMakeSte,jdbcType=INTEGER},
      fsOrderTime = #{fsOrderTime,jdbcType=VARCHAR},
      fiHurryTimes = #{fiHurryTimes,jdbcType=INTEGER},
      fiEraseNo = #{fiEraseNo,jdbcType=INTEGER},
      fsEraseTime = #{fsEraseTime,jdbcType=VARCHAR},
      fiItemMakeOrder = #{fiItemMakeOrder,jdbcType=INTEGER},
      fsSeq_M = #{fsSeq_M,jdbcType=VARCHAR},
      fsSourceSellNo = #{fsSourceSellNo,jdbcType=VARCHAR},
      fsSourceSeq = #{fsSourceSeq,jdbcType=VARCHAR},
      fsSourceOrderTime = #{fsSourceOrderTime,jdbcType=VARCHAR},
      fsBackUserId = #{fsBackUserId,jdbcType=VARCHAR},
      fsBackUserName = #{fsBackUserName,jdbcType=VARCHAR},
      fsBackReason = #{fsBackReason,jdbcType=VARCHAR},
      fsGiftUserId = #{fsGiftUserId,jdbcType=VARCHAR},
      fsGiftUserName = #{fsGiftUserName,jdbcType=VARCHAR},
      fsGiftReason = #{fsGiftReason,jdbcType=VARCHAR},
      fsDiscountUserId = #{fsDiscountUserId,jdbcType=VARCHAR},
      fsDiscountUserName = #{fsDiscountUserName,jdbcType=VARCHAR},
      fsDiscountReason = #{fsDiscountReason,jdbcType=VARCHAR},
      fsEditPirceUserId = #{fsEditPirceUserId,jdbcType=VARCHAR},
      fsEditPirceUserName = #{fsEditPirceUserName,jdbcType=VARCHAR},
      fsEditPirceReason = #{fsEditPirceReason,jdbcType=VARCHAR},
      fsHostId = #{fsHostId,jdbcType=VARCHAR},
      fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsCreateUserId = #{fsCreateUserId,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fiSetFoodCd = #{fiSetFoodCd,jdbcType=INTEGER},
      fiOrderUintCd = #{fiOrderUintCd,jdbcType=INTEGER},
      fiPriceTag = #{fiPriceTag,jdbcType=INTEGER},
      fiIsSetDtlPrn = #{fiIsSetDtlPrn,jdbcType=INTEGER},
      fsDataSrckind = #{fsDataSrckind,jdbcType=VARCHAR},
      fsSrcVerno = #{fsSrcVerno,jdbcType=VARCHAR},
      fdGiftqty = #{fdGiftqty,jdbcType=DECIMAL},
      fsdeptname = #{fsdeptname,jdbcType=VARCHAR},
      fsexpclsname = #{fsexpclsname,jdbcType=VARCHAR},
      fsmsectionname = #{fsmsectionname,jdbcType=VARCHAR},
      fsrevenuetypename = #{fsrevenuetypename,jdbcType=VARCHAR},
      fsGifttime = #{fsGifttime,jdbcType=VARCHAR},
      fsBacktime = #{fsBacktime,jdbcType=VARCHAR},
      fsBackremark = #{fsBackremark,jdbcType=VARCHAR},
      fsmenuclsname = #{fsmenuclsname,jdbcType=VARCHAR},
      lver = #{lver,jdbcType=INTEGER}
    where fsSeq = #{fsSeq,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>