<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbsellMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbsell" >
    <id column="fsSellNo" property="fsSellNo" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsSellDate" property="fsSellDate" jdbcType="VARCHAR" />
    <result column="fsSellTime" property="fsSellTime" jdbcType="VARCHAR" />
    <result column="fsMSectionId" property="fsMSectionId" jdbcType="VARCHAR" />
    <result column="fsMAreaId" property="fsMAreaId" jdbcType="VARCHAR" />
    <result column="fsMTableId" property="fsMTableId" jdbcType="VARCHAR" />
    <result column="fsMTableName" property="fsMTableName" jdbcType="VARCHAR" />
    <result column="fsMealNumber" property="fsMealNumber" jdbcType="VARCHAR" />
    <result column="fiCustSum" property="fiCustSum" jdbcType="INTEGER" />
    <result column="fsCustGUID" property="fsCustGUID" jdbcType="VARCHAR" />
    <result column="fsCustId" property="fsCustId" jdbcType="VARCHAR" />
    <result column="fsCustName" property="fsCustName" jdbcType="VARCHAR" />
    <result column="fsCustMobile" property="fsCustMobile" jdbcType="VARCHAR" />
    <result column="fsCardNo" property="fsCardNo" jdbcType="VARCHAR" />
    <result column="fsVIPSource" property="fsVIPSource" jdbcType="VARCHAR" />
    <result column="fiIsVIP" property="fiIsVIP" jdbcType="INTEGER" />
    <result column="fsSendAddr" property="fsSendAddr" jdbcType="VARCHAR" />
    <result column="fsSendOnTime" property="fsSendOnTime" jdbcType="VARCHAR" />
    <result column="fsSendUserId" property="fsSendUserId" jdbcType="VARCHAR" />
    <result column="fsSendUserName" property="fsSendUserName" jdbcType="VARCHAR" />
    <result column="fsPutUpTime" property="fsPutUpTime" jdbcType="VARCHAR" />
    <result column="fsAssignTime" property="fsAssignTime" jdbcType="VARCHAR" />
    <result column="fsStaffId" property="fsStaffId" jdbcType="VARCHAR" />
    <result column="fsStaffName" property="fsStaffName" jdbcType="VARCHAR" />
    <result column="fiBillStatus" property="fiBillStatus" jdbcType="INTEGER" />
    <result column="fiBillKind" property="fiBillKind" jdbcType="INTEGER" />
    <result column="fiBillSource" property="fiBillSource" jdbcType="INTEGER" />
    <result column="fdSaleAmt" property="fdSaleAmt" jdbcType="DECIMAL" />
    <result column="fdDiscountAmt" property="fdDiscountAmt" jdbcType="DECIMAL" />
    <result column="fdServiceAmt" property="fdServiceAmt" jdbcType="DECIMAL" />
    <result column="fdExpAmt" property="fdExpAmt" jdbcType="DECIMAL" />
    <result column="fdPayAmt" property="fdPayAmt" jdbcType="DECIMAL" />
    <result column="fdDiffAmt" property="fdDiffAmt" jdbcType="DECIMAL" />
    <result column="fdRealAmt" property="fdRealAmt" jdbcType="DECIMAL" />
    <result column="fdGiftAmt" property="fdGiftAmt" jdbcType="DECIMAL" />
    <result column="fdBackAmt" property="fdBackAmt" jdbcType="DECIMAL" />
    <result column="fsDiscountId" property="fsDiscountId" jdbcType="VARCHAR" />
    <result column="fsDiscountName" property="fsDiscountName" jdbcType="VARCHAR" />
    <result column="fsCreditAccountId" property="fsCreditAccountId" jdbcType="VARCHAR" />
    <result column="fsCreditAccountName" property="fsCreditAccountName" jdbcType="VARCHAR" />
    <result column="fdDebtAmt" property="fdDebtAmt" jdbcType="DECIMAL" />
    <result column="fsMasterSellNo" property="fsMasterSellNo" jdbcType="VARCHAR" />
    <result column="fsRelationMTable" property="fsRelationMTable" jdbcType="VARCHAR" />
    <result column="fsNote" property="fsNote" jdbcType="VARCHAR" />
    <result column="fsPrintExpTime" property="fsPrintExpTime" jdbcType="VARCHAR" />
    <result column="fsCheckEndTime" property="fsCheckEndTime" jdbcType="VARCHAR" />
    <result column="fiIsInvoice" property="fiIsInvoice" jdbcType="INTEGER" />
    <result column="fsInvoiceCls" property="fsInvoiceCls" jdbcType="VARCHAR" />
    <result column="fsInvoiceTitle" property="fsInvoiceTitle" jdbcType="VARCHAR" />
    <result column="fdInvoiceAmt" property="fdInvoiceAmt" jdbcType="DECIMAL" />
    <result column="fiPrintTimes_Op" property="fiPrintTimes_Op" jdbcType="INTEGER" />
    <result column="fiPrintTimes_Exp" property="fiPrintTimes_Exp" jdbcType="INTEGER" />
    <result column="fiIsVerify" property="fiIsVerify" jdbcType="INTEGER" />
    <result column="fsVerifyUserName" property="fsVerifyUserName" jdbcType="VARCHAR" />
    <result column="fsVerifyTime" property="fsVerifyTime" jdbcType="VARCHAR" />
    <result column="fiModifyTag" property="fiModifyTag" jdbcType="INTEGER" />
    <result column="fiReCheckTag" property="fiReCheckTag" jdbcType="INTEGER" />
    <result column="fsHostId" property="fsHostId" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fsCreateTime" jdbcType="VARCHAR" />
    <result column="fsCreateUserId" property="fsCreateUserId" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fsCreateUserName" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsBillSourceId" property="fsBillSourceId" jdbcType="VARCHAR" />
    <result column="fsBillSourceName" property="fsBillSourceName" jdbcType="VARCHAR" />
    <result column="fsBillSourceNo" property="fsBillSourceNo" jdbcType="VARCHAR" />
    <result column="fdDisExpAmt" property="fdDisExpAmt" jdbcType="DECIMAL" />
    <result column="fdRoundAmt" property="fdRoundAmt" jdbcType="DECIMAL" />
    <result column="fdFreeSveAmt" property="fdFreeSveAmt" jdbcType="DECIMAL" />
    <result column="fsFreeSveAmtUserId" property="fsFreeSveAmtUserId" jdbcType="VARCHAR" />
    <result column="fsFreeSveAmtUserName" property="fsFreeSveAmtUserName" jdbcType="VARCHAR" />
    <result column="fsReCheckUserId" property="fsReCheckUserId" jdbcType="VARCHAR" />
    <result column="fsReCheckUserName" property="fsReCheckUserName" jdbcType="VARCHAR" />
    <result column="fsReCheckReason" property="fsReCheckReason" jdbcType="VARCHAR" />
    <result column="fsDataSrckind" property="fsDataSrckind" jdbcType="VARCHAR" />
    <result column="fsSrcVerno" property="fsSrcVerno" jdbcType="VARCHAR" />
    <result column="fdGiftRoundAmt" property="fdGiftRoundAmt" jdbcType="DECIMAL" />
    <result column="fdDiscountRoundAmt" property="fdDiscountRoundAmt" jdbcType="DECIMAL" />
    <result column="fdBackRoundAmt" property="fdBackRoundAmt" jdbcType="DECIMAL" />
    <result column="fdServiceRoundAmt" property="fdServiceRoundAmt" jdbcType="DECIMAL" />
    <result column="fdSaleRoundAmt" property="fdSaleRoundAmt" jdbcType="DECIMAL" />
    <result column="fdGiftQty" property="fdGiftQty" jdbcType="DECIMAL" />
    <result column="fdBackQty" property="fdBackQty" jdbcType="DECIMAL" />
    <result column="lver" property="lver" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsSellNo, fsShopGUID, fsSellDate, fsSellTime, fsMSectionId, fsMAreaId, fsMTableId, 
    fsMTableName, fsMealNumber, fiCustSum, fsCustGUID, fsCustId, fsCustName, fsCustMobile, 
    fsCardNo, fsVIPSource, fiIsVIP, fsSendAddr, fsSendOnTime, fsSendUserId, fsSendUserName, 
    fsPutUpTime, fsAssignTime, fsStaffId, fsStaffName, fiBillStatus, fiBillKind, fiBillSource, 
    fdSaleAmt, fdDiscountAmt, fdServiceAmt, fdExpAmt, fdPayAmt, fdDiffAmt, fdRealAmt, 
    fdGiftAmt, fdBackAmt, fsDiscountId, fsDiscountName, fsCreditAccountId, fsCreditAccountName, 
    fdDebtAmt, fsMasterSellNo, fsRelationMTable, fsNote, fsPrintExpTime, fsCheckEndTime, 
    fiIsInvoice, fsInvoiceCls, fsInvoiceTitle, fdInvoiceAmt, fiPrintTimes_Op, fiPrintTimes_Exp, 
    fiIsVerify, fsVerifyUserName, fsVerifyTime, fiModifyTag, fiReCheckTag, fsHostId, 
    fsCreateTime, fsCreateUserId, fsCreateUserName, fsUpdateTime, fsBillSourceId, fsBillSourceName, 
    fsBillSourceNo, fdDisExpAmt, fdRoundAmt, fdFreeSveAmt, fsFreeSveAmtUserId, fsFreeSveAmtUserName, 
    fsReCheckUserId, fsReCheckUserName, fsReCheckReason, fsDataSrckind, fsSrcVerno, fdGiftRoundAmt, 
    fdDiscountRoundAmt, fdBackRoundAmt, fdServiceRoundAmt, fdSaleRoundAmt, fdGiftQty, 
    fdBackQty, lver
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbsellKey" >
    select 
    <include refid="Base_Column_List" />
    from tbsell
    where fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbsellKey" >
    delete from tbsell
    where fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbsell" >
    insert into tbsell (fsSellNo, fsShopGUID, fsSellDate, 
      fsSellTime, fsMSectionId, fsMAreaId, 
      fsMTableId, fsMTableName, fsMealNumber, 
      fiCustSum, fsCustGUID, fsCustId, 
      fsCustName, fsCustMobile, fsCardNo, 
      fsVIPSource, fiIsVIP, fsSendAddr, 
      fsSendOnTime, fsSendUserId, fsSendUserName, 
      fsPutUpTime, fsAssignTime, fsStaffId, 
      fsStaffName, fiBillStatus, fiBillKind, 
      fiBillSource, fdSaleAmt, fdDiscountAmt, 
      fdServiceAmt, fdExpAmt, fdPayAmt, 
      fdDiffAmt, fdRealAmt, fdGiftAmt, 
      fdBackAmt, fsDiscountId, fsDiscountName, 
      fsCreditAccountId, fsCreditAccountName, 
      fdDebtAmt, fsMasterSellNo, fsRelationMTable, 
      fsNote, fsPrintExpTime, fsCheckEndTime, 
      fiIsInvoice, fsInvoiceCls, fsInvoiceTitle, 
      fdInvoiceAmt, fiPrintTimes_Op, fiPrintTimes_Exp, 
      fiIsVerify, fsVerifyUserName, fsVerifyTime, 
      fiModifyTag, fiReCheckTag, fsHostId, 
      fsCreateTime, fsCreateUserId, fsCreateUserName, 
      fsUpdateTime, fsBillSourceId, fsBillSourceName, 
      fsBillSourceNo, fdDisExpAmt, fdRoundAmt, 
      fdFreeSveAmt, fsFreeSveAmtUserId, fsFreeSveAmtUserName, 
      fsReCheckUserId, fsReCheckUserName, fsReCheckReason, 
      fsDataSrckind, fsSrcVerno, fdGiftRoundAmt, 
      fdDiscountRoundAmt, fdBackRoundAmt, fdServiceRoundAmt, 
      fdSaleRoundAmt, fdGiftQty, fdBackQty, 
      lver)
    values (#{fsSellNo,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsSellDate,jdbcType=VARCHAR}, 
      #{fsSellTime,jdbcType=VARCHAR}, #{fsMSectionId,jdbcType=VARCHAR}, #{fsMAreaId,jdbcType=VARCHAR}, 
      #{fsMTableId,jdbcType=VARCHAR}, #{fsMTableName,jdbcType=VARCHAR}, #{fsMealNumber,jdbcType=VARCHAR}, 
      #{fiCustSum,jdbcType=INTEGER}, #{fsCustGUID,jdbcType=VARCHAR}, #{fsCustId,jdbcType=VARCHAR}, 
      #{fsCustName,jdbcType=VARCHAR}, #{fsCustMobile,jdbcType=VARCHAR}, #{fsCardNo,jdbcType=VARCHAR}, 
      #{fsVIPSource,jdbcType=VARCHAR}, #{fiIsVIP,jdbcType=INTEGER}, #{fsSendAddr,jdbcType=VARCHAR}, 
      #{fsSendOnTime,jdbcType=VARCHAR}, #{fsSendUserId,jdbcType=VARCHAR}, #{fsSendUserName,jdbcType=VARCHAR}, 
      #{fsPutUpTime,jdbcType=VARCHAR}, #{fsAssignTime,jdbcType=VARCHAR}, #{fsStaffId,jdbcType=VARCHAR}, 
      #{fsStaffName,jdbcType=VARCHAR}, #{fiBillStatus,jdbcType=INTEGER}, #{fiBillKind,jdbcType=INTEGER}, 
      #{fiBillSource,jdbcType=INTEGER}, #{fdSaleAmt,jdbcType=DECIMAL}, #{fdDiscountAmt,jdbcType=DECIMAL}, 
      #{fdServiceAmt,jdbcType=DECIMAL}, #{fdExpAmt,jdbcType=DECIMAL}, #{fdPayAmt,jdbcType=DECIMAL}, 
      #{fdDiffAmt,jdbcType=DECIMAL}, #{fdRealAmt,jdbcType=DECIMAL}, #{fdGiftAmt,jdbcType=DECIMAL}, 
      #{fdBackAmt,jdbcType=DECIMAL}, #{fsDiscountId,jdbcType=VARCHAR}, #{fsDiscountName,jdbcType=VARCHAR}, 
      #{fsCreditAccountId,jdbcType=VARCHAR}, #{fsCreditAccountName,jdbcType=VARCHAR}, 
      #{fdDebtAmt,jdbcType=DECIMAL}, #{fsMasterSellNo,jdbcType=VARCHAR}, #{fsRelationMTable,jdbcType=VARCHAR}, 
      #{fsNote,jdbcType=VARCHAR}, #{fsPrintExpTime,jdbcType=VARCHAR}, #{fsCheckEndTime,jdbcType=VARCHAR}, 
      #{fiIsInvoice,jdbcType=INTEGER}, #{fsInvoiceCls,jdbcType=VARCHAR}, #{fsInvoiceTitle,jdbcType=VARCHAR}, 
      #{fdInvoiceAmt,jdbcType=DECIMAL}, #{fiPrintTimes_Op,jdbcType=INTEGER}, #{fiPrintTimes_Exp,jdbcType=INTEGER}, 
      #{fiIsVerify,jdbcType=INTEGER}, #{fsVerifyUserName,jdbcType=VARCHAR}, #{fsVerifyTime,jdbcType=VARCHAR}, 
      #{fiModifyTag,jdbcType=INTEGER}, #{fiReCheckTag,jdbcType=INTEGER}, #{fsHostId,jdbcType=VARCHAR}, 
      #{fsCreateTime,jdbcType=VARCHAR}, #{fsCreateUserId,jdbcType=VARCHAR}, #{fsCreateUserName,jdbcType=VARCHAR}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsBillSourceId,jdbcType=VARCHAR}, #{fsBillSourceName,jdbcType=VARCHAR}, 
      #{fsBillSourceNo,jdbcType=VARCHAR}, #{fdDisExpAmt,jdbcType=DECIMAL}, #{fdRoundAmt,jdbcType=DECIMAL}, 
      #{fdFreeSveAmt,jdbcType=DECIMAL}, #{fsFreeSveAmtUserId,jdbcType=VARCHAR}, #{fsFreeSveAmtUserName,jdbcType=VARCHAR}, 
      #{fsReCheckUserId,jdbcType=VARCHAR}, #{fsReCheckUserName,jdbcType=VARCHAR}, #{fsReCheckReason,jdbcType=VARCHAR}, 
      #{fsDataSrckind,jdbcType=VARCHAR}, #{fsSrcVerno,jdbcType=VARCHAR}, #{fdGiftRoundAmt,jdbcType=DECIMAL}, 
      #{fdDiscountRoundAmt,jdbcType=DECIMAL}, #{fdBackRoundAmt,jdbcType=DECIMAL}, #{fdServiceRoundAmt,jdbcType=DECIMAL}, 
      #{fdSaleRoundAmt,jdbcType=DECIMAL}, #{fdGiftQty,jdbcType=DECIMAL}, #{fdBackQty,jdbcType=DECIMAL}, 
      #{lver,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbsell" >
    insert into tbsell
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsSellNo != null" >
        fsSellNo,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsSellDate != null" >
        fsSellDate,
      </if>
      <if test="fsSellTime != null" >
        fsSellTime,
      </if>
      <if test="fsMSectionId != null" >
        fsMSectionId,
      </if>
      <if test="fsMAreaId != null" >
        fsMAreaId,
      </if>
      <if test="fsMTableId != null" >
        fsMTableId,
      </if>
      <if test="fsMTableName != null" >
        fsMTableName,
      </if>
      <if test="fsMealNumber != null" >
        fsMealNumber,
      </if>
      <if test="fiCustSum != null" >
        fiCustSum,
      </if>
      <if test="fsCustGUID != null" >
        fsCustGUID,
      </if>
      <if test="fsCustId != null" >
        fsCustId,
      </if>
      <if test="fsCustName != null" >
        fsCustName,
      </if>
      <if test="fsCustMobile != null" >
        fsCustMobile,
      </if>
      <if test="fsCardNo != null" >
        fsCardNo,
      </if>
      <if test="fsVIPSource != null" >
        fsVIPSource,
      </if>
      <if test="fiIsVIP != null" >
        fiIsVIP,
      </if>
      <if test="fsSendAddr != null" >
        fsSendAddr,
      </if>
      <if test="fsSendOnTime != null" >
        fsSendOnTime,
      </if>
      <if test="fsSendUserId != null" >
        fsSendUserId,
      </if>
      <if test="fsSendUserName != null" >
        fsSendUserName,
      </if>
      <if test="fsPutUpTime != null" >
        fsPutUpTime,
      </if>
      <if test="fsAssignTime != null" >
        fsAssignTime,
      </if>
      <if test="fsStaffId != null" >
        fsStaffId,
      </if>
      <if test="fsStaffName != null" >
        fsStaffName,
      </if>
      <if test="fiBillStatus != null" >
        fiBillStatus,
      </if>
      <if test="fiBillKind != null" >
        fiBillKind,
      </if>
      <if test="fiBillSource != null" >
        fiBillSource,
      </if>
      <if test="fdSaleAmt != null" >
        fdSaleAmt,
      </if>
      <if test="fdDiscountAmt != null" >
        fdDiscountAmt,
      </if>
      <if test="fdServiceAmt != null" >
        fdServiceAmt,
      </if>
      <if test="fdExpAmt != null" >
        fdExpAmt,
      </if>
      <if test="fdPayAmt != null" >
        fdPayAmt,
      </if>
      <if test="fdDiffAmt != null" >
        fdDiffAmt,
      </if>
      <if test="fdRealAmt != null" >
        fdRealAmt,
      </if>
      <if test="fdGiftAmt != null" >
        fdGiftAmt,
      </if>
      <if test="fdBackAmt != null" >
        fdBackAmt,
      </if>
      <if test="fsDiscountId != null" >
        fsDiscountId,
      </if>
      <if test="fsDiscountName != null" >
        fsDiscountName,
      </if>
      <if test="fsCreditAccountId != null" >
        fsCreditAccountId,
      </if>
      <if test="fsCreditAccountName != null" >
        fsCreditAccountName,
      </if>
      <if test="fdDebtAmt != null" >
        fdDebtAmt,
      </if>
      <if test="fsMasterSellNo != null" >
        fsMasterSellNo,
      </if>
      <if test="fsRelationMTable != null" >
        fsRelationMTable,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fsPrintExpTime != null" >
        fsPrintExpTime,
      </if>
      <if test="fsCheckEndTime != null" >
        fsCheckEndTime,
      </if>
      <if test="fiIsInvoice != null" >
        fiIsInvoice,
      </if>
      <if test="fsInvoiceCls != null" >
        fsInvoiceCls,
      </if>
      <if test="fsInvoiceTitle != null" >
        fsInvoiceTitle,
      </if>
      <if test="fdInvoiceAmt != null" >
        fdInvoiceAmt,
      </if>
      <if test="fiPrintTimes_Op != null" >
        fiPrintTimes_Op,
      </if>
      <if test="fiPrintTimes_Exp != null" >
        fiPrintTimes_Exp,
      </if>
      <if test="fiIsVerify != null" >
        fiIsVerify,
      </if>
      <if test="fsVerifyUserName != null" >
        fsVerifyUserName,
      </if>
      <if test="fsVerifyTime != null" >
        fsVerifyTime,
      </if>
      <if test="fiModifyTag != null" >
        fiModifyTag,
      </if>
      <if test="fiReCheckTag != null" >
        fiReCheckTag,
      </if>
      <if test="fsHostId != null" >
        fsHostId,
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime,
      </if>
      <if test="fsCreateUserId != null" >
        fsCreateUserId,
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsBillSourceId != null" >
        fsBillSourceId,
      </if>
      <if test="fsBillSourceName != null" >
        fsBillSourceName,
      </if>
      <if test="fsBillSourceNo != null" >
        fsBillSourceNo,
      </if>
      <if test="fdDisExpAmt != null" >
        fdDisExpAmt,
      </if>
      <if test="fdRoundAmt != null" >
        fdRoundAmt,
      </if>
      <if test="fdFreeSveAmt != null" >
        fdFreeSveAmt,
      </if>
      <if test="fsFreeSveAmtUserId != null" >
        fsFreeSveAmtUserId,
      </if>
      <if test="fsFreeSveAmtUserName != null" >
        fsFreeSveAmtUserName,
      </if>
      <if test="fsReCheckUserId != null" >
        fsReCheckUserId,
      </if>
      <if test="fsReCheckUserName != null" >
        fsReCheckUserName,
      </if>
      <if test="fsReCheckReason != null" >
        fsReCheckReason,
      </if>
      <if test="fsDataSrckind != null" >
        fsDataSrckind,
      </if>
      <if test="fsSrcVerno != null" >
        fsSrcVerno,
      </if>
      <if test="fdGiftRoundAmt != null" >
        fdGiftRoundAmt,
      </if>
      <if test="fdDiscountRoundAmt != null" >
        fdDiscountRoundAmt,
      </if>
      <if test="fdBackRoundAmt != null" >
        fdBackRoundAmt,
      </if>
      <if test="fdServiceRoundAmt != null" >
        fdServiceRoundAmt,
      </if>
      <if test="fdSaleRoundAmt != null" >
        fdSaleRoundAmt,
      </if>
      <if test="fdGiftQty != null" >
        fdGiftQty,
      </if>
      <if test="fdBackQty != null" >
        fdBackQty,
      </if>
      <if test="lver != null" >
        lver,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsSellNo != null" >
        #{fsSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsSellDate != null" >
        #{fsSellDate,jdbcType=VARCHAR},
      </if>
      <if test="fsSellTime != null" >
        #{fsSellTime,jdbcType=VARCHAR},
      </if>
      <if test="fsMSectionId != null" >
        #{fsMSectionId,jdbcType=VARCHAR},
      </if>
      <if test="fsMAreaId != null" >
        #{fsMAreaId,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableId != null" >
        #{fsMTableId,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableName != null" >
        #{fsMTableName,jdbcType=VARCHAR},
      </if>
      <if test="fsMealNumber != null" >
        #{fsMealNumber,jdbcType=VARCHAR},
      </if>
      <if test="fiCustSum != null" >
        #{fiCustSum,jdbcType=INTEGER},
      </if>
      <if test="fsCustGUID != null" >
        #{fsCustGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCustId != null" >
        #{fsCustId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustName != null" >
        #{fsCustName,jdbcType=VARCHAR},
      </if>
      <if test="fsCustMobile != null" >
        #{fsCustMobile,jdbcType=VARCHAR},
      </if>
      <if test="fsCardNo != null" >
        #{fsCardNo,jdbcType=VARCHAR},
      </if>
      <if test="fsVIPSource != null" >
        #{fsVIPSource,jdbcType=VARCHAR},
      </if>
      <if test="fiIsVIP != null" >
        #{fiIsVIP,jdbcType=INTEGER},
      </if>
      <if test="fsSendAddr != null" >
        #{fsSendAddr,jdbcType=VARCHAR},
      </if>
      <if test="fsSendOnTime != null" >
        #{fsSendOnTime,jdbcType=VARCHAR},
      </if>
      <if test="fsSendUserId != null" >
        #{fsSendUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsSendUserName != null" >
        #{fsSendUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsPutUpTime != null" >
        #{fsPutUpTime,jdbcType=VARCHAR},
      </if>
      <if test="fsAssignTime != null" >
        #{fsAssignTime,jdbcType=VARCHAR},
      </if>
      <if test="fsStaffId != null" >
        #{fsStaffId,jdbcType=VARCHAR},
      </if>
      <if test="fsStaffName != null" >
        #{fsStaffName,jdbcType=VARCHAR},
      </if>
      <if test="fiBillStatus != null" >
        #{fiBillStatus,jdbcType=INTEGER},
      </if>
      <if test="fiBillKind != null" >
        #{fiBillKind,jdbcType=INTEGER},
      </if>
      <if test="fiBillSource != null" >
        #{fiBillSource,jdbcType=INTEGER},
      </if>
      <if test="fdSaleAmt != null" >
        #{fdSaleAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDiscountAmt != null" >
        #{fdDiscountAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdServiceAmt != null" >
        #{fdServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdExpAmt != null" >
        #{fdExpAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdPayAmt != null" >
        #{fdPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDiffAmt != null" >
        #{fdDiffAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdRealAmt != null" >
        #{fdRealAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdGiftAmt != null" >
        #{fdGiftAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdBackAmt != null" >
        #{fdBackAmt,jdbcType=DECIMAL},
      </if>
      <if test="fsDiscountId != null" >
        #{fsDiscountId,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountName != null" >
        #{fsDiscountName,jdbcType=VARCHAR},
      </if>
      <if test="fsCreditAccountId != null" >
        #{fsCreditAccountId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreditAccountName != null" >
        #{fsCreditAccountName,jdbcType=VARCHAR},
      </if>
      <if test="fdDebtAmt != null" >
        #{fdDebtAmt,jdbcType=DECIMAL},
      </if>
      <if test="fsMasterSellNo != null" >
        #{fsMasterSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsRelationMTable != null" >
        #{fsRelationMTable,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fsPrintExpTime != null" >
        #{fsPrintExpTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCheckEndTime != null" >
        #{fsCheckEndTime,jdbcType=VARCHAR},
      </if>
      <if test="fiIsInvoice != null" >
        #{fiIsInvoice,jdbcType=INTEGER},
      </if>
      <if test="fsInvoiceCls != null" >
        #{fsInvoiceCls,jdbcType=VARCHAR},
      </if>
      <if test="fsInvoiceTitle != null" >
        #{fsInvoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="fdInvoiceAmt != null" >
        #{fdInvoiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="fiPrintTimes_Op != null" >
        #{fiPrintTimes_Op,jdbcType=INTEGER},
      </if>
      <if test="fiPrintTimes_Exp != null" >
        #{fiPrintTimes_Exp,jdbcType=INTEGER},
      </if>
      <if test="fiIsVerify != null" >
        #{fiIsVerify,jdbcType=INTEGER},
      </if>
      <if test="fsVerifyUserName != null" >
        #{fsVerifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsVerifyTime != null" >
        #{fsVerifyTime,jdbcType=VARCHAR},
      </if>
      <if test="fiModifyTag != null" >
        #{fiModifyTag,jdbcType=INTEGER},
      </if>
      <if test="fiReCheckTag != null" >
        #{fiReCheckTag,jdbcType=INTEGER},
      </if>
      <if test="fsHostId != null" >
        #{fsHostId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserId != null" >
        #{fsCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsBillSourceId != null" >
        #{fsBillSourceId,jdbcType=VARCHAR},
      </if>
      <if test="fsBillSourceName != null" >
        #{fsBillSourceName,jdbcType=VARCHAR},
      </if>
      <if test="fsBillSourceNo != null" >
        #{fsBillSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="fdDisExpAmt != null" >
        #{fdDisExpAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdRoundAmt != null" >
        #{fdRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdFreeSveAmt != null" >
        #{fdFreeSveAmt,jdbcType=DECIMAL},
      </if>
      <if test="fsFreeSveAmtUserId != null" >
        #{fsFreeSveAmtUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsFreeSveAmtUserName != null" >
        #{fsFreeSveAmtUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsReCheckUserId != null" >
        #{fsReCheckUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsReCheckUserName != null" >
        #{fsReCheckUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsReCheckReason != null" >
        #{fsReCheckReason,jdbcType=VARCHAR},
      </if>
      <if test="fsDataSrckind != null" >
        #{fsDataSrckind,jdbcType=VARCHAR},
      </if>
      <if test="fsSrcVerno != null" >
        #{fsSrcVerno,jdbcType=VARCHAR},
      </if>
      <if test="fdGiftRoundAmt != null" >
        #{fdGiftRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDiscountRoundAmt != null" >
        #{fdDiscountRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdBackRoundAmt != null" >
        #{fdBackRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdServiceRoundAmt != null" >
        #{fdServiceRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleRoundAmt != null" >
        #{fdSaleRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdGiftQty != null" >
        #{fdGiftQty,jdbcType=DECIMAL},
      </if>
      <if test="fdBackQty != null" >
        #{fdBackQty,jdbcType=DECIMAL},
      </if>
      <if test="lver != null" >
        #{lver,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbsell" >
    update tbsell
    <set >
      <if test="fsSellDate != null" >
        fsSellDate = #{fsSellDate,jdbcType=VARCHAR},
      </if>
      <if test="fsSellTime != null" >
        fsSellTime = #{fsSellTime,jdbcType=VARCHAR},
      </if>
      <if test="fsMSectionId != null" >
        fsMSectionId = #{fsMSectionId,jdbcType=VARCHAR},
      </if>
      <if test="fsMAreaId != null" >
        fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableId != null" >
        fsMTableId = #{fsMTableId,jdbcType=VARCHAR},
      </if>
      <if test="fsMTableName != null" >
        fsMTableName = #{fsMTableName,jdbcType=VARCHAR},
      </if>
      <if test="fsMealNumber != null" >
        fsMealNumber = #{fsMealNumber,jdbcType=VARCHAR},
      </if>
      <if test="fiCustSum != null" >
        fiCustSum = #{fiCustSum,jdbcType=INTEGER},
      </if>
      <if test="fsCustGUID != null" >
        fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsCustId != null" >
        fsCustId = #{fsCustId,jdbcType=VARCHAR},
      </if>
      <if test="fsCustName != null" >
        fsCustName = #{fsCustName,jdbcType=VARCHAR},
      </if>
      <if test="fsCustMobile != null" >
        fsCustMobile = #{fsCustMobile,jdbcType=VARCHAR},
      </if>
      <if test="fsCardNo != null" >
        fsCardNo = #{fsCardNo,jdbcType=VARCHAR},
      </if>
      <if test="fsVIPSource != null" >
        fsVIPSource = #{fsVIPSource,jdbcType=VARCHAR},
      </if>
      <if test="fiIsVIP != null" >
        fiIsVIP = #{fiIsVIP,jdbcType=INTEGER},
      </if>
      <if test="fsSendAddr != null" >
        fsSendAddr = #{fsSendAddr,jdbcType=VARCHAR},
      </if>
      <if test="fsSendOnTime != null" >
        fsSendOnTime = #{fsSendOnTime,jdbcType=VARCHAR},
      </if>
      <if test="fsSendUserId != null" >
        fsSendUserId = #{fsSendUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsSendUserName != null" >
        fsSendUserName = #{fsSendUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsPutUpTime != null" >
        fsPutUpTime = #{fsPutUpTime,jdbcType=VARCHAR},
      </if>
      <if test="fsAssignTime != null" >
        fsAssignTime = #{fsAssignTime,jdbcType=VARCHAR},
      </if>
      <if test="fsStaffId != null" >
        fsStaffId = #{fsStaffId,jdbcType=VARCHAR},
      </if>
      <if test="fsStaffName != null" >
        fsStaffName = #{fsStaffName,jdbcType=VARCHAR},
      </if>
      <if test="fiBillStatus != null" >
        fiBillStatus = #{fiBillStatus,jdbcType=INTEGER},
      </if>
      <if test="fiBillKind != null" >
        fiBillKind = #{fiBillKind,jdbcType=INTEGER},
      </if>
      <if test="fiBillSource != null" >
        fiBillSource = #{fiBillSource,jdbcType=INTEGER},
      </if>
      <if test="fdSaleAmt != null" >
        fdSaleAmt = #{fdSaleAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDiscountAmt != null" >
        fdDiscountAmt = #{fdDiscountAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdServiceAmt != null" >
        fdServiceAmt = #{fdServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdExpAmt != null" >
        fdExpAmt = #{fdExpAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdPayAmt != null" >
        fdPayAmt = #{fdPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDiffAmt != null" >
        fdDiffAmt = #{fdDiffAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdRealAmt != null" >
        fdRealAmt = #{fdRealAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdGiftAmt != null" >
        fdGiftAmt = #{fdGiftAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdBackAmt != null" >
        fdBackAmt = #{fdBackAmt,jdbcType=DECIMAL},
      </if>
      <if test="fsDiscountId != null" >
        fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR},
      </if>
      <if test="fsDiscountName != null" >
        fsDiscountName = #{fsDiscountName,jdbcType=VARCHAR},
      </if>
      <if test="fsCreditAccountId != null" >
        fsCreditAccountId = #{fsCreditAccountId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreditAccountName != null" >
        fsCreditAccountName = #{fsCreditAccountName,jdbcType=VARCHAR},
      </if>
      <if test="fdDebtAmt != null" >
        fdDebtAmt = #{fdDebtAmt,jdbcType=DECIMAL},
      </if>
      <if test="fsMasterSellNo != null" >
        fsMasterSellNo = #{fsMasterSellNo,jdbcType=VARCHAR},
      </if>
      <if test="fsRelationMTable != null" >
        fsRelationMTable = #{fsRelationMTable,jdbcType=VARCHAR},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=VARCHAR},
      </if>
      <if test="fsPrintExpTime != null" >
        fsPrintExpTime = #{fsPrintExpTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCheckEndTime != null" >
        fsCheckEndTime = #{fsCheckEndTime,jdbcType=VARCHAR},
      </if>
      <if test="fiIsInvoice != null" >
        fiIsInvoice = #{fiIsInvoice,jdbcType=INTEGER},
      </if>
      <if test="fsInvoiceCls != null" >
        fsInvoiceCls = #{fsInvoiceCls,jdbcType=VARCHAR},
      </if>
      <if test="fsInvoiceTitle != null" >
        fsInvoiceTitle = #{fsInvoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="fdInvoiceAmt != null" >
        fdInvoiceAmt = #{fdInvoiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="fiPrintTimes_Op != null" >
        fiPrintTimes_Op = #{fiPrintTimes_Op,jdbcType=INTEGER},
      </if>
      <if test="fiPrintTimes_Exp != null" >
        fiPrintTimes_Exp = #{fiPrintTimes_Exp,jdbcType=INTEGER},
      </if>
      <if test="fiIsVerify != null" >
        fiIsVerify = #{fiIsVerify,jdbcType=INTEGER},
      </if>
      <if test="fsVerifyUserName != null" >
        fsVerifyUserName = #{fsVerifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsVerifyTime != null" >
        fsVerifyTime = #{fsVerifyTime,jdbcType=VARCHAR},
      </if>
      <if test="fiModifyTag != null" >
        fiModifyTag = #{fiModifyTag,jdbcType=INTEGER},
      </if>
      <if test="fiReCheckTag != null" >
        fiReCheckTag = #{fiReCheckTag,jdbcType=INTEGER},
      </if>
      <if test="fsHostId != null" >
        fsHostId = #{fsHostId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateTime != null" >
        fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserId != null" >
        fsCreateUserId = #{fsCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsCreateUserName != null" >
        fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsBillSourceId != null" >
        fsBillSourceId = #{fsBillSourceId,jdbcType=VARCHAR},
      </if>
      <if test="fsBillSourceName != null" >
        fsBillSourceName = #{fsBillSourceName,jdbcType=VARCHAR},
      </if>
      <if test="fsBillSourceNo != null" >
        fsBillSourceNo = #{fsBillSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="fdDisExpAmt != null" >
        fdDisExpAmt = #{fdDisExpAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdRoundAmt != null" >
        fdRoundAmt = #{fdRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdFreeSveAmt != null" >
        fdFreeSveAmt = #{fdFreeSveAmt,jdbcType=DECIMAL},
      </if>
      <if test="fsFreeSveAmtUserId != null" >
        fsFreeSveAmtUserId = #{fsFreeSveAmtUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsFreeSveAmtUserName != null" >
        fsFreeSveAmtUserName = #{fsFreeSveAmtUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsReCheckUserId != null" >
        fsReCheckUserId = #{fsReCheckUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsReCheckUserName != null" >
        fsReCheckUserName = #{fsReCheckUserName,jdbcType=VARCHAR},
      </if>
      <if test="fsReCheckReason != null" >
        fsReCheckReason = #{fsReCheckReason,jdbcType=VARCHAR},
      </if>
      <if test="fsDataSrckind != null" >
        fsDataSrckind = #{fsDataSrckind,jdbcType=VARCHAR},
      </if>
      <if test="fsSrcVerno != null" >
        fsSrcVerno = #{fsSrcVerno,jdbcType=VARCHAR},
      </if>
      <if test="fdGiftRoundAmt != null" >
        fdGiftRoundAmt = #{fdGiftRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdDiscountRoundAmt != null" >
        fdDiscountRoundAmt = #{fdDiscountRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdBackRoundAmt != null" >
        fdBackRoundAmt = #{fdBackRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdServiceRoundAmt != null" >
        fdServiceRoundAmt = #{fdServiceRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdSaleRoundAmt != null" >
        fdSaleRoundAmt = #{fdSaleRoundAmt,jdbcType=DECIMAL},
      </if>
      <if test="fdGiftQty != null" >
        fdGiftQty = #{fdGiftQty,jdbcType=DECIMAL},
      </if>
      <if test="fdBackQty != null" >
        fdBackQty = #{fdBackQty,jdbcType=DECIMAL},
      </if>
      <if test="lver != null" >
        lver = #{lver,jdbcType=INTEGER},
      </if>
    </set>
    where fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbsell" >
    update tbsell
    set fsSellDate = #{fsSellDate,jdbcType=VARCHAR},
      fsSellTime = #{fsSellTime,jdbcType=VARCHAR},
      fsMSectionId = #{fsMSectionId,jdbcType=VARCHAR},
      fsMAreaId = #{fsMAreaId,jdbcType=VARCHAR},
      fsMTableId = #{fsMTableId,jdbcType=VARCHAR},
      fsMTableName = #{fsMTableName,jdbcType=VARCHAR},
      fsMealNumber = #{fsMealNumber,jdbcType=VARCHAR},
      fiCustSum = #{fiCustSum,jdbcType=INTEGER},
      fsCustGUID = #{fsCustGUID,jdbcType=VARCHAR},
      fsCustId = #{fsCustId,jdbcType=VARCHAR},
      fsCustName = #{fsCustName,jdbcType=VARCHAR},
      fsCustMobile = #{fsCustMobile,jdbcType=VARCHAR},
      fsCardNo = #{fsCardNo,jdbcType=VARCHAR},
      fsVIPSource = #{fsVIPSource,jdbcType=VARCHAR},
      fiIsVIP = #{fiIsVIP,jdbcType=INTEGER},
      fsSendAddr = #{fsSendAddr,jdbcType=VARCHAR},
      fsSendOnTime = #{fsSendOnTime,jdbcType=VARCHAR},
      fsSendUserId = #{fsSendUserId,jdbcType=VARCHAR},
      fsSendUserName = #{fsSendUserName,jdbcType=VARCHAR},
      fsPutUpTime = #{fsPutUpTime,jdbcType=VARCHAR},
      fsAssignTime = #{fsAssignTime,jdbcType=VARCHAR},
      fsStaffId = #{fsStaffId,jdbcType=VARCHAR},
      fsStaffName = #{fsStaffName,jdbcType=VARCHAR},
      fiBillStatus = #{fiBillStatus,jdbcType=INTEGER},
      fiBillKind = #{fiBillKind,jdbcType=INTEGER},
      fiBillSource = #{fiBillSource,jdbcType=INTEGER},
      fdSaleAmt = #{fdSaleAmt,jdbcType=DECIMAL},
      fdDiscountAmt = #{fdDiscountAmt,jdbcType=DECIMAL},
      fdServiceAmt = #{fdServiceAmt,jdbcType=DECIMAL},
      fdExpAmt = #{fdExpAmt,jdbcType=DECIMAL},
      fdPayAmt = #{fdPayAmt,jdbcType=DECIMAL},
      fdDiffAmt = #{fdDiffAmt,jdbcType=DECIMAL},
      fdRealAmt = #{fdRealAmt,jdbcType=DECIMAL},
      fdGiftAmt = #{fdGiftAmt,jdbcType=DECIMAL},
      fdBackAmt = #{fdBackAmt,jdbcType=DECIMAL},
      fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR},
      fsDiscountName = #{fsDiscountName,jdbcType=VARCHAR},
      fsCreditAccountId = #{fsCreditAccountId,jdbcType=VARCHAR},
      fsCreditAccountName = #{fsCreditAccountName,jdbcType=VARCHAR},
      fdDebtAmt = #{fdDebtAmt,jdbcType=DECIMAL},
      fsMasterSellNo = #{fsMasterSellNo,jdbcType=VARCHAR},
      fsRelationMTable = #{fsRelationMTable,jdbcType=VARCHAR},
      fsNote = #{fsNote,jdbcType=VARCHAR},
      fsPrintExpTime = #{fsPrintExpTime,jdbcType=VARCHAR},
      fsCheckEndTime = #{fsCheckEndTime,jdbcType=VARCHAR},
      fiIsInvoice = #{fiIsInvoice,jdbcType=INTEGER},
      fsInvoiceCls = #{fsInvoiceCls,jdbcType=VARCHAR},
      fsInvoiceTitle = #{fsInvoiceTitle,jdbcType=VARCHAR},
      fdInvoiceAmt = #{fdInvoiceAmt,jdbcType=DECIMAL},
      fiPrintTimes_Op = #{fiPrintTimes_Op,jdbcType=INTEGER},
      fiPrintTimes_Exp = #{fiPrintTimes_Exp,jdbcType=INTEGER},
      fiIsVerify = #{fiIsVerify,jdbcType=INTEGER},
      fsVerifyUserName = #{fsVerifyUserName,jdbcType=VARCHAR},
      fsVerifyTime = #{fsVerifyTime,jdbcType=VARCHAR},
      fiModifyTag = #{fiModifyTag,jdbcType=INTEGER},
      fiReCheckTag = #{fiReCheckTag,jdbcType=INTEGER},
      fsHostId = #{fsHostId,jdbcType=VARCHAR},
      fsCreateTime = #{fsCreateTime,jdbcType=VARCHAR},
      fsCreateUserId = #{fsCreateUserId,jdbcType=VARCHAR},
      fsCreateUserName = #{fsCreateUserName,jdbcType=VARCHAR},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsBillSourceId = #{fsBillSourceId,jdbcType=VARCHAR},
      fsBillSourceName = #{fsBillSourceName,jdbcType=VARCHAR},
      fsBillSourceNo = #{fsBillSourceNo,jdbcType=VARCHAR},
      fdDisExpAmt = #{fdDisExpAmt,jdbcType=DECIMAL},
      fdRoundAmt = #{fdRoundAmt,jdbcType=DECIMAL},
      fdFreeSveAmt = #{fdFreeSveAmt,jdbcType=DECIMAL},
      fsFreeSveAmtUserId = #{fsFreeSveAmtUserId,jdbcType=VARCHAR},
      fsFreeSveAmtUserName = #{fsFreeSveAmtUserName,jdbcType=VARCHAR},
      fsReCheckUserId = #{fsReCheckUserId,jdbcType=VARCHAR},
      fsReCheckUserName = #{fsReCheckUserName,jdbcType=VARCHAR},
      fsReCheckReason = #{fsReCheckReason,jdbcType=VARCHAR},
      fsDataSrckind = #{fsDataSrckind,jdbcType=VARCHAR},
      fsSrcVerno = #{fsSrcVerno,jdbcType=VARCHAR},
      fdGiftRoundAmt = #{fdGiftRoundAmt,jdbcType=DECIMAL},
      fdDiscountRoundAmt = #{fdDiscountRoundAmt,jdbcType=DECIMAL},
      fdBackRoundAmt = #{fdBackRoundAmt,jdbcType=DECIMAL},
      fdServiceRoundAmt = #{fdServiceRoundAmt,jdbcType=DECIMAL},
      fdSaleRoundAmt = #{fdSaleRoundAmt,jdbcType=DECIMAL},
      fdGiftQty = #{fdGiftQty,jdbcType=DECIMAL},
      fdBackQty = #{fdBackQty,jdbcType=DECIMAL},
      lver = #{lver,jdbcType=INTEGER}
    where fsSellNo = #{fsSellNo,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>