<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbshopgroupdtlMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbshopgroupdtl" >
    <id column="fiShopGroupId" property="fiShopGroupId" jdbcType="INTEGER" />
    <id column="fsCompanyGUID" property="fsCompanyGUID" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiShopGroupId, fsCompanyGUID, fsShopGUID, fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
    fiStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbshopgroupdtlKey" >
    select 
    <include refid="Base_Column_List" />
    from tbshopgroupdtl
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
      and fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbshopgroupdtlKey" >
    delete from tbshopgroupdtl
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
      and fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbshopgroupdtl" >
    insert into tbshopgroupdtl (fiShopGroupId, fsCompanyGUID, fsShopGUID, 
      fsUpdateTime, fsUpdateUserId, fsUpdateUserName, 
      fiStatus)
    values (#{fiShopGroupId,jdbcType=INTEGER}, #{fsCompanyGUID,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, 
      #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbshopgroupdtl" >
    insert into tbshopgroupdtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiShopGroupId != null" >
        fiShopGroupId,
      </if>
      <if test="fsCompanyGUID != null" >
        fsCompanyGUID,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiShopGroupId != null" >
        #{fiShopGroupId,jdbcType=INTEGER},
      </if>
      <if test="fsCompanyGUID != null" >
        #{fsCompanyGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbshopgroupdtl" >
    update tbshopgroupdtl
    <set >
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
    </set>
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
      and fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbshopgroupdtl" >
    update tbshopgroupdtl
    set fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER}
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
      and fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
  </update>
</mapper>