<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbshopgroupMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbshopgroup" >
    <id column="fiShopGroupId" property="fiShopGroupId" jdbcType="INTEGER" />
    <result column="fsShopGroupName" property="fsShopGroupName" jdbcType="VARCHAR" />
    <result column="fsShopGroupKind" property="fsShopGroupKind" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fiSortOrder" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pos.entity.TbshopgroupWithBLOBs" extends="BaseResultMap" >
    <result column="fsNote" property="fsNote" jdbcType="LONGVARCHAR" />
    <result column="fsCompanyGUID" property="fsCompanyGUID" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiShopGroupId, fsShopGroupName, fsShopGroupKind, fiStatus, fsUpdateTime, fsUpdateUserId, 
    fsUpdateUserName, fiSortOrder
  </sql>
  <sql id="Blob_Column_List" >
    fsNote, fsCompanyGUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbshopgroup
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbshopgroup
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.TbshopgroupWithBLOBs" >
    insert into tbshopgroup (fiShopGroupId, fsShopGroupName, fsShopGroupKind, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName, fiSortOrder, fsNote, 
      fsCompanyGUID)
    values (#{fiShopGroupId,jdbcType=INTEGER}, #{fsShopGroupName,jdbcType=VARCHAR}, #{fsShopGroupKind,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR}, #{fiSortOrder,jdbcType=INTEGER}, #{fsNote,jdbcType=LONGVARCHAR}, 
      #{fsCompanyGUID,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.TbshopgroupWithBLOBs" >
    insert into tbshopgroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiShopGroupId != null" >
        fiShopGroupId,
      </if>
      <if test="fsShopGroupName != null" >
        fsShopGroupName,
      </if>
      <if test="fsShopGroupKind != null" >
        fsShopGroupKind,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder,
      </if>
      <if test="fsNote != null" >
        fsNote,
      </if>
      <if test="fsCompanyGUID != null" >
        fsCompanyGUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiShopGroupId != null" >
        #{fiShopGroupId,jdbcType=INTEGER},
      </if>
      <if test="fsShopGroupName != null" >
        #{fsShopGroupName,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGroupKind != null" >
        #{fsShopGroupKind,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fsNote != null" >
        #{fsNote,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsCompanyGUID != null" >
        #{fsCompanyGUID,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.TbshopgroupWithBLOBs" >
    update tbshopgroup
    <set >
      <if test="fsShopGroupName != null" >
        fsShopGroupName = #{fsShopGroupName,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGroupKind != null" >
        fsShopGroupKind = #{fsShopGroupKind,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fsNote != null" >
        fsNote = #{fsNote,jdbcType=LONGVARCHAR},
      </if>
      <if test="fsCompanyGUID != null" >
        fsCompanyGUID = #{fsCompanyGUID,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pos.entity.TbshopgroupWithBLOBs" >
    update tbshopgroup
    set fsShopGroupName = #{fsShopGroupName,jdbcType=VARCHAR},
      fsShopGroupKind = #{fsShopGroupKind,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      fsNote = #{fsNote,jdbcType=LONGVARCHAR},
      fsCompanyGUID = #{fsCompanyGUID,jdbcType=LONGVARCHAR}
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbshopgroup" >
    update tbshopgroup
    set fsShopGroupName = #{fsShopGroupName,jdbcType=VARCHAR},
      fsShopGroupKind = #{fsShopGroupKind,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      fiSortOrder = #{fiSortOrder,jdbcType=INTEGER}
    where fiShopGroupId = #{fiShopGroupId,jdbcType=INTEGER}
  </update>
</mapper>