<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbtableinfoMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbtableinfo" >
    <id column="fsKind" property="fsKind" jdbcType="VARCHAR" />
    <id column="fsTableId" property="fsTableId" jdbcType="VARCHAR" />
    <id column="fsTableName" property="fsTableName" jdbcType="VARCHAR" />
    <result column="fiSortOrder" property="fiSortOrder" jdbcType="INTEGER" />
    <result column="fsFoodTradeList" property="fsFoodTradeList" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsKind, fsTableId, fsTableName, fiSortOrder, fsFoodTradeList
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbtableinfoKey" >
    select 
    <include refid="Base_Column_List" />
    from tbtableinfo
    where fsKind = #{fsKind,jdbcType=VARCHAR}
      and fsTableId = #{fsTableId,jdbcType=VARCHAR}
      and fsTableName = #{fsTableName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbtableinfoKey" >
    delete from tbtableinfo
    where fsKind = #{fsKind,jdbcType=VARCHAR}
      and fsTableId = #{fsTableId,jdbcType=VARCHAR}
      and fsTableName = #{fsTableName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbtableinfo" >
    insert into tbtableinfo (fsKind, fsTableId, fsTableName, 
      fiSortOrder, fsFoodTradeList)
    values (#{fsKind,jdbcType=VARCHAR}, #{fsTableId,jdbcType=VARCHAR}, #{fsTableName,jdbcType=VARCHAR}, 
      #{fiSortOrder,jdbcType=INTEGER}, #{fsFoodTradeList,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbtableinfo" >
    insert into tbtableinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsKind != null" >
        fsKind,
      </if>
      <if test="fsTableId != null" >
        fsTableId,
      </if>
      <if test="fsTableName != null" >
        fsTableName,
      </if>
      <if test="fiSortOrder != null" >
        fiSortOrder,
      </if>
      <if test="fsFoodTradeList != null" >
        fsFoodTradeList,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsKind != null" >
        #{fsKind,jdbcType=VARCHAR},
      </if>
      <if test="fsTableId != null" >
        #{fsTableId,jdbcType=VARCHAR},
      </if>
      <if test="fsTableName != null" >
        #{fsTableName,jdbcType=VARCHAR},
      </if>
      <if test="fiSortOrder != null" >
        #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fsFoodTradeList != null" >
        #{fsFoodTradeList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbtableinfo" >
    update tbtableinfo
    <set >
      <if test="fiSortOrder != null" >
        fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      </if>
      <if test="fsFoodTradeList != null" >
        fsFoodTradeList = #{fsFoodTradeList,jdbcType=VARCHAR},
      </if>
    </set>
    where fsKind = #{fsKind,jdbcType=VARCHAR}
      and fsTableId = #{fsTableId,jdbcType=VARCHAR}
      and fsTableName = #{fsTableName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbtableinfo" >
    update tbtableinfo
    set fiSortOrder = #{fiSortOrder,jdbcType=INTEGER},
      fsFoodTradeList = #{fsFoodTradeList,jdbcType=VARCHAR}
    where fsKind = #{fsKind,jdbcType=VARCHAR}
      and fsTableId = #{fsTableId,jdbcType=VARCHAR}
      and fsTableName = #{fsTableName,jdbcType=VARCHAR}
  </update>
</mapper>