<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbtesttimeMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbtesttime" >
    <result column="fstime" property="fstime" jdbcType="TIMESTAMP" />
    <result column="fitime" property="fitime" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.pos.entity.Tbtesttime" >
    insert into tbtesttime (fstime, fitime)
    values (#{fstime,jdbcType=TIMESTAMP}, #{fitime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbtesttime" >
    insert into tbtesttime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fstime != null" >
        fstime,
      </if>
      <if test="fitime != null" >
        fitime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fstime != null" >
        #{fstime,jdbcType=TIMESTAMP},
      </if>
      <if test="fitime != null" >
        #{fitime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>