<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbtradeMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbtrade" >
    <id column="fsCompanyGUID" property="fsCompanyGUID" jdbcType="VARCHAR" />
    <id column="fsTradeId" property="fsTradeId" jdbcType="VARCHAR" />
    <result column="fsTradeName" property="fsTradeName" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsCompanyGUID, fsTradeId, fsTradeName, fiStatus, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbtradeKey" >
    select 
    <include refid="Base_Column_List" />
    from tbtrade
    where fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsTradeId = #{fsTradeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbtradeKey" >
    delete from tbtrade
    where fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsTradeId = #{fsTradeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbtrade" >
    insert into tbtrade (fsCompanyGUID, fsTradeId, fsTradeName, 
      fiStatus, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fsCompanyGUID,jdbcType=VARCHAR}, #{fsTradeId,jdbcType=VARCHAR}, #{fsTradeName,jdbcType=VARCHAR}, 
      #{fiStatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fsUpdateUserId,jdbcType=VARCHAR}, 
      #{fsUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbtrade" >
    insert into tbtrade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsCompanyGUID != null" >
        fsCompanyGUID,
      </if>
      <if test="fsTradeId != null" >
        fsTradeId,
      </if>
      <if test="fsTradeName != null" >
        fsTradeName,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsCompanyGUID != null" >
        #{fsCompanyGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsTradeId != null" >
        #{fsTradeId,jdbcType=VARCHAR},
      </if>
      <if test="fsTradeName != null" >
        #{fsTradeName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbtrade" >
    update tbtrade
    <set >
      <if test="fsTradeName != null" >
        fsTradeName = #{fsTradeName,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsTradeId = #{fsTradeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbtrade" >
    update tbtrade
    set fsTradeName = #{fsTradeName,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fsCompanyGUID = #{fsCompanyGUID,jdbcType=VARCHAR}
      and fsTradeId = #{fsTradeId,jdbcType=VARCHAR}
  </update>
</mapper>