<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbuserauthdataMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbuserauthdata" >
    <id column="fsDataKind" property="fsDataKind" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <id column="fsUserId" property="fsUserId" jdbcType="VARCHAR" />
    <id column="fsValue" property="fsValue" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsDataKind, fsShopGUID, fsUserId, fsValue, fsUpdateTime, fiStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbuserauthdataKey" >
    select 
    <include refid="Base_Column_List" />
    from tbuserauthdata
    where fsDataKind = #{fsDataKind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsUserId = #{fsUserId,jdbcType=VARCHAR}
      and fsValue = #{fsValue,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbuserauthdataKey" >
    delete from tbuserauthdata
    where fsDataKind = #{fsDataKind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsUserId = #{fsUserId,jdbcType=VARCHAR}
      and fsValue = #{fsValue,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbuserauthdata" >
    insert into tbuserauthdata (fsDataKind, fsShopGUID, fsUserId, 
      fsValue, fsUpdateTime, fiStatus
      )
    values (#{fsDataKind,jdbcType=VARCHAR}, #{fsShopGUID,jdbcType=VARCHAR}, #{fsUserId,jdbcType=VARCHAR}, 
      #{fsValue,jdbcType=VARCHAR}, #{fsUpdateTime,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbuserauthdata" >
    insert into tbuserauthdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsDataKind != null" >
        fsDataKind,
      </if>
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsUserId != null" >
        fsUserId,
      </if>
      <if test="fsValue != null" >
        fsValue,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsDataKind != null" >
        #{fsDataKind,jdbcType=VARCHAR},
      </if>
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsUserId != null" >
        #{fsUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsValue != null" >
        #{fsValue,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbuserauthdata" >
    update tbuserauthdata
    <set >
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
    </set>
    where fsDataKind = #{fsDataKind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsUserId = #{fsUserId,jdbcType=VARCHAR}
      and fsValue = #{fsValue,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbuserauthdata" >
    update tbuserauthdata
    set fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER}
    where fsDataKind = #{fsDataKind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsUserId = #{fsUserId,jdbcType=VARCHAR}
      and fsValue = #{fsValue,jdbcType=VARCHAR}
  </update>
</mapper>