<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.TbvipdiscountMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Tbvipdiscount" >
    <id column="fsShopGUID" property="fsShopGUID" jdbcType="VARCHAR" />
    <id column="fsVIPLvlId" property="fsVIPLvlId" jdbcType="VARCHAR" />
    <result column="fiDiscountType" property="fiDiscountType" jdbcType="INTEGER" />
    <result column="fsDiscountId" property="fsDiscountId" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fiStatus" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsUpdateTime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsUpdateUserId" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsUpdateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsShopGUID, fsVIPLvlId, fiDiscountType, fsDiscountId, fiStatus, fsUpdateTime, fsUpdateUserId, 
    fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.TbvipdiscountKey" >
    select 
    <include refid="Base_Column_List" />
    from tbvipdiscount
    where fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsVIPLvlId = #{fsVIPLvlId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.TbvipdiscountKey" >
    delete from tbvipdiscount
    where fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsVIPLvlId = #{fsVIPLvlId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Tbvipdiscount" >
    insert into tbvipdiscount (fsShopGUID, fsVIPLvlId, fiDiscountType, 
      fsDiscountId, fiStatus, fsUpdateTime, 
      fsUpdateUserId, fsUpdateUserName)
    values (#{fsShopGUID,jdbcType=VARCHAR}, #{fsVIPLvlId,jdbcType=VARCHAR}, #{fiDiscountType,jdbcType=INTEGER}, 
      #{fsDiscountId,jdbcType=VARCHAR}, #{fiStatus,jdbcType=INTEGER}, #{fsUpdateTime,jdbcType=VARCHAR}, 
      #{fsUpdateUserId,jdbcType=VARCHAR}, #{fsUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Tbvipdiscount" >
    insert into tbvipdiscount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsShopGUID != null" >
        fsShopGUID,
      </if>
      <if test="fsVIPLvlId != null" >
        fsVIPLvlId,
      </if>
      <if test="fiDiscountType != null" >
        fiDiscountType,
      </if>
      <if test="fsDiscountId != null" >
        fsDiscountId,
      </if>
      <if test="fiStatus != null" >
        fiStatus,
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime,
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId,
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsShopGUID != null" >
        #{fsShopGUID,jdbcType=VARCHAR},
      </if>
      <if test="fsVIPLvlId != null" >
        #{fsVIPLvlId,jdbcType=VARCHAR},
      </if>
      <if test="fiDiscountType != null" >
        #{fiDiscountType,jdbcType=INTEGER},
      </if>
      <if test="fsDiscountId != null" >
        #{fsDiscountId,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Tbvipdiscount" >
    update tbvipdiscount
    <set >
      <if test="fiDiscountType != null" >
        fiDiscountType = #{fiDiscountType,jdbcType=INTEGER},
      </if>
      <if test="fsDiscountId != null" >
        fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        fiStatus = #{fiStatus,jdbcType=INTEGER},
      </if>
      <if test="fsUpdateTime != null" >
        fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserId != null" >
        fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="fsUpdateUserName != null" >
        fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsVIPLvlId = #{fsVIPLvlId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Tbvipdiscount" >
    update tbvipdiscount
    set fiDiscountType = #{fiDiscountType,jdbcType=INTEGER},
      fsDiscountId = #{fsDiscountId,jdbcType=VARCHAR},
      fiStatus = #{fiStatus,jdbcType=INTEGER},
      fsUpdateTime = #{fsUpdateTime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsUpdateUserId,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsUpdateUserName,jdbcType=VARCHAR}
    where fsShopGUID = #{fsShopGUID,jdbcType=VARCHAR}
      and fsVIPLvlId = #{fsVIPLvlId,jdbcType=VARCHAR}
  </update>
</mapper>