<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.Temptotal1Mapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Temptotal1" >
    <result column="fsSellDate" property="fsSellDate" jdbcType="VARCHAR" />
    <result column="销售金额" property="销售金额" jdbcType="DECIMAL" />
    <result column="折扣金额" property="折扣金额" jdbcType="DECIMAL" />
    <result column="服务费金额" property="服务费金额" jdbcType="DECIMAL" />
    <result column="应收金额" property="应收金额" jdbcType="DECIMAL" />
    <result column="实收金额" property="实收金额" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.pos.entity.Temptotal1" >
    insert into temptotal1 (fsSellDate, 销售金额, 折扣金额, 
      服务费金额, 应收金额, 实收金额)
    values (#{fsSellDate,jdbcType=VARCHAR}, #{销售金额,jdbcType=DECIMAL}, #{折扣金额,jdbcType=DECIMAL}, 
      #{服务费金额,jdbcType=DECIMAL}, #{应收金额,jdbcType=DECIMAL}, #{实收金额,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Temptotal1" >
    insert into temptotal1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsSellDate != null" >
        fsSellDate,
      </if>
      <if test="销售金额 != null" >
        销售金额,
      </if>
      <if test="折扣金额 != null" >
        折扣金额,
      </if>
      <if test="服务费金额 != null" >
        服务费金额,
      </if>
      <if test="应收金额 != null" >
        应收金额,
      </if>
      <if test="实收金额 != null" >
        实收金额,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsSellDate != null" >
        #{fsSellDate,jdbcType=VARCHAR},
      </if>
      <if test="销售金额 != null" >
        #{销售金额,jdbcType=DECIMAL},
      </if>
      <if test="折扣金额 != null" >
        #{折扣金额,jdbcType=DECIMAL},
      </if>
      <if test="服务费金额 != null" >
        #{服务费金额,jdbcType=DECIMAL},
      </if>
      <if test="应收金额 != null" >
        #{应收金额,jdbcType=DECIMAL},
      </if>
      <if test="实收金额 != null" >
        #{实收金额,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>