<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.UsershopauthorityMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Usershopauthority" >
    <id column="fsCompanyGUID" property="fscompanyguid" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <id column="fsUserId" property="fsuserid" jdbcType="VARCHAR" />
    <result column="fsEnabled" property="fsenabled" jdbcType="INTEGER" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsCompanyGUID, fsShopGUID, fsUserId, fsEnabled, fsUpdateTime, fsUpdateUserId, fsUpdateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.UsershopauthorityKey" >
    select 
    <include refid="Base_Column_List" />
    from tbusershopauthority
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.UsershopauthorityKey" >
    delete from tbusershopauthority
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Usershopauthority" >
    insert into tbusershopauthority (fsCompanyGUID, fsShopGUID, fsUserId, 
      fsEnabled, fsUpdateTime, fsUpdateUserId, 
      fsUpdateUserName)
    values (#{fscompanyguid,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsuserid,jdbcType=VARCHAR}, 
      #{fsenabled,jdbcType=INTEGER}, #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdateusername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Usershopauthority" >
    insert into tbusershopauthority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fscompanyguid != null" >
        fsCompanyGUID,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsuserid != null" >
        fsUserId,
      </if>
      <if test="fsenabled != null" >
        fsEnabled,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fscompanyguid != null" >
        #{fscompanyguid,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsuserid != null" >
        #{fsuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsenabled != null" >
        #{fsenabled,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Usershopauthority" >
    update tbusershopauthority
    <set >
      <if test="fsenabled != null" >
        fsEnabled = #{fsenabled,jdbcType=INTEGER},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
    </set>
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Usershopauthority" >
    update tbusershopauthority
    set fsEnabled = #{fsenabled,jdbcType=INTEGER},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR}
    where fsCompanyGUID = #{fscompanyguid,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </update>
</mapper>