<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.UsermenuitemroleMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.Usermenuitemrole" >
    <id column="fiItemCd" property="fiitemcd" jdbcType="INTEGER" />
    <id column="fiOrderUintCd" property="fiorderuintcd" jdbcType="INTEGER" />
    <id column="fiType" property="fitype" jdbcType="INTEGER" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <id column="fsUserId" property="fsuserid" jdbcType="VARCHAR" />
    <result column="fsCreateTime" property="fscreatetime" jdbcType="VARCHAR" />
    <result column="fsCreateUserId" property="fscreateuserid" jdbcType="VARCHAR" />
    <result column="fsCreateUserName" property="fscreateusername" jdbcType="VARCHAR" />
    <result column="fsUpdateUserId" property="fsupdateuserid" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fsUpdateUserName" property="fsupdateusername" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fiItemCd, fiOrderUintCd, fiType, fsShopGUID, fsUserId, fsCreateTime, fsCreateUserId, 
    fsCreateUserName, fsUpdateUserId, fsUpdateTime, fsUpdateUserName, fiStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.UsermenuitemroleKey" >
    select 
    <include refid="Base_Column_List" />
    from tbusermenuitemrole
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fiType = #{fitype,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.UsermenuitemroleKey" >
    delete from tbusermenuitemrole
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fiType = #{fitype,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.Usermenuitemrole" >
    insert into tbusermenuitemrole (fiItemCd, fiOrderUintCd, fiType, 
      fsShopGUID, fsUserId, fsCreateTime, 
      fsCreateUserId, fsCreateUserName, fsUpdateUserId, 
      fsUpdateTime, fsUpdateUserName, fiStatus
      )
    values (#{fiitemcd,jdbcType=INTEGER}, #{fiorderuintcd,jdbcType=INTEGER}, #{fitype,jdbcType=INTEGER}, 
      #{fsshopguid,jdbcType=VARCHAR}, #{fsuserid,jdbcType=VARCHAR}, #{fscreatetime,jdbcType=VARCHAR}, 
      #{fscreateuserid,jdbcType=VARCHAR}, #{fscreateusername,jdbcType=VARCHAR}, #{fsupdateuserid,jdbcType=VARCHAR}, 
      #{fsupdatetime,jdbcType=VARCHAR}, #{fsupdateusername,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.Usermenuitemrole" >
    insert into tbusermenuitemrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiitemcd != null" >
        fiItemCd,
      </if>
      <if test="fiorderuintcd != null" >
        fiOrderUintCd,
      </if>
      <if test="fitype != null" >
        fiType,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsuserid != null" >
        fsUserId,
      </if>
      <if test="fscreatetime != null" >
        fsCreateTime,
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId,
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName,
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiitemcd != null" >
        #{fiitemcd,jdbcType=INTEGER},
      </if>
      <if test="fiorderuintcd != null" >
        #{fiorderuintcd,jdbcType=INTEGER},
      </if>
      <if test="fitype != null" >
        #{fitype,jdbcType=INTEGER},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsuserid != null" >
        #{fsuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreatetime != null" >
        #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.Usermenuitemrole" >
    update tbusermenuitemrole
    <set >
      <if test="fscreatetime != null" >
        fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      </if>
      <if test="fscreateuserid != null" >
        fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fscreateusername != null" >
        fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateuserid != null" >
        fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fsupdateusername != null" >
        fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
    </set>
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fiType = #{fitype,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.Usermenuitemrole" >
    update tbusermenuitemrole
    set fsCreateTime = #{fscreatetime,jdbcType=VARCHAR},
      fsCreateUserId = #{fscreateuserid,jdbcType=VARCHAR},
      fsCreateUserName = #{fscreateusername,jdbcType=VARCHAR},
      fsUpdateUserId = #{fsupdateuserid,jdbcType=VARCHAR},
      fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fsUpdateUserName = #{fsupdateusername,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER}
    where fiItemCd = #{fiitemcd,jdbcType=INTEGER}
      and fiOrderUintCd = #{fiorderuintcd,jdbcType=INTEGER}
      and fiType = #{fitype,jdbcType=INTEGER}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
  </update>
</mapper>