<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.dao.userauthdataMapper" >
  <resultMap id="BaseResultMap" type="com.pos.entity.userauthdata" >
    <id column="fsDataKind" property="fsdatakind" jdbcType="VARCHAR" />
    <id column="fsShopGUID" property="fsshopguid" jdbcType="VARCHAR" />
    <id column="fsUserId" property="fsuserid" jdbcType="VARCHAR" />
    <id column="fsValue" property="fsvalue" jdbcType="VARCHAR" />
    <result column="fsUpdateTime" property="fsupdatetime" jdbcType="VARCHAR" />
    <result column="fiStatus" property="fistatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsDataKind, fsShopGUID, fsUserId, fsValue, fsUpdateTime, fiStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pos.entity.userauthdataKey" >
    select 
    <include refid="Base_Column_List" />
    from tbuserauthdata
    where fsDataKind = #{fsdatakind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
      and fsValue = #{fsvalue,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pos.entity.userauthdataKey" >
    delete from tbuserauthdata
    where fsDataKind = #{fsdatakind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
      and fsValue = #{fsvalue,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pos.entity.userauthdata" >
    insert into tbuserauthdata (fsDataKind, fsShopGUID, fsUserId, 
      fsValue, fsUpdateTime, fiStatus
      )
    values (#{fsdatakind,jdbcType=VARCHAR}, #{fsshopguid,jdbcType=VARCHAR}, #{fsuserid,jdbcType=VARCHAR}, 
      #{fsvalue,jdbcType=VARCHAR}, #{fsupdatetime,jdbcType=VARCHAR}, #{fistatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pos.entity.userauthdata" >
    insert into tbuserauthdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsdatakind != null" >
        fsDataKind,
      </if>
      <if test="fsshopguid != null" >
        fsShopGUID,
      </if>
      <if test="fsuserid != null" >
        fsUserId,
      </if>
      <if test="fsvalue != null" >
        fsValue,
      </if>
      <if test="fsupdatetime != null" >
        fsUpdateTime,
      </if>
      <if test="fistatus != null" >
        fiStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsdatakind != null" >
        #{fsdatakind,jdbcType=VARCHAR},
      </if>
      <if test="fsshopguid != null" >
        #{fsshopguid,jdbcType=VARCHAR},
      </if>
      <if test="fsuserid != null" >
        #{fsuserid,jdbcType=VARCHAR},
      </if>
      <if test="fsvalue != null" >
        #{fsvalue,jdbcType=VARCHAR},
      </if>
      <if test="fsupdatetime != null" >
        #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        #{fistatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pos.entity.userauthdata" >
    update tbuserauthdata
    <set >
      <if test="fsupdatetime != null" >
        fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="fistatus != null" >
        fiStatus = #{fistatus,jdbcType=INTEGER},
      </if>
    </set>
    where fsDataKind = #{fsdatakind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
      and fsValue = #{fsvalue,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pos.entity.userauthdata" >
    update tbuserauthdata
    set fsUpdateTime = #{fsupdatetime,jdbcType=VARCHAR},
      fiStatus = #{fistatus,jdbcType=INTEGER}
    where fsDataKind = #{fsdatakind,jdbcType=VARCHAR}
      and fsShopGUID = #{fsshopguid,jdbcType=VARCHAR}
      and fsUserId = #{fsuserid,jdbcType=VARCHAR}
      and fsValue = #{fsvalue,jdbcType=VARCHAR}
  </update>
</mapper>